[2020-01-29 05:28] nihp commented on #358
@msqar
I have set in my routes as below mentioned code.

Also, I have tried with the each createStackNavigator ==> navigation options too.

[code]

[2020-01-29 08:25] stereodenis commented on #5431
was it fixed?

[2020-01-29 09:29] #5431 closed

[2020-01-29 10:41] nielsmadan opened #5888 "Cannot change swipeToDismiss through mergeOptions"
### Issue Description

It does not seem to be possible to change the value of `swipeToDismiss` through `mergeOptions`. Looking at the Code of `RNNBasePresenter.m`, it looks like the option is only used in `applyOptionsOnInit`.

Not sure if iOS allows you to change it after the view is created, but if it doesn't, it should at least be documented.

### Steps to Reproduce / Code Snippets / Screenshot

[2020-01-29 12:34] #3764 closed

[2020-01-29 12:49] gran33 commented on #3662
You can add `accessibilityLabel` to the top bar buttons.

[2020-01-29 13:47] ItsNoHax opened #5889 "[iOS 13] Overlays intercept touch on iPad Pro + iPad Air"
### Issue Description

On iPad Pro and iPad Air models, overlays with ``` interceptTouchOutside: false ``` do not work as expected as they actually absorb all the touch events. This is strange because it does not happen on normal iPhones or even the standard iPad's (6th generation).

Similar closed issues:
- https://github.com/wix/react-native-navigation/issues/5661
- https://github.com/wix/react-

[2020-01-29 13:54] vdino96 opened #5890 "Calling setRoot after having bottom tabs"
### Issue Description

Hello,

my application has an authentication flow (1. root) -> after which the user is logged in and directed to a root with bottom tabs (2. root).
Now, this root with bottom tabs has a prop tabsAttachMode set to "onSwitchToTab", which means it will render the tabs only when the user clicks on them and it works fine.
The issue is when the user wants to log out of the applica

[2020-01-29 16:23] manisi opened #5891 "sidemenu can not be opened from right side"

[2020-01-29 16:24] manisi commented on #5891
sideMenu: {
      right: {
        component: {
          name: DRAWER_CONTENT,
        },
      },

[2020-01-29 16:27] ItsNoHax commented on #5881
Hi @alejo-lapix,

Please use the provided template when creating issues.
There is a lot of information missing such as RN version, RNN version etc.

Also please provide a reproducible example in the Playground project by creating a fork.

[2020-01-29 16:28] ItsNoHax commented on #5866
@jgtorrejon Have you tried using RN 0.61.5? I'm pretty sure this is not a RNN problem but a RN problem.

[2020-01-29 18:11] alejo-lapix commented on #5881
Ok @ItsNoHax , sorry for the initial poor description of the error. I've updated the issue description. Also [this is a fork](https://github.com/alejo-lapix/react-native-navigation/commit/449291dc2e749b46615884bcf1de83f9d687665b) of the react-native-navigation library there you can find a commit where reproduce the crash.

[2020-01-29 20:50] kuhnza commented on #5793
I found a clue to this issue in this article https://www.morningswiftui.com/blog/fix-large-title-animation-on-ios13

Turns out this is expected behaviour in the native component when transitioning from a ViewController that has `prefersLargeTitles` set to `true` to one that has it set to `false`. This from the article:

I was able to resolve this in my RN app by ensuring that every screen I pushed

[2020-01-29 22:59] msqar commented on #3941
@guyca hey guy, is telling me that registerScreenPoppedListener is not a function. In what version of RNN was this added? I'm using 3.7.0. Thanks!

[2020-01-30 03:50] rf1804 commented on #5399
@guyca i believe documentation needs complete review and updation as current doc was more suitable with the launch of V2, but now we already reached V4.

[2020-01-30 07:42] #5891 closed

[2020-01-30 08:56] guyca commented on #5872
How does your root look like?
Any chance you have a bottomTabs layout inside a stack?

[2020-01-30 09:20] davyotush commented on #2989
how can i remove this error..

2020-01-30 01:06:07.156 3396-3396/com.dotundo.androiddoctor E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.dotundo.androiddoctor, PID: 3396
    java.lang.RuntimeException: Unable to start activity ComponentInfo{com.dotundo.androiddoctor/com.dotundo.androiddoctor.MainActivity}: java.lang.NullPointerException: Attempt to invoke virtual method 'void android.wi

[2020-01-30 10:59] Rybachello commented on #3498
Is this fixed?

[2020-01-30 12:38] 1fabiopereira commented on #4673
I have the same problem.

[2020-01-30 12:42] guyca commented on #5833
Removing `id: 'drawer'` from the component displayed in the SideMenu will fix this.
When you call `setStackRoot`, the previous root is unmounted. When a component is unmounted, we clear its props from our internal store. Since both new and old component had the same id, the new component never got the props.

[2020-01-30 12:42] #5833 closed

[2020-01-30 15:01] Yassir4 commented on #5866
Solved with this [quick fix](https://github.com/wix/react-native-navigation/issues/4603#issuecomment-471528960)

[2020-01-30 15:46] phanghos opened #5895 "Prop selectTabOnPress is defined in the wrong interface (OptionsStatusBar)"
### Issue Description

The recently added prop `selectTabOnPress` has been defined as part of the `OptionsStatusBar` interface, which is not where it belongs, since on the native side it has been defined as part of the bottom tab interface (`OptionsBottomTab`), so for those of us using TS, we need to add `// @ts-ignore` to ignore TS warnings.

### Environment
* React Native Navigation version: 4.7

[2020-01-30 15:59] #5895 closed

[2020-01-30 21:53] guyca commented on #3498
Yes.

[2020-01-30 21:57] guyca commented on #5399
@rf1804 Absolutely, next week we're continuing work on the new docs. We plan to finish the entire rewrite by the end of February, early March we will submit the new docs to a review by a technical writer. We're also switching to Docosaurous2 and adding a few extra enhancements to make the docs my easy and intuitive.

[2020-01-30 22:00] guyca commented on #3941
Hey @msqar On which platform are you not getting the event?

[2020-01-30 22:28] guyca commented on #3030
Closing as this is fixed by `Navigation.updateProps()` which was added in [3.4.0](https://github.com/wix/react-native-navigation/blob/master/CHANGELOG.md#340)

[2020-01-30 22:28] #3030 closed

[2020-01-30 23:37] jinshin1013 commented on #5866
If you are using Cocoapods to link packages, you can remove the manual linking.

[2020-01-31 08:09] phuongwd commented on #5348
Hi @guyca @yogevbd

This issue still happening if the animation of Lottie component is runs.

[2020-01-31 10:02] nenjamin2405 commented on #5521
Anyone have a solution for this, I want to create my own custom tabs by display it absolute in every screen, but the bottom: 0 not make it at the bottom of the screen because of the Wix bottom tabs is still there.

[2020-01-31 10:23] guyca commented on #5348
@phuongwd Please create a separate issue and include a reproduction

[2020-01-31 14:10] zabojad commented on #5799
I'm having a similar issue with a stack within an overlay. @idanlo did you solve it?

[2020-01-31 14:41] msqar commented on #3941
@guyca on iOS 13, didn't test on Android though. I ended up using a different library that would handle event listeners to solve it :( since i couldn't make this one work, don't know why, even by updating to latest.

[2020-01-31 16:30] ShaneMatthias commented on #5799
@zabojad I fixed it by giving my stack a `stackID` and pushing using the `stackID` instead of `this.props.componentID`

[code]

then:

[code]

[2020-02-01 09:14] MakhouT opened #5897 "Podfile is not updating correctly with upgrades"
**### Issue Description**

Currently, when updating RNN, the Podfile is not being updated correctly.

I will include a few screenshots of the upgrading process with RNN and `react-native-device-info` then you can see the process/expected behavior/issue.

**### Steps to Reproduce / Code Snippets / Screenshots**
1. Increase the version number of RNN in `package.json`
![image](https://user-images.git

[2020-02-01 11:57] mtnt commented on #5853
FYI: When a title set to a child component options, it works well.

[2020-02-01 12:35] sintylapse commented on #5845
https://github.com/wix/react-native-navigation/issues/5871

[2020-02-01 18:54] jarne commented on #5779
Might this issue be related to this commit https://github.com/wix/react-native-navigation/commit/60f836e8a875534e1f40b02807f1902bdc2c6887 (@yogevbd @guyca)? As this commit was shortly after version 4.0.4, "Remove main window backgroundColor" is mentioned there and some TopBar background color functions are removed in this commit. Just a guess, wasn't able to investigate deeper 😉

[2020-02-01 22:07] asmi77 commented on #4097
Same here.

[2020-02-02 07:24] DaniShalash commented on #5397
This issue haven't been solved yet.
The lack of activity is the lack of solution, but the issue is still there.

[2020-02-02 07:54] theromie commented on #5872
I fixed by removing stackroot to toot

[2020-02-02 07:54] #5872 closed

[2020-02-02 08:28] vjtc0n commented on #5848
@jonyuen I think the issue is drawBehind: true is not working if the tab is not the initial tab.
It causes "Black" because the bottomTabs dissapears too soon.
I set the window UI background white but it's still black...

[2020-02-02 13:45] guyca commented on #5618
@yogevbd Isn't this resolved in 4.x.x?

[2020-02-02 15:09] sorokin0andrey commented on #5723
Not stale

[2020-02-02 17:15] Jazznight opened #5898 "[V4] StatusBar not hiding in android after add react native navigation"
### Issue Description

It is the same issue as facebook/react-native#27035 - The StatusBar not hiding on android but IOS. I found it only happen when I add react-native-navigation.

### Steps to Reproduce / Code Snippets / Screenshots

I made a new clean react-native project (0.61.5) and it hiding perfectly. It will have white blank statue bar like below screenshot if we add react native navigatio

[2020-02-03 03:18] jinshin1013 commented on #5898
You can refer to the doc [here](http://wix.github.io/react-native-navigation/#/docs/styling?id=styling-the-statusbar).

[2020-02-03 03:35] jinshin1013 commented on #5897
This is very interesting. I never saw this happening when I do my upgrades. Could it be some local environment setup issue? Also I'm not entirely sure if this would be the RNN issue since it does seem to be upgrading after deleting the `Podfile.lock` file.

[2020-02-03 03:46] jinshin1013 commented on #5898
If you add this, it should draw behind the StatusBar:

[code]

Keep in mind when I tested this setting the `statusBar` option in `Navigation.setDefaultOptions` did not resolve the issue.

[2020-02-03 05:06] guyca commented on #5898
Hey @jinshin1013
Resolving StatusBar options from default options will be fixed in the next major version, which should be published today. Thanks 👍
@Jazznight Don't use the StatusBar component with RNN, instead manipulate the StatusBar through options.

[2020-02-03 05:06] #5898 closed

[2020-02-03 05:07] jainmnsh opened #5899 "Unhandled JS Exception: start is not a function. (In 'start()', 'start' is undefined)"
### Issue Description

I am trying to set up a first-time react-native-navigation and react-native-calendar component using the "react-native init sampleapp " as a new project then copied the example files from react-native-calendar  - example folder and added below app.js and index.js files but getting below error when running the project.

Unhandled JS Exception: start is not a function. (In 'st

[2020-02-03 05:10] #5899 closed

[2020-02-03 05:11] jainmnsh commented on #5899
It was typo issue in index.js file.

[2020-02-03 05:11] guyca commented on #3393
This issue has already been fixed, closing.

[2020-02-03 05:11] #3393 closed

[2020-02-03 06:17] Jazznight commented on #5898
@jinshin1013 Thanks, It hiding perfectly.  I will also remove all the all the `<StatusBar  hidden />`  for both IOS and Android.

[2020-02-03 08:43] MakhouT commented on #5897
Hmm strange, I'm only having this issue with RNN and my teammates have the same issue.

[2020-02-03 14:26] Andarius commented on #5550
up

[2020-02-03 14:47] 3luyka commented on #5887
Hey @guyca, could you please check this?

[2020-02-03 15:46] guyca commented on #5890
Hey @vdino96 Can you please push a reproduction to the issue? Preferable in the playground app (clone the repo and modify the playground app in your fork)

[2020-02-03 15:56] guyca commented on #5272
Fixed in v4

[2020-02-03 15:56] #5272 closed

[2020-02-03 16:07] fjmorant commented on #5889
Same for me

[2020-02-03 16:27] guyca commented on #5887
Hey @3luyka
We're a bit busy with v5 and the docs right now, so I'm unable to take issues atm. I'll look into this asap, hopefully in a week or two. In general, the entire touch handling logic for Overlay on Android isn't ideal. In v3 we've introduced changes to the layout structure which will allow us to improve touch handling logic for Overlay, I never got around to it.

[2020-02-03 17:57] GioLogist commented on #5679
@guyca sorry to keep tagging you. not sure who else is best to tag, to mark not stale.

[2020-02-03 17:57] GioLogist commented on #5701
@guyca sorry to keep tagging you. not sure who else is best to tag, to mark not stale.

[2020-02-03 23:08] jinshin1013 commented on #5897
I'm not sure how to combat this man to be honest. This is the screenshot of me updating RNN and it worked fine. You could try on fresh setup if that fixes it then slowly add your setup and identify the root cause. But yeah I don't know what to tell you 😓

![Screen Shot 2020-02-04 at 9 02 59 am](https://user-images.githubusercontent.com/17612922/73698556-349c9980-472d-11ea-8071-9cf683d0f23a.png)

[2020-02-03 23:18] ItsNoHax commented on #5679
@GioLogist In your example you forgot to put the currentTabIndex inside the options object, can you check if that helps?

[2020-02-03 23:23] MakhouT commented on #5897
Hmm interesting!
Do you have this line in your Podfile
[code]

[2020-02-03 23:26] jinshin1013 commented on #5897
Oh, you will need to delete that line. It should work without that line!

[2020-02-03 23:31] MakhouT commented on #5897
That indeed fixes the issue and then it's working as it should!

I just verified in the docs, the install guide is telling to add that line. Maybe we should remove it.

https://wix.github.io/react-native-navigation/#/docs/Installing?id=installation-with-cocoapods

[2020-02-03 23:41] jinshin1013 commented on #5897
Yeah it seems like the doc isn't reflecting the react-native autolink. I believe the team is working on the new doc at the moment so let's give it few days 🤗

[2020-02-04 04:33] blueberry6401 opened #5900 "V4: top bar title color is not reverting back when pop screen"
### Issue Description
On pushed screen:
[code]
![ezgif-3-1a601cf902e8](https://user-images.githubusercontent.com/7337535/73713749-1345a880-4741-11ea-95f3-59a99c31342f.gif)
After pop, the top bar title color should back to black.

### Environment
* React Native Navigation version: 4.7.1
* React Native version: 0.61.5
* Platform(s) (iOS, Android, or both?): iOS
* Device info (Simulator/Device? OS ve

[2020-02-04 04:37] jfrolich commented on #5732
Not stale

[2020-02-04 06:09] Stalder commented on #5397
Is it possible to reopen this issue? I'm not interested already, but if issue is still not resolved, it should be open

[2020-02-04 11:26] phuongwd commented on #4916
its not stale

this issue is still happing on version `3.2.0`

[2020-02-04 11:35] phuongwd commented on #4153
this is still a problem in v 3.2.0 of RNN

[2020-02-04 19:10] #5633 closed

[2020-02-05 00:01] amorino commented on #5269
I have the same problem. Where do you call
[code]

[2020-02-05 00:22] ItsNoHax commented on #5794
Closing since 0.62 support has recently been merged! :+1:

[2020-02-05 00:22] #5794 closed

[2020-02-05 09:12] fjmorant commented on #5889
@guyca any updates on this issue?

Thanks

[2020-02-05 09:55] ashokkumar88 commented on #5760
@guyca are you reimplementing Shared Element for both Android and ios?

[2020-02-05 10:21] guyca opened #5904 "5.0.0-alpha.14"
# Highlights
* Easier installation
* autolink and reac-native link support
* Shared Element Transition - reimplemented from scratch and new API
* [iOS] showModal animation api parity
* [Android] Animation values are now declared in dp
* [iOS] deprecate topBar.drawBehind
* [Android] RNN is migrating to Kotlin

# Updating from v4
## Remove missingDimensionStrategy from app/build.gradle
Since RNN sup

[2020-02-05 13:24] gunduzcihat opened #5905 "content remains underneath topbar (android)"
### Issue Description

I don't know whether it is a bug.

### Steps to Reproduce / Code Snippets / Screenshots

**My default layout option code is:**

    export const setDefaultOptions = () => Navigation.setDefaultOptions({
    layout: {
        orientation: ['portrait'],
        direction: 'ltr',
    },
    topBar: {
        visible: true,
        drawBehind: true,
        animate: false,

[2020-02-05 13:26] ItsNoHax commented on #5905
drawBehind: true, <--- should be false no?

[2020-02-05 13:31] gunduzcihat commented on #5905
Thank you so much!!!

[2020-02-05 13:31] #5905 closed

[2020-02-05 13:42] #4749 closed

[2020-02-05 13:59] AudereSemper commented on #4619
I'm in the same position too.

[2020-02-05 14:39] fjmorant commented on #5889
Hi,

A possible hint for solving this issue, if you go to file RNNOverlayWindow.m and take a look at this method:

[code]

 - On iPhone when you touch outside of your overlay view **hitTestResult** is a **RNNOverlayWindow**
 - On iPad touch outside of you overlay view **hitTestResult** is a **UIView**

There is some view added in the middle for iPad, I have checked all the code and doesn't seem to

[2020-02-05 15:22] ItsNoHax commented on #5889
Nice find @fjmorant , hopefully @yogevbd can use this to propose a fix.

[2020-02-05 15:50] #4256 closed

[2020-02-05 15:55] guyca commented on #5760
@GioLogist @ashokkumar88 published v5 alpha. Shared element API is detailed [here](https://github.com/wix/react-native-navigation/issues/5904) and an example can be found in the playground app in `v5` branch. Feel free to ping me or @yogevbd on Discord if you have any questions 👍

[2020-02-05 16:55] raubrey2014 commented on #3495
For anyone else for whom the above is not clear...

I was still struggling with disabling what looked like a push animation when calling `setStackRoot` with the above example. I was able to disable the animation when using the `setStackRoot` option in `animations`

[code]

...as seen [here](https://github.com/wix/react-native-navigation/blob/master/docs/docs/screen-api.md#setstackrootcomponentid-p

[2020-02-05 17:29] Rybachello commented on #5152
not stale

[2020-02-05 19:15] mohammadanaraki commented on #5904
Hi
One of the biggest needs of this package is the ability to change and custom bottom tabs
what's your idea about that ?!

[2020-02-05 20:51] joewired commented on #5904
FAILURE: Build failed with an exception.

/node_modules/react-native-navigation/lib/android/app/build.gradle' line: 107

For input string: "0-rc"

Looks like the code assumes the version numbers will be integers.  In my case I am using react-native-0.62.0-rc.1

[2020-02-06 02:41] srossi3 opened #5907 "[Android] Stack pops the screen without a pop being called"
### Issue Description

Hi everyone.
I am using this library to handle navigation between screens in a react native application. Everything works fine when navigating between the screens with the onPress call of buttons. The issue emerged when I connected an external ble device which is supposed to control the navigation and, in certain screens, act as a keyboard. I have been handling the switch be

[2020-02-06 04:47] guyca commented on #5904
Thanks @joewired , we didn't take prerelease tags into account 😅

[2020-02-06 05:58] hadnet commented on #5520
This can happens because you may forgot to delete #import <React/RCTBridgeDelegate.h> line in AppDelegate.h and not just delete the @interface AppDelegate : UIResponder <UIApplicationDelegate, RCTBridgeDelegate> line

[2020-02-06 07:43] guyca commented on #5904
@joewired Alright, fixed for RN62, will fix for 0.59 and below today

[2020-02-06 08:58] hadnet commented on #5904
I’m using RNN 4.8 and RN 0.61 and I tried to set a translucent bottomTabs using translucent: true props but it doesn’t work, no blur effect.

[2020-02-06 10:02] guyca commented on #5897
Updated the docs in v5 branch. Thanks guys 👍

[2020-02-06 10:02] #5897 closed

[2020-02-06 10:42] yogevbd commented on #5889
Great finds guys.. 👏

[2020-02-06 11:32] waqaramjad commented on #2562
same issue when using woo commerce API

[2020-02-06 11:48] vuongductuanktmt commented on #5886
I am also getting this error, hope to fix it soon!

[2020-02-06 12:09] #5796 closed

[2020-02-06 14:04] guyca commented on #5907
hmmm
You can set a breakpoint in [StackController.pop()](https://github.com/wix/react-native-navigation/blob/master/lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/stack/StackController.java#L254) and see why pop is invoked.

[2020-02-06 15:04] drewhamlett commented on #5904
You all rock!  We're loving this library.  Thanks for updates.

[2020-02-06 22:00] dphaener commented on #5617
@zabojad Thank you so much for this. I am eternally grateful.

[2020-02-07 00:20] vrgimael commented on #4580
@nic-thomson's answer worked too - this should really be better documented (fixed really), took me hours to figure it out

[2020-02-07 04:53] nenjamin2405 commented on #1086
Hi @guyca, I cannot see the option of waitForRender when I use mergeOptions to programatically select tab:
[code]

[2020-02-07 07:10] guyca commented on #3990
Shared element transition has been reimplemented in [v5](https://github.com/wix/react-native-navigation/issues/5904) and this issue has been addressed.

[2020-02-07 07:10] #3990 closed

[2020-02-07 07:34] guyca commented on #5078
Fixed in [v5](https://github.com/wix/react-native-navigation/issues/5904) :)

[2020-02-07 07:34] #5078 closed

[2020-02-07 07:54] guyca commented on #4420
Hey guys, I'm closing the issue as icon insets were added to help users center bottomTabs icons when tabs had no titles. We've since fixed the issue and using hardcoded insets isn't needed.
To align your icons use the following:
[code]

[2020-02-07 07:54] #4420 closed

[2020-02-07 08:41] guyca commented on #1086
@nenjamin2405 Please create a separate issue and provide details on your app's structure.

[2020-02-07 08:42] guyca commented on #5886
@vuongductuanktmt It's fixed in [v5](https://github.com/wix/react-native-navigation/issues/5904)

[2020-02-07 08:48] guyca commented on #5629
@ItsNoHax Are you still observing this crash after upgrading to 4.8.1 ?

[2020-02-07 08:50] guyca commented on #4258
@jfrolich That branch was an unsuccessful experiment, but I do plan on supporting this feature in Q2 2020

[2020-02-07 08:56] guyca commented on #5378
@wfs3006 The playground app includes an example of how to use a [fragment as an external screen](https://github.com/wix/react-native-navigation/blob/master/playground/android/app/src/main/java/com/reactnativenavigation/playground/FragmentScreen.java) in RNN

[2020-02-07 09:00] guyca commented on #5679
@GioLogist Thanks for pinging us 🙇 Before we look into this, could you please follow up on @ItsNoHax comment?

[2020-02-07 10:09] guyca commented on #5500
Swipe to dismiss modal gesture can be disabled in options:

[code]

[2020-02-07 11:40] bneigher commented on #5723
not stale

[2020-02-07 13:58] gunduzcihat commented on #1169
Any solution?

[2020-02-07 14:03] zabojad opened #5911 "Is there a way to prevent from leaving a screen?"
### Issue Description

I do not see any easy way to prevent from leaving a screen, either by using a rnn command or using a gesture or native back button (android).

Is there something that would allow to do that?

My use case is to display a modal before leaving a page with a form if the user did not save its changes.

### Steps to Reproduce / Code Snippets / Screenshots

n/a

---
### Environment

[2020-02-07 14:05] zabojad commented on #5911
We could for example have something like the current [command observers](https://wix.github.io/react-native-navigation/#/api/CommandsObserver) that would additionally allow us to cancel a command.

[2020-02-08 02:50] #5716 closed

[2020-02-08 04:01] rodolfoviolac commented on #2590
+1

[2020-02-08 12:20] sintylapse commented on #5911
For screens that should not be dismissed the only way I see is ti use modal instead of screen, at least for IOS, modal will not have swipe back gesture. But for Android it doesn't matter what are you using, you can always do
[code]
to prevent back press

[2020-02-08 13:27] rodolfoviolac commented on #5397
+1

[2020-02-08 14:39] guyca commented on #5605
Hey guys, this is fixed in [v5](https://github.com/wix/react-native-navigation/issues/5904). Sorry for the inconvenience.

[2020-02-08 14:39] #5605 closed

[2020-02-08 14:53] sintylapse commented on #5845
Seems that issue is gone in [V5](https://github.com/wix/react-native-navigation/issues/5904) @guyca

[2020-02-08 17:33] ckesc commented on #4377
Project changed folder structure a little.
Now you should use:
[code]

[2020-02-08 21:26] guyca commented on #5544
I'm unable to reproduce this in v5. @manuhook if this issue still reproduced with AdMob, can you please open a new issue and mention me? Thanks.

[2020-02-08 21:26] #5544 closed

[2020-02-09 04:54] antonputra commented on #4250
thanks, fixed my issue!

[2020-02-09 05:37] guyca commented on #5845
@sintylapse Thank for reporting! 🙇

[2020-02-09 05:37] #5845 closed

[2020-02-09 05:56] guyca commented on #5911
@zabojad What type of screen do you want to prevent the user from leaving? It's different for pushed screens and modals.

# Modal
## Disable page sheet modal dismiss
[code]
## Disable hardware back button
[code]

# Pushed screen
## Remove software back button
[code]
## Disable swipe gesture
[code]

[2020-02-09 05:56] #5911 closed

[2020-02-09 07:58] guyca commented on #5871
@jfrolich This should be fixed in v5, could you please update and let us know if the issue persists? Thanks.

[2020-02-09 09:42] DaniShalash commented on #5397
For future reference, based on @markhomoki  and @Frekansapp solutions, I was able to overcome the problem, however, it's a mix of both.

My problem was (and bare with me for obvious things):

- I have 2 themes in my app, light and dark.
- Android Status bar color and content color must change based on theme selected, and the same should apply in iOS (what's applicable of it).

Now, let's say a use

[2020-02-09 11:30] #5900 closed

[2020-02-09 13:32] aaliz2000 opened #5912 "The term 'pod' is not recognized as the name of a cmdlet"
My operating system(OS) is windows 10. I have created a React-Native project with the following code :

`react-native init AwesomeProject`

I want to install React-navigation then do the following steps :(based on the React-Navigation documentation)

1-
`npm install @react-navigation/native`

2-
[code]

3- When I run the following step I get an error :

[code]

I do not know how to run the command

[2020-02-09 13:47] yogevbd opened #5913 "Deprecate drawBehind on iOS"
The drawBehind option has been an anti pattern on iOS from the start and was introduced only for parity with Android api.
On iOS, when a ScrollView or a SafeAreaView are used as screen root; the system handles insets automatically.
As adoption of notch devices increases, developers use these views regularly, rendering the drawBehind option useless.

In v6 `drawBehind` will always be true on iOS, a

[2020-02-09 19:48] joaom182 commented on #5665
Same issue here.

[2020-02-09 20:12] MatthewPattell commented on #5792
I have ```Navigation.events().registerAppLaunchedListener(..)``` and it [called first](https://wix.github.io/react-native-navigation/#/docs/Installing?id=you-can-use-react-native-navigation-o).

[2020-02-09 21:51] sebastianistoblame commented on #1086
As of now (RNN 4.8.3) I can only **warn** about using waitForRender.
It turned out it had **serious rendering side-effects**, for instance disappearing (flickering) bottomTabs when pushing a screen. Removing it solved most of our rendering issues.

[2020-02-09 23:32] jinshin1013 commented on #5912
This isn't `react-navigation` repo.

[2020-02-10 08:33] rezasazesh opened #5914 "(Android Only) Navigation.DismissModal() and Navigation.dismissAllModals() crashes on Android Only on a pushed screen"
### Issue Description
Everything works fine on android when a modal is created on a screen on a main stack, however if a screen is pushed on android and you add a modal on top of that, if you try to close the modal or use the back button the app crashes.

### Steps to Reproduce / Code Snippets / Screenshots

Created a root stack with bottom tabs -> push an screen -> show modal

[code]

Then I try

[2020-02-10 08:35] pontusab commented on #5904
Looks like `showOverlay` crashes on Android.

[2020-02-10 09:19] rezasazesh commented on #5914
So after some tests I found out the issue weirdly was that I cannot set `fontSize` in bottomTab inside of the options in the component, I can confirm that this did not cause crash in previous versions of RNN. Thank you!

[code]

[2020-02-10 09:19] #5914 closed

[2020-02-10 09:40] MakhouT commented on #3372
@manjeets12 `Navigation.updateProps` Worked perfectly for me! Thanks for the suggestion!

[2020-02-10 09:53] guyca commented on #5904
@pontusab Can you open an issue with crash log?

[2020-02-10 10:51] pontusab opened #5915 "[5.0.0] - Show overlay Android crash"
[code]

[2020-02-10 10:51] pontusab commented on #5904
@guyca here you go: https://github.com/wix/react-native-navigation/issues/5915

[2020-02-10 11:18] #5817 closed

[2020-02-10 11:44] MorayM opened #5916 "'ReactNativeNavigation/ReactNativeNavigation.h' file not found when archiving with specific configuration"
### Issue Description

[Edited 2020-02-11 with more info]

I'm getting the famous `AppDelegate.m: 'ReactNativeNavigation/ReactNativeNavigation.h' file not found` error message, but only when building an archive with configuration `Beta`. `Release` and `Debug` both work fine, which is more confusing as `Beta` was originally cloned from `Release` and differ only in name and signing certs.

Yes, I've

[2020-02-10 12:24] vdino96 commented on #5890
Hello, here is a playground app https://github.com/vdino96/react-native-navigation-issue ... Just pull the folder and run on your phone/emulator. It will show a basic screen with "Here" button, which when you click will create a bottom tab root with 3 screens/tabs. The options for bottom tab rendering are set to "onSwitchToTab". After the first screen loads, it will console log "I should be logged

[2020-02-10 12:51] guyca commented on #5665
@rezasazesh @joaom182 Can you please try latest version, and make sure you set `bottomTabs.drawBehind: true` in default options.

[2020-02-10 13:31] muhammadwafa commented on #4724
Same issue here with react-native 0.61.5

[2020-02-10 13:45] guyca commented on #5915
Fixed in alpha.11, Thanks for reporting @pontusab 👍

[2020-02-10 13:45] #5915 closed

[2020-02-10 13:45] guyca commented on #5904
Fixed in alpha.11

[2020-02-10 20:15] msqar commented on #5818
Still waiting on a way to handle this.

[2020-02-11 02:05] robsonsilv4 commented on #5399
Hi @guyca, I want to to help translating the docs to pt-BR.
How I start work on the actual docs structure?

[2020-02-11 04:40] vuongductuanktmt commented on #5886
i use `"react-native-navigation": "5.0.0-alpha.12",`

` Navigation.setDefaultOptions({
      topBar: {
        visible: false,
      },
      bottomTabs: {
        backgroundColor: Colors.shadow,
      },
      statusBar: {
        drawBehind: true
      },
      layout: {
        backgroundColor: Colors.light,
        orientation: ['portrait']
      }
})`

`
<View style={{backgroundColor: "blue",

[2020-02-11 06:18] guyca commented on #5399
Hey @robsonsilv4 That sounds amazing! Can you please ping @yogevbd or me on Discord? Thanks!

[2020-02-11 06:21] guyca commented on #5886
@vuongductuanktmt Can you please try to reproduce in the playground app? If you're using `<StatusBar>` component, then make sure to remove any usages of it.

[2020-02-11 08:39] vdino96 commented on #5890
Note, even when you do a reload of the app while on the first tab, the other 2 tabs will run their componentDidMount after the reload

[2020-02-11 11:07] vuongductuanktmt commented on #5886
I tried use <StatusBar> or remove <StatusBar> but error as above!
version RNN 2.26.5 then working!

[2020-02-11 13:16] muhammadwafa opened #5920 "Its one week i Cant setup this nice package with other packages"
I am using another packages like react-native-firebase, react-native gesturehandlder, permissions and etc which works greate without **react-native-navigation.**.

Most of probelm is because of auto linking, when I dont link there show to me which you are not linked the native package, and when I link manually then tell me why you linked, while there is auto linking.

Also react-native-firebase fo

[2020-02-11 13:53] muhammadwafa commented on #5904
It is one week that I cant setup the version 4.8 because of auto linking.

Also there one problem is in customization of MainActivity java classs

for example react-native-firebase says for android x support update your MainActivity.java file like this:

[code]

And you say something else and also another packages also has something like this.

So please make a solution for this at least for popul

[2020-02-11 14:23] jfrolich commented on #5871
Confirmed that 5.0 works.

[2020-02-11 15:07] #5920 closed

[2020-02-11 15:13] dsaltares commented on #4249
This is not stale. I can still reproduce.

[2020-02-11 17:55] guyca commented on #5904
Hey @muhammadwafa 👋 If your app is targeting sdk 21 or higher (which it should), then you don't need to extend MultiDexApplication. See the [docs](https://developer.android.com/studio/build/multidex) for more info.

[2020-02-11 17:58] guyca commented on #5886
@vuongductuanktmt I'm unable to reproduce this in the playground app running v5. If you believe this is still an issue, please fork the library and submit a reproduction with v5 branch, Thanks.

[2020-02-11 18:18] muhammadwafa commented on #5904
Thank you to your reply and please tell me something about this, How can I solve it.
the following `methods` within `MainActivity.java` class is added as I installed `react-native-gesture-handler` and `react-native-orientation-locker`

[code]

But in your doc we change `ReactActivity` to `NavigationActivity` and also we remove the `methods` was inside `MainActivity extends ReactActivity`.  So here

[2020-02-11 20:09] guyca commented on #5904
@muhammadwafa  Please open a separate issue 👍

[2020-02-11 22:31] vuongductuanktmt commented on #5886
I have replaced the whole configuration
showModal and delete the configuration in setDefaultOptions are now working!
but cannot use the configuration in setDefaultOptions!

`Navigation.showModal({
    stack: {
      children: [
        {
          component: {
            name: MEETING_ROOM_SCREEN,
            options: {
              statusBar: {
                drawBehind: true,

[2020-02-12 07:56] #5871 closed

[2020-02-12 07:57] jfrolich commented on #5871
BTW I had some issues making 5.0 work with Android. Would be good to put some documentation out when it is released.

[2020-02-12 10:28] mohammadanaraki commented on #5904
hi
in my opinion this package needs to have customizable bottom tabs with react components please consider that in your next updates
@guyca

[2020-02-12 10:35] muhammadwafa opened #5923 "How to combine multiple important native packages in one project with react-native-navigation?"
As you can see there are `methods` within `MainActivity.java` class is added as I installed `react-native-gesture-handler` and `react-native-orientation-locker` and may other packages too in the future.

[code]

But in your doc we have to change `ReactActivity` to `NavigationActivity` and also we have to remove the `methods` was inside `MainActivity extends ReactActivity`.  So here What Can I with

[2020-02-12 11:49] MakhouT commented on #5497
This is still an issue...

[2020-02-12 14:54] LiuPierr commented on #5567
I also reproduce this issue when I switch between a style 'light' and 'dark' only on Android.

[2020-02-12 18:13] drewhamlett commented on #5923
https://software-mansion.github.io/react-native-gesture-handler/docs/getting-started.html#with-wix-react-native-navigation-https-githubcom-wix-react-native-navigation

[2020-02-12 18:19] muhammadwafa commented on #5923
Thank you I used  that link but still there is problem with auto linking and orientation locker package.

[2020-02-13 00:49] #5729 closed

[2020-02-13 07:30] JimTeva commented on #4761
@djnsu I am not sure but I think you should not use this.props.componentId in item.js, you should use the parent componentId (catalog.js's this.props.componentId).

catalog.js
[code]

item.js
[code]

[2020-02-13 08:36] AbanoubNassem commented on #5904
alongside this issue : https://github.com/wix/react-native-navigation/issues/5904#issuecomment-582605956

i```
mport com.facebook.react.bridge.NativeDeltaClient;
                                ^
  symbol:   class NativeDeltaClient
  location: package com.facebook.react.bridge
/Volumes/Data/mobile/foodtimeapp/node_modules/react-native-navigation/lib/android/app/src/reactNative60/java/com/reactnati

[2020-02-13 14:38] dmitriyilchenko opened #5924 "Keyboard orientation issue. [IOS]"
### Issue Description

On the portrait orientation screen, the keyboard is displayed in landscape orientation.

### Steps to Reproduce / Code Snippets / Screenshots

1. Allow all orientations in IOS project settings.
2. Set `orientation: ['portrait']` in default navigation options.
3. Create screen with TextInput, press on input to show keyboard, rotate device.

---
### Environment
* React Native

[2020-02-13 15:12] adilanchian opened #5925 "Full Screen OpenGestureMode Option Should Be Set to bezel By Default"
### Issue Description
SideMenu option `openGestureMode` having a default of `entireScreen` makes it very painful to debug issues with swipe gestures on other components. This should either be set very visibly in the docs or all together the default should be `bezel` <--- Preferred in my opinion.

### Steps to Reproduce / Code Snippets / Screenshots
1. Create a stack with `sideMenu`
2. Set `sideMen

[2020-02-13 15:19] #5577 closed

[2020-02-13 15:28] guyca commented on #5925
@yogevbd WDYT?

[2020-02-13 16:55] CrisangerA commented on #5852
## How to resolve this?
you could leave a link or at least an idea of how you solved it?
Thanks

[2020-02-13 20:01] robsonsilv4 commented on #5399
Sorry for delay @guyca. What's your user code from Discord? This is mine if you ping me: robsonsilva#5094

[2020-02-13 21:44] adilanchian commented on #5925
@guyca  - More than happy to implement this as well. Just let me know! I spent too long debugging this to find out that it was this one flag haha. Lemme know!

[2020-02-14 02:48] Karemhz commented on #2839
same problem with version 0.61.5

[2020-02-14 05:17] cspicuzza commented on #5871
Is 5.0 stable enough for production?

[2020-02-14 06:03] jfrolich commented on #5871
Not sure, we shipped it though 🤫

[2020-02-14 07:02] guyca commented on #5871
@cspicuzza We're upgrading the Wix app to v5 next week. I'm not aware of any more issues.

@jfrolich Thanks for the feedback, We'll update the docs before release 👍

[2020-02-14 07:02] Andarius commented on #5849
up

[2020-02-14 07:27] guyca commented on #5399
@robsonsilv4 We've switched the new docs to Docusaurus 2. I'm not sure what's the status of 18n with v2, but it will be cool if you can look into it. The docs state v2 still [don't support translation](https://v2.docusaurus.io/docs/introduction) but that might be outdated or might only refer to Crowdin integration.
Anyways - I'm guyca#3492 on Discord 👋

[2020-02-14 08:21] jfrolich commented on #5871
@guyca I didn't know about the docs in the issue related to the beta (I kind of had to debug my way into that solution), with that info it would have been smooth sailing.

[2020-02-14 11:46] RichardLindhout commented on #5269
I think it still not fixed I was wrong

[2020-02-14 17:59] #5810 closed

[2020-02-14 18:37] cspicuzza commented on #3499
Will setRoot fade animations be supported by iOS in RNN 5.0?

[2020-02-15 10:33] hoanghuy0604 commented on #5467
I have this problem too. Firstly, I set a stackRoot with 4 tabs.
2nd, I push to a screen then I setRoot again with 4 tabs again. But when I tab on the second tab, ComponentDidAppear's not working. Log and have 3 times didmount and 2 times unmount as expected. All socket listener I have in ComponentDidMount not work also (Did unsubscribed these socket event on componentWillUnmount)
[code]

[2020-02-15 10:59] FinnGu opened #5927 "[v2] componentDidAppear not called for topBarButton (iOS)"
### Issue Description

I have a topBar Button which I register as a redux component and would like to fetch data as soon as it is rendered. Therefore, I implemented the listener for `componentDidAppear` and everything works fine on Android. Only on iOS the event does not get triggered. I added a global listener to log ALL `componentDidAppear` events and it seems to me that none of my multiple topB

[2020-02-15 14:59] stoica94 opened #5928 "[v4]Null Pointer Exception at AHBottomNavigation.java after adding titles on the tabs from bottom navigation"
### Android Crashes after adding titles to the bottom tabs of navigation

In the root of the stack we set titles to both tabs of the `bottomTabs`, and have `titleDisplayMode` set to `alwaysShow`.

### Screenshots
![Screenshot 2020-02-15 at 16 38 58](https://user-images.githubusercontent.com/16940343/74589886-129af500-5012-11ea-8681-8f49a58ce64e.png)

[code]

From some logs I think the crash happen

[2020-02-15 17:54] FinnGu commented on #4404
Apparently RNN v5.0.0 includes a completely new implementation of Shared Element Transitions. Right now push and pop is possible on iOS and push is working on Android. Pop animations on Android are supposed to come very soon.

Just in case, some of you have not seen the update :)

[2020-02-15 17:54] FinnGu commented on #3602
Apparently RNN v5.0.0 includes a completely new implementation of Shared Element Transitions. Right now push and pop is possible on iOS and push is working on Android. Pop animations on Android are supposed to come very soon.

Just in case, some of you have not seen the update :)

[2020-02-15 20:14] vovka-s commented on #5656
Not stale!

[2020-02-15 22:00] oxyii commented on #5904
Tech bug

[code]
RN: 0.62.0-rc.2
RNN: 5.0.0-alpha.14

[2020-02-16 00:01] wbw20 commented on #5904
Hello @guyca, thank you for your great work on this.

I am trying out the new elementTransitions API and I am experiencing an issue when I set a custom duration for an alpha transition.

If the duration is low (like 200ms), then the destination screen which I am pushing onto the stack is tinted dark.  When I make the transition longer (about 400ms or more), everything is fine.

Here is my transiti

[2020-02-16 04:45] captaincole commented on #4443
Still not stale...

[2020-02-16 08:43] guyca commented on #5904
@wbw20 Thanks for reporting! You're actually not using a shared element transition, try the following:

[code]
The reason for the black flicker is because regular element transition doesn't wait for the destination screen to be rendered, `sharedElementTransitions` does wait for the destination screen to be rendered before initiating the transition.

If you have any more questions about Element Tra

[2020-02-16 09:57] guyca commented on #3602
Closing this issue as it relates to the previous implementation. Will open a new issue to track progress on missing features 👍

[2020-02-16 09:57] #3602 closed

[2020-02-16 11:30] #5828 closed

[2020-02-16 12:30] #5839 closed

[2020-02-16 13:30] #5840 closed

[2020-02-16 14:30] #5842 closed

[2020-02-17 05:18] paulosborne commented on #5395
@jamesjara

If you have a problem, be specific and contribute to trying to solve the problem. I understand it's frustrating when something doesn't work, but the delivery of _your_ task to _your_ client is _your_ issue and it's success or failure are the direct result of the choices _you_ have made - don't go blaming everyone else.

Good luck :)

[2020-02-17 07:09] jamesjara commented on #5395
@paulosborne GitHub and GitHub issues are not about life and choices, it's about code, your statement doesn't have anything to do with it either, nor an even a solution to the problem (yes the bug!). waste of time your reply.

To contribute a little bit with the thread, update your version to the latest one, create one single function to handle the creation of the Wix configuration object. remembe

[2020-02-17 10:27] djschilling commented on #5454
still an issue

[2020-02-17 10:27] djschilling commented on #5565
still there

[2020-02-17 15:26] GrinchakAndrew commented on #3635
you can easily pass props to `sideMenu` like so:

[code]

[2020-02-17 16:33] nbolender commented on #5454
Death to stalebot!

[2020-02-17 19:44] iosu-miral opened #5929 "gradlew build failure: method does not override or implement a method from a supertype"
### Issue Description

I'm getting an error when trying to build the gradle project:

`node_modules/react-native-navigation/lib/android/app/src/main/java/com/reactnativenavigation/react/ReloadHandler.java:3: error: ReloadHandler is not abstract and does not override abstract method onSuccess(NativeDeltaClient) in DevBundleDownloadListener
public class ReloadHandler extends ReloadHandlerFacade impl

[2020-02-17 19:49] lucasrodes opened #5930 "app does not build on Android device but on emulator"
### Issue Description

I am trying to build an App on my Android device and it is not working. I have tested it on an iOS simulator and Android emulator and both seem to work fine, which I can't understand.

I am using the following `project/android/app/build.gradle`:

[code]

### Steps to Reproduce / Code Snippets / Screenshots

I run `react-native run-android --deviceId <device-id>` and get the

[2020-02-18 09:47] #5904 closed

[2020-02-18 09:55] 3luyka commented on #5887
Hi @guyca, any progress with this issue?

[2020-02-18 10:53] bigfud40 opened #5932 "> ### Issue Description"
_Originally posted by @bigfud in https://github.com/wix/react-native-navigation/issues/5165#issuecomment-587400467_

[2020-02-18 10:58] bigfud commented on #5165
Модель любого блочного элемента:
содержимое с размерами width и height;
внешние отступы, они же поля: margin;
внутренние отступы padding;

[2020-02-18 11:45] oxyii opened #5933 "[v5] Tech bug"
Tech bug

[code]
RN: 0.62.0-rc.2
RNN: 5.0.0-alpha.14

_Originally posted by @oxyii in https://github.com/wix/react-native-navigation/issues/5904#issuecomment-586645234_

[2020-02-18 11:46] oxyii commented on #5933
Missing `;` here
https://github.com/wix/react-native-navigation/blob/98b296601d0ef9442c56b9079e79644d71ab0f5e/lib/android/app/src/reactNative62/java/reactnativenavigation/react/NavigationReactNativeHost.java#L11

[2020-02-18 13:01] lethehoang commented on #4122
Duplicate of #

[2020-02-18 13:03] lethehoang opened #5935 "This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs."
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs.
If you believe the issue is still relevant, please test on the latest Detox and report back. Thank you for your contributions.

_Originally posted by @stale in https://github.com/wix/react-native-navigation/issues/5854#issuecomment-587024026_

[2020-02-18 13:28] guyca commented on #5935
Thanks for brining this to my attention, will fix soon.

[2020-02-18 13:28] #5935 closed

[2020-02-18 13:30] #5933 closed

[2020-02-18 14:54] guyca commented on #5927
@FinnGu I think this issue is resolved in v5. Can you try to reproduce it in the playground app?

[2020-02-18 15:00] FinnGu commented on #5927
Will try. Probably only have time during the weekend though.

Haha, I really should upgrade this awesome library soon. Just saw all the new and improved features.

[2020-02-18 17:43] Chrismadscientist commented on #3608
fixed my issue doing this

set "Build System" to "Legacy Build System" in "Shared Workspace Settings" which you can find in "File --> Workspace Settings"

[2020-02-18 19:51] guyca commented on #5887
Hey @3luyka
I'm sorry but not yet. We're tied up with v5 and the Documentation effort.

[2020-02-19 03:22] Botprince0982 opened #5937 "Hackers"
### Issue Description

[ENTER DESCRIPTION HERE]

### Steps to Reproduce / Code Snippets / Screenshots

[FILL THIS OUT]

---
### Environment
* React Native Navigation version: FILL THIS OUT
* React Native version: FILL THIS OUT
* Platform(s) (iOS, Android, or both?): FILL THIS OUT
* Device info (Simulator/Device? OS version? Debug/Release?): FILL THIS OUT

[2020-02-19 03:22] Botprince0982 opened #5938 "Hackers"
### Issue Description

[ENTER DESCRIPTION HERE]

### Steps to Reproduce / Code Snippets / Screenshots

[FILL THIS OUT]

---
### Environment
* React Native Navigation version: FILL THIS OUT
* React Native version: FILL THIS OUT
* Platform(s) (iOS, Android, or both?): FILL THIS OUT
* Device info (Simulator/Device? OS version? Debug/Release?): FILL THIS OUT

[2020-02-19 03:25] Botprince0982 opened #5939 "Hack"
### Issue Description

[ENTER DESCRIPTION HERE]

### Steps to Reproduce / Code Snippets / Screenshots

[FILL THIS OUT]

---
### Environment
* React Native Navigation version: FILL THIS OUT
* React Native version: FILL THIS OUT
* Platform(s) (iOS, Android, or both?): FILL THIS OUT
* Device info (Simulator/Device? OS version? Debug/Release?): FILL THIS OUT

[2020-02-19 03:27] Botprince0982 opened #5940 "Private"
### Issue Description

[ENTER DESCRIPTION HERE]

### Steps to Reproduce / Code Snippets / Screenshots

[FILL THIS OUT]

---
### Environment
* React Native Navigation version: FILL THIS OUT
* React Native version: FILL THIS OUT
* Platform(s) (iOS, Android, or both?): FILL THIS OUT
* Device info (Simulator/Device? OS version? Debug/Release?): FILL THIS OUT

[2020-02-19 05:01] #5937 closed

[2020-02-19 05:01] #5938 closed

[2020-02-19 05:01] #5939 closed

[2020-02-19 05:01] #5940 closed

[2020-02-19 06:01] nomstop2studio commented on #5399
🤩🤩🤩

[2020-02-19 08:26] jaapmengers opened #5941 "Empty screen after showing/hiding modal and then pushing screen on Android version 8 and below"
### Issue Description

This is quite a specific case, but we do run into it in our production app. On Android versions 8 and below the following scenario will lead to an empty screen being shown:

Given three screen definitions:

1. A screen (let's call it NavigationScreen) that has a light statusbar style and that has a button to present a modal, and a button to push a new screen.
1. A screen tha

[2020-02-19 14:26] kneza23 opened #5943 "Android screen animations do not work on v5"
### Issue Description

When you call `Navigation.push` with animations object set in options with content property ("from" and "to" values), the react native views (content) are not displayed at all.

### Steps to Reproduce / Code Snippets / Screenshots
Simple call `Navigation.push`.

Code worked on v4.

[code]

---
### Environment
* React Native Navigation version:5.0.1

System:
    OS: macOS 10.

[2020-02-19 14:35] BitchT opened #5944 "Looking for answers"
### Issue Description

[ Setting Toy switche moves by self  fake sites links back to self Toy lock out room mail alot, girl hear other Speak ALPH Tube ]

### Steps to Reproduce / Code Snippets / Screenshots

 [Setting “Toy” (switch/lock) by self fake sites (link) back to self, kick out (room & Toy) alot, “Toy”(look/hear) other(Speak/ALPH)Tube?]

---
### Environment
* React Native Navigation versio

[2020-02-19 17:33] #5944 closed

[2020-02-19 19:18] lucasrodes commented on #5930
similar to #5929

[2020-02-20 06:30] subhadipsjsc opened #5948 "Third Party Libraries Support : react-native-gesture-handler & react-native-reanimated"
some extra 3rd party Library support will be helpful

Support for native animation : react-native-gesture-handler & react-native-reanimated

React-native-navigation is the native implementation of the navigation system in the react-native ecosystem. Its main focus is performance  (shifting weight of navigation from Js thread to native one).
currently, it supports Third-Party Libraries: Redux, reac

[2020-02-20 09:59] seavan commented on #1501
thank you, @esipavicius, works like a charm.

[2020-02-20 10:05] #5943 closed

[2020-02-20 11:52] jinshin1013 commented on #5948
You can use those libraries with react-native-navigation.

[2020-02-20 12:07] subhadipsjsc commented on #5948
I did not get any info how to add those , do you know any boiler plate got link or any docs which I can follow. Searched for 3 days , no solution till.

By the way thanks for replying.

[2020-02-20 12:43] #5913 closed

[2020-02-20 13:51] matheusf31 opened #5949 "Can't use connect of react redux in a header component."
### Issue Description

I'm trying to access the global redux store in my  header component, using connect but it has no effect

### Steps to Reproduce / Code Snippets / Screenshots

<strong>routes.js</strong>

[code]

<strong>index.js (equivalent to app.js)</strong>

[code]
<strong>header.js</strong>

[code]

<strong>error that appears in the emulator</strong>

[code]

if I put this in the routes.

[2020-02-20 13:53] matheusf31 commented on #5949
Note: I can access the state of redux using connect in my other components, like Main and Cart:

<strong>Main/index.js</strong>

[code]

[2020-02-20 13:57] #5932 closed

[2020-02-20 15:43] svenlombaert opened #5950 "[v5.1.1] iOS: BottomTabs: tab gets initialised after switching to it by default, tabsAttachMode: 'together' not working"
### Issue Description

On iOS the new tabsAttachMode is not working. By default it uses `onSwitchToTab` and even when explicitly setting it to 'together', it still initialises only when switching to the tab

### Steps to Reproduce / Code Snippets / Screenshots

- Add bottomTabs
- Only the first tab will initialise, the others will initialise after switching to them
- Android works fine 👍

I tried

[2020-02-20 22:24] jinshin1013 commented on #5948
react-native-gesture-handler will need to be installed differently as their [doc](https://software-mansion.github.io/react-native-gesture-handler/docs/getting-started.html#with-wix-react-native-navigation-https-githubcom-wix-react-native-navigation) points out. But react-native-reanimated can just be installed through auto-link so you won't have to do anything really.

[2020-02-20 23:15] cspicuzza commented on #5904
With the updated Animation API, can the modal content slide up while the screen background color fades in?

[2020-02-21 03:08] cspicuzza commented on #5809
@ptfly that resolved my issue, thanks!

[2020-02-21 06:02] guyca commented on #5904
@cspicuzza Sure, use something like [this](https://github.com/wix/react-native-navigation/blob/master/playground/src/commons/Options.js#L28)

[2020-02-21 06:10] cspicuzza commented on #5904
@guyca thank you, I'll give that a try.

[2020-02-21 07:02] bneigher commented on #5929
me too v6.0.0

[2020-02-21 09:51] vjtc0n commented on #5950
@guyca I had the same issue (forgot to tell you on discord) on v4, too.

[2020-02-21 10:16] ItsNoHax commented on #5949
Hi @matheusf31 ,

It seems like you have posted in the wrong repository. This is the repo for react-native-navigation.

[2020-02-21 10:16] #5949 closed

[2020-02-21 10:27] joshperry131 commented on #5276
@esbenvb Your suggestion unfortunately does not work for me.

I have set the screen orientation option in the AndroidManifest.xml and in Navigation.setDefaultOptions called within a registerAppLaunchedListener but **cannot lock the orientation of my device on android**.

I have tested on simulator and multiple physical android devices, I have built and rebuilt the app, cleared every cache under th

[2020-02-21 11:45] simonlowedev commented on #5916
For anyone else facing this same problem when using a beta enviroment.

The problem was the environment configurations on the libraries. On initial set up or when reinstalling the node_modules the libraries would be missing the beta configuration – as this isnt one of the defaults – hence why release and debug builds worked find. To solve this you just need to go through each of the libraries in x

[2020-02-21 12:31] #5753 closed

[2020-02-21 14:07] drewhamlett commented on #5818
[code]

[2020-02-21 15:27] msqar commented on #5818
@drewhamlett thanks, i will test it out in a few hours. But i'm already using the alwaysShow title, it only keeps the title visible, but the fontSize keeps increasing in size, pushing the icon up. That was the effect I wanted to remove. But I guess is not possible yet.

[2020-02-21 16:25] joshfarrant commented on #5454
Has anyone found a fix/workaround for this? Maybe something that could be applied through [patch-package](https://github.com/ds300/patch-package) 😄

[2020-02-21 18:31] #5004 closed

[2020-02-21 19:11] annarichardson opened #5952 "[iOS] TextColor with BottomTab doesn't work on iOS 13.3"
### Issue Description
`textColor` doesn't work with bottomTabs layout on iOS 13 simulator. SelectedText is working on iOS 13 and iOS 12.4 simulators and textColor works on the iOS 12.4 simulator but not on the iOS 13.3 simulator. The unselected text color for the bottom Tabs (`textColor`) shows up as a grey color in iOS 13 simulator.

### Steps to Reproduce / Code Snippets / Screenshots
[code]

##

[2020-02-22 12:28] #5836 closed

[2020-02-22 17:28] #5804 closed

[2020-02-23 06:48] guyca commented on #5950
Seems like tabsAttachmode isn't resolved from defaultOptions, but declaring it in the bottomTabs themselves works. Thanks for reporting 👍

[2020-02-23 07:07] moonjava2005 opened #5953 "[V6] Show Overlay with transparent backgroundColor"
`Navigation.showOverlay({
                    component: {
                        name: TOP_NOTIFICATION,
                        id: TOP_NOTIFICATION,
                        options: {
                            layout: {
                                backgroundColor: 'transparent',
                                orientation: ['portrait'],
                            },

[2020-02-23 07:27] #5851 closed

[2020-02-23 09:37] guyca commented on #5953
Hey @moonjava2005 There's a breaking change in v6 regarding layout.componentBackgroundColor - see the changelog for [details](https://github.com/wix/react-native-navigation/blob/master/CHANGELOG.md#600)

[2020-02-23 09:37] #5953 closed

[2020-02-23 12:24] Alek997 commented on #5870
not stale!

[2020-02-23 13:08] moonjava2005 opened #5954 "[V6] Merge bottomtab badge, the bottoms tab disappear"
I have 5 tabs, after app launch and show at tab 0, I merge option for tab 1, 2, 3, 4 to update the badge with follow code:
`Navigation.mergeOptions('CertainComponentId', {
             bottomTab: {
                 badge: '2'
              }
        });`
The tab bar will disappear
### Environment
* React Native Navigation version: 6.0.1
* React Native version: 0.61.5
* Platform(s) (iOS, Android, o

[2020-02-23 13:49] guyca commented on #5870
Hey guys, closing this as it's a duplicate. Will get to #4710 asap

[2020-02-23 13:49] #5870 closed

[2020-02-23 14:12] sebastianpopp opened #5955 "White Background for Overlay with Version 6.0.0"
### Issue Description

Hi @yogevbd,
I was looking at your changes in the latest version and was wondering what [these lines](https://github.com/wix/react-native-navigation/commit/950642d48b2ec67f510ae6b3eefaaeb1ebfcf43d#diff-cd71f333780078ef719899945b7b3261R62) were for. I'm using an overlay to display an AdMob banner in my app, but with that change, the background of the overlay can no longer be

[2020-02-23 14:16] sebastianpopp commented on #5955
Sorry, I missed #5953, but I think this is still relevant. What is the advantage of not being able to configure the background color for iOS >= 13.0?

[2020-02-23 16:43] namdao commented on #5954
I have the same issue, when I set
[code]
the bottoms tabs is disappear.
It work well in the previous version of my project (v2.22.0)

**Environment**

- React Native Navigation: 6.0.0
- React Native version: 0.62.0-rc.2
- Platform: iOS (not sure it work well on android)

[2020-02-24 02:40] joaom182 opened #5956 "this.nativeEventsReceiver.registerModalAttemptedToDismissListener is not a function on Android 10"
### Issue Description

I'm using react-native-navigation version 4.8.1 with react-native 0.59.9 and when i call `Navigation.events().registerAppLaunchedListener()` throws this exception:

[code]

![WhatsApp Image 2020-02-23 at 23 35 32](https://user-images.githubusercontent.com/3612098/75125736-51c1e980-5695-11ea-9d70-9d94325a85c7.jpeg)

### Steps to Reproduce / Code Snippets / Screenshots
- Insta

[2020-02-24 04:44] Seanmclem commented on #5399
Where are the docs? Readme points back to ourself

[2020-02-24 04:54] alexandrepalagem commented on #5955
Use `layout.componentBackgroundColor` to change background color of individual overlay

[code]

[2020-02-24 07:24] sebastianpopp commented on #5955
Should have kept on reading the changes :/
Thank you for your help! That worked

[2020-02-24 07:24] #5955 closed

[2020-02-24 12:13] jaikantshikray opened #5958 "Stop Tab Change until state of a component is true"
### Issue Description

I want to stop tab changing until my Component State is true i Have tried tabBarOnPress and it did not help me

---
### Environment
* React Native Navigation version: ^4.0.10
* React Native version:0.61.2
* Platform(s) (iOS, Android, or both?): both

[2020-02-24 13:00] kgshv opened #5959 "Docs on Docasaurus"
N.B. This issue is a WIP and related to https://github.com/wix/react-native-navigation/issues/5399.

Using this to track work on the new and improved documentation. Originally started [here](https://github.com/wix/react-native-navigation/issues/5399), but there is currently a need for a somewhat fresh start.

The new documentation website is powered by [Docusaurus.io](https://docusaurus.io/) inste

[2020-02-24 13:36] jinshin1013 opened #5960 "[Android] TopBar Left/Right custom component buttons"
### Issue Description
#### Left button
Left custom component button does not appear on Android. Also when coming back from a pushed screen the back button from the popped screen stays rather than showing the set left custom component button.

#### Right button
Right custom component button has no padding around it by default positioning it on the far right of the top bar on Android. Also when mult

[2020-02-24 14:37] svenlombaert commented on #5950
@guyca I declare it when doing a setRoot, with a sideMenu layout. The center part has my bottomTabs, but this seems like it still does not work. I do it like this:

[code]

[2020-02-24 18:37] drewhamlett opened #5962 "Pushing new screen where id is present somewhere else within bottom tabs"
### Issue Description

I have screens in my app that can exist on multiple tabs.  So you can get to the "ListViewScreen" and "DetailScreen" from the HomeTab and the ProfileTab.  If I go to the "ListViewScreen" in the HomeTab, then switch to the ProfileTab and do a push to the "DetailScreen" it goes to the "DetailScreen" on the HomeTab and not the ProfileTab.  I'm guessing because these id's alread

[2020-02-25 05:09] harveyconnor commented on #5904
My modal's are not rendering on the screen correctly with:
[code]

the contents of the render is invisible but the modal is drawn so you cannot press anywhere on the screen to dismiss it.

[2020-02-25 05:36] harveyconnor commented on #5904
If I comment out the animations it works and displays the modal however my background is white, it should be transparent.

[2020-02-25 07:06] guyca commented on #5904
@harveyconnor Please open a separate issue with a reproduction, Thanks.

[2020-02-25 07:08] jfrolich commented on #5418
Yes. This happens when you go back to a largeTitle screen. The app will crash.

[2020-02-25 07:54] blueberry6401 commented on #5779
So is there any solution?

[2020-02-25 08:34] robertying opened #5964 "[v6][Android] App crash with Hermes engine on RN 0.62-rc.2"
### Issue Description

Change `build.gradle` to enable Hermes

[code]

App crashes on startup with error:

[code]

v5 and v6 both are causing crashes.
v4 with RN 0.61 is fine.

### Steps to Reproduce / Code Snippets / Screenshots

1. New RN 0.62-rc.2 template
2. Add react-native-navigation
3. Change necessary files according to the newest doc
4. Enable hermes
5. Build and see the crash

---
### En

[2020-02-25 09:35] guyca commented on #5950
@svenlombaert Thanks for following up. On which platform does it not work?

[2020-02-25 09:38] svenlombaert commented on #5950
On iOS. The above I have only tested on iOS though, as on Android, the default looked like it was set on 'together'.

[2020-02-25 09:40] guyca commented on #5964
Hey @robertying This is a Hermes issue

[2020-02-25 09:40] #5964 closed

[2020-02-25 09:50] guyca commented on #5950
just to confirm: if you `console.log` in the constructor of the components used as roots in the `bottomTabs` layout - you see only the log of the first component?

[2020-02-25 09:51] svenlombaert commented on #5950
Exactly. Usually in debug, I also see which applications started, there's always six logs, my five tabs and the sideMenu. Now I only have two logs, my side menu and the first tab.

[2020-02-25 15:17] jivanpp commented on #2884
It just your internet is slow & not downloading related files. So please do sync gradle when high speed .

[2020-02-25 15:26] mathieumg commented on #4617
Not stale!

[2020-02-25 20:12] dmathewwws opened #5967 "iOS 13 Modal - Any way to disable swipe down to dismiss?"
### Issue Description
For the new iOS 13 modal. I would love the option to disable swipe down to dismiss (or have the option to go full screen like pre iOS 13 and Android).

I am using the modal for a multi screen signup flow and don't want the user to dismiss by mistake / want to give the user my own option to dismiss the modal.

---
### Environment
* React Native Navigation version: 4.8.1
* Reac

[2020-02-25 22:51] chrycon commented on #2737
@utb2017 Make sure you are following the steps correctly. https://reactnavigation.org/docs/getting-started/. React Native documentaion didn't mention the need to change the build.gradle file, and I had ignored the "import 'react-native-gesture-handler';" part. One of the two was the cause for white screen crashing.

[2020-02-25 23:07] jinshin1013 commented on #5967
You can find the options in the [doc](http://wix.github.io/react-native-navigation/#/docs/styling). You can change `modalPresentationStyle` option for modal appearance (full modal) or `modal.swipeToDismiss` option to disable that behaviour.

[2020-02-25 23:18] muganwas commented on #5617
OMG you saved me!! can't thank you enough

[2020-02-26 00:14] bneigher commented on #5930
Hoping this helps

`gradle-6.2-all.zip`

`android/build.gradle`
[code]

`android/app/build.gradle`
[code]

[2020-02-26 01:53] jfrolich opened #5968 "6.0 Regression, topbar animated has wrong colors and no opacity animation"
![2020-02-26 09 51 22](https://user-images.githubusercontent.com/579279/75304230-c8214000-587d-11ea-8e85-a4b74ab0b867.gif)

[2020-02-26 01:54] jfrolich commented on #5968
Reproducing in playground by just changing the color of the top bar text color

[2020-02-26 02:25] jfrolich commented on #5418
https://github.com/wix/react-native-navigation/pull/5969 << Reproduction

[2020-02-26 10:05] #5701 closed

[2020-02-26 10:05] #5952 closed

[2020-02-26 11:21] #5967 closed

[2020-02-26 11:56] guyca commented on #5956
Hey there, Seems like you've updated RNN and did not recompile your app.

[2020-02-26 11:56] #5956 closed

[2020-02-26 12:48] joaom182 commented on #5956
@guyca I've cleaned build folder, sync Graddle in Android studio, deleted app on my device and recompile.

[2020-02-26 15:20] 3luyka commented on #5887
@guyca still no progress with that? That issue becomes critical for me :(

[2020-02-26 16:17] Pragati20 commented on #4949
I too have same issue, react-native-navigation-bar-color is not working for me.Can this question be reopened?

[2020-02-26 23:22] mayconmesquita opened #5971 "[v6 Android] setDefaultOptions statusBar drawBehind not working"
### Issue Description

When setting **statusBar**: { **drawBehind**: true } as default option, it is not respected on Android. Only when setting it via static options () it is being applied.

### Steps to Reproduce / Code Snippets / Screenshots

[code]

---
### Environment
* React Native Navigation version: v6.0.1
* React Native version: v0.61.5
* Platform(s) (iOS, Android, or both?): Android
* De

[2020-02-26 23:23] mayconmesquita commented on #5286
@guyca @manuhook I opened the issue.

#5971

[2020-02-27 00:36] lucasrodes commented on #5930
Hi,
I added a new line in `android/build.gradle`, so it ignores reactNative62 related issues.

[code]

[2020-02-27 02:29] moonjava2005 commented on #5954
I found this on UIViewController + RNNOptions.m:
`- (void)setTabBarItemBadge:(NSString *)badge {
    UITabBarItem *tabBarItem = self.tabBarItem;

    if ([badge isKindOfClass:[NSNull class]] || [badge isEqualToString:@""]) {
        tabBarItem.badgeValue = nil;
    } else {
        tabBarItem.badgeValue = badge;
        [[self.tabBarController.tabBar viewWithTag:tabBarItem.tag] removeFromSuperview

[2020-02-27 06:00] stoica94 commented on #5928
This problem still occurs

[2020-02-27 06:06] dozoisch commented on #5536
not stale

[2020-02-27 07:17] guyca commented on #5536
@dozoisch Which version of RNN are you using?

[2020-02-27 07:18] guyca commented on #5536
@yogevbd Wasn't this fixed in v5?

[2020-02-27 08:30] kgshv commented on #5959
@guyca the syntax highlighter isn't making the embedded `diff` pretty for me, so just a suggestion to check if we include the `diff` syntax highlighting module - https://v2.docusaurus.io/docs/markdown-features/#syntax-highlighting

[2020-02-27 08:39] guyca commented on #5959
Right, I looked into this yesterday and it should work. [diff](https://github.com/FormidableLabs/prism-react-renderer/blob/master/src/vendor/prism/includeLangs.js) is included in docusaurus... we'll look into it later. not a blocker.

[2020-02-27 08:41] guyca commented on #5928
hmmm can you reproduce this in the playground app? I think this is resolved in a recent version.

[2020-02-27 09:06] stachu2k commented on #5841
It is still present in v6. Unfortunately it completely messed up my video player in fullscreen.

[2020-02-27 09:14] Andarius commented on #5535
up

[2020-02-27 09:18] jayshah123 commented on #5971
Issue also present when used with mergeOptions i.e. drawBehind is not respected. no relayout happens when drawBehind is set again to false.
My use case is a video player where I use mergeOptions to change statusBar config on fullscreen and vice versa.

[2020-02-27 09:55] jayshah123 commented on #5971
SYSTEM_UI_FLAG_LAYOUT_STABLE seems to be already set, when I checked Presenter.java -> mergeStatusBarVisible method.
I would like my content to re-layout when statusbar is visible again.

Multiple guides are here with android doc:
https://developer.android.com/training/system-ui/navigation
https://developer.android.com/training/system-ui/status#behind

[2020-02-27 11:12] bneigher commented on #5930
@lucasrodes I came to the same conclusion earlier today! thanks for sharing your solution.  Weird that varient 62 doesn't work.  I also was able to remove the `missingDimensionStrategy "RNN.reactNativeVersion", "reactNative62"` bit and it seemed to work

[2020-02-27 11:15] phanghos opened #5972 "How to pass custom initial props from Native to JS (Android)"
### Issue Description

I have a use case where I need to register an `<intent-filter>` in the `AndroidManifest` so the app can receive and handle images. According to the React Native documentation:

Easy, right? I can just override `getLaunchOptions`, examine the incoming `Intent`, check for extras, build the bundle, and return it.

Well, the thing is that the main activity `extends NavigationAct

[2020-02-27 12:42] #5862 closed

[2020-02-27 13:31] saritha-sar opened #5973 "issue while installing dependencies for stack navigation"
Hello everyone pls check this issue...this happens when adding dependencies for the react native stack navigation....

error Failed to install the app. Make sure you have the Android development environment set up: https://facebook.github.io/react-native/docs/getting-started.html#android-development-environment. Run CLI with --verbose flag for more details.
Error: Command failed: gradlew.bat app:i

[2020-02-27 15:53] MartykQ commented on #2989
For me the problem was I was following steps from react-native docs instead react-navigation official docs. The first one does not mention this step:

_____

To finalize installation of react-native-screens for Android, add the following two lines to dependencies section in android/app/build.gradle:

[code]

[2020-02-27 21:58] mayconmesquita commented on #5912
@aaliz2000 you need to open the issue here: https://github.com/react-navigation/react-navigation/issues

[2020-02-27 22:42] #5718 closed

[2020-02-28 04:24] jebai0521 opened #5974 "in iOS 10, custom component' height of topBar.title is incorrect"
### Issue Description

height of  custom component in topBar is 10000 in iOS 10

### Steps to Reproduce / Code Snippets / Screenshots

set topBar.title as a custom component, then the height will be set to 10000

TopBar.height set to 100%

[code]

---
### Environment
* React Native Navigation version: 6.0.1
* React Native version: 0.61.5
* Platform(s) (iOS, Android, or both?): iOS
* Device info (S

[2020-02-28 04:42] mayconmesquita opened #5975 "[v6 Android] Elevation shadow over StatusBar"
### Issue Description

When setting **topBar: { elevation: 5 }** the shadow is appearing over statusbar.

### Steps to Reproduce / Code Snippets / Screenshots

![elevetation-statusbar](https://user-images.githubusercontent.com/46308804/75578125-12531e80-5a42-11ea-9720-4dc253362c39.png)

[code]

---
### Environment
* React Native Navigation version: v6.0.1
* React Native version: v0.61.5
* Platform

[2020-02-28 09:27] bneigher opened #5976 "[v6 Android] bottomTabs elevation blocks any overlayed components"
### Issue Description

Seems that in v6, the bottomTabs take a higher elevation preference on android.  Essentially this breaks the ability to have an overlay (bespoke FAB in my case) positioned over the bottomTabs

### Steps to Reproduce / Code Snippets / Screenshots
![image](https://user-images.githubusercontent.com/4627728/75531507-ecd5fe80-59c8-11ea-8d99-21902ed7c28c.png)

I essentially can't

[2020-02-28 09:42] devsoonote opened #5977 "[V4] When The Pagesheet, a kind of modal is open, 'Debug JS Remotely' is not working"
### Issue Description

When The pagesheet is open, If I click 'Debug JS Remotely', App is not working

### Steps to Reproduce / Code Snippets / Screenshots

![image](https://user-images.githubusercontent.com/45555359/75537056-a977a080-5a59-11ea-921d-d026981b2501.png)
![image](https://user-images.githubusercontent.com/45555359/75537105-c2805180-5a59-11ea-89e9-003778343e3d.png)

---
### Environment

[2020-02-28 10:14] itsam commented on #5718
This is a workaround https://gist.github.com/itsam/f33a063bf5f07ef7b4112e691f7edddc

[2020-02-28 10:38] BitchT commented on #5944
Hey I Am new to this and don’t really understand how y’all work And really got a important question 

Sent from Yahoo Mail for iPhone

On Wednesday, February 19, 2020, 12:33 PM, Guy Carmeli <notifications@github.com> wrote:

Closed #5944.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-02-28 11:29] AlkanV opened #5979 "iOS10 - topBar height is not working"
### Issue Description

Hello,

We are using 4.8.1 version of RNN and we have following issue only occur in iOS 10 devices.

### Steps to Reproduce / Code Snippets / Screenshots

https://share.getcloudapp.com/Qwu7l75Y

---
### Environment
* React Native Navigation version: 4.8.1
* React Native version: 0.61.5
* Platform(s) (iOS, Android, or both?): iOS 10
* Device info (Simulator/Device? OS version

[2020-02-28 12:49] #5867 closed

[2020-02-28 16:37] lucasrodes opened #5980 "Disable unittest messages"
### Issue Description

When building my project for android (i.e. `npx react-native run-android`), all unit tests are sometimes excuted for React Native Navigation.

Is it possible to disable this?

### Steps to Reproduce / Code Snippets / Screenshots

It runs like ~500 tests for :react-native-navigation:testReactNative60DebugUnitTest and ~500 more for :react-native-navigation:testReactNative60Rel

[2020-02-29 16:17] thebylito commented on #5688
Hi, this happens when you "push" two components with the same "componentId", and then try to pop with "componentId" used by the two screens.

[2020-02-29 19:09] lqrz opened #5981 "Inconsistency Android gradle plugin version"
### Issue Description
I believe there is an inconsistency between the documented Android manual installation steps & the link command. Which one of these should apply?

In the documentation, inside the Android manual installation, it is specified that we should add the following dependency in the `android/build.gradle`:
[code]

But, if I compare it with the outcome of running `react-native link re

[2020-02-29 21:27] lqrz opened #5983 "RN CLI Autolinking error"
### Issue Description

I installed the library via `npx react-native link react-native-navigation` (and modifying the `minSdkVersion` in `andoid/build.gradle`).

When I run `npx react-native run-android`, the app is built and works fine, though I get the following error in the terminal:
[code]

Since the lib has been linked manually,  I add an entry in the `react-native.config.js` file to prevent

[2020-03-01 01:36] jinshin1013 commented on #5983
So if the project is a fresh project, after installing the package:
[code]
All you have to run is `react-native link react-native-navigation` as from `V5` the team added the linking script which will modify all the necessary native changes required.

That should set you up with the working project. However if you, for some reason, required to do this manually, you can reference my [boilerplate pro

[2020-03-01 07:31] Natteke commented on #3863
RN 61.5
RNN 6.0.1
Still happening

[2020-03-01 15:26] Natteke opened #5986 "statusbar style does not applying [6.0.1]"
### Issue Description

Cant change status on new boilerplate project.
Any workaround or additional steps for installation?

Looks like react-native `<StatusBar/>` works fine, but i think it would be silly to use it with RNN.
Maybe something wrong with link script?

### Steps to Reproduce / Code Snippets / Screenshots
1) react-native init Test
2) yarn add react-native-navigation
3) react-native lin

[2020-03-01 20:04] keyblade95 opened #5987 "Task :react-native-navigation:compileReactNative60DebugJavaWithJavac FAILED"
### Issue Description

I cannot build my app for Android (iOS works perfectly) in a yarn monorepo project. When I run `yarn run android`, I get the following error:
[code]

### Steps to Reproduce / Code Snippets / Screenshots

I create a new RN app using:
[code]

Then, I added RNN to the app using:
[code]

---
### Environment
* React Native Navigation version: 6.0.1
* React Native version: 0.61.5

[2020-03-02 04:16] heroic commented on #5986
@guyca this is happening to me as well.

[2020-03-02 08:53] christiandave090697 commented on #4097
solution anyone?

[2020-03-02 12:38] artashsanoyan commented on #5979
Seems like you'r trying to use android specific options for iOS. As you can see the height property on topBar is a android specific option,

https://github.com/wix/react-native-navigation/blob/b4e4eff6fd3ff4fe196dc8b0ad9748ee291127e7/lib/src/interfaces/Options.ts#L476-L496

[2020-03-02 20:13] keyblade95 commented on #5987
This is the complete stack trace given by `./gradlew build --stacktrace` inside the android folder
(seems there is an issue with an invalid value for MonthOfYear (valid values 1 - 12), 0 given):

[code]

[2020-03-02 20:34] muhammadwafa commented on #5948
As I heard that auto linking works in v5, but now v6 and still does not works

[2020-03-02 22:57] jinshin1013 commented on #5987
Have you followed the documentation for installing react-native-navigation? From a fresh react-native project you can run `react-native link react-native-navigation` for a autolink. The library requires some native code changes which is taken care of by that link script.

[2020-03-02 22:59] jinshin1013 commented on #5948
@muhammadwafa What is not working for you? Could you provide more specifics? From a fresh react-native project, running `react-native link react-native-navigation` will make the required native changes for you.

[2020-03-03 00:18] ida-n commented on #5983
Hi Jin,

I followed the steps bellow on a fresh project:
[code]
and I also get:
[code]
as well as:
[code]
when I run `yarn react-native run-android`.

[2020-03-03 02:35] jinshin1013 commented on #5983
@ida-n  Ooof, the autolink script does not modify the `minSdkVersion` in `android/build.gradle` file. If you change that to anything over 19, it should work fine. I could probably create a PR that fixes this.

Also you can probably don't worry about the first error regarding it's manually linked or something.

[2020-03-03 04:01] muhammadwafa commented on #5948
For me auto linking does not work

[2020-03-03 04:13] jinshin1013 commented on #5948
I've created a PR that fixes the autolink script https://github.com/wix/react-native-navigation/pull/5989. It will still complain that RNN is linked manually but you can ignore that  error.

[2020-03-03 04:14] muhammadwafa commented on #5948
Thank you, and also please update the installation instructions as I am seeing it is not updated. both for IOS and Android

[2020-03-03 04:53] jinshin1013 commented on #5948
New documentation is on the way I believe. You can keep your eye on https://github.com/wix/react-native-navigation/issues/5959.

[2020-03-03 05:17] ida-n commented on #5983
With `minSdkVersion = 19` the app builds. I am ignoring the unlink error for now since it is not stopping the build. Thank you :)

[2020-03-03 06:27] guyca commented on #5981
It probably doesn't matter in your case, you can go with whichever version. I'll update the docs. Thanks for reporting 👍

[2020-03-03 06:27] #5981 closed

[2020-03-03 07:35] keyblade95 commented on #5987
I had already run `react-native link`, I run it again but the error is exactly the same...

[code]

[2020-03-03 08:24] ItsNoHax commented on #5986
Hi all, this is a duplicate of: https://github.com/wix/react-native-navigation/issues/5797

Going to go ahead and close it for that issue.

[2020-03-03 08:24] #5986 closed

[2020-03-03 08:26] Natteke commented on #5797
Still exist on
React Native Navigation version: 6.0.1
React Native version: 0.61.5

[2020-03-03 08:30] guyca commented on #5797
Seems like `style` property is ignored when declared in static options @yogevbd

[2020-03-03 08:32] #5973 closed

[2020-03-03 08:33] #5958 closed

[2020-03-03 08:36] ItsNoHax commented on #5923
@muhammadwafa Orientation locking can be achieved in react-native-navigation and as @drewhamlett mentioned you will need to wrap your screens with the provided HoC from react-native-gesture-handler. Going to close this issue though as this is not the first time this has been asked.

[2020-03-03 08:36] #5923 closed

[2020-03-03 08:53] ItsNoHax commented on #5977
Hi @devsoonote,

Thanks for reporting this issue. For us to help you further we will require a branch that reproduces this problem. Please fork the playground project and let us know how to reproduce it.

[2020-03-03 08:56] #5948 closed

[2020-03-03 10:49] NQuirmbach commented on #5397
@DaniShalash could you share your code for your wrapper and describe more in detail what you've done there? I'm currently stuck with the same issue.

[2020-03-03 11:05] lqrz commented on #5983
Hi @jinshin1013 Thanks for your answer, I understand the changes the "link script" does. I was originally wondering if there was a scenario where we link the lib and we get rid of the react-native-cli error (it is still unclear to me why we need to manually link the lib and also let react-native autolink it afterwards as well, do you have any pointers on that / or places I should look at to figure

[2020-03-03 12:45] yogevbd commented on #5797
`style` option does work in static options, `statusBar.visible` isn't, fixed in https://github.com/wix/react-native-navigation/pull/5992.
If you still have issues with `style` property please let me know and explain how to reproduce it in the playground app.

[2020-03-03 12:45] #5797 closed

[2020-03-03 13:22] Natteke commented on #5797
@yogevbd, can you please provide example how to change statusbar color in latest version?
Just dont understand how to do it

Thanks a lot!

[2020-03-03 13:39] #5983 closed

[2020-03-03 13:49] guyca commented on #5983
@lqrz Autolink only makes your project "be aware" of the native dependency. It only adds RNN as a dependency to your project. If a dependency requires changes to your project, you are requires to either do them manually or, like in our case, run a "link script" which attempts to do all manual changes for you.

[2020-03-03 13:52] guyca commented on #5797
@Natteke  The StatusBar appearance is controlled through options.

For example, the following options will change the StatusBar background color to white will use dark colors for the StatusBar content (time, battery information, notification icons etc)

[code]

## Changing StatusBar style dynamically

As the StatusBar is controlled through options, it can be configured dynamically by calling `Navi

[2020-03-03 14:16] #5875 closed

[2020-03-03 15:07] Natteke commented on #5797
@guyca, take a look at this, here i provided [example ](https://github.com/wix/react-native-navigation/issues/5986)that this approach does not work, `style` property just ignored on IOS. Or it's because i dont provided backgroundColor property?

Maybe i misunderstood something?
Btw, thanks for quick response. Much appreciated!

[2020-03-03 16:29] #5418 closed

[2020-03-03 16:35] yogevbd commented on #5779
I found that `topBar.drawBehind: true` solves this.
[code]

[2020-03-03 16:50] TylerNRobertson commented on #3216
It seems this might be an issue again in V3.

[2020-03-03 16:51] TylerNRobertson commented on #3216
This seems to be present again in V3. Works fine on android but doesnt trigger "componentWillUnmount" on any components inside the modal on IOS.

[2020-03-03 18:17] markmoomoo commented on #3110
I created an HOC including a debounce function to stop multiple clicks for them, the issue still existing in V4 (4.8.1 what i am using now)

[2020-03-03 22:45] jinshin1013 commented on #5959
Is there a way for us to contribute to this as well? I'd like to help documenting the installation and minimal setup part if I could

[2020-03-03 22:49] jinshin1013 commented on #5987
@keyblade95 Hey there was a slight issue with the autolink script which is fixed by https://github.com/wix/react-native-navigation/pull/5990. Could you try this out? https://github.com/wix/react-native-navigation/issues/5983#issuecomment-593735861

[2020-03-03 22:51] jinshin1013 commented on #5980
This seems like odd, could you create a minimal reproduction?

[2020-03-04 03:40] ninjz commented on #3499
I was able to get a fade-in animation when calling setRoot by modifying the setRoot function inside of RNNCommandsHandler.m doing this:

[code]

But extending this library to support this would be nice to have.

[2020-03-04 05:45] alan-nakagiri opened #5995 "Adding a background component to the topbar disables right and left buttons"
### Issue Description

The main issue is when a background component is added to the top bar the right and left buttons do not work. This issue appears to have been introduced after v3.7.0.

For some context I am trying to achieve placing a progress meter in the topbar that appears as below:

![image](https://user-images.githubusercontent.com/11300359/75848205-59b91200-5d96-11ea-98a8-4908956fc59f.

[2020-03-04 07:55] ridik1803 opened #5996 "Fatal Exception: java.lang.NullPointerException: getNavigator()' on a null object reference"
### Issue Description

From Firebase Crashlytics

[code]

### Steps to Reproduce / Code Snippets / Screenshots

No idea

---
### Environment
* React Native Navigation version: 4.8.4
* React Native version: 0.61.5
* Platform(s) (iOS, Android, or both?): Android
* Device info (Simulator/Device? OS version? Debug/Release?): Release
![image](https://user-images.githubusercontent.com/3540152/75856426-6

[2020-03-04 10:04] guyca commented on #5959
Hey @jinshin1013 Of course you can contribute. We're working on [docusaurus](https://github.com/wix/react-native-navigation/tree/docusaurus) branch and are coordinating work in [discord](https://discord.gg/DhkZjq2). Once you join discord, send us a message in the docs channel 👍

[2020-03-04 10:26] AlkanV commented on #5979
@artashsanoyan actually no, if you look at the screenshot i post it, it is happening only in ios10 not 11 or 13.

[2020-03-04 10:50] keyblade95 commented on #5987
I tried setting `minSdkVersion` to both 19 and 21, but the same problem still occurs

[code]

[2020-03-04 11:41] legion-zver opened #5997 "[iOS] RNNBottomTabsController setDefaultOptions not found!"
### Issue Description

Please add to iOS class RNNBottomTabsController method setDefaultOptions!

### Steps to Reproduce / Code Snippets / Screenshots

Navigation.setDefaultOptions not change def options on RNNBottomTabsPresenter!

---
### Environment
* React Native Navigation version: 6.0.1
* React Native version: 0.61.5
* Platform(s) (iOS, Android, or both?): iOS
* Device info (Simulator/Device?

[2020-03-04 11:43] legion-zver commented on #5997
Patch for it:
`
diff --git a/node_modules/react-native-navigation/lib/ios/RNNBottomTabsController.m b/node_modules/react-native-navigation/lib/ios/RNNBottomTabsController.m
index 5c3c46e..0054d6c 100644
--- a/node_modules/react-native-navigation/lib/ios/RNNBottomTabsController.m
+++ b/node_modules/react-native-navigation/lib/ios/RNNBottomTabsController.m
@@ -27,6 +27,10 @@ - (void)render {
     [_

[2020-03-04 11:45] kobe-finance commented on #5916
@simonlowedev can you explain more

[2020-03-04 12:34] #5968 closed

[2020-03-04 12:52] lqrz opened #5998 "npm run android"
### Issue Description

I modified my `package.json` so that I can do the build directly via `npm run android` instead of `npx react-native run-android`, following the documentation (_Installing->Troubleshooting->Build-app-with-gradle-command_):

[code]

My problem is that, before -with `npx react-native run-android`, it would run the build, plus open a metro terminal and deploy and run the apk in

[2020-03-04 15:46] fedezolk commented on #5950
Any updates? Still happening to me.

[2020-03-04 16:32] Andarius commented on #5550
up

[2020-03-05 05:51] #5075 closed

[2020-03-05 08:45] ItsNoHax commented on #5996
@guyca has this been fixed in any version leading up to V6?

[2020-03-05 09:00] guyca commented on #5950
@fedezolk On which version?

[2020-03-05 09:02] RomualdPercereau opened #6000 "[v6 iOS] waitForRender on SetRoot doesn't work with a SideMenu"
### Issue Description

Using the waitForRender option with a SideMenu doesn't work.

### Steps to Reproduce / Code Snippets / Screenshots

### This will blink :
[code]

### This will NOT blink :
[code]
![ezgif-7-60cda80e32c3](https://user-images.githubusercontent.com/4194506/75964936-5aea5c00-5ec8-11ea-9bfb-2665da4122b8.gif)
---
### Environment
* React Native Navigation version: FILL 6.0.1
* React

[2020-03-05 09:02] vjtc0n commented on #5950
@guyca it happens on RNN 4.8.1, too
( I think after version with tabAttachMode)

[2020-03-05 09:08] guyca commented on #5996
This should be fixed in 5.0.0. Please upgrade and let me know if it's not fixed 👍

[2020-03-05 09:08] #5996 closed

[2020-03-05 10:12] guyca commented on #5848
@vjtc0n This is resolved in 6.0.0

You have two options to resolve this issue.
1. Add a background color to the BottomTabs layout. This way, when the bottomTabs are toggled you won't see a black flickering (you're actually seeing the window behind the layout who's color is black)
2. Draw the root child (the child that's displayed with bottomTabs.visible) behind the bottomTabs. It should also have

[2020-03-05 10:12] #5848 closed

[2020-03-05 10:13] guyca commented on #5950
We'll look into this asap, thansk @vjtc0n

[2020-03-05 11:35] pie6k commented on #5618
not stale

[2020-03-05 12:57] guyca commented on #5618
@pie6k Are you sure this isn't fixed? Have you checked latest version (6.1.0) ?

[2020-03-05 12:58] #5618 closed

[2020-03-05 12:59] guyca commented on #5732
@jfrolich Can you please reproduce this in the playground app? Thanks.

[2020-03-05 13:00] ridik1803 commented on #5996
Thanks. I updated to version 6.1.0 (latest) and, when there are results, I will inform you

[2020-03-05 13:13] fedezolk commented on #5950
@guyca I am with an older version 4.4.0. In the latest doesn't happen?

[2020-03-05 13:51] #5882 closed

[2020-03-05 14:49] ridik1803 commented on #5996
@guyca now I have an error:
`TypeError: null is not an object (evaluating 'this.nativeCommandsModule.setDefaultOptons')`

[2020-03-05 16:35] AlexDM0 opened #6003 "[V6] modalPresentationStyle does not do anything if the modal is a stack"
### Issue Description

If I use a component modal it works fine, but if the modal is a stack, the modalPresentationStyle does not have effect. I would like to have the option to have the same modals as we had with RNN2.20.2.

Here is a reproduction in the playground:
https://github.com/AlexDM0/react-native-navigation

Ironically, while doing the reproduction, I found that by setting
[code]
in the

[2020-03-05 16:46] AlexDM0 opened #6004 "[V6] Can't use modalPresentationStyle popOver"
### Issue Description

If you use the option
[code]

You get the error:
![2020-03-05 17 44 59](https://user-images.githubusercontent.com/5363277/76003992-1cc15c80-5f09-11ea-8335-560dc98bb99b.png)

So then you do not use the provided enum:
[code]

but just type "popover".

The problem at that point is, typescript keeps reporting an error.

---
### Environment
* React Native Navigation version: 6.0.

[2020-03-05 17:51] #5879 closed

[2020-03-05 20:41] drewhamlett opened #6005 "Bottom tab text cut off/truncated after changing fontWeight to semibold or bold."
### Issue Description

After upgrading to 6.1.0 , bottom text is cut off after changing the fontWeight to 'semibold' or 'bold' on the bottomTab property.  'light' or 'regular' doesn't affect the truncation.

### Steps to Reproduce / Code Snippets / Screenshots

![Screen Shot 2020-03-05 at 3 33 49 PM](https://user-images.githubusercontent.com/1056587/76023645-86d10600-5ef7-11ea-9f70-a381b25843be.pn

[2020-03-05 20:44] drewhamlett opened #6006 "translucent bottomTab does not work after upgrading to 6.1.0"
After upgrading to 6.1.0 the translucent bottomTab does not work.

### Steps to Reproduce / Code Snippets / Screenshots

[code]
---
### Environment
* React Native Navigation version: 6.1.0
* React Native version: 0.61.5
* Platform(s) (iOS, Android, or both?): iOS
* Device info (Simulator/Device? OS version? Debug/Release?): Debug

[2020-03-06 01:44] jfrolich commented on #5732
ok will try!

[2020-03-06 02:31] lyicelee opened #6007 "react-native-navigation v1 still can use in React-native 0.61.5 ?"
### Issue Description

React-native-navigation v1 can still use in React-native 0.61.5 ?

If it can. Please teach how to install it in to React-native 0.61.5 Project.

thank you.

---
### Environment
* React Native Navigation version: 1.1.458
* React Native version: 0.61.5
* Platform(s) (iOS, Android, or both?): both
* Device info (Simulator/Device? OS version? Debug/Release?): both

[2020-03-06 06:18] lyicelee opened #6008 "ERROR : Command Ld failed with a nonzero exit code (version: 5.1.1)"
### Issue Description

I am the first time to use React Native Navigation 5.1.1 in my Project.

I set my project code by the install guide.
https://wix.github.io/react-native-navigation/#/docs/Installing

but the Error is happened when I build the Project:

Error Info:
clang: error: no such file or directory: '/Users/XXXXX/Library/Developer/Xcode/DerivedData/DemoProject-fchtaspljncpmrczxhfibduihab

[2020-03-06 06:26] #6008 closed

[2020-03-06 07:21] lyicelee commented on #6008
Solved.

[2020-03-06 09:45] ridik1803 opened #6009 "[V6] TypeError: null is not an object (evaluating 'this.nativeCommandsModule.setDefaultOptons')"
### Issue Description

`TypeError: null is not an object (evaluating 'this.nativeCommandsModule.setDefaultOptons')`

![Screenshot_2020-03-06-13-08-37-881_com taxi135 driver](https://user-images.githubusercontent.com/3540152/76074078-d244ec00-5fab-11ea-8fda-34c69b9de47c.png)

### Steps to Reproduce / Code Snippets / Screenshots

Update from 4.8.4 to 6.1.0

---
### Environment
* React Native Navigat

[2020-03-06 10:11] wesdewitte commented on #3863
I'm also having this issue with RN 0.61.5 and RNN 6.0.1.
Someone has a work around for this?

[2020-03-06 10:14] guyca commented on #6007
Hey @lyicelee I recommend you upgrade to latest RNN. This [section](https://wix.github.io/react-native-navigation/#/docs/top-level-api-migration) should help you get started on migrating your project

[2020-03-06 10:14] #6007 closed

[2020-03-06 10:18] guyca commented on #6009
Hey @ridik1803
Could you please post a reproduction of this issue?

[2020-03-06 10:20] guyca commented on #6005
Hey @drewhamlett Can you please check if this happens on iOS 12 as well?

[2020-03-06 10:22] ridik1803 commented on #6009
@guyca I have an [error](https://github.com/wix/react-native-navigation/issues/5996) and to fix it i try to upgrade library version (using this [manual](https://github.com/wix/react-native-navigation/blob/master/CHANGELOG.md#upgrading-from-v4)). After upgrading I have this error

[2020-03-06 10:22] Natteke commented on #3863
do you using react native gesture handler?

[2020-03-06 10:42] wesdewitte commented on #3863
No i don't use that package.

[2020-03-06 10:53] ridik1803 commented on #6009
@guyca In my App.js I have this code and here the error occurs
`Navigation.events().registerAppLaunchedListener(() => {
    Navigation.setDefaultOptions({
        animations: {
            push: {
                waitForRender: true
            }
        },
        layout: {
            backgroundColor: Theme.authorization.backgroundColor
        }
    });

    Navigation.setRoot({
        root: {

[2020-03-06 10:53] simonmitchell opened #6010 "Providing fontWeight and fontFamily breaks custom font family in titles (And possibly other places)"
### Issue Description

If you provide both a `fontWeight` and `fontFamily` in styling objects for `topBar.title` and `topBar.largeTitle` then on iOS the system font is used.

### Steps to Reproduce / Code Snippets / Screenshots

- Add a custom font into your application
- Add `fontWeight` and `fontFamily` values to your RNN styling
- Observe custom font face is ignored

The issue lies with this `i

[2020-03-06 12:21] simonmitchell commented on #6010
@guyca @yogevbd I have the beginnings of a PR that I thought would resolve this, however after testing with the custom font we're using it seems like you may need to go a step further and find the closest matching font like in RCCFont like so:
[code]

[2020-03-06 13:10] korre commented on #5779
Does it really? What happens when adding this property is that the large title background color is not drawn at all? It gets transparent.

`topBar: {
            background: {
                color: '#00ff00'
              },
              largeTitle: {
                visible: true,

              },
              drawBehind: true
          }`

When having this setup I expect the top bar to have

[2020-03-06 13:35] GrinchakAndrew commented on #5904
dismissModal: {
            alpha: {
              from: 1,
              to: 0,
              duration: 1000,
            },
          },
This code crashed on iOS for "^6.0.0" over a pushed screen. Had to use only show animation for Modal. Android works like a charm.
@guyca

[2020-03-06 14:21] drewhamlett commented on #6005
@guyca This is not happening on iOS 12.4

[2020-03-06 15:10] TylerNRobertson opened #6011 "[V6] Unable to resolve module './adapters/SharedElement'"
### Issue Description

Install version 6.0.0+ of RNN. Run on IOS and the error should appear.

### Steps to Reproduce / Code Snippets / Screenshots
1. Install RNN
2. Run IOS App

Error:
<img width="1321" alt="Screen Shot 2020-03-06 at 11 08 16 AM" src="https://user-images.githubusercontent.com/23481122/76095625-fc41e280-5f9a-11ea-98fb-2753a63e5b80.png">

---
### Environment
* React Native Navigati

[2020-03-06 15:33] guyca commented on #6011
hmm this file was indeed deleted in v6. Are you using the old shared element api? if not, try resetting cache when running the packager: `npm run start -- --reset-cache`

[2020-03-06 15:49] shanereid commented on #6005
Same issue. Happens with regular fonts for me too. (ApercuPro I'm using)

RN 0.61.2 + RNN 6.1.0

[2020-03-06 18:42] Soloknir commented on #5929
Has anyone solved the problem?

[2020-03-06 19:42] chrise86 opened #6012 "[v6] ReactNativeNavigation/ReactNativeNavigation.h file not found"
On a brand new app, after installing and linking with `react-native link react-native-navigation`, running via `react-native run-ios` produces the following error:

Versions:
[code]

Manually adding:
[code]
to the header search paths doesn't help either.

Adding the cocoapod to the Podfile fixes, but results in:
[code]

[2020-03-06 22:22] #5793 closed

[2020-03-07 01:05] yogevbd commented on #5797
@Natteke Make sure `UIViewControllerBasedStatusBarAppearance` is set to `YES` in your info.plist  file.

[2020-03-07 04:58] Natteke commented on #5797
@yogevbd, yes! That was "NO" by default.
For RN newcomers this could be not obvious, and looks like link script do not changing it.

Maybe we could mention this in the doc?
In manual installation for example...
I could make a PR with it.

[2020-03-07 06:42] guyca commented on #5793
Fixed in 6.1.0

[2020-03-07 07:11] guyca commented on #5454
This is fixed in 6.1.0

[2020-03-07 07:11] #5454 closed

[2020-03-07 07:21] guyca commented on #5152
As part of an effort by @yogevbd to address all large title issues, he opened a [PR with a fix to react-native](https://github.com/facebook/react-native/pull/28236/files). Hopefully it will be merged soon 🙏

[2020-03-07 07:43] bang88 commented on #6011
@guyca I have another issue when I click the `SharedElement` demo it crashes.

- clone the repo
- install deps
- yarn start
- open xcode run in ios emulator
- click Options -> click Shared Element

![image](https://user-images.githubusercontent.com/433259/76139376-11496f00-608a-11ea-9f42-544849e1dba3.png)

[2020-03-07 09:27] guyca commented on #6011
@bang88 @TylerNRobertson I wasn't able to reproduce this on a fresh clone. This leads me to think it's a caching issue. Please try starting the packager with  `watchman watch-del-all && npm run start -- --reset-cache`.

[2020-03-07 10:35] chrise86 opened #6013 "[v6] Shared element transition crashes on iOS"
When using the following transition:
[code]

I get a crash that, when run via Xcode points to the following:

[code]

I've tried with and without the `elementTransitions` option, but what I have above is a replica of the example. I've also tried adding an `interpolation` option to the transition.

Versions:
[code]

[2020-03-07 10:46] chrise86 commented on #6013
Doh... turns out it was a typo: `nativeId` instead of `nativeID`. Closing, leaving it here incase anyone else makes the same mistake. TypeScript is not liking either property, so wasn't getting autocompletion or reliable TS errors.

[2020-03-07 10:46] #6013 closed

[2020-03-07 13:09] djschilling opened #6014 "[v6] Large Title is black"
### Issue Description

I upgraded from React-Native-Navigation 3.7 to 6.1.
I use the setting:

[code]

The top part of the screen is black when scrolling. Here a video to see the behaviour:
https://seafile.church.tools/f/553e7542dbda4015b63e/

If i do not use the `largeTitle` option it looks fine.

---
### Environment
* React Native Navigation version: 6.1.0
* React Native version: 0.61.5
* Platfo

[2020-03-07 13:41] ydvnishant001 commented on #2883
@kennedymj97 where should i type this in android studio???

[2020-03-08 00:37] #5866 closed

[2020-03-08 14:17] sorokin0andrey commented on #5723
not stale

[2020-03-09 07:29] AnthonyAkentiev commented on #2592
@pqkluan why this issues was closed?

[2020-03-09 09:17] Mubashirkhan commented on #5665
same issue is there any fix / solution for this. Tried all the solutions mentioned above nothing works

[2020-03-09 09:22] bncvnc opened #6017 "Side Drawer Width is not working at all using component for the sidedrawer"
### Issue Description

I wants to set width to sidedrawer on react-native-navigation sidedrawer but it is not working at all

### Steps to Reproduce / Code Snippets / Screenshots

[code]

Code of side drawer for Navigation setRoot
[code]
Here is the ss of the sidedrawer
I Wants to get the same lock as android
<img width="1440" alt="Screenshot 2020-03-09 at 2 16 53 PM" src="https://user-images.gith

[2020-03-09 10:09] pqkluan commented on #2592
Hi @AnthonyAkentiev,
This issue was closed in 2018 because there are too many open issues (500+ IIRC).

I’m understanding this is a positive feature request, but because of the lacking of man power & resource it was closed to help the team focus on more important core features and bug fixes.

As I commented before closing the ticket, the OP could re-open the issue if he could work on a PR to imple

[2020-03-09 10:16] srfaytkn commented on #5971
+1

[2020-03-09 10:16] srfaytkn commented on #5971
same issue

[2020-03-09 10:18] bncvnc commented on #6017
[code]
Solved it by adding options on sidedrawer and giving width there

[2020-03-09 10:18] #6017 closed

[2020-03-09 11:37] ridik1803 commented on #6009
Re-read the instructions and realized that I had not completed all the points. That helped

[2020-03-09 11:37] #6009 closed

[2020-03-09 14:14] TylerNRobertson commented on #6011
@guyca you were right caching issue. Thanks!

[2020-03-09 14:14] #6011 closed

[2020-03-09 14:15] chuttam commented on #6011
Came here after hitting the same issue on an RNN upgrade effort to v6. Can confirm that these steps to restart and clear package manager resolved the issue:

[2020-03-09 15:17] chrise86 commented on #4273
@guyca is tint colour possible on v6?

[2020-03-09 17:12] tiennv-0883 opened #6020 "[V6] Customizing screen animations not working"
### Issue Description

I upgraded from React-Native-Navigation 4. to 6.
I use the setting:

[code]

And Customizing screen animations not working .
Please help me
---
### Environment
* React Native Navigation version: 6.1.1
* React Native version: 0.61.5
* Platform(s) (iOS, Android, or both?): IOS and Android
* Device info (Simulator/Device? OS version? Debug/Release?): Simulator iPhone 11 iOS 13.

[2020-03-09 17:21] ASchwad opened #6021 "RNCSafeAreaView was not found in the UIManager"
### Issue Description

I am trying out Version 5 of this library and encountered the following error when going through the stack navigator example from the documentation.

Invariant Violation: requireNativeComponent: "RNCSafeAreaView" was not found in the UIManager.

This error is located at:
    in RNCSafeAreaView (at src/index.tsx:28)
    in SafeAreaProvider (at SafeAreaProviderCompat.tsx:42)

[2020-03-09 21:05] AugustoAleGon opened #6022 "Issues 2 duplicate symbols for architecture x86_64 Incompatibility with React-Native-Keyboard-Input"
### Incompatibility with React-Native-Keyboard-Input

I am upgrading to the latest version of `react-native-navigation` [6.1.1] with the latest version of `react-native-keyboard-input` [6.0.0], the problem happens on iOS when I am trying to build.

### Steps to Reproduce / Code Snippets / Screenshots

Install the latest version of `react-native-navigation` with `react-native-keyboard-input` and th

[2020-03-10 02:53] net5566 opened #6023 "Is onResume working on the NavigationApplication?"
### Issue Description

I'm Building OpenCV in React Native Project with React Native Navigation on Android

When I call Native Function using OpenCV Mat

It shows

`No implementation found for long org.opencv.core.Mat.n_Mat()`

It seems that OpenCV not initialized successfully on the onResume.

### Steps to Reproduce / Code Snippets / Screenshots

[code]

---
### Environment
* React Native Navigat

[2020-03-10 05:12] edgarbonillag opened #6024 "[iOS][v6] SafeAreaView not working when inside a stack on the center of a sideMenu layout"
### Issue Description

On iOS: The `SafeAreaView` component from React Native doesn't work when the screen is inside a `stack` on the `center` of a `sideMenu` layout. So the content of the screen goes under the status bar and that's not the desired behavior in my app.
In may case, this is the only situation where it doesn't work.

### Steps to Reproduce / Code Snippets / Screenshots

This is the s

[2020-03-10 07:24] #6003 closed

[2020-03-10 07:31] guyca commented on #6023
Android application don't have an `onResume` method. You're probably supposed to override it in `MainActivity`.

[2020-03-10 07:31] #6023 closed

[2020-03-10 08:33] keyblade95 commented on #5987
Did you have an idea on how to solve this?

[2020-03-10 10:31] jinshin1013 commented on #5987
Would you be able to provide a minimal reproduction for me to have a look?

[2020-03-10 11:02] keyblade95 commented on #5987
This is the mobile app of my yarno morepo. It depends on an internal shared package, but you can exclude it temporarily

[react-cross-platform-master-workspaces-mobile.zip](https://github.com/wix/react-native-navigation/files/4311957/react-cross-platform-master-workspaces-mobile.zip)

[2020-03-10 11:12] jinshin1013 commented on #5987
Could you create a minimal reproduction? Preferrably on Github. I'm not too familiar with yarn monorepo to give you any meaningful insight.

[2020-03-10 14:09] keyblade95 commented on #5987
I created a new project from scratch (I included the commands in the readme). Now the error is changed...
[https://github.com/keyblade95/react-native-navigation-poc](https://github.com/keyblade95/react-native-navigation-poc)

[2020-03-10 14:09] #6005 closed

[2020-03-10 15:31] vdino96 commented on #5890
Bump

[2020-03-10 15:53] yogevbd commented on #5779
@korre This is not the correct behaviour. I'm currently working on adding largeTitle background color support.

[2020-03-10 16:05] guyca commented on #6020
Hey @tiennv-0883
I'm unable to reproduce this in the playground app. Please push a reproduction in the playground app

[2020-03-10 16:09] #6014 closed

[2020-03-10 18:47] ovcovc commented on #6020
I can confirm this does not work on iOS.

[code]
The code I posted above does not seem to work - the default push segue animation is triggered. If I set enabled to false, no animation is played at all (it kinda makes sense).

[2020-03-10 19:34] AugustoAleGon commented on #6022
@guyca @yogevbd any news?

[2020-03-11 01:09] jinshin1013 commented on #5987
@keyblade95 I've had a look at the repo and seems like you have not ran:

`react-native link react-native-navigation`

which will modify the native files required for running RNN. If you still have problems after running that you could reference the `Playground` app or the boilerplate project I've setup [here](https://github.com/jinshin1013/rnn-boilerplate).

[2020-03-11 03:29] vjtc0n commented on #5950
@guyca In my case, I don't use side menu, but this bug still appears.
Any workaround about it yet?

[2020-03-11 07:18] guyca commented on #6020
@ovcovc I'm unable to reproduce the issue. Please clone the library and push a branch with a reproduction to the playground app.

[2020-03-11 07:50] #5779 closed

[2020-03-11 07:55] guyca commented on #5950
@vjtc0n #6001 should fix other cases where `tabsAttachMode` broke. We'll publish another version this week, please test it and let us know if your it's still broken in your use case.

[2020-03-11 08:30] #5950 closed

[2020-03-11 09:26] djschilling commented on #6014
@yogevbd Thanks it works now. Great work.

[2020-03-11 09:43] djschilling opened #6028 "[v6] Issues with Dark-Mode"
### Issue Description

I have the property `UIUserInterfaceStyle` set to `Light`. If now dark mode is enabled on ios the status bar is only barely visible:

![Simulator Screen Shot - iPhone 11 - 2020-03-11 at 10 38 09](https://user-images.githubusercontent.com/3503166/76402944-6df7a300-6384-11ea-8a42-731f2e981b7e.png)

Then i tried to remove the property `UIUserInterfaceStyle` to see if this helps

[2020-03-11 14:56] keyblade95 commented on #5987
If I run `npx react-native link react-native-navigation`, I get:
[code]

[2020-03-11 17:14] joewired commented on #6022
Similar issue:

"react-native": "0.62.0-rc.5"
"react-native-ui-lib": "5.4.1"
"react-native-navigation": "^6.2.0"

duplicate symbol '_LNInterpolationBehaviorUseRGBColorSpace' in:
    /Library/Developer/Xcode/DerivedData/rwtl-hkykvjdnvqjjsneswnddljhuhfht/Build/Products/Debug-iphonesimulator/ReactNativeNavigation/libReactNativeNavigation.a(Color+Interpolation.o)
    /Users/joegarcia/Library/Developer

[2020-03-11 18:21] #6022 closed

[2020-03-11 20:40] AugustoAleGon commented on #6022
@yogevbd Thanks Appreciate it.

[2020-03-12 09:59] guyca commented on #5987
@jinshin1013 Does `yarn monorepo` generate a different project structure compared to `react-native init` ? This might be the reason why the link scripts reports success while you've noticed his project isn't linked 🤔
Just a thought..

[2020-03-12 10:14] jinshin1013 commented on #5987
@guyca yeah running link script may result in unexpected outcome. I guess it'd best to manually changes the files.

@keyblade95 Would you be able to try comparing your Android and iOS files with the Playground app or my boilerplate project I've listed above (sorry I'm on my phone so can't you the link)?

[2020-03-12 12:00] zarvedan opened #6032 "tive navigation.iml"
### Issue Description

[ENTER DESCRIPTION HERE]

### Steps to Reproduce / Code Snippets / Screenshots

[FILL THIS OUT]

---
### Environment
* React Native Navigation version: FILL THIS OUT
* React Native version: FILL THIS OUT
* Platform(s) (iOS, Android, or both?): FILL THIS OUT
* Device info (Simulator/Device? OS version? Debug/Release?): FILL THIS OUT

[2020-03-12 12:00] #6032 closed

[2020-03-12 12:01] zarvedan commented on #6032
sorry, just wanted to make a research...

[2020-03-12 12:23] keyblade95 commented on #5987
The first thing I did was to try you boilerplate project as-is... And also this failed...

[code]

[2020-03-12 13:15] EnricoGallus commented on #6012
I had exactly the same problem.
I was able to fix it by updating the podfile.
`cd ios`
`pod install`

I got some other problems with react-native-vector-icons due to the `pod install`, but looks like you don't use this package, so you should be fine.

Hope this helps you too! Happy coding

[2020-03-12 15:41] rodrigodiasf1984 commented on #4619
Inside the Stack.Screen options use ` headerTitleAlign: 'center',`!

OBS: I've used the react-navigation 5

Ex:

`import React from 'react';
 import { NavigationContainer } from '@react-navigation/native';
 import { createStackNavigator } from '@react-navigation/stack';
 import Home from './pages/Home/index';

 const Stack = createStackNavigator();

 function Routes() {
   return (
     <Navigatio

[2020-03-12 16:23] ItsNoHax commented on #5889
@yogevbd Seems like this has been lost in V5 version. Going to re-open the issue.

[2020-03-12 17:16] axlalvaro commented on #2418
Hi guys!
I was migrating for v1 to v2 and from the [docs](https://wix.github.io/react-native-navigation/#/docs/Installing) I noticed:

**1.** The search path has changed, the v2 one is:
`$(SRCROOT)/../node_modules/react-native-navigation/ios`

**2.** In AppDelegate.m, you don't need to import "RCCManager.h" any more, you have to import
`#import <ReactNativeNavigation/ReactNativeNavigation.h>` and

[2020-03-12 17:58] jhondavila commented on #5718
hay alguna forma de indicar el area desde donde inicia el gesto para retroceder de pantalla...

[2020-03-12 19:25] GioLogist commented on #5679
@guyca @ItsNoHax Sorry for the delay. This is not stale, just tested. Adding it via an options object also makes no difference,

[2020-03-13 03:19] AugustoAleGon commented on #6022
@yogevbd Today I got the same error after upgrade to the latest version of `react-native-navigation`. Even in a new app.

[2020-03-13 04:01] wincjh commented on #5665
+1

[2020-03-13 05:44] noway commented on #2318
still happening, none of the above works

[2020-03-13 06:16] AlexeyMakDes commented on #5960
+1
iOS - ok

[2020-03-13 08:26] eladgel opened #6034 "Duplicated symbols when using react-native-ui-lib"
### Issue Description

Duplicated symbols when using  react-native-ui-lib: 5.4.1
Yarn installed both libraries on a fresh project, I get these
### Steps to Reproduce / Code Snippets / Screenshots

![image](https://user-images.githubusercontent.com/412137/76603067-f3aa5880-6514-11ea-9157-5a331f877fc2.png)

---
### Environment
* React Native Navigation version: 6.2.0
* React Native version: 0.61.5
*

[2020-03-13 10:04] guyca commented on #6034
This will be fixed in the next version, for now you can use `6.2.0-snapshot.875` which contains the fix.

[2020-03-13 10:04] #6034 closed

[2020-03-13 10:04] #6021 closed

[2020-03-13 10:05] aspidvip opened #6035 "[v6] not work option: layout"
### Issue Description

not work option -> layout -> backgroundColor

[code]

everything used to work

---
### Environment
* React Native Navigation version:  "^6.2.0-snapshot.875",
* React Native version: "0.61.5",
* Platform(s) (iOS, Android, or both?): iOS
* Device info (Simulator/Device? OS version? Debug/Release?): Simulator/Device 13.3

[2020-03-13 10:41] guyca commented on #2318
@noway Can you please push a project with a reproduction?

[2020-03-13 11:24] habovh commented on #5954
I'm having kind of a similar issue with 6.2.0. For me the bottomTabs do not disappear, but adding a badge through `mergeOptions` results in the corresponding tab to "copy" the first tab + adding the badge.
If for examples tabs are like so:
[code]
and I wish to set a "1" badge to C, then I end up with the following:
[code]

Icons, text and any other option gets "copied" from the first tab in the ro

[2020-03-13 14:05] ASchwad commented on #6021
Questionable closing of the issue.

Nevertheless, I upgraded my react-native version and fixed the bug with it - still, i would have like to know how to fix it without changing the react-native version.

[2020-03-13 15:17] riamon-v commented on #4610
I tried you solution and litterally everything mentionned above. But none of theses solutions are working for me.

Any news on that issue ?

[2020-03-13 22:47] hinoryu opened #6036 "Issue Description"
### Issue Description

[ENTER DESCRIPTION HERE]

### Steps to Reproduce / Code Snippets / Screenshots

[FILL THIS OUT]

---
### Environment
* React Native Navigation version: FILL THIS OUT
* React Native version: FILL THIS OUT
* Platform(s) (iOS, Android, or both?): FILL THIS OUT
* Device info (Simulator/Device? OS version? Debug/Release?): FILL THIS OUT

[2020-03-14 02:40] skyliwq opened #6037 "v6 in use react-native-community/viewpager conflict bottomTabs disappear"
react-native-navigation Version v6 in use react-native-community/viewpager conflict bottomTabs disappear

[2020-03-14 03:07] noway commented on #2318
Sorry, don't think I have bandwidth for that... But what I found out which I hope helps someone: don't use Keyboard.dismiss and instead use `textInputRef.focus();textInputRef.blur()`, yep call focus first and then blur to actually dismiss the keyboard.

[2020-03-14 06:27] egormanakin opened #6039 "bottomTab changes icon on merge badge options"
on merge options with badge and badge color options changes bottom tab icon on first of tab navigation

[2020-03-14 06:57] egormanakin opened #6040 "v6 iOS overlay has full-height white background color"
on show overlay opens screen with full-height white background color

[2020-03-14 07:06] guyca commented on #6040
Hey @egormanakin
There was a breaking change in v6, read about it in the [changelog](https://github.com/wix/react-native-navigation/blob/master/CHANGELOG.md#600)

[2020-03-14 07:06] #6040 closed

[2020-03-14 07:10] guyca commented on #6039
Hey @egormanakin To help us better understand the issue, could you please add relevant code snippets which reproduce the issue or better yet, reproduce it in the playground app.

[2020-03-14 07:13] guyca commented on #6037
Hey @skyliwq Please fork the project and push a branch with a reproduction so we can debug this issue.

[2020-03-14 07:13] #6036 closed

[2020-03-14 07:36] Natteke commented on #3193
Is this thing work in 6.0.1?

In 6.0.1 Root types specified as any
![image](https://user-images.githubusercontent.com/24633723/76677408-fb363400-65de-11ea-996b-07c5f4ed3d9a.png)

I tried to pass an array of components / stack with children and looks like they were just ignored by navigation.
Also i cant find proper example in dock for this feature.

[2020-03-14 15:36] #5907 closed

[2020-03-14 18:16] itsam commented on #5718
you can replace MMOpenDrawerGestureModeAll with MMOpenDrawerGestureModeBezelPanningCenterView on the above gist

[2020-03-14 22:20] hubermat commented on #6039
Same problem for us. Several tabbars, then the third tab gets updated with a badge. On update, the icon and tab name switches to the one of the first tab.

Code:
[code]

Then in the third tab component, at some point in time the following code is executed, which triggers the icon/name switch:

[code]

[2020-03-15 03:34] Deain commented on #6039
Same problem when setting tabbar icons
[code]
![2A6BFF39-9336-49CB-9BBB-3C7DBCFB46C8](https://user-images.githubusercontent.com/8544120/76694692-fc379600-66b0-11ea-8c61-3a660c8045dd.png)

[2020-03-15 08:39] guyca commented on #6035
@aspidvip If you want to set a background color to a component, then you probably want to use the `componentBackgroundColor` option.

[2020-03-15 11:43] #4539 closed

[2020-03-15 12:33] guyca commented on #3193
@Natteke This is till not implemented

[2020-03-15 15:39] #5889 closed

[2020-03-16 02:34] PontesVinicius commented on #2989
I solved this error by updating the version of Android Studio.

[2020-03-16 04:40] dicka88 commented on #6021
same errro :"

    "dependencies": {
        "@react-native-community/masked-view": "^0.1.7",
        "@react-navigation/native": "^5.0.9",
        "@react-navigation/stack": "^5.1.1",
        "expo-constants": "^8.0.0",
        "install": "^0.13.0",
        "native-base": "^2.13.12",
        "react": "16.9.0",
        "react-native": "0.61.5",
        "react-native-gesture-handler": "^1.6.0",

[2020-03-16 06:56] #6039 closed

[2020-03-16 07:12] guyca commented on #5954
@habovh You issue is fixed in `6.2.0-snapshot.879`

[2020-03-16 07:26] guyca commented on #5662
Should be fixed by now

[2020-03-16 07:26] #5662 closed

[2020-03-16 07:28] ssshen opened #6044 "[V2] can i use V2 with RN0.61.1?"
### Issue Description

I use V2 in my project with RN0.59.5, and now i want to upgrade RN to 0.61.1 , but when i build release version, errors occurs. Any way to resolve or can i use V2 with RN0.61.1?

### Steps to Reproduce / Code Snippets / Screenshots
[code]
---
### Environment
* React Native Navigation version: 2.18.1
* React Native version: 0.61.1
* Platform(s) (iOS, Android, or both?): Andro

[2020-03-16 11:01] phepsi opened #6045 "[V2] dismissModal doesn't work as expected on Android when using overCurrentContext-option"
### Issue Description

In our app we are using modals with overCurrentContext-option to show overlay menus and there seems to be some issue on Android when dismissing modals on top of overCurrentContext-modal (works perfectly with iOS). I guess this has something to do how views are attached/detached on Android, but due to my limited understanding of the native Android code, no idea what would be

[2020-03-16 11:41] zabojad opened #6046 "How to style bottomTabs ?"
### Issue Description

Sorry for asking a question that might be a bit simple but I have to use `bottomTabs` for the first time and I do not see How I can style them (the tabs).

How can I style bottom tabs? (colors, text font and size, keep texts displayed even if not active, different icon if active, etc...)

---
### Environment
* React Native Navigation version: 6.2.0
* React Native version: 0.

[2020-03-16 13:08] rafaelcsa commented on #5053
I'd like to do this as well and am unable to find documentation on it. Is it actually possible?

[2020-03-16 13:46] didrikkvanvik commented on #6046
There are multiple ways you can style your bottom tabs. For example to set a default _text color_, _selected tect color_, _font size_, and _font family_ you can do the following:

[code]

[Link](https://github.com/wix/react-native-navigation/blob/master/lib/src/interfaces/Options.ts ) to the `Options.d.tx` documentation. Really easy to read!

I specify the various icons and texts for each bottom t

[2020-03-16 14:11] zabojad commented on #6046
Thanks a lot @didrikkvanvik!
I should indeed stop searching into the project documentation and instead check out the ts files directly...

[2020-03-16 14:18] hubermat opened #6049 "Pushing a screen with animated change of bottomTab visibility leads to wrong layout on iOS"
### Issue Description

From a view with bottomTabs, when I push a new screen that hides the bottomTabs animated (with animate=true in the bottomTabs options), in the pushed screen, views within a SafeAreaView do not layout correctly, i.e. Layout is not triggered during/after the hide animation.

### Steps to Reproduce / Code Snippets / Screenshots

From a view with bottomTabs, when I push a new sc

[2020-03-16 14:29] jfrolich commented on #5968
This is fixed, but now if you customize the color backbutton it has the same behavior (always black in the transition)

[2020-03-16 15:52] jarnove commented on #4304
Somebody?

[2020-03-16 16:17] GioLogist commented on #5718
Nice, good to know!

In the meantime, I still think this should be marked as not stale. cc @guyca

[2020-03-17 07:32] dozoisch commented on #4443
not stale

[2020-03-17 08:41] svenlombaert commented on #5656
Not stale

[2020-03-17 14:25] Kouznetsov commented on #4249
[Hateful anti stale bot comment stating that I also have this issue]

[2020-03-17 17:03] geroale opened #6051 "[v6][ios] WKWebView in overlay ignore its touches"
### Issue Description

By showing a WKWebView at fullscreen (for example the one from https://github.com/react-native-community/react-native-webview) on iOS in the overlay, the touches pass through the overlay and hit the navigator behind (for example the stack).
It's like the WKWebView is ignoring the touch events if inside the overlay.

### Steps to Reproduce / Code Snippets / Screenshots

The o

[2020-03-17 18:48] vishalenrique commented on #5165
@mayconmesquita  Width option does not work even when setting it from `Navigation.setDefaultOptions`.

[2020-03-17 19:30] jaredegan commented on #5454
This is still happening to me.

React Native Navigation version: 6.3.0
React Native version: 0.61.5
Platform(s) (iOS, Android, or both?): iOS
Device info (Simulator/Device? OS version? Debug/Release?): Debug. Both device & Sim. iPhone 11 Pro, iOS 13.3.1. iPhone 8 Simulator, iOS 13.3.

[2020-03-17 19:54] jaredegan commented on #5454
Here is a gif of the issue.
![large titles](https://user-images.githubusercontent.com/303795/76896017-7e69bb00-6867-11ea-8f9d-dc94a9edbba5.gif)

[2020-03-17 20:13] jaredegan commented on #5454
If I don't have a `ScrollView` as first view, then the large title shows up by default. However, since the full view isn't scrollable, it's locked to be large.

Here the component being returned:
[code]

[2020-03-17 20:16] mayconmesquita commented on #5165
@vishalenrique Which version are you using?

[2020-03-17 20:56] geroale commented on #6051
After some debugging, we have found that the issue is probably related with the hitTest implementation of the overlay window (this line here https://github.com/wix/react-native-navigation/blob/4355281d383165a78a2744b39a1b0130e7bfcf37/lib/ios/RNNOverlayWindow.m#L8)

This is caused because the WKWebView derivates from the UIView class, which is "filtered" by the hitTest, to understand if the tap is

[2020-03-17 21:08] jaredegan commented on #5454
Sorry for the rush of comments, but this workaround fixes the issue for me, should be a strong clue about what the real issue is. This is using `useNavigationComponentDidAppear` from `react-native-navigation-hooks`.

[code]

[2020-03-17 22:25] geroale commented on #6051
We found a quick fix: we changed the hitTest and removed the check for the UIView (which was too generic, filtering also the VKWebView) and added a more specific condition, that should work.

[code]

[2020-03-18 02:52] #5792 closed

[2020-03-18 06:01] harveyconnor commented on #6045
I get this issue on iOS

[2020-03-18 06:56] mrquanghuy commented on #6037
I using v6.3 have same here :( how to fix it

[2020-03-18 07:07] vishalenrique commented on #5165
@mayconmesquita
react:  16.9.0
react-native: 0.61.5
react-native-navigation: 6.0.1
Android: API 24

Btw did you find any workaround to change the sideMenu width dynamically, It certainly does not work with `Navigation.setDefaultOptions` ?

[2020-03-18 07:11] harveyconnor opened #6052 "Playground app won't install"
### Issue Description

Could not install at this time.
Failed to load Info.plist from bundle at path /Users/harveyconnor/Library/Developer/CoreSimulator/Devices/7B8E2EE9-43A6-41AD-8E53-D8A80A623A62/data/Library/Caches/com.apple.mobile.installd.staging/temp.ZT76kD/extracted/playground.app/Frameworks/RCTVibration.framework; Extra info about plist: ACL=<not found>

### Steps to Reproduce / Code Snipp

[2020-03-18 07:17] vishalenrique commented on #3439
@yogevbd  @sumesh1993  @thalesgaldino  But the same options don't work when provided through ` Navigation.setDefaultOptions`

[2020-03-18 07:51] harveyconnor commented on #6052
Details

This app could not be installed at this time.
Domain: IXUserPresentableErrorDomain
Code: 1
Failure Reason: Could not install at this time.
Recovery Suggestion: Failed to load Info.plist from bundle at path /Users/harveyconnor/Library/Developer/CoreSimulator/Devices/7B8E2EE9-43A6-41AD-8E53-D8A80A623A62/data/Library/Caches/com.apple.mobile.installd.staging/temp.fyENVU/extracted/playground.a

[2020-03-18 08:16] harveyconnor commented on #6052
I get this on the physical iPhone 6
[code]

[2020-03-18 10:53] artursvonda commented on #5565
Not stale

[2020-03-18 11:36] ArnasJack commented on #6035
I have the same issue. Also, the default background color is now black, whenever you navigate to a new screen you can see a flash of black color before it changes color based on your screen.

[2020-03-18 11:54] akemys commented on #3110
can you share your HOC code?
@markmoomoo

[2020-03-18 13:36] janlonden commented on #1086
@nenjamin2405 I have the same problem. Did you find a solution?

[2020-03-18 13:51] deanhet opened #6055 "[v6][ios] White topBar background on navigating back"
### Issue Description
I've just updated our app to use the latest React-Native Navigation. I now seem to be getting a new issue on iOS where if I navigate backwards in the app, the header blanks to a white background.

I've had a look through the changelog and there's nothing I can spot that would make this new behaviour.

![Mar-18-2020 13-41-41](https://user-images.githubusercontent.com/1846510/7

[2020-03-18 14:04] guyca commented on #1086
@janlonden Can you please fork the library and push a reproduction to your fork? We'll look into it.

[2020-03-18 18:18] vishalenrique commented on #4291
@jpgarcia  It'll be really helpful if there's a mention about `react-native-navigation-hooks` in the RNN's documentation.

[2020-03-18 21:50] jkol36 commented on #5273
did anyone find a fix for this? Where do i put  `subprojects { subproject ->
    afterEvaluate {
        if ((subproject.plugins.hasPlugin('android') || subproject.plugins.hasPlugin('android-library'))) {
            android {
                compileSdkVersion rootProject.ext.compileSdkVersion
                buildToolsVersion rootProject.ext.buildToolsVersion

                variantFilter { vari

[2020-03-18 23:35] harveyconnor commented on #6004
I made a pull for this.
https://github.com/wix/react-native-navigation/pull/5963

[2020-03-18 23:42] harveyconnor opened #6057 "showModal won't animate"
### Issue Description

When using showModal with an animation configured. It doesn't show the modal, it appears glitched in the top left hand corner of the screen (10px or so). The modal displays just fine without the animations configured.

### Steps to Reproduce / Code Snippets / Screenshots

[code]

---
### Environment
* React Native Navigation version: 6.3.0
* React Native version: 0.61
* Plat

[2020-03-19 00:12] harveyconnor commented on #6057
I appears a workaround is to place the modal in a stack.
[code]

[2020-03-19 04:43] sana948 commented on #5273
The variantFilter block logic goes inside android/build.gradle file

The `missingDimensionStrategy "RNN.reactNativeVersion", "reactNative60"` inside android/app/build.gradle file

[2020-03-19 05:18] ramesh-anandan commented on #4332
Facing the same issue, any update?

[2020-03-19 11:08] remstos commented on #5665
Happens to me as well, but only when I set an initial selected tab other than 0.
A workaround is to set the currentTabIndex with mergeOptions:

[code]

[2020-03-19 11:09] #6035 closed

[2020-03-19 11:19] phepsi commented on #6045
I was able to reproduce this with the playground app and here's what happens:

![rnn-bug-ios-2](https://user-images.githubusercontent.com/3807972/77062094-ec3af180-69e3-11ea-8fee-3e39b0642c0f.gif)

![rnn-bug-android-2](https://user-images.githubusercontent.com/3807972/77062121-f6f58680-69e3-11ea-802d-e23256f03840.gif)

So iOS works as expected, but on Android the overCurrentContext-modal actually

[2020-03-19 11:36] guyca commented on #6045
@phepsi Can you push your reproduction so I can debug the issue?

[2020-03-19 12:04] phepsi commented on #6045
@guyca You can find it here: https://github.com/phepsi/react-native-navigation/tree/issue-6045-repro

[2020-03-19 13:56] legion-zver opened #6058 "[Android] On Xiaomi Redme 5 Plus (MIUI 11) lock all navigation animations and waitForRender"
### Issue Description

When opening a wet window with a status bar style parameter, the bar does not equal to the current window broken animation (they are not reproduced)

### Steps to Reproduce / Code Snippets / Screenshots

Found it until just the Xiaomi redme 5 plus

---
### Environment
* React Native Navigation version: 6.3.1
* React Native version: 0.61.5
* Platform(s) (iOS, Android, or both

[2020-03-19 14:53] rverbytskyi opened #6059 "[v6] iOS Changing bottomTabs visibility does not affect safeArea"
### Issue Description

After hiding bottom tabs an empty space is left since the safe area of the view does not change.

### Steps to Reproduce / Code Snippets / Screenshots

[code]

With drawBehind false
![Screen-Recording-2020-03-19-at-16 37 31](https://user-images.githubusercontent.com/33003758/77079804-38e0f580-6a01-11ea-9f3d-014275dce5ef.gif)

With drawBehind true
![Screen-Recording-2020-03-1

[2020-03-19 22:14] bvelasquez commented on #5536
This is not working for me. React native 0.61.5 and react-native-navigation 6.3.0. Here are my default options, maybe I have it wrong.

[code]

[2020-03-19 23:10] #5886 closed

[2020-03-20 08:56] nenjamin2405 commented on #358
I'm using v5.1.1. I've tried the solution
[code]

But it didn't work. Any idea? :(

[2020-03-20 09:25] thomas-coinjar commented on #4304
Detox provides a solution for that already
[code]

[2020-03-20 09:31] jarnove commented on #4304
@thomas-coinjar https://github.com/wix/react-native-navigation/blob/master/lib/src/interfaces/Options.ts#L278 :)

[2020-03-20 09:55] zabojad commented on #6046
It's pretty good. The only thing I miss is a `selectedFontFamily` option in the `OptionsBottomTab` object. @guyca do you think we could add that?

[2020-03-20 12:41] #5497 closed

[2020-03-20 13:24] drewhamlett opened #6060 "Using the default Android 9 animation for stack/modal push"
### Issue Description

I think in Android 9 they introduced a new animation that I see all apps using on my phone.  The slide up animation doesn't seem to be the default anymore.  I don't think it's necessary to try to recreate this with the animation properties since it's a default thing.  Much like the default ios transition.

### Steps to Reproduce / Code Snippets / Screenshots

![ezgif-7-58cc1

[2020-03-20 14:06] RomualdPercereau opened #6061 "[v6][iOS] TopBar Buttons (RNNUIBarButtonItem) Blurred and Scaled"
### Issue Description
TopBar buttons doesn’t have the right size when used on iOS, they keep the correct height but they are scaling horizontally. If we use the exact image size (24 * 24 @2x ou @3x) the image gets blurred (like it is in the playground with sideMenu.png).
This bug occurs in every topBar : leftButtons & rightButtons.
### Steps to Reproduce / Code Snippets / Screenshots

    Navigati

[2020-03-20 18:18] mayconmesquita commented on #5165
@vishalenrique
I never managed to change successfully the sideMenu width dynamically, using `Navigation.mergeOptions`.

The only way that i can change sideMenu width, is using `Navigation.setRoot` on RNN v2.21.0 (maybe all v2+ can do that too).

You can try this code, if you use setRoot:
[code]

[2020-03-20 19:06] robauer commented on #2989
Updating is what go me into this mess.

[2020-03-20 19:51] nikolajordanovski commented on #5805
same issue

[2020-03-20 20:21] nikolajordanovski opened #6062 "| ERROR | popToRoot: Nothing to pop"
### Issue Description

Trying to check if pop screen can be called and I am getting my App crash, need to be able to track if I can pop a scree or not so to know it should pop() then push() or just push() but am getting an error witch results into App Crash -> Nothing to pop

export const goBackTo = async (componentId: string, mergeOptions?: any) => {
  await Navigation.popToRoot(componentId, merg

[2020-03-20 21:28] jpgarcia commented on #4291
@guyca what do you think? ☝️

[2020-03-20 21:58] ericschaal opened #6063 "[v6][iOS12] Side menu, ComponentDidAppear is triggered but visible is false"
### Issue Description

ComponentDidAppear is called for sideMenu although sideMenu is not visible on iOS12.

### Steps to Reproduce / Code Snippets / Screenshots
Simple side menu setup:

Root Config:
[code]

`Navigation.events().registerComponentDidAppearListener(({ componentName }) => {});`

Callback Is called for side menu although `sideMenu.left.visible: false` and side menu is not visible on s

[2020-03-21 06:09] mamoru0217 commented on #5809
I solve this problem by deleting files in `~/Library/Developer/Xcode/DerivedData`.
Maybe remaining module cache causes a problem.

[code]

[2020-03-21 07:13] mamoru0217 commented on #6037
This problem starts from [6.1.0](https://github.com/wix/react-native-navigation/blob/master/CHANGELOG.md#610), so it seems that one or some of changes in 6.1.0 causes this. (I can't make time to investigate more now 😂)

[2020-03-21 10:28] keyblade95 commented on #5987
Can it depends on a wrong Android setup?

[2020-03-21 16:11] #5924 closed

[2020-03-21 23:08] gusilveiramp commented on #5432
Same here. How to solve this?

[2020-03-22 07:56] #5849 closed

[2020-03-22 09:50] guyca commented on #4291
@jpgarcia Yes absolutely! We're almost finished rewriting the documentation and we should definitely have a section on hooks. I personally don't have much experience with hooks, if anyone would like to contribute this - please reach out to us at the `#docs` channel on our [Discord](https://discord.gg/DhkZjq2).

[2020-03-22 11:13] yogevbd commented on #6055
Couldn't reproduce it on the playground app. Can you please reproduce it there?

[2020-03-23 07:38] jinshin1013 commented on #6062
I'm not sure if I understood your problem correctly but you can just add `.catch` to `pop` method to silent the error which will prevent the crash.

[2020-03-23 07:55] jinshin1013 commented on #6052
From a quick Google search, this might be related to your local setup. Try [this solution](https://stackoverflow.com/a/42067502).

[2020-03-23 08:01] jinshin1013 commented on #6063
I cannot seem to reproduce this problem on the Playground app. Could you provide a minimal reproduction for me to have a look?

[2020-03-23 09:42] geroale commented on #6055
Same issue here. I am using only defaultOptions too.

[2020-03-23 09:43] deanhet commented on #6055
Thanks for taking a look! I'll take a look at reproducing this in the playground at some point during this week. 👍🏻

[2020-03-23 10:12] nenjamin2405 commented on #2622
I'm still having problem with this. how can I resolve it :(

[2020-03-23 10:19] #5377 closed

[2020-03-23 10:23] harveyconnor commented on #6052
@jinshin1013 Already tried that with no success.

[2020-03-23 10:23] yogevbd commented on #6055
Managed to reproduce it on a pure native iOS app. It looks like this is a bug on iOS 13 and not in rnn itself.
https://stackoverflow.com/questions/60799209/white-flash-when-popping-using-pop-gesture-on-ios-13

Next step will be to try and reproduce it on xcode-beta with the latest iOS. If it's not fixed there I will file a bug report with Apple.

[2020-03-23 10:23] nenjamin2405 commented on #2622
The current approach that I use:

If your app is using a custom InputField:

[code]

And wherever you use CustomInputField: `<CustomInputField shouldAutoFocus />`

[2020-03-23 11:02] ericschaal commented on #6063
@jinshin1013 will do!

[2020-03-23 11:28] yogevbd commented on #6055
Managed to reproduce it in the playground app and it's a different issue than the one I described above.
When current screen in stack hides the `topBar` and the next screen present the `topBar`,  there's a need to set `topBar.animate: true` in the options of the screen that hides the `topBar`.

[code]

[2020-03-23 14:38] sintylapse opened #6067 "[V6][iOS] Using SafeAreaView randomly scrolls up after opening screen"
### Issue Description

If you use self-closing SafeAreaView inside your screen with FlatList like this
[code]
and when you open screen, some times if FlatList is large you will see that your FlatList is already scrolled up a little bit. It feels like `waitForRender` some times doesn't wait for SafeAreaView.

Using self-closing SafeAreaView is necessary to prevent applying SafeAreaView for bottom o

[2020-03-23 14:38] djschilling opened #6068 "[v6] bottomBar icons cut off on Android"
On Android the icons in the bottomBar are cut off.
On iOS it works fine:

![Screenshot_1584973510](https://user-images.githubusercontent.com/3503166/77327527-a94a8800-6d1b-11ea-964b-80e07d022c8a.png)
![Simulator Screen Shot - iPhone 11 - 2020-03-23 at 15 25 06](https://user-images.githubusercontent.com/3503166/77327534-ac457880-6d1b-11ea-99ef-e1e7f2c077c2.png)

This isa part of the code i use to b

[2020-03-23 14:54] geroale commented on #6055
@yogevbd Thank you for the quick response. Unfortunately, this solution doesn't work in my case, probably because I'm not hiding the topBar from the screen's options but the stack's options. I tried to put the `animate` property everywhere (in the stack + each screen option) but it's not working. Also, I would like to confirm that this problem came with v6 and the v5 was working fine, as reported

[2020-03-23 14:55] deanhet commented on #6055
Unfortunately, can confirm much as the same above, setting animate didn't really solve anything.

[2020-03-23 15:14] ItsNoHax commented on #6068
Hi @djschilling ,

This is a known issue in react-native-vector-icons, in fact I created a issue there myself as I ran into the same problem. Please give that a thumbs up, in the meanwhile a possible solution is to patch-package the commit mentioned in the comments.

https://github.com/oblador/react-native-vector-icons/issues/1054

[2020-03-23 15:14] #6068 closed

[2020-03-23 15:15] ItsNoHax commented on #6068
Duplicate of: https://github.com/wix/react-native-navigation/issues/5539 and https://github.com/wix/react-native-navigation/issues/4951

[2020-03-23 15:42] yogevbd commented on #6055
@geroale your example helped me to reproduce it in the playground app, fixed in this PR: #6069, but still it doesn't seems the exact same issue this ticket is about.

[2020-03-23 17:13] mrarlloyd commented on #4485
+1

[2020-03-23 18:15] alan-nakagiri commented on #5995
@guyca Just following up Do you need any more information regarding this issue?

[2020-03-23 22:22] jinshin1013 commented on #6063
@ericschaal Thanks! Let me know how you go

[2020-03-23 22:22] tellodaniel opened #6071 "Tried to create view after it has already been destroyed"
### Issue Description

Tried to create view after it has already been destroyed

### Stack trace

[code]

---
### Environment
* React Native Navigation version: "6.0.1"
* React Native version: "0.61.4"
* Platform(s): Android
* Device info: Version: 9 - Release - Device Huawei ALP-L09

[2020-03-24 05:39] guyca commented on #6071
Hey @ayouidaniel
Any more insights you can give on how to reproduce this crash?

[2020-03-24 14:01] didrikkvanvik commented on #6000
I am experiencing the same issue with `bottomtabs` as well. Any progress on this issue?

[2020-03-24 14:15] MortezaAghili opened #6072 "Custom style for BottomTab items like width"
### Issue Description

I built a custom bottom navigation tab with this awesome **Wix react-native-navigation**  library like the screenshots. But there is something I looking for, customize or adding custom styles for these items or disable the selected items' styles.

all I want is to make these items equal in width. When we have 5 items, the selected item receives a more horizontal width and th

[2020-03-24 15:11] akhenda commented on #3790
Need help with this

[2020-03-24 18:05] bneigher commented on #6072
I've this issue too.  For me the fix was:
[code]

[2020-03-24 18:24] bneigher commented on #6072
Curious how your centered FAB works for you.  I did something very similar but have this issue:
https://github.com/wix/react-native-navigation/issues/5976

![image](https://user-images.githubusercontent.com/4627728/77462965-157fc700-6dc2-11ea-8257-e4624a1e7fe4.png)

[2020-03-24 21:13] Eldavid commented on #5987
I have just upgraded from v4 to v6.3.1 of RNN and I am getting the same issue. (i followed the migration guide).

[2020-03-25 01:20] ldh1428a commented on #2682
In my case `android:launchMode="singleInstance"` add to `AndroidManifest.xml`

It work for me !  😆😆😆😆😆

[2020-03-25 06:32] ldh1428a commented on #2682
In my case android:launchMode="singleInstance" add to AndroidManifest.xml

It work for me ! 😆😆😆😆😆

[2020-03-25 07:06] swapanil opened #6073 "Bottom tab bar icons having issue while swithing tabs."
### Issue Description

Bottom tab bar icons having issue while swithing tabs.

### Steps to Reproduce / Code Snippets / Screenshots

The screen recording will show you the animation [icons taking padding](https://drive.google.com/open?id=17KPcdq0b1Z_4LK9xLWhHGOqPkwwJEa7H).

#### here is my code:
[code]
---
### Environment
* React Native Navigation version: 0.61.5
* React Native version: ^6.3.1
* P

[2020-03-25 07:07] guyca commented on #5987
@Eldavid @keyblade95 What's the version of the gradle plugin your project is using? Try opening your project in Android Studio, if you're using an old version of gradle a dialog should popup and instruct you to upgrade.

[2020-03-25 08:58] Eldavid commented on #5987
I have v3.4.2 of gradle, referring to the docs it's the minimum requirement.

[2020-03-25 09:19] keyblade95 commented on #5987
I tried this approach just yesterday and I confirm it solved the issue I reported above. I opened the android folder with Android Studio and updated gradle.
The problem now is another one:
[code]

[2020-03-25 09:44] Eldavid commented on #5987
@keyblade95 which gradle and gradle plugin version do u have now?

[2020-03-25 10:37] palkerecsenyi opened #6074 "Navigation.push freezes my app on Android"
### Issue Description

I've just switched to react-native-navigation from react-navigation for my app, and I'm trying to simply navigate from one screen to another. I have a bottomTab root view:

[code]

In case it's important, here's the `optionsGenerator` function:

[code]

### Steps to Reproduce / Code Snippets / Screenshots

I have a button that I press to navigate from the Settings tab (menti

[2020-03-25 10:55] Eldavid commented on #5987
I updated the IDE and the Gradle Plugin to 3.6.1 and the Gradle to 6.3 and it works! Thank you for the advice.

[2020-03-25 11:48] palkerecsenyi commented on #6074
I figured out this was actually to do with `react-native-dark-mode` and nothing to do with `react-native-navigation` – sorry about that!

[2020-03-25 11:48] #6074 closed

[2020-03-25 13:03] ghsantos commented on #4710
any update for that?

[2020-03-25 13:21] Eldavid commented on #4093
Are you planning to implement this feature in the future?

[2020-03-25 13:36] ItsNoHax commented on #6073
Hi @swapanil ,

This is the default behavior of Android bottomtabs!
If you create a normal Android project with bottomtabs it will be the same!

![android-native](https://user-images.githubusercontent.com/4223434/77542124-fce8dd00-6ea5-11ea-8633-1499d84e9bbc.gif)

[2020-03-25 13:36] #6073 closed

[2020-03-25 13:38] ItsNoHax commented on #5976
Hey @bneigher,

Could you show me the render method of this overlay?
I remember it being possible to fix by creating an absolute positioned view.

[2020-03-25 15:34] flikQ commented on #5889
This also appears to be an issue on all iOS devices, not just on iPads. V6.3.1

[2020-03-25 17:29] remstos commented on #5815
It appears that a RN fix is coming that would solve this issue: https://github.com/facebook/react-native/pull/28236

[2020-03-25 18:05] ayouidaniel commented on #6071
I need more time to investigate since I found isn't so easy to replicate. I got that stack trace from my production app (sentry). Today I got a new related error. Here is the trace.

´´´
java.lang.RuntimeException: Tried to create view after it has already been destroyed
    at com.reactnativenavigation.viewcontrollers.ViewController.getView(ViewController.java:195)
    at com.reactnativenavigatio

[2020-03-25 18:08] sallar commented on #5815
That’s amazing 🎉🎉🎉

[2020-03-25 19:13] bneigher commented on #5976
@ItsNoHax Sure first is how I show the whole footer overlay (I have the react native navigation bottomTabs under my footer because I needed to have custom control over the icons) The footer overlay component is essentially a mask that rests on top of the footer.

[code]

Here is the footer part
[code]

I would think the ideal fix though would be to have an overlay live above the footer, no?

[2020-03-26 00:40] StasDoskalenkoHover opened #6075 "[v6][iOS13.4][debug] Bottom Tab Icons are not visible"
### Issue Description

After XCode and iOS version update In debug mode both bottom tab icons and text are not visible.

![image](https://user-images.githubusercontent.com/60673142/77598435-0763a080-6ebf-11ea-8892-de77c76d2f4c.png)

![image](https://user-images.githubusercontent.com/60673142/77598633-97094f00-6ebf-11ea-827f-145f6579a1f1.png)

### Steps to Reproduce / Code Snippets / Screenshots

R

[2020-03-26 03:41] jfrolich opened #6076 "mergeOptions of topBar, ability to customize animation (iOS)"
It would be great if it would be possible to allow a fade animation for a topBar with `mergeOptions` when showing and hiding. In most native interaction the top bar fades instead of the current vertical translation animation.

[2020-03-26 04:19] Magnai1030 commented on #6075
Same

[2020-03-26 04:34] rezasazesh commented on #6049
This was working well for me up until yesterday, I did a mode module remove and npm install and must have been a minor update of RNN that caused this

I currently have `"react-native-navigation": "^4.8.3"` in my `package.json`

[2020-03-26 05:54] coolprinze commented on #2682
This work for me

[2020-03-26 07:13] #6044 closed

[2020-03-26 11:05] exentrich commented on #6075
Same

[2020-03-26 11:22] AidenMontgomery commented on #6075
We were still on RNN 3.3.0 and saw this issue today on iPhone Simulator 13.4.
Upgraded to 6.3.1 and still saw the issue. If I run an iOS 12.4 simulator the icons and text appear OK.

- React Native Navigation version: 3.3.0
- React Native version: 0.61.5
- Platform(s) (iOS, Android, or both?): iOS 13.4

[2020-03-26 14:46] kgshv commented on #5959
"External" anchor links don't seem to work for me for some reason. Not sure why. Steps to reproduce:
- run the docs website and navigate to Playground (.../docs/playground-app)
- try clicking on the "available here" link in "You can run tests if / when you need to (list of scripts available here)"
- lands on /docs/meta-contributing#scripts but does not scroll down to the page anchor. Loading this

[2020-03-26 14:58] kgshv commented on #5959
@guyca FYI - just updated the issue to reflect current state of the docs structure

[2020-03-26 15:34] narodejesus commented on #6075
there is no issues if you build it using xcode v11.3.1 but yeah you might not able to test it in your iOS 13.4 device in debug mode. so I guess for now that will be our option.

[2020-03-26 15:54] leolusoli commented on #6075
+1

[2020-03-26 16:05] #5927 closed

[2020-03-26 16:42] dozoisch commented on #4617
not stale

[2020-03-26 22:41] dozoisch commented on #6075
Got the same issue on XCode 11.4

- Building from 11.4 if I use a iOS13.4 simulator buttons are not there, iOS12.2 simulator no issues. So it's really new Xcode + new simulator version.

[2020-03-27 09:20] #5941 closed

[2020-03-27 13:27] swapanil commented on #6073
But YouTube App don't have this effect. How they achieve this?

[2020-03-27 13:31] swapanil commented on #6073
YouTube, Swiggy, Skype and many apps don't have this effect. There is something we are missing.

[2020-03-27 13:36] ItsNoHax commented on #6073
@swapanil This is the Android bottom tab library used by react-native-navigation.
https://github.com/wix-playground/ahbottomnavigation

It's very possible that the behavior can be toggled on/off.

[2020-03-27 13:41] swapanil commented on #6073
So can you please tell me how to turn this off.

[2020-03-27 13:54] artehg commented on #6075
+1

[2020-03-27 14:33] dmitryusikriseapps commented on #6075
+1

[2020-03-27 17:50] witalobenicio commented on #6007
@guyca For some projects would take a lot of effort due to size of application or architecture problems...It's possible to use v1 with RN 0.62?

[2020-03-28 06:17] swapanil commented on #3796
what is the third parameter?
height* width * ?

[2020-03-28 09:29] stoica94 commented on #5928
We are currently on version 5.1.1 but this issue still occurs in production. What version do you recommend?

[2020-03-28 11:47] kyle-ssg opened #6078 "Topbar not animating [Android]"
### Issue Description
As far as I can tell, this has always been an issue but perhaps I'm misinterpreting how animations are supposed to work on android.

Given the following code I would expect the topbar to animate.

### Steps to Reproduce / Code Snippets / Screenshots
[code]

However regardless of if the new screen is a separate stack, or the options are placed within the component the navbar s

[2020-03-28 15:03] patrickjane opened #6079 "Unable to adjust header in nested navigators app"
### Issue Description

I've created an app with expo's wizard using the tab navigator template. This results in nested navigators as follows:

* Stack.Navigator
  *  Tab (Tab.Navigator)
      *  Search (Screen)
      *  Contacts (Screen)
      *  Visitors (Screen)
      *  Settings (Screen)
  * Chat (opened from _Contacts_ via `navitation.navigate('Chat')`)
  * Login (modal)

Now the problem is, I

[2020-03-29 04:03] markmoomoo opened #6082 "Switch Layers between React Native Layer and Objective C Native Layer"
### Issue Description

A function of goNativeLayer was added in AppDelegate.m, and bridged to React Native, but the function does not switch from react native to ios Native Layer

### Steps to Reproduce / Code Snippets / Screenshots

AppDelegate.m:
- (BOOL)application:(UIApplication *)application didFinishLaunchingWithOptions:(NSDictionary *)launchOptions
{
  // Uncomment this line to use the test

[2020-03-29 05:12] markmoomoo commented on #6082
I was trying to figure out the findViewController method which returns the UIViewController

I am guessing this is the way:

UIViewController *vc = [ReactNativeNavigation findViewController:@"Main"];
self.window.rootViewController = vc;

Above code added Main UIViewController as  a component can be imported to RN

then RN will call the function of Navigation.push('Main?', component: {name: Main})

[2020-03-29 05:54] jinshin1013 commented on #6079
I believe you are referring to [react-navigation](https://github.com/react-navigation/react-navigation).

[2020-03-29 07:49] MaliahRajan opened #6083 "Side menu animation - Clarification"
Have some ever tried out this kind of side menu animation. Is this possible over react native navigation
![animated_sidemenu](https://user-images.githubusercontent.com/16203679/77843979-cd94e180-71bf-11ea-9994-4fbceb7f272a.gif)
 ??

[2020-03-29 11:47] rosskhanas opened #6085 "TopBar buttons not rendered when waitForRender is set to true on iOS"
### Issue Description

Seems like `mergeOptions` does not work well with `waitForRender: true`.

**Without `showModal: {  waitForRender: true }`**

![image](https://user-images.githubusercontent.com/10609041/77848165-9cbaa980-71cb-11ea-8828-f22e75cb019e.png)

**With `showModal: {  waitForRender: true }`**

![image](https://user-images.githubusercontent.com/10609041/77848184-bc51d200-71cb-11ea-8109

[2020-03-29 11:52] rosskhanas commented on #6085
Seems like wrapping `Navigation.mergeOptions` into  `requestAnimationFrame` can be used as a workaround.

[code]

[2020-03-29 11:59] kyle-ssg commented on #6083
@MaliahRajan try https://www.npmjs.com/package/react-native-navigation-drawer-extension. It allows exactly this :)

[2020-03-29 13:28] Ruslan0305-git commented on #5520
look at the file app.json and package.json and check same name field both files
So rename "Name" in app.json and package.json files.

[2020-03-29 14:32] patrickjane commented on #6079
You might be right. Man this is confusing.

[2020-03-29 15:51] vedovato commented on #5987
@keyblade95 errors keep happening even after @Eldavid's suggestion

[2020-03-29 16:47] #5818 closed

[2020-03-29 16:56] batuhansahan opened #6086 "Jitsi-meet library conflicts i think"
### Issue Description

I am using [Jitsi-meet](https://github.com/jitsi/jitsi-meet/) it is video conference library
with **no navigation** working correctly
with **react-navigation** working correctly
with **react-native-navigation** there is a problem

**The problem**:

1. I kill the app from background
2. Click app, click button to join conference
3. Apps shows blank black screen but console sho

[2020-03-29 20:38] olegdev commented on #6035
Hm..  from docs i see that `componentBackgroundColor ` is for android only.
Am i wrong?

And why `backgroundColor ` not work?

[2020-03-30 06:41] stoica94 commented on #5928
Another update on this. I got the sentry report for this crash. It happens on
`Attempt to invoke virtual method 'float java.lang.Float.floatValue()' on a null object reference`

Call stack:
[code]

[2020-03-30 06:53] rf1804 commented on #6075
Got the same issue on XCode 11.4

Building from 11.4 if I use a iOS13.4 simulator buttons are not there, iOS12.2 simulator works well. So it's something with new xCode version or ios 13.4

- RN 0.61.5

- RNN ^4.6.0

[2020-03-30 11:25] Natkarock commented on #5987
Hello. I had similar issue. Try add this in your build.gradle file:
`subprojects { subproject ->
   afterEvaluate {
        if ((subproject.plugins.hasPlugin('android') || subproject.plugins.hasPlugin('android-library'))) {
           android {
                variantFilter { variant ->
                   def names = variant.flavors*.name
                    if (names.contains("reactNative51") ||

[2020-03-30 11:27] Natkarock commented on #5987
I had similar issue. Try add this in your build.gradle file.
`
subprojects { subproject ->
    afterEvaluate {
        if ((subproject.plugins.hasPlugin('android') || subproject.plugins.hasPlugin('android-library'))) {
           android {
                variantFilter { variant ->
                   def names = variant.flavors*.name
                    if (names.contains("reactNative51") || names

[2020-03-30 11:29] Natkarock commented on #5987
Try update your files by this https://github.com/wix/react-native-navigation/issues/5904#issue-560273157

[2020-03-30 11:35] Natkarock commented on #5904
why i don't see this tutorial in documentation?

[2020-03-30 11:39] talyuk commented on #5941
Have the same issue

[2020-03-30 13:25] #6075 closed

[2020-03-30 15:24] glauberfc opened #6088 "Is necessary install RN Gesture Handler to use RN Navigation?"
### Issue Description
I was reading the documentation of RN Gesture Handler in this [link](https://software-mansion.github.io/react-native-gesture-handler/docs/getting-started.html#with-wix-react-native-navigation-https-githubcom-wix-react-native-navigation). Is necessary install RN Gesture Handler to use RN Navigation yet? If not, since for what RN Navigation version is not more necessary?

[2020-03-30 15:51] KiranAtQuicken opened #6089 "Trying to pop the screen, library is using iOS's default animation of sliding from left to right"
### Issue Description

I am trying to add custom animations to the Navigation. Here is what I did.

So I have these different animations defined as:

`

    const ANIMATIONS = {
      [ANIMATION_TYPE.NONE]: ANIMATION_NONE,
      [ANIMATION_TYPE.SLIDE_HORIZONTAL]: ANIMATION_SLIDE_HORIZONTAL,
      [ANIMATION_TYPE.SLIDE_DOWN]: ANIMATION_SLIDE_DOWN,
      [ANIMATION_TYPE.SLIDE_UP]: ANIMATION_SLIDE_UP

[2020-03-30 20:24] FernandoTN commented on #5505
Same issue for me, only on iOS. Android seems to work fine.

[2020-03-30 21:03] FernandoTN commented on #5138
I'm having the same problem in V6.0.1 and iOS 13.4

With a topBar custom background component the title renders behind it and is un-clickable.

[2020-03-30 23:19] jinshin1013 commented on #6088
RN Gesture handler was never the dependency required for react-native-navigation. Their documentation just lays out what you need to do if you wanted to integrate RN gesture handler with react-native-navigation.

[2020-03-31 02:49] nenjamin2405 commented on #4325
Hi, I'm facing the same issue, it's quite annoying, is there any plan to add the changes from @minhloi to the master :(

[2020-03-31 10:39] nicoburns commented on #6089
React Native Navigation: 6.1.0
React Native version: 0.61.5
Platform: iOS
Device: Simulator

I have also had this problem. When using a stack view on iOS: configuring the push animation works fine, but the pop animation does a left-to-right slide regardless of what you set the configuration to (unless you set it to none, which does work).

[2020-03-31 10:41] KiranAtQuicken commented on #6089
@nicoburns you said **unless you set it to none, which does work** what do you mean? Please elaborate.

[2020-03-31 10:49] nicoburns commented on #6089
It's is possible to disable the pop animation entirely. But it is not possible to change it to something else.

Specifically:
[code]
will successfully disable the animation. However:
[code]
will do the default left-to-right slide. Even though the configuration ought to represent a top-to-bottom slide. I have also tried setting the opacity, and this has no effect.

[2020-03-31 10:52] KiranAtQuicken commented on #6089
Oh, so on iOS it is not possible to add custom animations for pop, right? Ok got it, thanks for the replies.

[2020-03-31 11:00] #6088 closed

[2020-03-31 12:52] cjrorvik opened #6091 "Disable elements below overlay when using VoiceOver"
### Issue Description

We recently started using the showOverlay-function as an alternative to using a modal. This works out really well. The problem, though, is that while using the app with Voice Over (for accessibility purposes), it seems like the underlying elements, below the overlay, are being accessible with Voice Over.

### Steps to Reproduce / Code Snippets / Screenshots

[code]

---
###

[2020-03-31 12:58] guyca commented on #5975
@mayconmesquita I'm unable to reproduce this in the playground app. Which StatusBar options did you declare when you've reproduced in your project?

[2020-03-31 13:07] guyca commented on #6091
Hey @cjrorvik 👋
Sounds like a great idea. We haven't put much emphasis on accessibility so there are definitely some missing features. I don't think we'll get to this any time soon, if anyone would like to pick this up it would be awesome!

I imaging a possible API for this would be:

[code]

[2020-03-31 13:34] glauberfc commented on #6088
Thanks for helping!

[2020-03-31 13:43] eladgel commented on #6075
RN 0.59.9

RNN 6.4.0 still missing

[2020-03-31 13:45] cjrorvik commented on #6091
Thanks for the reply @guyca :) I'll have a talk with my team to see if we're able to have closer look at it as well.

[2020-03-31 14:01] yogevbd commented on #5679
Tested and it doesn't seem to be broken.
This is how you should use it:
[code]

[2020-03-31 14:01] #5679 closed

[2020-03-31 14:08] yogevbd commented on #5782
Doesn't reproduce in latest RNN 6.4.0.
Sorry for the inconvenience, in iOS 13 styles act a bit different and it took a while for us to align with the new guidelines.
We are working on preventing such styling issues by adding [Snapshot tests](https://github.com/wix/react-native-navigation/pull/6081).

[2020-03-31 14:08] #5782 closed

[2020-03-31 14:31] #5446 closed

[2020-03-31 15:57] nicoburns commented on #6089
@KiranAtQuicken I believe it's possible. I think it's just a bug in this library which is causing it to not work (although I'm not sure about that). To be clear: I'm not involved in the development of React Native Navigation, I'm just a user who experienced the same issue as you.

[2020-03-31 16:13] eladgel commented on #6075
@yogevbd Any suggestion how to get the latest version of the playground that worked with RN <0.60

[2020-03-31 17:41] zabojad opened #6092 "Blank top bar on ios when using react-native-safe-area-context"
### Issue Description

I'm using [react-native-safe-area-context](https://github.com/th3rdwave/react-native-safe-area-context) to manage ios devices safe areas.

It requires to wrap each page component with `<SafeAreaProvider></SafeAreaProvider>`.

When doing so, all my stack top bar are blank (on iOS only).

Is there anyone using `react-native-safe-area-context` successfully with `react-native-na

[2020-03-31 17:51] zabojad commented on #6092
Not sure if needed but my top bar is a custom component :

    const defaultTopBarOptions =
        {
            drawBehind: false,
            backButton: {
                visible: false,
                showTitle: false,
            },
            buttonColor: "black",
            hideOnScroll: false,
            title: {
                component: {
                    name: MyHeaderToolbar,

[2020-03-31 19:03] eladgel commented on #6075
https://github.com/wix/react-native-navigation/pull/6093
Create a pr to show that rn 59.9 does not work well

[2020-03-31 23:21] tomsjansons opened #6094 "Blank screen after setStackRoot or push at intermittently on different screens"
First off, a fantastic library, thank you for all the work that these been put into it, much appreciated!

### Issue Description

We've been experiencing the weirdest behaviour.
On some android devices in some (seemingly random) instances, a screen transition will result in a blank screen.
This can't be reliably repeated, some devices experience this almost always on a 'push' or 'setStackRoot', ot

[2020-04-01 07:02] zabojad commented on #6092
@guyca @yogevbd hi guys ! Any idea on this one? It's a bit of a problem as react-native-safe-area-context is a dependency of [react-native-safe-area-view](https://github.com/react-native-community/react-native-safe-area-view) and is thus largely used by the community...

Please tell me what can be done to help you find a fix for that.

[2020-04-01 08:25] RomualdPercereau commented on #6094
This isn't related to https://github.com/wix/react-native-navigation/issues/6000 ?

And did you tried :

[code]

[2020-04-01 09:09] tomsjansons commented on #6094
hi @RomualdPercereau thanks for the suggestion. But unfortunately, this didn't help, I was able to reproduce the blank screen.

But now I've seen another weird behaviour - on one of my reproduction attempts, the screen seemed to do the animation, I got logs for the new screen, but the old screen was still showing.

It does, however, seem to take more tries to replicate the bug with `waitForRender:

[2020-04-01 09:12] stockrel commented on #5665
+1

[2020-04-01 10:39] jayshah123 commented on #6062
This can probably be avoided if there was a way to query navigation state. Is there a way to query current navigation state?
things like currently shown screen/component-id?
APIs like currently shown modals etc?

[2020-04-01 11:18] ItsNoHax opened #6096 "[iOS] Topbar flicker when changing tabs and then pushing on that tab's stack"
### Issue Description

I'm running into a weird bug which has a randomness factor to it. It seems to be some kind of race condition when updating the currentTabIndex and then directly pushing on the newly navigated tab's stack. (Only reproduces in Release version)

Gif of it happening 1/3 times:
![topbarrepro](https://user-images.githubusercontent.com/4223434/78131101-ca496200-741a-11ea-86b2-f57f6

[2020-04-01 11:28] didrikkvanvik opened #6097 "[v6][Android] Crashes when using mergeOptions to update bottomTab when topBar is present."
### Issue Description

I have 5 `bottomTabs` in my application, where we support multiple languages. When changing to another language in the app, the bottom tabs text has to change accordingly. I have therefore tried to update all five tabs using `mergeOptions`, which works fine for iOS.

_Worth mentioning:_  Only 3 of the 5 `bottomTabs` has a topBar. Android won't crash if I only update these tw

[2020-04-01 12:22] guyca commented on #6097
Hey @didrikkvanvik Please fork the library and push a reproduction to your fork. I'll look into it asap.

[2020-04-01 12:54] ItsNoHax commented on #6096
I went ahead and updated to XCode 11.4 and iOS 13.4 and still observing the same regression.

[2020-04-01 13:37] ItsNoHax commented on #6091
@guyca I wonder if the opposite is also possible, in our app we have 2 overlays that are always open even though they are invisible most of the time, I wonder if it's possible to prevent accessibility related things from seeing these overlays.

[2020-04-01 14:06] guyca commented on #5960
Hey @jinshin1013 :wave:
Android's Toolbar view doesn't support left buttons. It only supports a single icon left button, and even that is a hack.
This can be implemented by us in various ways, one naive approach which should work is to add another `TitleBar` to the `TopBar`, dedicated to the left buttons.

While I understand the importance of this task, I don't think I'll get to it anytime soon. I

[2020-04-01 14:59] hannojg commented on #5972
I have exactly the same thing going on!

[2020-04-01 17:48] yogevbd commented on #6075
@eladgel It sounds like your Podfile.lock prevents the library upgrade. Try to `rm -rfv Podfile.lock` and then `pod install`.

[2020-04-01 17:58] eladgel commented on #6075
@yogevbd
changed podfile to this:
pod 'ReactNativeNavigation', :path => '../node_modules/react-native-navigation'
When trying to pod install I get this

[!] Unable to find a specification for `React-RCTImage` depended upon by `ReactNativeNavigation`

[2020-04-02 00:10] joseananio commented on #2687
ugrading to 0.62.0 worked instantly. Well that was the new project and the old one has only react-native-navigation(~0.6.1) installed at RN version 0.61.5. So I'm about to investigate if RNN was the cause

[2020-04-02 03:32] #5962 closed

[2020-04-02 10:08] guyca commented on #6091
@ItsNoHax That also sounds like a valid use case. I have very limited experience with voice over, so I really don't know the answer to your question.

[2020-04-02 10:24] #6049 closed

[2020-04-02 10:56] #4527 closed

[2020-04-02 11:13] guyca commented on #5962
Hey @drewhamlett, Sorry for not responding sooner. As you've mentioned, this happens since you have multiple screens with the same id. I suggest you let RNN handle id's in this case, and use predefined id's only when needed.

Usually predefined id's are handy for stack or other parent layouts (not component layout) which exists only once - this allows the developer to easily manipulate these layou

[2020-04-02 14:12] guyca commented on #6092
Hey @zabojad 👋
How are you wrapping your screens?

[2020-04-02 19:28] VKabz commented on #6094
I faced the same problem

[2020-04-02 21:40] safaiyeh opened #6099 "[v6][Types] Icon type does not accept object"
### Issue Description
Icon can accept an object with different attributes

### Steps to Reproduce / Code Snippets / Screenshots

[code]

TypeScript Error
[code]

---
### Environment
* React Native Navigation version: ^6.4.0
* React Native version: 0.62.0
* Platform(s) (iOS, Android, or both?): both
* Device info (Simulator/Device? OS version? Debug/Release?): Simulator/Debug

[2020-04-02 22:00] anirudh-mehta-dap opened #6100 "[ios] React Native Navigation App won't load for iOS 13.4"
My Mac just upgraded to MacOS Catalina 10.15.4 and it updated my Xcode to 13.4 (not sure if this caused the issue but perhaps it's relevant)

I installed a fresh copy of React Native App with react-native init and installed RNN 6.4.0 but my app won't load. I tried the manual steps mentioned in the documentation using CocoaPods and Native Install but it just won't go beyond the loading screen.

Her

[2020-04-03 00:55] markorusic commented on #5841
The same issue, screens have empty spaces on android when fullscreen mode si present with react-[react-native-video](https://github.com/react-native-community/react-native-video).

[2020-04-03 03:59] vojeda commented on #2687
@joseananio . I have same problem. Could it be that RNN has something wrong? I have migrated from RN 0.54 to 0.61.5 and I have run into several bugs including this.

[2020-04-03 04:30] justcodejs commented on #2687
You might want to review your device log to see is there any hint on the problem u r facing.

[2020-04-03 08:49] hellochirag commented on #4962
Malformed calls from JS: field sizes are different.

[[84,33],[20,0],[[260,2000,1585903674435,false]],3338]

RCTFatal
-[RCTCxxBridge handleError:]
__34-[RCTCxxBridge _initializeBridge:]_block_invoke
facebook::react::RCTMessageThread::tryFunc(std::__1::function<void ()> const&)
facebook::react::RCTMessageThread::runOnQueue(std::__1::function<void ()>&&)::$_1::operator()() const
decltype(std::__1::f

[2020-04-03 10:54] xvonabur commented on #5797
@yogevbd, I'm on `react-native-navigation@6.4.0`, `react-native@0.61.5` and it doesn't work on iOS 13.3.  `UIViewControllerBasedStatusBarAppearance` was set to `NO`, but changing it to `YES` doesn't help. `visible` in static options of modal screen is ignored on iOS, but working fine on Android.

Here is an example:

[code]

Am I missing something?

[2020-04-03 12:40] elifaahmet commented on #5414
@AugustoAleGon can you share, please?

[2020-04-03 14:23] AugustoAleGon commented on #5414
@elifaahmet Sure.
`componentWillMount () {
  Navigation.mergeOptions(
    'MyView', {
      topBar: {
        rightButtons: [...]
      }
    }
  )
}`

[2020-04-03 18:13] ayouidaniel commented on #6071
I have the following users getting this error:
10 users with Android 6.0.1
1 user with Android 7
4 users with Android 8
4 users with Android 9

It might not related to a specific Android version

[2020-04-03 22:14] markmoomoo commented on #6100
I had this black screen somewhere else before.
did you try to solve this by:
[https://github.com/wix/react-native-navigation/issues/4580#issuecomment-482669978]

[2020-04-03 22:29] ayouidaniel commented on #6071
### How to reproduce
Scenario A

1. We use a bottom tab configuration
2. We open up a modal.
3. We push and pop (hardware back) in that modal stack.

Video
https://streamable.com/555mly

Scenario B
1. Push and pop (hardware back) diferent views fast.

This one gives the following trace:

[code]

Some of our configs are:
https://gist.github.com/ayouidaniel/1957038b20be5b6b076e730c030c3f2b

[2020-04-04 08:26] dzuncoi opened #6101 "[v6] [iOS] Stack layout get wrong screens order"
### Issue Description

Stack layout get wrong screens order

### Steps to Reproduce / Code Snippets / Screenshots
Setup screens in `index.js`
[code]

### Expected result
Display `Home` screen at initial, then able to navigate to `Profile` screen

### Actual behavior
Display `Profile` screen first (with back button on top bar), clicking on back button will navigate back to `Home` screen

![Simulato

[2020-04-04 10:37] #5535 closed

[2020-04-04 12:18] anirudh-mehta-dap commented on #6100
@markmoomoo No it didn't work. I have decided to move away from React Native Navigation to React Navigation. The reason for using React Native is for faster prototyping and fast to market but I found myself spending more time debugging this library which almost never works with the latest RN or iOS version. I would rather take some performance cut than lose time on debugging but thank you for your

[2020-04-04 12:37] #5930 closed

[2020-04-04 23:37] #5912 closed

[2020-04-04 23:40] samithaf commented on #6100
Could be unrelated but we noticed a similar issue with our end user monitoring software that some users were having black screen issue in certain version of OS in iPad.
The way we solved this problem was change the way we have implemented the splash screen. We changed to the implementation to use storyboard.  E.g. how to do https://medium.com/flawless-app-stories/change-splash-screen-in-ios-app-fo

[2020-04-05 05:37] #5974 closed

[2020-04-05 05:45] markmoomoo commented on #5057
@bensont1 May I ask where did you find the documentation for the class level method of
`findViewController`
how did you switched from react native layer to Native Layer with it?
Appreciated

[2020-04-05 13:09] batuhansahan commented on #6101
put the initial screen you want at end of the array.

[2020-04-05 13:42] guyca commented on #6099
Hey @safaiyeh 👋
Seems like you're referring to [ImageURISource](https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/react-native/index.d.ts#L3507) while RNN uses [ImageRequireSource](https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/react-native/index.d.ts#L3570) which is the result of requiring an image.

Should we be using ImageURISource?

[2020-04-05 13:50] #6097 closed

[2020-04-05 14:20] guyca commented on #5377
Hey guys, the fix is available in [6.4.0](https://github.com/wix/react-native-navigation/blob/master/CHANGELOG.md#640), sorry for taking so long to address this.

I understand this was mostly used to replace a component with the same component, only with different props. If all you need is to update props then you should be using [Navigation.updateProps](https://wix.github.io/react-native-navigati

[2020-04-05 15:18] guyca opened #6103 "Contributing to the Documentation"
Everyone is more than welcome to take part in this effort - either by **contributing** articles or by giving **feedback** and **suggestions**. You feedback will help us prioritise articles and improve existing articles.

## Working locally on the docs
Our documentation is powered by [Docusaurus2](https://v2.docusaurus.io/) which displays MarkDown files via GitHub pages. You don't need to be famili

[2020-04-05 17:26] deCodeIt commented on #5234
Facing similar issue where it doesn't work with iOS but it works on android.

[2020-04-05 19:06] safaiyeh commented on #6099
I believe so. The properties I defined take effect, should be reflected in the type.

[2020-04-05 20:08] markmoomoo commented on #5057
@bensont1 , did you got it work again?
I am at RNN version 4.8.1
"Settings" is the componentId in my JS code
UIViewController *visibleVC = [ReactNativeNavigation findViewController:@"Settings"];
when I debug it, visibleVC is nil in xcode.

[2020-04-05 20:52] markmoomoo commented on #5057
Yep issue still exists in 4.8.1 with RN 0.60.6
`Exception 'threading violation: expected the main thread' was thrown while invoking openNative on target Utils with params (
    "totalbrain.Profile"
)
callstack: (
 0   CoreFoundation                      0x000000019a536a5c 7519E999-1053-3367-B9D5-8844F6D3BDC6 + 1227356
 1   libobjc.A.dylib                     0x000000019a25dfa4 objc_exception_throw

[2020-04-06 04:12] guyca commented on #5959
[New docs are up](http://wix.github.io/react-native-navigation/) - amazing work everyone 😻

[2020-04-06 04:12] #5959 closed

[2020-04-06 06:20] dzuncoi commented on #6101
@batuhansahan Then again, it will display the `Profile` page first, but with back arrow, which navigate back to `Home` page when clicked. It's still wrong behavior. I wonder if I missed anything from the docs but how can a basic setup like this failed?

[2020-04-06 07:03] guyca commented on #5399
Alright, so the new docs are up and can be found [here](https://wix.github.io/react-native-navigation/). Would like to thank everyone who took part in this effort 🏅 💪

**What's next?**
We're not done yet! This is only the initial phase and there's lots more to be done. We've listed all remaining articles in https://github.com/wix/react-native-navigation/issues/6103 and everyone is more then welcom

[2020-04-06 07:03] #5399 closed

[2020-04-06 08:08] #6100 closed

[2020-04-06 08:32] guyca commented on #6101
@dzuncoi This is the correct order. The screen at index 0 will be displayed at the bottom of the stack.

[2020-04-06 08:32] #6101 closed

[2020-04-06 08:49] guyca commented on #6099
Oh actually you're probably referring to [ImageResolvedAssetSource](https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/react-native/index.d.ts#L3672) which is the result of `Image.resolveAssetSource(value)` where value is of type `ImageRequireSource`.

@safaiyeh Want to submit a PR? It's probably a small change to [processImage](https://github.com/wix/react-native-navigation/blob

[2020-04-06 10:20] ArnasJack opened #6104 "Screen alpha transition gets blocked by elementTransitions"
### Issue Description

When transitioning to the new screen using `sharedElementTransitions` alpha transitions of the screen seem to get blocked. Looks like it gets stuck based on the final transition of the items in `elementTransitions`.  It will remain stuck until the longest element transition is finished.  If I remove `elementTransitions` completely it works fine. I can see that there is a `st

[2020-04-06 14:58] guyca commented on #6104
@ArnasJack
Have you tried providing your own fade animation when pushing the screen?

[code]

[2020-04-06 15:19] ArnasJack commented on #6104
@guyca That's brilliant, thank you. It fixed the issue. Closing this down.

[2020-04-06 15:19] #6104 closed

[2020-04-06 15:43] markmoomoo commented on #6082
Thanks I have worked out the problem by:
UIViewController * reactnativeVc = [ReactNativeNavigation findViewController: @"componentIdInJs"]
then [reactnativeVc presentViewController:<here is the native viewcontroller> animated:YES completion:nil];

[2020-04-06 15:43] #6082 closed

[2020-04-06 17:15] safaiyeh commented on #6099
Sure! I can check it out tonight.

[2020-04-06 19:58] cspicuzza opened #6105 "sharedElementTransition using default push settings"
I'm using the following: RNN 0.6.4, RN 0.61.5

I'm trying to get a fixed full screen background image to stay while transitioning to a new view.  I'm loosely following the example in the docs but not making any progress.

Is what I'm attempting even possible?  Do sharedElementTransitions work with the default push animation?

[2020-04-07 05:20] #5688 closed

[2020-04-07 09:44] skyliwq commented on #6037
+1

[2020-04-07 09:58] Doaa-Ismael opened #6106 "Black screen on IOS when application restarts"
when application restarts (for changing language for example) black screen appear for seconds then my screens show up.
V3 was showing white screen not black screen I thought it was white screen because it is the background color in my rootView in IOS AppDelegate.m

[code]
but after I changed it to red it still white (in version 3) , so where can I change it this background color ?

![Simulator Scr

[2020-04-07 09:58] remstos commented on #5818
@msqar Have you found any way to remove this effect?

[2020-04-07 10:01] zabojad commented on #6092
Hey @guyca !

There are wrapped with Redux provider, Redux persister, Intl provider and finally this `SafeAreaProvider` (that I've removed).

Here is my wrapping code:

    function register(name) {
        Navigation.registerComponentWithRedux(
            name,
            () => cmpsMap.get(name),
            AppProviders,
            {store:store, persistor:persistor}
        );
    }

    cons

[2020-04-07 10:17] guyca commented on #5818
@msqar @remstos You can set the `fontSize` and `selectedFontSize` to be the same value. This will effectively prevent the font size animation.

[code]

[2020-04-07 10:45] garydevenay commented on #6100
I am currently experiencing this issue, though only when building in release mode (iOS) on a physical device. I have also tried the suggestion in #4580 but it doesn't solve the issue.

The launch screen will display and then everything goes black. This doesn't happen when building in debug mode on the Xcode simulator.

[2020-04-07 12:06] nightfrog-choe opened #6107 "[iOS] Default React Native Screen turns black"
### Issue Description

[1] I create react-native project via `@react-native-community/cli` with TypeScript template
(`npx react-native init MyApp --template react-native-template-typescript`)

[2] `yarn add react-native-navigation`
[3] `npx react-native link react-native-navigation`
[4] Fix index.js as below
[5] `yarn ios`

![스크린샷 2020-04-07 오후 9 00 11](https://user-images.githubuserconten

[2020-04-07 12:08] guyca commented on #6037
Hey @skyliwq @mamoru0217 @mrquanghuy  Please fork the project and push a branch with a reproduction so we can debug this issue.

[2020-04-07 12:31] francbelak commented on #5633
This is still happening in current version 6.4.0 in combination with react-native 0.62.1

[2020-04-07 12:37] flikQ commented on #5889
You can see a video of the replication here: https://d.pr/v/My6YCg

[2020-04-07 12:54] flikQ commented on #5889
@yogevbd as no-one seems to be seeing this issue. The iPad fix issued doesn't resolve.

[2020-04-07 13:06] guyca commented on #5889
Hey @flikQ ! 👋 If you could fork the library and push a reproduction to the issue to your clone, that would help us a lot debug this issue.

[2020-04-07 14:15] guyca commented on #6092
Hmmm it seems like you're using a deprecated api to register your screens. Please try registering your screens with providers as explained in the [docs](https://wix.github.io/react-native-navigation/api/component#registering-a-component-wrapped-with-providers) and let us know if it helps.

[2020-04-07 14:34] sorokin0andrey commented on #5723
not stale lol

[2020-04-07 16:23] Doaa-Ismael commented on #6107
make sure that linking done correctly so ios/yourAppName/appDelegate.m contains this code
[code]

[2020-04-07 16:39] nightfrog-choe commented on #6107
@Doaa-Ismael
[code]

Maybe It is different a bit because react-native 0.62 support Flipper by default.

[2020-04-07 16:55] dorthwein commented on #5782
When changing orientation this still happens in the latest snap as of today.

Reproduce - Set tabs correctly, -> rotate to landscape mode -> unselected tab colors will be blue.

[2020-04-07 18:09] garydevenay opened #6109 "Options don't change bottomTabs style"
### Issue Description
Setting options for bottomTabs don't affect tab styling.

### Steps to Reproduce / Code Snippets / Screenshots
![image](https://user-images.githubusercontent.com/722306/78704058-31778280-7903-11ea-9608-fbdbaf4c036f.png)

[code]

---
### Environment
* React Native Navigation version: 6.3.1
* React Native version: 0.60.5
* Platform(s) (iOS, Android, or both?):iOS
* Device info

[2020-04-07 20:52] bneigher commented on #5723
not stale.

FWIW - I have a post install patch that fixes the issue for me, its just annoying to have to make my own edits to this:  ./node_modules/react-native-navigation/lib/ios/RNNUIBarButtonItem.m

[code]

@sorokin0andrey lmk if this works for you and hopefully if its legit the wix team can get this changed in the source

[2020-04-08 02:02] nightfrog-choe commented on #6107
@guyca
This is a **BASIC** Installation method of React Native Navigation but it doesn't work.
Therefore I think It is a critical issue.

[2020-04-08 04:23] ihsaninh commented on #6107
Yeah, i got some issues to, i found to fixed that.

[code]

[2020-04-08 04:26] nightfrog-choe commented on #6107
@ihsaninh
Wow. Are you genius? Thank you!

@guyca
You need to fix an example on this documentation! https://wix.github.io/react-native-navigation/docs/installing#update-indexjs-file

[2020-04-08 09:21] remstos commented on #5818
Thanks for this @guyca , unfortunately the icon still moves up a little bit on selection

[2020-04-08 09:24] #6107 closed

[2020-04-08 09:58] snairsumith commented on #5234
Same .Any Updates ?

[2020-04-08 13:07] dorthwein opened #6111 "[v6] Bottom Tab Color reverts to blue when rotating to landscape mode."
### Issue Description

When changing orientation, selected tab text color reverts to default blue color.

### Steps to Reproduce / Code Snippets / Screenshots
Reproduce: Set tabs correctly -> rotate to landscape mode -> selected tab color will be blue.

[code]
---
### Environment
* React Native Navigation version: 6.4.0-snapshot.924
* React Native version: 0.61.5
* Platform(s) (iOS, Android, or bo

[2020-04-08 13:14] deCodeIt commented on #5234
@guyca Can you look at this or point us to where we can look. I've got no experience of swift otherwise would have looked at this myself had it been on android.

[2020-04-08 13:39] guyca commented on #6107
Thanks @ihsaninh @nightfrog-choe And sorry for the confusion.

[2020-04-08 22:38] zabojad opened #6112 "Can't get overlay interceptTouchOutside option working"
### Issue Description

I have a little `Notification` overlay component similar to this [one](https://wix.github.io/react-native-navigation/docs/overlay/#handling-touch-events-outside-the-view)

When it appears, the scroll of the page below is blocked, on both ios and Android.

What did I do wrong?

### Steps to Reproduce / Code Snippets / Screenshots

My Code :

[code]

The way I show the overlay

[2020-04-09 01:32] jfrolich opened #6113 "Support for RN0.63 PlatformColor"
Currently there is a problem with implementing dark mode with RNN, as the API is imperative we need to update the UI with `mergeoptions` when the mode changes from light to dark (and the other way around). This is especially tricky when multiple screens are active (like in a stack). Also sometimes it plainly doesn't work (probably unrelated bugs in `mergeOptions`). React-Native is going to impleme

[2020-04-09 04:27] batuhansahan commented on #6112
If you registered screens with Gesture Handler its the problem

[2020-04-09 07:10] manuhook opened #6114 "[v6] iOS mergeOptions topbar backButton color"
### Issue Description
Hi @yogevbd,

Since V6 mergeOptions on topbar backButton color is not working as expected anymore.
The first call to mergeOptions has no effect.
It was working correctly on RNN < V6 and it's fine on android.

### Steps to Reproduce / Code Snippets / Screenshots

[code]

No effect at all.
If I call a second time mergeOptions but with a different color :

[code]

The backButton

[2020-04-09 07:18] jfrolich commented on #6113
Actually PlatformColor will expose `DynamicColorIOS` to do this, didn't interpret the PR correctly. This also means this solution will only work on iOS, and not Android. Does anyone have an idea how to best resolve this? Perhaps RNN can implement a way to elegantly handle dark mode colors.

[2020-04-09 09:07] #5977 closed

[2020-04-09 11:11] zabojad commented on #6112
ah, you mean the `gestureHandlerRootHOC` from `'react-native-gesture-handler'`?

Yes I did.

Isn't it something we should fix (maybe in `'react-native-gesture-handler'`)?

As a workaround, I could perhaps not wrap the overlay screen with `gestureHandlerRootHOC` as I actually do not use gestures there...

[2020-04-09 11:16] jinshin1013 commented on #6103
Hey! I know I've tried to get this doc done for ages but here we are: #6116 this adds `React Context API` and `MobX` integration.

[2020-04-09 12:06] weiningtry7 commented on #5522
the same problem

[2020-04-09 12:07] xvonabur opened #6117 "[v6] Jumping Splash Screen image on Android"
### Issue Description

Using `setRoot` animation results in moving up splash screen image just before rendering first screen. It happens in 6.4.0 release AND current master.

### Steps to Reproduce / Code Snippets / Screenshots

Add `setRoot` alpha animation:

[code]
Demo:

![jump](https://user-images.githubusercontent.com/616857/78892746-98677980-7a72-11ea-8199-5261de17da51.gif)

Reproduced in pl

[2020-04-09 13:03] Ayurshi commented on #5665
+1

[2020-04-09 13:18] garydevenay commented on #6109
I upgraded this to v6.4.0 which resolved this issue.

[2020-04-09 13:18] #6109 closed

[2020-04-09 13:48] haneul512 opened #6118 "noBorder does not get applied when largeTitle is visible"
### Issue Description

noBorder: true does not get applied when largeTitle is visible

### Steps to Reproduce / Code Snippets / Screenshots

[code]
---
### Environment
* React Native Navigation version: 6.4.0
* React Native version: 0.61.5
* Platform(s) (iOS, Android, or both?): iOS
* Device info (Simulator/Device? OS version? Debug/Release?): Simulator & Device

[2020-04-09 14:16] msqar commented on #5818
@remstos exactly, and there's a bubble animation when you tap on the icons, that grows and changes opacity

[2020-04-09 21:29] zabojad commented on #6112
ok, I can confirm that not wrapping my Notification component in `gestureHandlerRootHOC` solves the problem. Thanks a lot @batuhansahan !

[2020-04-09 21:29] #6112 closed

[2020-04-09 21:30] zabojad commented on #6112
PS @guyca  that could be added as a note in the documentation as `'react-native-gesture-handler'` is used a lot by the community...

[2020-04-09 23:07] #5980 closed

[2020-04-10 03:13] cinder92 commented on #5929
same issue here

[2020-04-10 05:46] skyliwq commented on #5222
+1

[2020-04-10 07:55] arjndr opened #6119 "iOS searchBar submit event"
### Issue Description

There is currently no way of listening to submit event of searchBar in the topBar, when the keyboard's submit button is pressed, it would be a good and useful feature imo. Almost 2 years later and this feature is still completely non-existent (#3985, #3944)

### Steps to Reproduce / Code Snippets / Screenshots

No

---
### Environment
* React Native Navigation version: 6.4.0

[2020-04-10 10:56] snairsumith commented on #5042
@m00gl3 did you find any solution regarding this?
I have same issue .

[2020-04-10 11:05] jayasme commented on #4757
I want to say a thank you to my life saver!

[2020-04-11 04:14] #5550 closed

[2020-04-11 04:14] #5998 closed

[2020-04-11 04:14] #5997 closed

[2020-04-11 04:14] #5916 closed

[2020-04-11 04:14] #5979 closed

[2020-04-11 09:04] djschilling commented on #6028
o guess nothing changed here?

[2020-04-11 11:06] snairsumith commented on #5505
Yes me too same issue any updates?

[2020-04-11 11:58] snairsumith commented on #5468
@davidmarinangeli did you find any solution ?

[2020-04-11 12:48] snairsumith commented on #5138
I have also. Same issue.

[2020-04-12 03:58] #5732 closed

[2020-04-12 07:31] webmasterdragon commented on #4861
Any update fix this issue?
It is really critical when I try to authorized page modify(maybe design), hot reloading is redirect auth page every time.

[2020-04-12 13:25] dorthwein commented on #6111
As an update - I can confirm that text colors do not get set at all on land scape mode - it is not just when rotating.

[2020-04-12 13:54] 9Lukas5 commented on #4069
As I'm researching for this problem as well, I'd like to ask something further on this @guyca

If I have three buttons on the right side, and I want to set one of them disabled, I'd have to merge the rightButtons array, which would make the other two buttons disappear.
So I have to track the desired state for all buttons on the right side, as I have to replace all of them, to just enable/disable a

[2020-04-12 14:05] vanthang91 opened #6121 "[v4] -> [v6] [Android] Still getting UNAUTHORIZED_OVERLAY error while we use react-native-youtube."
### Issue Description
Hi, this issue is probably duplicated but my app is totally dependant on your lib, please help me.
I always get UNAUTHORIZED_OVERLAY error when playing the video inline.
I tried all versions from v4 to v6 but no luck. I also see all changes of commits and PRs below.
Please take a look. Thank you so much!!

Related issues #4256, PR #5999, PR #5903

---
### Environment
* React

[2020-04-12 21:02] dmexs commented on #5366
Has this issue been fixed? I'm on 3.3.0 and wondering if it'll be fixed by upgrading.

If not I guess I'll use a short timer after setRoot before I modify my redux state.

[2020-04-12 21:50] cursivedgreat commented on #6021
same error

[2020-04-12 23:11] GlisboaDev commented on #3863
@wesdewitte @Natteke I went through the same issue (React Native 0.62 / RNN 6.3.1) and I think I've found a work around.
It seems on android it won't work unless you have an interactive component inside it, also you must have `pointerEvents` undefined.
So for me the final code that got it working (didn't test production yet, but locally it seems to solve it):
[code]
with `Button` being a simple bu

[2020-04-12 23:22] dorthwein opened #6122 "[V6] Drawer height stuck in landscape height even if changes to portrait."
### Issue Description
If app starts in Landscape mode, then changes to portrait, the drawer "touchable" height remains the same as if it were in landscape.  Content will render though IF you set a height.

### Steps to Reproduce / Code Snippets / Screenshots

Create app with scroll view in drawer -> start app in landscape mode -> rotate to portrait -> try and scroll/touch press bottom portion of m