[2020-10-12 11:33] chrise86 commented on #6549
Not stale :(

[2020-10-12 11:34] chrise86 commented on #6549
This was previously confirmed as a bug.

[2020-10-12 12:06] danilobuerger commented on #6513
This is a known bug on iOS: https://openradar.appspot.com/21072905
Nothing we can really do about it in RNN.
It does work however, if top + bottom = 0 and left + right = 0. So in your example:
[code]

[2020-10-12 12:06] #6513 closed

[2020-10-12 12:53] danilobuerger commented on #6667
Thats expected with your layout and not a bug.

[2020-10-12 12:53] #6667 closed

[2020-10-12 14:23] sallar commented on #6565
@ArekChr what do you mean?

[2020-10-12 14:24] ArekChr commented on #6565
It doesn't work on version 7

[2020-10-12 17:23] smn-snkl commented on #5750
@idanlo did you solve the issue? Having the same problem ...

[2020-10-13 07:43] #6055 closed

[2020-10-13 08:18] eightyfive commented on #3941
I'm using `react-native-navigation@^4` and I can confirm the event is not fired both in iOS 12 & 13 (Simulators).

[2020-10-13 09:20] calumgould opened #6669 "BackButton testID not set when passed to setDefaultOptions"
### Issue Description

Having issues selecting the back button when setting a `testID` in `setDefaultOptions`.

Have also tried setting the `testID` in the component itself and the element still isn't being found.

Noticed there was meant to be a fix in `6.9.0`

### Steps to Reproduce / Code Snippets / Screenshots

Give `backButton` a `testID` like this:

[code]

Then trying to select the `testID:

[2020-10-13 10:17] sararodriguez85 commented on #6667
I have never seen an App with two back buttons 👯 . @danilobuerger how can I simply push the tab layout if it's not a "bug" :flushed:

[2020-10-13 10:18] danilobuerger commented on #6667
@sararodriguez85 As explained above this issue tracker is for bugs or feature requests. Please ask your usage questions on stack overflow or discord.

[2020-10-13 10:24] sararodriguez85 commented on #6667
@danilobuerger Docs says you can push a layout and I am pushing a layout which leads to multiple top bars. Isn't that an issue? RNN should not be adding multiple top bars :exploding_head:

[2020-10-13 10:26] mateioprea commented on #6667
@sararodriguez85 you cannot push a stack into a stack.

[2020-10-13 10:39] xapai commented on #5890
Thanks! It has been resolved for me too. Combination of updates and my own code glitches. Thanks for checking this issue out, @guyca! Have a great day!

[2020-10-13 10:42] sararodriguez85 commented on #6667
@mateioprea thank you so much! I am new to React Native Navigation library and some concepts.

There are so many people out there like me who just follows your fabulous docs and trying to create an App. Thank you so much for everyone who put their personal time to maintain this project.

Also in a note, please just don't close the defect as it was done at the first time. could have used same effor

[2020-10-13 11:18] guyca commented on #3941
@eightyfive screenPopped event works as expected on latest RNN, please upgrade and open a new issue with a reproduction if you think there's still an issue 👍

[2020-10-13 12:17] thanksyouall opened #6670 "How can I manage layout position?"
I want to add a swipe back for Android. And I use react-native-gesture-handler. But I don't know how to update a position of layout in realtime. How can I manage the layout position?

[2020-10-13 14:26] #5888 closed

[2020-10-13 15:06] #6670 closed

[2020-10-13 18:07] danilobuerger commented on #5552
Fixed by #6671

[2020-10-13 19:10] danilobuerger commented on #5045
Fixed by #6671

[2020-10-14 01:00] jehee-choi opened #6673 "how to translucent statusbar in Android?"
### Issue Description

I want to set StatusBar translucent.
IOS is fine.
when modal is open(called showModal),
It only shows grey color status bar when I set statusBar translucent in Android.

### Steps to Reproduce / Code Snippets / Screenshots

 Navigation.mergeOptions(this.props.componentId, {
            statusBar: {
                backgroundColor: "transparent",
                style: "dark"

[2020-10-14 02:02] Hemistone commented on #5446
Any Updates?
I also changed `View controller-based status bar appearance` as `true`, but I think this setting can make react-native's `StatusBar` component not workable.
I'm not using any `StatusBar` component for now so it does not make any issues, but I'm curious about does react-native's `StatusBar` Component still works with `View controller-based status bar appearance` as `true`.

[2020-10-14 06:51] shankarGdev commented on #6623
Adding `multiDexEnabled true` in `android/app/build.gradle` fix issue for me

[code]

[2020-10-14 07:17] #6673 closed

[2020-10-14 10:05] zabojad commented on #6652
@guyca what can we do to help prioritize this issue?

[2020-10-14 13:38] #6290 closed

[2020-10-15 07:09] danilobuerger commented on #6652
@zabojad The best way to get somebody to respond to your ticket is to just wait. Spamming github notifications on random maintainers is not helpful.

[2020-10-15 07:19] mateioprea commented on #6652
@zabojad I have a custom Touchable component in the TopBar and it works. Can you fork this lib and create an example on the playground with your use case?

[2020-10-15 08:23] zabojad commented on #6652
@mateioprea I'll provide a reproducer but in the meantime, can you confirm you are using a custom **background** component? Like in this conf:

[code]

If you are using a "title" component, then yes you won't have this issue but then you also won't have full control over the topbar paddings...

@danilobuerger I hardly see how my few messages can be qualified as "spamming". I'm just trying to ask f

[2020-10-15 08:30] danilobuerger commented on #6652
@zabojad If everybody sends a "few messages", it adds up. Your assertion on why issues get closed is wrong. Most of the time issues get closed because the OP did not explain it well enough and did not provide an adequate reproduction. The better the issue is describe by the OP and the easier the reproduction (i.e. fork of the playground app) the more likely it is somebody will actually investigate

[2020-10-15 08:41] zabojad commented on #6656
How logical and senseful it is to tag a question "stackoverflow", close it without any answer to the original issue and send it far away from this repo (where obviously we have most users of the lib that could help)... I really do not get it.

[2020-10-15 10:21] mateioprea commented on #6652
@zabojad I just tested it and it works:

This is my Header component:

[code]

This is my config for TopBar:

[code]

This is a demo: https://www.dropbox.com/s/i445sh0hfqcw4m9/Screen%20Recording%202020-10-15%20at%2013.21.04.mov?dl=0

[2020-10-15 12:32] guyca commented on #6656
@zabojad The behavior you're observing on Android isn't by design. We'll implement this feature this quarter.

[2020-10-15 12:34] guyca commented on #6673
https://wix.github.io/react-native-navigation/api/options-statusBar#translucent

[2020-10-15 12:38] zabojad commented on #6656
Thank you @guyca for your attention. Should I open another issue so that you keep track of this or will you manage it yourself?

[2020-10-15 13:20] jordoh commented on #6652
I've found that you can interact with background components on iOS, but not on Android.

On Android, the background view is inserted as the first view in TopBar.java, so presumably other views (e.g. the title) are over top of it:
[code]

Patching the `addView` call to remove the `0` results in a background component that can be interacted with, though it may have other ramifications, depending on

[2020-10-15 13:24] zabojad commented on #6656
@guyca just in case it accelerate the resolution, here is a reproducer: https://github.com/zabojad/react-native-navigation/tree/issue_6656

It happens actually on both Android and iOS.

I have the feeling that there should actually be an option for choosing if the overlay should render over the drawer or not...

[2020-10-15 13:27] guyca commented on #6656
We'll add the ability to attach Overlays to specific layouts. You'll then be able to attach an overlay to the center stack, the drawer will appear above it.

We're tracking this issue internally, but you can open an issue here as well if you wish to stay in the loop.

[2020-10-15 13:52] zabojad commented on #6652
Just tried on iOS while preparing a reproducer and indeed, it works on iOS. The problem is Android only.

In case it is still needed by the dev team, here is a reproducer: https://github.com/zabojad/react-native-navigation/tree/issue_6652

[2020-10-15 14:14] zabojad commented on #6656
@guyca Well, can you please just reopen this issue as it already contains description and reproducer about this problem?

[2020-10-15 15:14] #6650 closed

[2020-10-15 17:17] julian-baumann opened #6675 "Feature Request: ability to style iOS large title independently"
### Issue Description

I would appreciate if it would be possible to apply some styles independently only on the large title and not on the "small" default header. In particularly, "backgroundColor", "noBorder" and "translucent" to allow making it look more recent.

Wanted behavior:
![wanted-behavior](https://user-images.githubusercontent.com/39265507/96162903-6c451d80-0f19-11eb-815d-b92bf3f07e42.

[2020-10-15 17:21] julian-baumann commented on #6675
Sorry duplicate of #6565
I am closing this.

[2020-10-15 17:21] #6675 closed

[2020-10-17 09:50] danilobuerger commented on #6636
Fixed in #6674

[2020-10-17 09:50] #6636 closed

[2020-10-17 12:29] danilobuerger commented on #6565
@ArekChr it doesn't work because this is a feature request. Somebody will have to implement it first.

[2020-10-17 12:38] danilobuerger commented on #6652
Bug is reproducible on iOS 12.4 too. However, not present on iOS 14.0.

[2020-10-17 12:43] callaars opened #6678 "Custom SwiftUI component untapable"
### Issue Description

I've got a custom SwiftUI component with a `Button`. That button, however, does not seem to recognise the tap. I know it's due to how RNN uses the `rootViewController` but I can't seem to figure out how to mitigate this.

I'm sorry if this is not the right place for it, but I can't seem to get answers anywhere else.

Are there any known workarounds for this?

### Steps to Re

[2020-10-17 12:54] danilobuerger commented on #6652
However, on iOS 14, top bar buttons are displayed underneath the background which is not correct.

[2020-10-17 12:56] danilobuerger commented on #6652
I accidentally tagged this as a bug, but we should first of all discuss if this is even something that we want to support.

[2020-10-17 13:09] danilobuerger opened #6679 "topBar background component is above buttons on iOS 14"
### Issue Description

When setting a topBar background component, it is being rendered above the right buttons on iOS 14:

iOS 12.4            |  iOS 14.0
:-------------------------:|:-------------------------:
![Simulator Screen Shot - iPhone 8 (12 4) - 2020-10-17 at 15 06 30](https://user-images.githubusercontent.com/996231/96337861-586cf900-108a-11eb-9a6a-51822a68793a.png)  |  ![Simulator Scre

[2020-10-17 13:09] danilobuerger commented on #6679
I came across this while investigation #6652.

[2020-10-17 17:03] danilobuerger commented on #6678
I don't think you will get much of a response about it here. I think your best bet would be to do a deep dive yourself and fix it.

[2020-10-17 17:23] danilobuerger commented on #6678
One thing I noticed, I don't think your usage of the `UIHostingController` is correct. This should be embedded, as per the docs:

You are instead just returning its containing view which might work in some cases (showing up on screen) and not others (intercepting touches). Maybe.

[2020-10-17 18:01] callaars commented on #6678
Thanks @danilobuerger I didn't even see that. You're right.

[2020-10-17 18:01] #6678 closed

[2020-10-17 18:04] danilobuerger commented on #6678
So I got curious and investigated it. It works without a problem for me, after specifying a width and a height in js land:

SwiftUIButtonProxy.swift
[code]

SwiftUIButtonManager.m
[code]

Button.tsx
[code]

[2020-10-17 18:09] danilobuerger commented on #6652
After talking about it, we feel like that the `topBar.background` should not be able to handle touches. So the current behavior is correct and we don't want to modify it. You can still use a transparent title component to handle the touches. I know that there are some issues with it not stretching the whole width in some cases, but this is something that we are open to change. Feel free to submit

[2020-10-17 18:09] #6652 closed

[2020-10-17 18:21] callaars commented on #6678
Hm, I'll check when I'm home. You're the real MVP.

[2020-10-17 20:54] mrousavy commented on #6535
still relevant.

[2020-10-17 20:59] mateioprea commented on #6594
@danilobuerger maybe we can close this. if we want the docs maybe cherry pick from #6611 ?

[2020-10-17 21:00] danilobuerger commented on #6594
@mateioprea Yeah, we should still update the docs. Can you create a new pr with the cherry pick?

[2020-10-17 21:14] mateioprea commented on #6594
yup

[2020-10-17 21:34] mateioprea commented on #6594
Done https://github.com/wix/react-native-navigation/pull/6680

[2020-10-17 21:34] #6594 closed

[2020-10-18 04:16] guyca commented on #6533
@yogevbd Can you please add a link to the ticket? Thanks! 👍

[2020-10-18 11:52] eightyfive opened #6682 "Impossible to install v2 (Pod)"
## 🐛 Bug Report

I cannot install ReactNativeNavigation Pod using version `^2`. I get the following error message when running `pod update`:
[code]

Basically:
[code]

## Your Environment

* React Native Navigation version: `2.29.0`
* React Native version: `0.59.9`
* Platform(s) (iOS, Android, or both?): iOS
* Device info (Simulator/Device? OS version? Debug/Release?): iOS debug build

[2020-10-18 13:24] guyca commented on #6682
Hey @eightyfive 👋
I'm sorry but previous versions are not supported, you're welcome to upgrade to the latest version.

[2020-10-18 13:24] #6682 closed

[2020-10-18 13:54] idkjs opened #6684 "V7 Next index.js error: `AppRegistry.registerComponent` wasn't called."
## 📚 Documentation

The doc instructions for installing and running the next branch produces `AppRegistry.registerComponent` wasn't called.

### Have you read the [Contributing Guidelines on issues](https://wix.github.io/react-native-navigation/docs/meta-contributing)? Yes

### Reproduction
-- reproduction is here->[WixSevenStarter](https://github.com/idkjs/WixSevenStarter/tree/wix-nav)

1. create

[2020-10-18 14:07] eightyfive commented on #6682
As I suspected, fair enough, I'm running an oooold version.

My problem is v3 requires AndroidX afaik, but am running RN < 0.60 which does not support AndroidX as far as I know...

Anyway, I will try to upgrade.

[2020-10-18 14:28] guyca commented on #6534
@alpha0010 ,the reproduction you submitted doesn't contain `waitForRender: true`. Adding waitForRender to the setRoot animation works as expected.

[code]

I'm keeping the issue open for now as I'm waiting for your response.

[2020-10-18 18:19] guyca commented on #6594
Yes!! So happy this didn't get left behind 🔥

[2020-10-19 05:49] danilobuerger commented on #6684
Did you update your app delegate?

[2020-10-19 07:02] vdino96 commented on #6573
bump

[2020-10-19 07:21] #5971 closed

[2020-10-19 09:38] #6684 closed

[2020-10-19 09:46] idkjs commented on #6684
@guyca Thank for the update. Still getting an error. Here is the result of running `pod install --project-directory=ios`

[code]

[2020-10-19 09:49] danilobuerger commented on #6684
@idkjs That bug has already been fixed in master but not yet released. For now you will have to manually set the deployment target in your Podfile to 11.0.

[2020-10-19 09:50] idkjs commented on #6684
I had fixed it doing that but did not want to assume anything. Thanks.

[2020-10-19 10:15] Rybachello opened #6687 "Transition animation is transparent on iOS 12"
## 🐛 Bug Report

Transition animation is transparent on iOS 12.

### Have you read the [Contributing Guidelines on issues](https://wix.github.io/react-native-navigation/docs/meta-contributing)?

Yes

## To Reproduce

Run app on iOS 12.4 and latest RNN.

## Expected behavior

Background color shouldn't be transparent.

## Actual Behavior

<img width="348" alt="Screen Shot 2020-10-19 at 12 29 21" sr

[2020-10-19 17:05] alpha0010 commented on #6534
Did I apply this as intended?
[code]

![Screen-Recording-2020-10-19-at-1](https://user-images.githubusercontent.com/4990928/96488232-a6f5d100-120b-11eb-96ef-9fb5448c4615.gif)

[2020-10-19 17:07] danilobuerger commented on #6534
@alpha0010 yes, thats correct. As far as I can tell from your gif there is no white flash across the **whole** screen but just in the content area, correct?

[2020-10-19 17:08] mrousavy commented on #6534
it would be great to have a slowed down version of that, e.g.: by recording it with your phone camera in slow-mo mode.. 🤔

[2020-10-19 17:12] alpha0010 commented on #6534
Pulled it into GIMP, frame 43:

![frame-43](https://user-images.githubusercontent.com/4990928/96488947-c17c7a00-120c-11eb-8d87-b4a9ccf88b69.png)

[2020-10-19 17:19] danilobuerger commented on #6534
Interesting, I can reproduce this in the playground too. Just the inner area flashes in that light grey color.

[2020-10-19 17:25] danilobuerger commented on #6534
It seems the grey flash occurs under these conditions:

| setRoot.waitForRender | = true | = false |
| --- | --- | --- |
| bottomTabs | grey flash | grey flash |
| only stack | **no flash** | grey flash

[2020-10-19 17:32] alpha0010 commented on #6534
If it helps, the `setRoot()` used in our app is:
[code]

[2020-10-19 18:31] bennettk commented on #6533
FWIW- a team member found a workaround for this by adding an NSForegroundColorAttributeName to the titleTextAttributes in setTitleAttributes / setSelectedTitleAttributes in TabBarItemAppearanceCreator:

[code]

not sure if this fixes all cases, but it works for us so far so we're swizzling the RNN implementation for now... but obviously if the fix landed in RNN, we'd much prefer to use that. :)

[2020-10-19 18:58] danilobuerger commented on #6533
@bennettk Nice, do you want to create a PR for it?

[2020-10-19 19:00] danilobuerger commented on #6534
@alpha0010 Could you please try and patch rnn with the PR at #6689 and see if that fixes your issue?

[2020-10-19 19:39] alpha0010 commented on #6534
It fixes it in the playground app, but not our app.  Perhaps related; we do not use bottom tabs?  Just a stack and a sidemenu?

[2020-10-19 19:40] danilobuerger commented on #6534
Ah ok, if you are experiencing it with a sidemenu, this is a duplicate of #6000. So I am closing this to just keep one issue open.

[2020-10-19 19:40] #6534 closed

[2020-10-19 19:42] danilobuerger commented on #6000
@didrikkvanvik bottomtabs should be fixed by #6689

[2020-10-19 20:04] bennettk commented on #6533
@danilobuerger can do- https://github.com/wix/react-native-navigation/pull/6690

[2020-10-19 22:41] danilobuerger commented on #6687
@Rybachello Please provide a reproducible demo as mentioned in the issue template. Skipping this means that this issue has a very low priority and is likely to get closed in the future.

[2020-10-20 00:10] jinshin1013 commented on #6669
Hi @calumgould can you see if not using a custom icon successfully registers the back button test id?

[2020-10-20 00:11] jinshin1013 commented on #6661
@JOHN1202 Could you provide a minimal reproduction on Github please? It'd be extremely helpful for us to debug the issue better.

[2020-10-20 05:29] rendomnet commented on #4952
same problem with rnn 7.1.0 and rn 0.63.3

[2020-10-20 06:11] rendomnet opened #6694 "error: package com.reactnativenavigation does not exist import com.reactnativenavigation.NavigationApplication"
## 🐛 Bug Report

Upgrading from rnn v4 to rnn v7
and have this error.

[code]

### Have you read the [Contributing Guidelines on issues](https://wix.github.io/react-native-navigation/docs/meta-contributing)?

yes

## To Reproduce

## Your Environment

* React Native Navigation version: 7.1.0
* React Native version: 0.63.3
* Platform(s) (iOS, Android, or both?): Android
* Device info (Simulator/Dev

[2020-10-20 08:02] #6000 closed

[2020-10-20 08:13] #6694 closed

[2020-10-20 08:28] guyca commented on #6533
Reopening as #6690 was reverted. @bennettk let's reproduce the regression pointed out by @danilobuerger and submit a new PR?

[2020-10-20 10:31] guyca commented on #6529
@danilobuerger I was totally unfamiliar with the files directive. Found an interesting [blog post](https://medium.com/@jdxcode/for-the-love-of-god-dont-use-npmignore-f93c08909d8d) that clarified things.

Lets go ahead with removing `.npmignore` and switch over to `files` in package.json.
We can use this command to check which files are published to npm:
[code]

[2020-10-20 11:42] danilobuerger commented on #5536
This has been fixed. Please upgrade your rnn version.

[2020-10-20 11:42] #5536 closed

[2020-10-20 11:45] calumgould commented on #6669
Hi @jinshin1013, have just tried this and unfortunately it still has the same outcome.

[2020-10-20 11:48] danilobuerger commented on #6085
@rosskhanas Where are you calling `mergeOptions` from? Could you please provide some more code on how to reproduce this with the playground app?

[2020-10-20 12:18] rosskhanas commented on #6085
@danilobuerger thank you for looking at this.

So I have a function which opens the modal:
[code]

Then in the `ModalOrganizationInformationUpdate` I have a `componentDidMount` method implemented:

[code]

So I just open the page with `Save` button disabled, then I set the `enabled: true` but it is still disabled.

[2020-10-20 12:20] danilobuerger commented on #6085
Is there a reason you are doing this via `Navigation.mergeOptions` instead of `static options`?

[2020-10-20 12:27] rosskhanas commented on #6085
I just simplified the existing code to provide a simpler example. In a full implementation, there is extra validation(like if the user has permission to edit the page or if all required fields are filled) that is stored in a local state. I guess it is not possible to use state values in `static options`... Am I right?

[2020-10-20 12:29] danilobuerger commented on #6085
Afaik only props are passed.

[2020-10-20 12:49] guyca commented on #6085
@rosskhanas You can execute whatever logic you want in static options, there's an example in [the docs](https://wix.github.io/react-native-navigation/docs/style-options#handle-props-in-static-options).

But regardless this should be fixed. Thanks for looking into this @danilobuerger 🙇

[2020-10-20 13:01] alpha0010 commented on #6529
Tip, you can also try `npm pack --dry-run` for a list of included files.  I also found looking at the library template's [files directive](https://github.com/callstack/react-native-builder-bob/blob/master/templates/common/%24package.json#L10-L20) useful in writing my own.

[2020-10-20 13:07] DonovanDeSmedt opened #6701 "Question: missing field 'params' in CommandCompletedEvent interface (iOS - v7.0.0)"
## Missing field 'params' in CommandCompletedEvent interface (iOS - v7.0.0)

### Issue description
Since the migration to RNN 7.0 the `CommandCompletedEvent` interface is missing the field `params` on platform **iOS**.
This is not described in the change logs and caused some issues in our projects.

Is this a breaking change and something you guys forgot to mention in the change logs or is this a

[2020-10-20 14:36] danilobuerger commented on #6085
@rosskhanas could you please try with #6702 . Does that solve all your issues?

[2020-10-20 14:49] HumayounBaig opened #6703 "The app keeps refreshing"
Hey guys i am having trouble finding a soultion. So what's happening is the app is refreshing after every 1-2 seconds randomly and the speed gets even faster in a few minutes and then its just a flickering app. I tried to search from open issues to no avail i am using `v7.1.0` of RNN please help out.
GIF of the issue attached.
![ezgif com-gif-maker](https://user-images.githubusercontent.com/329101

[2020-10-20 14:49] #6703 closed

[2020-10-20 15:13] danilobuerger commented on #6701
@guyca / @yogevbd do you know the reason why this was removed in v7?

[2020-10-20 17:21] adamrosey commented on #5035
@SergeyBazhanov Hey man, did you ever get to the bottom of this? I'm facing the same issue on ios 14 and have been stuck for near a month

[2020-10-20 17:22] rosskhanas commented on #6085
Could be I messed up and failed to apply changes correctly, but I got a build error:

![image](https://user-images.githubusercontent.com/10609041/96621906-e7d80d80-1311-11eb-998e-077236d74fab.png)

[2020-10-20 17:24] danilobuerger commented on #6085
Doesn't really say much... don't forget to run pod install after applying the patch and optionally to clean the build dir with xcode.

[2020-10-20 17:50] rosskhanas commented on #6085
![image](https://user-images.githubusercontent.com/10609041/96624759-dc86e100-1315-11eb-816e-10f5daafb36e.png)

@danilobuerger is this helpful?

[2020-10-20 17:52] danilobuerger commented on #6085
It looks like you applied the patch onto an older version? The patch will probably only work on the current master.

[2020-10-21 06:15] guyca commented on #6529
@alpha0010 Thanks for the tip! 🙌

[2020-10-21 07:56] rosskhanas commented on #6085
@danilobuerger I tried again, seems like your PR fixes the bug! 🥳

[2020-10-21 11:38] julian-baumann commented on #6565
I think this could be related: https://sarunw.com/posts/uinavigationbar-changes-in-ios13/

[2020-10-21 11:56] lo0oleta commented on #4984
Still not fixed .Any updates?

[2020-10-21 15:30] kuzzmi commented on #5684
I get the same problem. Using `showOverlay` displays a new screen with an overlay component.

[2020-10-21 18:35] danilobuerger commented on #6000
Should be fixed in 7.2.0

[2020-10-21 18:36] danilobuerger commented on #6534
Should be fixed in 7.2.0

[2020-10-22 10:49] mrousavy commented on #6647
Here are some demos of the current implementation:

1. [imgur](https://i.imgur.com/bYa91Sa.mp4)
2. [imgur](https://i.imgur.com/9gJZXpQ.mp4)

What do you think @guyca @yogevbd ? ;)

In some cases, the drag down animation still doesn't work 100%, since it shortly flickers back to it's original position, instead of the scaled down one. Other than that, it's perfectly smooth on iOS.

That leaves us wi

[2020-10-22 15:25] guyca commented on #6647
hmmm how often does the drag-flicker reproduce?

[2020-10-22 15:34] mrousavy commented on #6647
@guyca on iOS about 1 out of 3 times... 😥

[2020-10-22 16:22] guyca commented on #6647
And reproduces in the Playground, right?

[2020-10-22 16:25] guyca commented on #6701
Hey @DonovanDeSmedt 👋
This is indeed a breaking change in 7.0.0 which got left out of the release notes. Sorry about that.

If you could tell us a bit about your use case and what you used the `params` object for, perhaps we could assist you in finding a different solution to your requirement.

[2020-10-22 16:27] mrousavy commented on #6647
Last time I checked it did, I'll check again in a sec 👍

[2020-10-22 16:52] mwahlig commented on #5531
I was able to workaround this by using `alignSelf` styling when configuring my custom topBar title component:
[code]

[2020-10-22 22:13] mrousavy commented on #6647
@guyca [here](https://i.imgur.com/5hbIf0G.mp4)'s a demo of it being reproducable in the playground. I couldn't reproduce it in the actual posts, only stories, I think it has something to do with borderRadius since I noticed that if the StoryDetailsScreen has `borderRadius: 0` the animation doesn't work and no flicker occurs, and if it's anything other (e.g. 1), then it's reproduceable.

[2020-10-23 08:22] 0707236659 commented on #2989
I only met is a problem on android but it worked on android 7, 8.1 ,9 and 10

[2020-10-23 18:20] daveyjones commented on #6359
@yasir2hats I'm seeing the same behavior. Should we re-open this ticket or start a new one?

If the documentation is wrong, then it should be removed. If the documentation is correct, then there's a bug.

[2020-10-23 18:55] olegderecha commented on #6518
I added the patch for RNN6 to allow iOS to display to bottom line, but without `width` option, only 1 px line.
[code]

How to apply:
1. Install this `https://www.npmjs.com/package/patch-package`
2. Create file `react-native-navigation+6.10.1.patch` in `projectPath/patches` and place code above in it.
3. In `package.json` into scrips area insert `"postinstall"` if there is not yet and set like:
[co

[2020-10-23 22:23] bennettk commented on #6533
@guyca hi, sorry- been buried with a lot of day job work :) should have a chance to take a look early next week.

[2020-10-23 23:29] airman00 commented on #5841
Running into this issue too - only on Android API 30 , R

[2020-10-24 13:36] mateioprea commented on #6565
I can take this if you want @yogevbd

[2020-10-24 15:31] airman00 commented on #5841
Here is the solution:

Your MainActivity should look like this to support FullScreen mode
[code]

You also need to modify this line ChildController.java
(located in viewcontrollers/ for [v4] I think, and on the latest version here: https://github.com/wix/react-native-navigation/blob/32dd3540bc091a2ed237eb9d4d12c4023d29e52f/lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/chi

[2020-10-25 03:56] rendomnet commented on #2852
Same here

[2020-10-25 12:31] #6085 closed

[2020-10-25 18:33] #6518 closed

[2020-10-25 18:34] #6565 closed

[2020-10-25 19:04] sallar commented on #6565
Thanks for implementing this! I will give it a try ASAP

[2020-10-25 21:22] mateioprea commented on #6669
Hi @calumgould, I've just tried your config and it seems like it works with the default button: https://www.dropbox.com/s/1rbzxo4w1dwzezs/Screenshot%202020-10-25%20at%2022.57.53.png?dl=0. Accessibility identifier is there.

Also, this is a custom back button which works: https://www.dropbox.com/s/tg9s7z0o8qwdhet/Screenshot%202020-10-25%20at%2023.07.21.png?dl=0

I've also ran a test with detox with

[2020-10-25 21:26] #5552 closed

[2020-10-25 22:00] ArekChr opened #6717 "Large Title is hidden in bottom Tabs"
Large title is hidden on every bottom tab screen except first while opening app.

You can reproduce it on playground by setting options:
[code]
in Layouts and Options tabs

RNN version: 7.2.0

[2020-10-26 09:59] Rybachello commented on #6687
Hi, @danilobuerger,
I made a simple demo [here](https://github.com/Rybachello/transitionExample). But it is only on iOS 12. ( I reproduced it on iPhone 8, 12.4 iOS)

[2020-10-26 12:13] DonovanDeSmedt commented on #6701
Hey @guyca

No problem, it's just something minor! I'll update it in a PR.

In some scenarios we had an issue in our iOS app where a screen could be pushed multiple times to the stack (especially when a user rapidly clicked multiple times on the button that triggers the push screen).

To prevent this from happening, I had implemented a simple check that attaches the screenId that is being pushed t

[2020-10-26 12:17] danilobuerger commented on #6701
This relates to #3110. It would really be nice to have a general way to handle this.

[2020-10-26 16:26] Findiglay commented on #5656
Not stale!

[2020-10-26 18:05] Rishijay commented on #5617
Thankss alottt..!! Removing the same worked for me t0o... Genious.!! 💯

[2020-10-27 03:05] jinshin1013 commented on #6717
@ArekChr Hey there 👋 Do you perhaps mean that the TopBar on `Options` and `Navigation` tabs are not initially appearing as Large Title?

[2020-10-27 09:26] muganwas commented on #4524
This in addition to deleting the .ide directory and re-importing the project into android studio.

[2020-10-27 11:02] calumgould commented on #6669
Hi @mateioprea, I appreciate you taking the time to look into this further. I have upgraded to 7.2.0 and booted up the Appium inspector to get a better look at what is going on.

I've now identified a consistent behaviour for how testIDs are being assigned to the back button. The testID passed to `setDefaultOptions` above has no effect, and the testID that is being read by Appium can be one of two

[2020-10-27 11:58] ArekChr commented on #6717
Hey @jinshin1013, Yes.
Im using ScrollView, and I don't won't to use SafeAreaView because it breaks header translucent behavior (blur effect).

[2020-10-28 00:34] juddey opened #6721 "Black Screen rendering on IOS 12 with RNN 7.x"
## 🐛 Bug Report
## To Reproduce
1. RNN installed at 6.12.2
1. Upgrade to 7.1.0
1. Run on IOS 6 device using ios 12 in either debug or release mode

## Expected behavior
I'd keep the white background saw prior to the upgrade

## Actual Behavior
A dark black background presents in multiple screens Example screen:

![AB80D77E-7225-4C65-9757-F3543038DBBD](https://user-images.githubusercontent.com/7445

[2020-10-28 04:16] guyca commented on #6701
@DonovanDeSmedt Interesting approach! You can set a `commandListener` (in addition to the `commandCompleted` listener) and track `commandId` to `componentId`. Then when a command completes you could correlate the commandId to the componentId.

[2020-10-28 05:01] jinshin1013 commented on #6721
Could you try setting [layout.componentBackgroundColor](https://wix.github.io/react-native-navigation/api/options-layout#componentbackgroundcolor) to white in your default options or screens?

[2020-10-28 08:11] ArekChr commented on #6717
@jinshin1013 I think react-native. Maybe this will help https://github.com/software-mansion/react-native-screens/issues/645
This issue probably occur since iOS 14

[2020-10-28 13:18] vovka-s opened #6722 "ModalDismissedListener got wrong componentId value"
## 🐛 Bug Report

ModalDismissedListener got wrong componentId

### Have you read the [Contributing Guidelines on issues](https://wix.github.io/react-native-navigation/docs/meta-contributing)?

yes

## To Reproduce

1. Create any modal screen with the custom id, ex. `SetingsWindow_8`
2. Create the modal dismissed listener via `registerModalDismissedListener`
3. Close the modal screen via `dismissMo

[2020-10-28 14:11] zabojad commented on #6168
Hi there! Not sure if that is an interested piece of information but I just got this issue poping in a new project after having added [@react-native-community/netinfo](https://github.com/react-native-netinfo/react-native-netinfo).

As this is a fairly common module, I wondering if you are also using it in the projects where you experience this issue? @guyca @39otrebla @Blackfaded @rmartinez-paack

[2020-10-29 05:43] juddey commented on #6721
Thanks, I shall try this and report back findings.

[2020-10-29 06:13] Manikanta-GEP commented on #6046
hi all, i am also looking for selectedFontFamily option for bottom tab

[2020-10-29 08:13] danilobuerger commented on #6722
Thats not a bug. If your component is in a stack, the id of the stack will be returned.

[2020-10-29 08:13] #6722 closed

[2020-10-29 08:26] vovka-s commented on #6722
Exactly? If so you need to correct docs for `registermodaldismissedlistener`:
https://wix.github.io/react-native-navigation/api/events#registermodaldismissedlistener
ComponentId should be returned by it
Moreover, I am pretty sure it returned on 6.6.0 and before

[2020-10-29 08:29] danilobuerger commented on #6722
If the most outer component of your modal is a stack, then the component id of the stack is returned. There is nothing wrong with the docs.

[2020-10-29 08:36] vovka-s commented on #6722
I think I got it. Thanks!

[2020-10-29 11:25] danilobuerger opened #6725 "test labels"

[2020-10-29 11:27] #6725 closed

[2020-10-29 12:04] guyca commented on #6725
🔥

[2020-10-29 13:18] stachu2k commented on #6059
Same issue. Is there any way to remove safearea inset at the bottom while having bottom tas hidden?

[2020-10-29 15:20] varungupta85 opened #6726 "Ability to highlight new items in the tab bar or navigation bar"
## 🚀 Feature

Currently, there is no easy way to highlight when a new tab bar button or a navigation bar button which makes it hard to introduce new features to users. There is a good feature highlighter in the `react-native-ui-lib` from Wix but it doesn't integrate with `react-native-navigation`. This a request to either allow integrating `react-native-ui-lib` feature highlighter with `react-nati

[2020-10-29 17:21] Kezmo commented on #5792
Does anybody have an update on this? Currently on v7.2.0 and this is happening to me when opening a push notification from a closed app.

[2020-10-29 17:24] kanzitelli commented on #6687
@Rybachello @danilobuerger hey guys! I have faced the same problem while testing the [app](https://github.com/kanzitelli/rabbit-app) with RNN 7.+ and iOS 12 (iPhone 6 Plus). And I think it's related to [#6721](https://github.com/wix/react-native-navigation/issues/6721). The only thing I could have found is to set `layout.componentBackgroundColor` and `layout.backgroundColor` to your desired color.

[2020-10-29 20:26] ryzhak opened #6727 "How to set initialProperties in RCTRootView?"
Hi!

I want to pass properties from native ios code to react native.

Here is the guide https://reactnative.dev/docs/communication-ios#passing-properties-from-native-to-react-native which states that you should use `initialProperties` in `RCTRootView`

Here is how I start the ios app with react native navigation (7.1):
[code]

So how can I set `initialProperties` of the `RCTRootView` with `ReactNa

[2020-10-29 20:27] #6727 closed

[2020-10-30 03:55] swornov commented on #6456
i change my phone around that time

[2020-10-30 04:00] swornov commented on #6456
you think you can fix this?

[2020-10-30 08:39] harshitsmt commented on #5794
Hi ! Does RNN supports 0.63?

[2020-10-30 11:31] danilobuerger commented on #6727
@ryzhak This is currently not supported by rnn as rnn uses one `RCTRootView` per screen (compared to one per app). If you think this would be a good enhancement, please open a feature request with the filled out issue templated (pitch, motivation, etc).

[2020-10-30 11:42] jinshin1013 commented on #5794
Hi @harshitsmt it sure does! Check out our Playground app 😃

[2020-10-30 12:46] guyca commented on #6727
@ryzhak In this case you can implement a simple mechanism that sets props from JS.

This involves:
1. Pass the props from native to JS with a simple event
2. Handle the event in JS and either call `Navigation.updateProps` on a specific component, or on all mounted components. This will trigger `shouldComponentUpdate` on every component.
3. Save the props and inject them into each component via an

[2020-10-30 15:18] mrousavy opened #6728 "Shared Element Transitions: Animating from scaled down state looks jumpy"
## 🐛 Bug Report

I have a view which the user can drag down to dismiss. When dragging down, the view also gets scaled down to indicate that it is being dismissed. Once it reaches a certain threshold, I dismiss the screen (`dismissModal` atm) which causes the Shared Element Transition to run.

Something similar to my use-case can be found in the playground repo.

Unfortunately, _sometimes_ the Shar

[2020-10-30 15:21] mrousavy commented on #6728
also I'm using SET in Modals, not sure if that has anything to do with the issue.

[2020-10-30 15:26] mrousavy opened #6729 "Shared Element Transitions: Animating to transformed view doesn't work correctly"
## 🐛 Bug Report

### ⚠️  First off: I think this is related to #6728.

When animating Shared Element Transitions to a view that is transformed in some sort (`translateX` in my case, but might also be `scale`, `translateY`, ...), the Shared Element Transitions weirdly miscalculates the destination coordinates at first, but manages to get it right halfway through. Yes, that's my explanation. It's we

[2020-10-31 03:11] zerkshaban commented on #4097
I am facing the same issue.

[2020-10-31 14:14] Peeeep commented on #6573
We have a similar issue where the bottom tab icon changes to a _white_ icon in a certain condition on Android. In our case, we use the same png file (in white) for a bottom tab icon (in black using iconColor) and for a top bar icon (of a different screen; white) – and as soon as we use mergeOptions to change something in said topBar, the bottom tab icon turns white as well…

[2020-11-02 02:30] juddey commented on #6721
No luck with either of those settings. Pasted code below in case I have not understood where in the options hash I should put the layout key.

[code]

[2020-11-02 09:01] ArekChr opened #6730 "Sticky header in section list doesn't work with Large Headers"
Headers stick under header to top of view if largeTitle are visible using SectionList

edit:
It also doesn't work with largeTitle disabled and background translucent

[2020-11-02 09:20] ArekChr commented on #6728
+1

[2020-11-02 09:35] aliraza-noon commented on #6411
also the size does not work cross platform on ios dot indicator is huge

[2020-11-02 09:57] calumgould opened #6731 "testID not being applied correctly"
Quoting my previous follow up here, as the ticket was closed. This still remains an issue for me.

Hi @mateioprea, I appreciate you taking the time to look into this further. I have upgraded to 7.2.0 and booted up the Appium inspector to get a better look at what is going on.

I've now identified a consistent behaviour for how testIDs are being assigned to the back button. The testID passed to `se

[2020-11-02 14:52] TylerNRobertson opened #6733 "IOS 14.0+ Back Button Menu Issues"
## 🐛 Bug Report

IOS 14+ introduces a menu popup on IOS over topBar back button when you long press the built in back button in topBar.
Currently there seems to be no way to disable or customize this popup so its just a blank rectangle that covers the button. It can be pressed and still navigates back but it's weird for users to see this empty box just appear if they happen to do this.

### Have y

[2020-11-02 15:44] pingkee commented on #4580
Problem still persist after using launchScreen.storyboard.

[2020-11-02 16:45] #6730 closed

[2020-11-02 16:48] danilobuerger commented on #6731
Duplicate of #6669

[2020-11-02 16:48] #6731 closed

[2020-11-02 18:10] mateioprea commented on #6669
@calumgould can you fork this repo and provide a failing playground e2e test? Either with Detox or Appium. This way we can investigate further and fix the actual issue, if any.

[2020-11-02 18:24] bneigher opened #6734 "[v6 -> v7] library not found for -lReactNativeNavigation"
## ❓ Questions and Help
I just updated today from v6 to v7 and I can't build an Archive of my app anymore.  Works fine when running the simulator tho.

I followed the required upgrade steps:

1. package.json
[code]

2. Podfile
[code]

3. AppDelegate.m
[code]

When archiving, here is what I get:

[code]

What I've tried:
pod deintegrate, delete podfile.lock, pod install
rm -rf /Users/bneigher/Libra

[2020-11-02 18:24] #6734 closed

[2020-11-02 19:39] shravyaramesh commented on #4097
I have the same issue for a different package though

[2020-11-02 20:54] uragecz commented on #6734
I have same problem... when building release version, i get -
[code]

[2020-11-02 21:29] bneigher commented on #6734
@uragecz I believe for me I managed to get it working.  In addition to setting the Podfile platform minimum sdk version - make sure to set the:
Deployment > iOS Target Deployment to version 11 in Xcode Build Settings:
<img width="659" alt="Screen Shot 2020-11-02 at 3 28 17 PM" src="https://user-images.githubusercontent.com/4627728/97921169-2e6d3500-1d20-11eb-8d33-968b121b32fe.png">

[2020-11-03 06:24] Manikanta-GEP commented on #5059
Any ideas on how to make them occupy full width.

[2020-11-03 07:45] guyca commented on #6721
Hey @juddey 👋
That should have worked, have you tried specifying these in default options? Also, I would try only specifying `componentBackgroundColor`.

[2020-11-03 08:02] guyca commented on #6728
@mrousavy Does this reproduce in the cars example in the playground app?

[2020-11-03 10:27] mrousavy commented on #6728
@guyca unfortunately not. I am not sure what exactly is causing it, I can only assume that it is because I have more content in my app, which makes the performance a bit worse than in the simple cars dealer playground and therefore skipping a frame making the first initial frame, where it is not scaled down, visible.

The car dealer is already code copied 1:1 from my app, so I'm not doing anything

[2020-11-03 10:30] ArekChr commented on #6728
Same here, my transition is based on car dealer code. One thing I noticed, the problem occurs maybe once in 10 times in the simulator but 9 out of 10 times on a real device.

[2020-11-03 13:20] smiletomyself opened #6736 "Mobx : can not update store by use mobx-react-lite from the document"
## 📚 Documentation

when I want to use the latest version of react-native-navagation , and I read the document by https://wix.github.io/react-native-navigation/docs/third-party-mobx , but I can not update my "count" by the document , check many times , I still find the reason why the "count" do not update , the details is below:

dependencies:
 "react": "16.13.1",
 "react-native": "0.63.3",
 "mobx

[2020-11-03 13:54] mrousavy commented on #6391
closed with https://github.com/wix/react-native-navigation/pull/6716

[2020-11-03 13:54] #6391 closed

[2020-11-03 14:19] #6431 closed

[2020-11-03 14:53] Rybachello commented on #6687
Hi, @kanzitelli
Yes, I also fixed this by adding `layout.componentBackgroundColor`.

[2020-11-03 15:23] guyca commented on #6736
@jinshin1013 I believe you have the most experience with this 🙏

[2020-11-03 15:35] jinshin1013 commented on #6736
Hi @smiletomyself, yes you are definitely right that those code will not work with the latest `mobx@^6.0.0` as they recently upgraded to v6 which had some breaking changes on how to define stores. Could you try updating the Counter store file to below? This `should` work, if not please 🙏 pardon me, I've typed this up from my phone.

[code]

I should've updated the documentation to reflect the late

[2020-11-03 15:38] jinshin1013 opened #6739 "Update mobx integration"
## 📚 Documentation

The current mobx documentation does not reflect the latest API. Need to update the documentation to use the latest/standard `makeObservable` pattern instead of the old decorator version.

### Have you read the [Contributing Guidelines on issues](https://wix.github.io/react-native-navigation/docs/meta-contributing)?

Yes I have!

[2020-11-03 15:39] jinshin1013 commented on #6736
Closing the issue now in favour of #6739. @smiletomyself Really appreciate the report and will fix the documentation as soon as possible!

[2020-11-03 15:39] #6736 closed

[2020-11-03 15:57] zabojad commented on #4824
Same here :(
RNN 6.10.1
RN 0.63.3

[2020-11-03 17:18] calumgould commented on #6669
@mateioprea forked the repo and here you can see from the **Appium** inspector, the exact same issue to what I am having.

The only code added to the playground was the `backButton` options passed to your existing `Navigation.setDefaultOptions` in `Options.ts`. I also added the custom back button image from my app.

[code]

The accessibility id is not set by `Navigation.setDefaultOptions` and is i

[2020-11-03 17:38] #6739 closed

[2020-11-03 19:18] TylerNRobertson commented on #3929
This still seems to be an issue. Also seems like IOS is behaving weird on 7.2.0 and IOS 14+

[2020-11-04 03:57] smiletomyself commented on #6736
Hi, @jinshin1013 ,  thanks your reply, first of all, I have update my code in store.js by use below:
[code]
but is still can not update the "count" store by use observer from "mobx-react" or "mobx-react-lite" .

 finally, I have pass the issue by the latest resource code, the relative reference path is "react-native-navigation/website/docs/docs/third-party-mobx/counter-store.tsx",  the difference

[2020-11-04 05:04] juddey commented on #6721
hey thanks @guyca, that fixed the issue. I'll close this out now.

[2020-11-04 05:04] #6721 closed

[2020-11-04 06:07] guyca commented on #6721
@juddey Alternatively you can set background color directly on the components in JSX.

[2020-11-04 06:21] guyca commented on #6669
An [e2e test](https://wix.github.io/react-native-navigation/docs/meta-contributing#tests-and-the-playground-app) in the [playground app](https://wix.github.io/react-native-navigation/docs/playground-app) would have been preferable.

[2020-11-04 10:16] mrousavy commented on #6733
do you mean this menu?
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/15199031/98098874-31d2fe80-1e8f-11eb-982e-ecdb01d369ff.gif)

you can "customize" it by setting the `title` prop on your screens

[2020-11-04 11:53] calumgould commented on #6669
@guyca Here's some tests showing the issue https://github.com/calumgould/react-native-navigation

Make a build with `yarn appium-build`
Test with `yarn appium-test`

I used the `Stack Position: X` in the footer to verify these tests

## Failing test

[code]

<img width="889" alt="Screenshot 2020-11-04 at 11 37 56" src="https://user-images.githubusercontent.com/56885619/98107837-fc301480-1e92-11eb-

[2020-11-04 12:51] RichardLindhout commented on #6531
I do have the same problem right now

[2020-11-04 12:53] RichardLindhout commented on #6531
It's because you can't send a number you have to send in a string on iOS!

[2020-11-04 12:54] RichardLindhout commented on #6531
[code]

[2020-11-04 15:55] julian-baumann opened #6742 "Ability to change text of cancel button on the iOS search-bar"
## 🚀 Feature

I couldn't find any documented way of changing the text of the "Cancel" button that appears when you focus the search-bar on iOS.

![Searchbar](https://user-images.githubusercontent.com/39265507/98133278-acb30e00-1ebd-11eb-951d-7278f46a6653.jpg)

### Have you read the [Contributing Guidelines on issues](https://wix.github.io/react-native-navigation/docs/meta-contributing)?

Yes

## M

[2020-11-04 16:01] mateioprea commented on #6742
it's on

[code]

[2020-11-04 16:09] julian-baumann commented on #6742
But I don't want to change the tintColor. I want to change the text.

[2020-11-04 16:10] mateioprea commented on #6742
@julian-baumann yeah, sorry. my bad. I've reopened the issue.

[2020-11-04 16:47] zabojad opened #6743 "iOS - overlay intercept touch on topbar title component even when interceptTouchOutside is false"
## 🐛 Bug Report

On iOS only, we cannot touch the topbar title component's touchables if we have an overlay displayed even if it has the option `interceptTouchOutside: false`.

## To Reproduce

Please run the reproducer: https://github.com/zabojad/react-native-navigation/tree/issue_6743

1. Launch it on  an iOS device
2. try to touch the topbar buttons, it should display an alert.
3. Now display t

[2020-11-04 18:23] TylerNRobertson commented on #6733
@mrousavy yeah actually, this helps a lot, I wasn't using the title option since my back buttons had no text but I'll make use of this.

Still would be great to be able to disable this entirely though

[2020-11-04 20:45] guyca commented on #6733
@TylerNRobertson Can you please add a screenshot of how the menu looks when there's no title?

[2020-11-04 21:30] lytruns commented on #2687
Para resolver comece criando uma pasta assets dentro da pasta android/app/src/main.

Logo após, execute o comando:

$ react-native bundle --platform android --dev false --entry-file index.js --bundle-output android/app/src/main/assets/index.android.bundle --assets-dest android/app/src/main/res/

Agora, feche as abas do terminal e rode react-native run-android novamente.

by: Docs RocketSeat

[2020-11-05 03:02] smiletomyself opened #6744 "Mobx of document"
Hi, @jinshin1013 ,  thanks your reply, first of all, I have update my code in store.js by use below:
[code]
but is still can not update the "count" store by use observer from "mobx-react" or "mobx-react-lite" .

 finally, I have pass the issue by the latest resource code, the relative reference path is "react-native-navigation/website/docs/docs/third-party-mobx/counter-store.tsx",  the difference

[2020-11-05 03:05] jinshin1013 commented on #6744
Hi @smiletomyself, I've updated the documentation https://github.com/wix/react-native-navigation/pull/6740. You can [check it out here](https://wix.github.io/react-native-navigation/next/docs/third-party-mobx). Cheers!

[2020-11-05 03:05] #6744 closed

[2020-11-05 07:53] guyca commented on #6669
@calumgould We don't officially support Appium. If you believe this is a bug with RNN, please submit a failing **Detox** e2e test.

[2020-11-05 20:16] aliraza-noon commented on #3929
This still seems to be happening on android

[2020-11-06 07:31] Andarius opened #6746 "Specifying backButton with leftButton in Option does not work"
## 🐛 Bug Report

If you specify `backButton : { visible: false }` with the `leftButtons` option, no left buttons are merged, but if you remove the  `backButton : { visible: false } `, it works as expected.

## To Reproduce

https://github.com/Andarius/react-native-navigation

Press "BottomTabs" button on the main page

## Expected behavior

A left button should be added

## Actual Behavior

No but

[2020-11-06 17:46] mrousavy opened #6748 "Command event callback not being invoked on popping"
## 🐛 Bug Report

[code]

Per [docs](https://wix.github.io/react-native-navigation/api/events/#registercommandcompletedlistener), this command should be called on every command:

In my case, when pushing from Screen A to Screen B, the order of execution is the following:

1. ✅ First callback is invoked
2. ✅ Navigation animation happens
3. ✅ Second callback is invoked

When popping from Screen B to

[2020-11-06 20:36] bneigher commented on #6063
I'm seeing this happening always for the first child of the bottomTabs on android only.  Any time the app is opened from a closed state, for some reason I'm seeing this event fire from registerComponentDidAppearListener

[2020-11-07 12:25] Garamani commented on #4653
In order to use popTo, you need to determine the "componentId" of that screen. The componentId is not the selected name of the component; It's a string which is a combination of "component" + "some random number". example: "component400"

So, you need to pass the componentId from Target screen to other screens:

[code]
Then, use the following code in current screen top pop to target screen:
`

[2020-11-07 20:11] rodrigofbm commented on #3463
how I do that in the current version?

[2020-11-07 20:36] rodrigofbm commented on #3463
I'm reading this [doc](https://wix.github.io/react-native-navigation/next/api/options-bottomTabs/#titledisplaymode) but I don't know where I put in the titleDisplayMode . Can some on help me?

[2020-11-08 11:17] Adegeminas commented on #6071
I'm having same bug as above (only in real devices in production)
"react-native-navigation": "^6.4.0"
"react-native": "0.62.1"

[2020-11-08 14:15] guyca commented on #6748
@mrousavy Are you listening to these commands in screen B?

[2020-11-08 14:16] mrousavy commented on #6748
@guyca I have listeners on both screens, none of them trigger on pop. 😟

[2020-11-08 14:49] guyca commented on #6748
@mrousavy I'm unable to reproduce in the Playground app. Please repro as this could be an issue with the hooks library or a timing issue related to component unmount.

[2020-11-08 14:52] mrousavy commented on #6748
did you try it on iOS? I'll try creating a quick repro later

[2020-11-08 17:25] guyca commented on #6748
Yup, tried on iOS and a global command listener.

[2020-11-09 05:38] tarouboy commented on #6243
May I know which version should I use if I want to continue support ios 9 & 10?

[2020-11-09 08:42] linhtv97 opened #6751 "Custom header each screen"
I want to use each type of header for different screens but it seems when I customize the header in the props option by the screen but it only accepts the header of the first one. Please tell me what to do

![image](https://user-images.githubusercontent.com/48935244/98518430-f7f46480-22a1-11eb-9d8f-a34d5bb87bf5.png)

[2020-11-09 08:43] #6751 closed

[2020-11-09 10:31] mrousavy commented on #6728
Maybe interesting:

<table>
<tr>
<th>Last frame before I call `pop`/`dismissModal`</th>
<th>First frame of Shared Element Transition</th>
<th>Second frame of Shared Element Transition</th>
</tr>
<tr>
<td><img src="https://user-images.githubusercontent.com/15199031/98529756-4ee84280-227e-11eb-8c47-2bdbe844b849.png"></td>
<td><img src="https://user-images.githubusercontent.com/15199031/98529746-4bed

[2020-11-09 11:47] guyca commented on #6071
I wasn't able to reproduce this issue on RNN 7.3.0. I'll revisit when someone adds a reproduction 👍

[2020-11-09 15:42] sallar opened #6754 "`noBorder` does not work in `scrollEdgeAppearance` mode"
## 🐛 Bug Report

When `scrollEdgeAppearance` mode is enabled, setting `noBorder = true` in options hides the border in scrolled state, but not in scroll edge state:

[code]

Results in:

<img width="412" alt="image" src="https://user-images.githubusercontent.com/768052/98562224-7c4ee380-22b2-11eb-9672-12e61387a92d.png">

and scrolled:

<img width="411" alt="image" src="https://user-images.githubus

[2020-11-09 22:53] enisinanaj commented on #3715
Exact same issue here.

[2020-11-09 23:00] enisinanaj commented on #3715
I solved it by setting the `missingDependencyStrategy` to `reactNative62` which is apparently compatible with react-native 0.63.3 that I'm currently using.

in `./android/app/build.gradle`

[code]

[2020-11-09 23:03] Andarius opened #6756 "mergeOptions inside a bottomTabs layout does not work"
## 🐛 Bug Report

Calling `mergeOptions` from a screen inside a bottomTabs layout does not work as expected

## To Reproduce

https://github.com/Andarius/react-native-navigation/tree/mergeIssue

Press "BottomTabs" button on the main page, then "Change right button"

## Expected behavior

A right button should appear when clicking on "Change right button"

## Actual Behavior

No right button is visi

[2020-11-09 23:06] jinshin1013 commented on #6751
Hi @linhtv97 🙌. Unfortunately you are on a wrong repo haha. This is `react-native-navigation` not `react-navigation` 😎

[2020-11-10 10:31] tarouboy opened #6758 "[v7] Execution failed for task ':react-native-navigation:compileReactNative60DebugKotlin'"
## 🐛 Bug Report

It was fine when I was compiling RNN v7.0, after upgrading to v7.2 or v7.3, when I compile will show below error:
**Execution failed for task ':react-native-navigation:compileReactNative60DebugKotlin'**

I can reproduce by creating a new test app and followed the instruction here:
https://wix.github.io/react-native-navigation/docs/installing

I've tried updating the build.gradle s

[2020-11-10 16:25] tarouboy commented on #6758
After upgrading Android Studio to 4.1, I am able to get the error from the log.

/node_modules/react-native-navigation/lib/android/app/src/main/java/com/reactnativenavigation/options/parsers/TypefaceLoader.kt: (6, 38):
Unresolved reference: ReactTypefaceUtils

Can someone help pls?

[2020-11-10 21:38] zabojad commented on #6743
Hi @guyca ! Sorry to ask you but this issue has got any activity since I've created it. It has a reproducer. Could it be at least tag so that it won't be automatically closed? It's a real issue that needs to be fixed...

[2020-11-11 07:25] guyca commented on #6701
Closing this one for now as I believe we addressed the issue in the discussion above. If there's a use case when can't be solved with the existing API's in an easy enough manner please describe it here or in a new issue.

[2020-11-11 07:25] #6701 closed

[2020-11-11 07:28] guyca commented on #6647
@mrousavy shared element transition in modals is supported on iOS in 7.20 and Android support was introduced in 7.3.0. Are we good to close this issue?

[2020-11-11 07:36] danilobuerger commented on #6758
Looking at the react native changelog it seems that `ReactTypefaceUtils` only became available starting in 0.62.
@guyca Any way we can make this backward compatible?

[2020-11-11 08:26] mrousavy commented on #6647
@guyca oh yeah of course! the flickering bug is tracked in another issue, so this can be closed. thanks

[2020-11-11 08:27] #6647 closed

[2020-11-11 09:41] yogevbd commented on #2162
Done

[2020-11-11 09:41] #2162 closed

[2020-11-11 12:25] zabojad opened #6760 "[v7] [iOS] setRoot error `TypeError: undefined is not an object (evaluating 'componentName.toString')`"
## 🐛 Bug Report

I'm having an error at `Navigation.setRoot()` and I do not get  why.

The error: `TypeError: undefined is not an object (evaluating 'componentName.toString')`

It happens only on iOS. Everything is fine on Android.

I don't know what change caused this issue to happen. I was not having this issue until today. I tried and it happens in v6.10.1, v7.2.0 and v7.3.0.

I believe it is s

[2020-11-11 12:29] zabojad commented on #6760
Apparently, it happens here:

[code]

in `commands/OptionsProcessor.js`

[2020-11-11 12:41] zabojad commented on #6760
Found out why this error was happening.

[2020-11-11 12:41] #6760 closed

[2020-11-11 12:53] zabojad opened #6761 "[V7] setRoot never returning (.then not called)"
## 🐛 Bug Report

Since today and without knowing the cause of that change, `Navigation.setRoot` is not resolving. I have absolutely no error neither in the XCode logs nor in the js logs.

It does not happen in Android.

I've tried to limit the setRoot content to a single screen without anything: no stack, no side menu but I still have the issue.

I do not know what to do next to debug this. Please

[2020-11-11 13:13] zabojad commented on #6761
Debugging the native calls reveals that `RNNBridgeModule.setRoot` is called but `RNNCommandsHandler.setRoot` is never called...

[2020-11-11 13:56] danilobuerger commented on #6761
Works in the playground app. Please provide a reproducible demo and follow the issue template.

[2020-11-11 14:02] DonovanDeSmedt commented on #6701
@guyca Thanks for the suggestion! Haven’t found time to test it out yet but it sure looks promising!

[2020-11-11 14:08] zabojad commented on #6761
@danilobuerger I'm trying to reproduce it on another project but fails to do so so far...

I have the same project running on RNN V6 which has not this issue. I'm following that track.

Please keep it open a couple of days until I find some more info and hopefully provide a reproducer.

[2020-11-11 14:19] zabojad commented on #6761
OK I rolled back my project to v6.12.2 + ios 10 as min SDK version and I do not have this issue anymore.

I'll try to reproduce it on the playground app tonight.

[2020-11-11 15:18] guyca commented on #6756
@Andarius
I checked out the `mergeIssue` branch but it seems like the layout screen is different then what's seen in the screen shots you've posted.

![Screenshot_1605106743](https://user-images.githubusercontent.com/12352397/98829478-ea75e080-2441-11eb-9377-f0511e1180ea.png)

[2020-11-11 15:28] Andarius commented on #6756
@guyca It did not push because of the eslint error. Should be ok now (I added --no-verify)

[2020-11-12 07:05] jinshin1013 commented on #6761
Minimum iOS required from RNN v7 is 11. Could you see if updating the iOS target to 11 fixes the problem?

[2020-11-12 08:56] zabojad commented on #6761
I already had min iOS version set at 11 when using the v7.

[2020-11-12 11:02] mrousavy opened #6763 "iOS Back Button vertically misaligned"
## 🐛 Bug Report

On iOS, the back button is somewhat weirdly aligned (vertically).

![13](https://user-images.githubusercontent.com/15199031/98931623-8ead6500-24de-11eb-9f14-b8c5caad13e1.png)
![14](https://user-images.githubusercontent.com/15199031/98931634-90772880-24de-11eb-95ed-a0e5e779b25d.png)

I'm not exactly sure what's causing this, but there can only be two things:

1. The bottom one is i

[2020-11-12 11:17] rosskhanas commented on #6618
@guyca did you have a chance to look at this? 🥺 Thank you.

[2020-11-12 16:03] mrousavy commented on #6763
Update: It's not an iOS 14 issue. I've upgraded my iPhone 8 to iOS 14, and the button is still misaligned. Looks like some commit broke this, I'm trying to find out which.

[2020-11-12 16:27] mrousavy commented on #6763
Update 2: Nevermind, it looks like it's an iOS 14.2 issue.. 🤔  My simulator is on 14.1 and everything looks as expected, my phones are on iOS 14.2 and the buttons are misaligned (on iPhone 8 and on iPhone 11 Pro)

[2020-11-13 13:33] varungupta85 opened #6764 "initialNotification fired again on calling Navigation.setRoot"
## 🐛 Bug Report

I support light and dark themes for my app. I call `Navigation.setRoot` when user changes the app theme to start using the new theme colors. If the app was previously started using a notification (this fires `initialNotification` event), then the `initialNotification` event is fired again after calling `Navigation.setRoot`.

### Have you read the [Contributing Guidelines on issues

[2020-11-13 13:36] varungupta85 opened #6765 "initialNotification fired again when app is stopped using the back button on Android"
## 🐛 Bug Report

If the app was previously started using a notification (this fires `initialNotification` event), then if the user taps on the back button to put the app in the background which technically also stops the app and start the app again at a later time from the "Recent Apps", the `initialNotification` event is fired again

### Have you read the [Contributing Guidelines on issues](https

[2020-11-13 18:14] HectorRicardo opened #6766 "Bottom tabs "currentTabId" option is ignored"
## 🐛 Bug Report

Trying to select a default tab by currentTabId doesn't work. In contrast, trying to select

### Have you read the [Contributing Guidelines on issues](https://wix.github.io/react-native-navigation/docs/meta-contributing)?

Yes

## To Reproduce

1. Install RNN according to the documentation: `npm i react-native-navigation` and then run `npx rnn-link`.
2. Create two simple screen com

[2020-11-14 17:20] zzorba commented on #6533
Curious if there is a workaround that anyone has found around this issue. I've started hearing more complaints from users as more people update to IOS 14.

[2020-11-15 09:53] vovkasm opened #6768 "Deep cloning of props contradicts documentation."
## 🐛 Bug Report

Current behavior is to deep clone `passProps`. As a result we can't pass mobx observables to components, also no objects can be passed "by reference". But documentation clearly states, that **any** objects can be passed through `passProps`.

![Docs](http://vovkasm.skitch.vovkasm.org/passProps_25612ECC.png)

Issue #4798 describe this behavior, but it was closed without full informa

[2020-11-15 13:09] vovkasm commented on #6768
I can prepare PR, after discussion to be sure that we agree on design.

[2020-11-16 05:00] HectorRicardo opened #6769 "Props are deep cloned the first time Navigation.updateProps is called"
## 🐛 Bug Report

For some reason, the first time `Navigation.updateProps` is called, properties of type object are deep cloned. For this reason, comparison with `===` fails.
However, from the second time on, this doesn't happen. I will show below a simple demostration in how to reproduce the bug in a practical example.

### Have you read the [Contributing Guidelines on issues](https://wix.github.i

[2020-11-16 06:00] ankitbhalla421 opened #6770 "Issue with ReactNativeHost and 0.63.3 React Native upgrade"
Issue with React Native 0.63.3 upgrade.

"version": "0.63.3",
"react": "16.13.1",

![image](https://user-images.githubusercontent.com/58589000/99217680-a8142100-27fe-11eb-98ce-5cdd47d37c0a.png)

It is giving error in NavigationPackage (reactNativeHost is null)

it is correctly defined in MainApplication as per documentation which is followed from here.
https://react-native-community.github.io/upgr

[2020-11-16 06:00] #6770 closed

[2020-11-16 07:37] guyca commented on #6768
Hey @vovkasm 👋
Thanks for reporting the issue and proposing to submit a PR! Let's continue the discussion on [Discord](https://discord.gg/DhkZjq2)? It's easier to have a conversation there compared to the issue tracker.

[2020-11-16 12:09] simonmitchell commented on #6760
@zabojad could you provide any info on what was causing this? Seeing the same issue in my project!

[2020-11-16 13:04] didrikkvanvik commented on #6130
I'm still experiencing this issue with the latest version. It works if I remove `bottomTabs` from `setRoot`, so I assume the issue has to do using `bottomtabs` while setting a the root.

[2020-11-16 13:26] #6766 closed

[2020-11-16 13:48] danilobuerger commented on #6766
@HectorRicardo please try the current master and see if the expected behavior is restored.

[2020-11-16 14:57] simonmitchell opened #6773 "[v7] Calling setDefaultOptions with custom title component fails"
## 🐛 Bug Report

Calling `setDefaultOptions ` at any point with a component-based title on either iOS or Android fails due to `toString()` being called on undefined:

[code]

### Have you read the [Contributing Guidelines on issues](https://wix.github.io/react-native-navigation/docs/meta-contributing)?

Yes

## To Reproduce

Call `setDefaultConfig` with a component-based title:

[code]

## Expecte

[2020-11-16 14:57] guyca commented on #6130
@didrikkvanvik Can you please submit a reproduction?

[2020-11-16 15:00] #6130 closed

[2020-11-16 15:01] guyca commented on #6769
duplicates #6768

[2020-11-16 15:01] #6769 closed

[2020-11-16 16:53] danilobuerger commented on #6773
Hi @simonmitchell . I don't really understand your bug report. Also there is no `component` nested inside `component`. (See the `Options` typings.

[2020-11-16 17:02] sharadrb commented on #5075
Nothing worked for me with React Navigation 4. This is what worked for me to resolve flickering.
animationEnabled: false

[2020-11-16 17:41] simonmitchell commented on #6773
Apologies @danilobuerger you do seem to be right! Do you know if perhaps the `component` that we have in our example is a legacy way of doing this? I'm going to remove it but want to make sure it's not just the documentation being incorrect

[code]

[2020-11-16 17:46] simonmitchell commented on #6773
Apologies, you are of course correct! Sorry for wasting your time. Have removed the inner `component` property and everything is rosy!

[2020-11-16 17:46] #6773 closed

[2020-11-16 17:46] danilobuerger commented on #6773
Also see the playground app. It uses custom title components, for example `CustomTopBar`:
[code]

[2020-11-16 22:49] zorox-1 commented on #6635
@shercoder please share how did u do it ? im facing similar issue and nothing is working for me

[2020-11-16 23:42] shercoder commented on #6635
@zorox-1 like it's stated in above link I shared, you'll have to manually pass the static methods to your wrapped component if you're using HOC

[code]

[2020-11-17 06:52] didrikkvanvik commented on #6130
I'm using precisely the same structure as specified in the docs. The `stack` has the same structure as `LayoutStack`.
The `getBottomTabs()` function returns the following:
[code]
I can't see a difference between this code and the docs. Bottomtabs works great within the app and we're experiencing no other issues with it, except when trying to reset the root with a stack of multiple components. If I

[2020-11-17 08:19] Adegeminas commented on #6071
I have a reproduction of this error with exactly same first five lines of the trace on RN 0.63.3 + RNN 7.3.0.
Android 9, 10 and 11. Samsungs, Pixels, OnePluses.

[2020-11-17 08:26] zabojad commented on #6760
@simonmitchell yes, it usually happens because of navigation options setting. In my case, I was passing options with both a `static options` field in the screen class, and by passing nav options to the nav command. I do not remember the exact details but the merging of those options did not work well and I sorted it out by managing the options merging myself with [`deepmerge`](https://github.com/T

[2020-11-17 08:58] guyca commented on #6130
@didrikkvanvik I just want to make sure I understand what you're trying to do. Are you trying to set the root of the [entire app](https://wix.github.io/react-native-navigation/api/root#setroot)? or reset a [specific stack](https://wix.github.io/react-native-navigation/api/stack#setstackroot)?

[2020-11-17 09:48] didrikkvanvik commented on #6130
Set the root of the entire app.

This is related to another issue I'm having. We support multiple languages in our app. When changing a language, the bottomtabs texts does not change. As a result, we have to reset the app root in order to update the bottomtabs text to the correct language. I tried using the `setStackRoot` as well, but then we end up with the push navigation animation when pushing

[2020-11-17 11:07] DonovanDeSmedt opened #6775 "BottomTabs text is truncated when icon is present on iPad"
## Issue description

When using `BottomTabs` with text & icon on an iPad , the text is truncated with an ellipsis no matter how long or short it is.
In case a badge is present in the bottom tab, only the text of the tab where the badge is present will be truncated when it's not currently selected (see screenshot). This only occurs on iPad, not on iPhone or Android devices.

Text in `BottomTabs` i

[2020-11-17 19:32] Andarius commented on #6756
Hey @guyca , were you able to reproduce with the updated repo ?

[2020-11-18 00:35] kanzitelli commented on #6717
@ArekChr @jinshin1013 I have faced the same issue while updating [expo-rnn-starter](https://github.com/kanzitelli/expo-rnn-starter/) and came up with a small workaround, it's a bit ugly but works for now. It might cause a bit of a delay on old models but didn't test.

Here is what I do:
[code]

So the basic idea here is to have the whole content hidden so the navigation bar will become large and o

[2020-11-18 02:17] delciopolanco commented on #6303
The documentation you provide doesn't reflect a real example of a drawer navigation feature. :(

[2020-11-18 07:43] guyca commented on #6756
Hey @Andarius, I haven't gotten back to it yet 😕

[2020-11-18 07:52] citizen-dror opened #6776 "Is there a way to use react-native-navigation from swift ViewController?"
we are using a swift ViewController  as a main view for  react-native project, and we want to move to react-native-navigation,

this is our code, can we change it to use react-native-navigation?

[code]

[2020-11-18 09:04] simonmitchell commented on #6760
Thanks for the reply @zabojad, got to the bottom of it in the end! Caused by a rogue `component` key within our custom title component. `component` keys are treated as if they are objects in `processComponent` so just cleared that up and now it's working! Thanks :D

[2020-11-18 10:56] rosskhanas commented on #6618
@guyca I wish I could, I'm not an Android expert 🙈 I'm open to providing some testing assistance if needed.

[2020-11-18 11:53] pie6k opened #6777 "MacOS support status"
## 📚 Documentation

I've created an app with Wix navigation and I was pretty happy with the results. Right now, however, I'm planning to release the mac version of my app and I'm doing some research about available options.

I was not able, however, to find out what is the 'official' status of MacOS support with the catalyst for Wix navigation.

It would be great to have some information about tha

[2020-11-18 15:37] ifier commented on #5656
We have light UI for the dark mode as well and I need to set color of border/shadow for bottomTabs to a dark color as well :(
Not stale

[2020-11-18 16:32] zabojad commented on #6743
OK, sometimes, even when reproducing, it's not a bug :D. I've resolved it with the use of `pointerEvents: none`

[2020-11-18 16:32] #6743 closed

[2020-11-18 18:12] kanzitelli commented on #6717
@guyca @jinshin1013 hi guys!
I have been playing around with the `Large Title` issue mentioned here and can confirm that the workaround above works for me. An example could be found [here](https://github.com/kanzitelli/expo-rnn-starter/blob/master/src/screens/ExpoScreen.tsx).

However, I have faced the other issue which relates to the weird behavior when you set the `Large Title` with `ScrollView`

[2020-11-19 08:27] danilobuerger commented on #6775
Duplicate of #6533

[2020-11-19 08:27] #6775 closed

[2020-11-19 08:29] #6776 closed

[2020-11-19 09:00] guyca commented on #6777
@frane Is working on an app targeting macOS. https://github.com/wix/react-native-navigation/pull/6419 note the screenshot is of an app running on mac. Perhaps he or @yogevbd can assist.

[2020-11-19 09:22] danilobuerger commented on #6777
Just a fyi: our app using rnn works just fine on catalyst, no problems at all. So yes it works, but its probably not "officially" supported. What that means is that if you have any issues you will probably have to fix them yourself but we will of course accept a PR for it.

[2020-11-19 09:37] guyca commented on #6758
@danilobuerger Looking at [ReactTypefaceUtils.java](https://github.com/facebook/react-native/blob/master/ReactAndroid/src/main/java/com/facebook/react/views/text/ReactTypefaceUtils.java) it has no dependencies on classes from React Native.

We can safely copy it to RNN's utils folder and use our copy. We've already spoken about setting min required RN version to 0.63 in the next major version for

[2020-11-19 09:42] frane commented on #6777
Hi @pie6k,

Currently (AFAIK) there are three ways of creating react native apps for Mac:

- https://github.com/ptmt/react-native-macos - Deprecated in favor of Microsoft's version
- https://github.com/microsoft/react-native-macos - Relatively early development, does not support RNN yet. The team has plans to support it, but doesn't say when
- https://developer.apple.com/mac-catalyst/ - Mac Cataly

[2020-11-19 09:49] danilobuerger commented on #6758
@tarouboy can you please try out #6778 and see if it fixes your issue and you are able to use rn 0.61 with it?

[2020-11-19 13:54] DennisMatthiasScherf commented on #3863
Hello guys, I also had this problem and it drove my crazy. **But I found a solution.**

Problem: When the Toast is active, you can't scroll - any interaction outside the toast container is not being registered, even with `overlay: {
    interceptTouchOutside: false,
  },` activated. This problem occurred on android only.

Solution: **The root-toast element has to have a `position:absolute`**, then

[2020-11-19 15:14] alpha0010 opened #6779 "TopBar icon button padding"
## 🚀 Feature

Adding padding to the hit target icon buttons in the TopBar.  This could either be a fixed amount (e.g. always pad until icon is at least X-by-X), or a configurable parameter.

### Have you read the [Contributing Guidelines on issues](https://wix.github.io/react-native-navigation/docs/meta-contributing)?

Yes.

## Motivation

Using `react-native-vector-icons` `Icon.getImageSource()`,

[2020-11-19 21:46] fadinasr commented on #6554
@danilobuerger I'm using the latest version of react-native-navigation (7.4.0) and still facing the same issue on iOS. All the screens in the root are being rendered on app start.
[code]

[2020-11-19 21:58] danilobuerger commented on #6554
@fadinasr thats not where the option belongs. Please check the docs and typings.

[2020-11-20 03:05] adammcarth commented on #3218
Ahhh, thanks a million for the detailed explanation @bdrobinson! I'd been stuck on this one for months.

In our case, we actually have an abstraction around the Wix `Navigation` API which exposes the `registerAppLaunchedListener` as an observable. We'd always been using that before doing `setRoot`, so I didn't really consider that would be the issue.

But the mistake we made was that our abstracti

[2020-11-20 13:35] kanzitelli commented on #5403
If anyone is still facing this issue, try out these workarounds - [gist](https://gist.github.com/kanzitelli/76609c98dd39bea75f5451f286c412f2).

[2020-11-20 13:36] kanzitelli commented on #5454
If anyone is still facing this issue, try out [these workarounds](https://gist.github.com/kanzitelli/76609c98dd39bea75f5451f286c412f2).

[2020-11-20 13:36] kanzitelli commented on #5565
If anyone is still facing this issue, try out [these workarounds](https://gist.github.com/kanzitelli/76609c98dd39bea75f5451f286c412f2).

[2020-11-20 14:53] #6768 closed

[2020-11-20 16:30] Peeeep commented on #2622
Old thread, I’m aware, but I thought leaving this here might help people who use functional components:

[code]

[2020-11-20 20:36] danilobuerger commented on #6779
Duplicate of #5000

[2020-11-20 20:36] #6779 closed

[2020-11-21 08:13] aTrueSeeker opened #6783 "How to migrate from v1 to latest version"
## 📚 Documentation

No documentaion from migrating from v1

[2020-11-21 08:33] jinshin1013 commented on #6783
Hi @aTrueSeeker it has been quite some time the project has upgraded to `V7` and there were some fundamental changes since if I remember correctly 😅

I understand that the migration from V1 to V7 isn't going to be smooth and frankly could be painful 🙏 but I'd suggest you become familiar with the latest API, perhaps you could play around with `Playground` app. Once you are confident that you unders

[2020-11-21 08:33] #6783 closed

[2020-11-21 08:36] jinshin1013 commented on #6777
It's honestly quite amazing that it worked with Mac Catalyst without `much work`!. If we support Web as well, RNN would be one platform for all!

[2020-11-21 09:52] mrousavy commented on #6777
@jinshin1013 well, there's still Windows and we can't re-use any existing code on windows since that's WinRT (so C# or C++) 😬

[2020-11-21 09:56] ArekChr commented on #6728
someone working on fixing that?

[2020-11-21 11:40] yogevbd commented on #6728
@mrousavy I think that when we hijack that view, we reset the view transformation and we shouldn't, can you try to remove [this line](https://github.com/wix/react-native-navigation/blob/e58be648e33c68c4046ddf1a74cfff2c3674c9ee/lib/ios/AnimatedReactView.m#L56) and test again?

@ArekChr I'm currently full time working on the shared element feature.

[2020-11-21 12:22] mrousavy commented on #6728
You're our hero @yogevbd 🙏

About the transform reset; I initially also thought this was the problem, tried to remove that line but that didn't change anything :(

[2020-11-21 13:44] #6533 closed

[2020-11-21 18:32] fadinasr opened #6786 "All screens load and render on app start"
## 🐛 Bug Report

I'm using bottom tabs in my Main root after the user logs in. All pages are rendering after the app starts. I tried using `tabsAttachMode: 'onSwitchToTab'` but nothing is changed.

### Have you read the [Contributing Guidelines on issues](https://wix.github.io/react-native-navigation/docs/meta-contributing)?

Yes

## To Reproduce

1. Add tabs attached mode to qual to `onSwitchToTa

[2020-11-21 18:39] fadinasr commented on #6554
@danilobuerger checked the official documents and found nothing there, any available link or idea where I can find them?

[2020-11-21 18:48] fadinasr commented on #6786
Tried to add `tabsAttachMode: 'onSwitchToTab'` inside `Navigation.setDefaultOptions` and also didn't work.

[2020-11-22 08:43] guyca commented on #6130
@didrikkvanvik The root layout you're using seems wrong. you're using both stack and bottom tabs!

[code]

[2020-11-22 11:19] danilobuerger commented on #6554
@fadinasr Its best if you ask those questions on Discord. I am sure somebody will be able to help you there. We want to use the issue tracker here only for bugs and features.

[2020-11-22 18:51] arcziby commented on #6763
Any information about coming fixes?

[2020-11-22 21:22] #6746 closed

[2020-11-22 23:17] Brad19 commented on #6340
I'm looking forward to do something that is already done with react-navigation. Is there anyway to add it something like below
https://www.npmjs.com/package/react-native-animating-bottom-tab-bar

Any updates would be really appreciated

[2020-11-23 08:11] mrousavy commented on #6340
@Brad19 The difference between react-navigation and react-native-navigation is that react-native-navigation uses the _native_ bottom tabs APIs. This means, that it looks, acts and feels different on iOS and android, since the bottom tabs are not react components. While this provides a lot of benefits for look and feel, stability and performance, this also means that there is limited flexibility wh

[2020-11-23 08:27] tarouboy commented on #6758
Unfortunately, installed 7.4.0 and still not able to compile.

...node_modules/react-native-navigation/lib/android/app/src/main/java/com/reactnativenavigation/react/ReactGateway.java:47: error: cannot find symbol
            host.getReactInstanceManager().onConfigurationChanged(activity, newConfig);

symbol:   method onConfigurationChanged(NavigationActivity,Configuration)
location: class ReactIns

[2020-11-23 08:36] didrikkvanvik commented on #6130
@guyca Ah that explains it. It works fine resetting with a stack now. Thanks!

[2020-11-23 09:08] zcgong opened #6789 "Is there anyway to use an online icon on BottomTab ?"
## 🚀 Feature

Use online icons for BottomTab

### Have you read the [Contributing Guidelines on issues](https://wix.github.io/react-native-navigation/docs/meta-contributing)?

yes

## Motivation

## Pitch

[2020-11-23 09:16] #6758 closed

[2020-11-23 09:41] #6789 closed

[2020-11-23 09:44] danilobuerger commented on #6786
There is no `root.bottomTabs.tabsAttachMode` option.

[2020-11-23 09:44] #6786 closed

[2020-11-23 10:27] jinshin1013 commented on #6764
@varungupta85 Could you please more information on the issue you are experiencing? What is `initialNotification`? Where are you putting this event handler that is firing again? Can you provide a minimal reproduction of this, preferably without introducing any 3rd party dependencies (you could just use `console.log` for example to mimic the event handler running again)?

[2020-11-23 10:28] jinshin1013 commented on #6765
I'm assuming this is similar to your previous issue #6764. Let's keep it the discussion in one place. Closing this now.

[2020-11-23 10:28] #6765 closed

[2020-11-23 10:32] jinshin1013 commented on #6761
@zabojad Have you resolved the issue? I had a similar experience the other day while upgrading RNN and it turned out I've missed adding this to `AppDelegate.m` file:

[code]

Your problem may be something totally different but just thought to double check.

[2020-11-23 15:09] remstos commented on #5565
For what it's worth. This issue disappeared by removing waitForRender: true that was in my default options

[code]

[2020-11-23 16:39] zabojad commented on #6761
Hey @jinshin1013! No I did not come back to this issue since 11 days ago. I will try your fix and keep you updated in this ticket about the results.

[2020-11-23 17:34] svenlombaert commented on #5950
@guyca This is still not working on the latest version. In my console I can see logs like these for every tab:

[code]

But my actual `console.log` inside the tab does not log, until I switch to that tab..

[2020-11-24 06:35] Frenchford commented on #4716
@guyca what about v7.1.0?
passProps are unavailable

[2020-11-24 07:56] Frenchford opened #6790 "passProps are unavailable in commandListener"
## 🐛 Bug Report

passProps passed into component on showModal are unavailable in commandListener

## To Reproduce

1. Register component
[code]
2. call showModal
[code]
3. Navigation.events().registerCommandListener fires with
[code]

## Expected behavior

passProps of components are available and same as it was called in showModal

## Actual Behavior

passProps are undefined

## Your Environment

[2020-11-24 09:01] Frenchford commented on #6790
#4716 https://github.com/wix/react-native-navigation/issues/4716

[2020-11-24 10:30] svenlombaert opened #6791 "[v7] TabsAttachMode not working in sidemenu/bottomtabs layout setup"
## 🐛 Bug Report

When using bottomtabs inside the center component of a sidemenu layout, the tabs seem to initialise only after switching to them, even when explicitly defining the `tabsAttachMode: 'together'`.

### Have you read the [Contributing Guidelines on issues](https://wix.github.io/react-native-navigation/docs/meta-contributing)?

Yes.

## To Reproduce

Created reproducible example, run t

[2020-11-24 10:55] svenlombaert commented on #5665
I cannot reproduce this one anymore on 7.4.0, was following this issue but seems fixed for me 💪

[2020-11-24 12:52] #6791 closed

[2020-11-24 15:45] pribeh commented on #6790
Bummer

[2020-11-24 15:59] danilobuerger commented on #6790
In the playground app you can go to Navigation -> Modal -> Show Modal. On both platforms I got something similar to:
[code]
On both platforms the `passProps` was present and filled. Please provide a reproducible demo (as asked in the issue template!) with the newest version of rnn for us to investigate this further.

[2020-11-25 00:35] worstpractice commented on #358
In the `screenOptions` prop passed to `Stack.Navigator`, setting `stackAnimation: "none"` fixes the white flashes for me.

Sure, the resulting navigations do become jarringly instant - but I've never heard a user complain that an app is "too snappy" or "responds too quickly" to interactions.

I'm using Expo 39.0.4 with `@react-navigation/native` version `5.8.10`.

[2020-11-25 10:09] Brad19 commented on #6340
@mrousavy Thanks for the update. I get the context. I'll have to decide if I can do this in React. But it would be nice to have if there is an option.

[2020-11-25 11:03] yusufyildirim commented on #6635
As @jinshin1013 pointed earlier, If you use a wrapped component, it's sufficient to just pass the component itself as is as third argument to the `registerComponent` function. The third argument is called `concreteComponentProvider` in the [documentation](https://wix.github.io/react-native-navigation/api/component/#parameters) and here is the example of the [usage](https://wix.github.io/react-nati

[2020-11-25 14:27] chrise86 commented on #358
@worstpractice that is a different library, not this one.

[2020-11-25 14:33] #6728 closed

[2020-11-25 17:20] marcshilling commented on #6534
This is still happening for me on 7.4.0 :(

[2020-11-26 07:46] MrOggy85 commented on #5980
I managed to disabled them by adding this to `settings.gradle`
[code]

[2020-11-26 08:32] guyca commented on #6607
Closing this one as either it's already fixed or does not reproduce since switching to modals. @mrousavy thanks for all the info you've provided!

[2020-11-26 08:32] #6607 closed

[2020-11-27 16:02] nericode commented on #3527
@nenjamin2405 what happens with version 6.X?

[2020-11-27 18:24] dmexs commented on #2944
Just a note for those using native-base with the above conflict. You can set iOS (limited colors) and Android status bar color using the Header component:

https://docs.nativebase.io/Components.html#header-def-headref
https://github.com/GeekyAnts/NativeBase/issues/2940

[2020-11-28 06:22] marcshilling commented on #6534
Seems related to #6092 and react-native-safe-area-context. If I remove the `<SafeAreaProvider>` around my Login component, no white flash.

CC @danilobuerger

[2020-11-28 08:11] WASHSWATDAVID opened #6797 "[V7] RuntimeException on android"
## 🐛 Bug Report

I got the RuntimeException on the android version.

React-native Info
[code]

RNN Version
[code]

Logs
[code]

build/gradle
[code]

build/app/gradle
[code]

### Have you read the [Contributing Guidelines on issues](https://wix.github.io/react-native-navigation/docs/meta-contributing)?

Sure

(Write your answer here.)

## To Reproduce

(Write your steps here:)

1. Step 1...
1. Step

[2020-11-28 09:28] jinshin1013 commented on #6797
Hi @WASHSWATDAVID, please follow the issue template.

[2020-11-28 09:28] #6797 closed

[2020-11-29 11:02] guyca commented on #6534
@marcshilling Can you please fork the library and reproduce the issue in the Playground app? It will help us understand if there's something wrong on your end or if there's still something that needs fixing.

[2020-11-30 04:22] VivekkChudasama commented on #5525
Any help?

[2020-11-30 04:42] jinshin1013 commented on #5525
Have you guys tried on the latest version? I cannot reproduce the issue on the Playground app.

[2020-11-30 06:34] VivekkChudasama commented on #5525
Yes, I'm using the latest version.
Please check the below screenshots.

![image](https://user-images.githubusercontent.com/24473813/100576402-17603980-3304-11eb-9989-bb3eb6ea6622.png)

[2020-11-30 07:39] jinshin1013 commented on #5525
@VivekkChudasama You are on a wrong repo 🤓 This is `react-native-navigation`.

[2020-11-30 11:52] parth-koshta commented on #4841
Anyone find any solution? I'm also having same issue

[2020-11-30 17:32] Frenchford commented on #6790
Untouched playground with registerCommandListener in start function of the playground app.
Navigation -> Modal -> ShowModal.
CommandListener fires with next params
[code]

passProps are undefined despite showModal:
[code]

[2020-11-30 17:38] danilobuerger commented on #6790
@Frenchford that is not sufficient as a reproduction. As I mentioned above, I tried the playground app on android and received the filled `passProps` (see above).

[2020-11-30 17:45] Frenchford commented on #6790
@danilobuerger any suggestions? How to prove that I'm not a camel?

[2020-11-30 17:46] danilobuerger commented on #6790
Don't know, but we can't fix a problem that we are not experiencing.

[2020-11-30 18:51] Frenchford commented on #6790
Maybe I use it wrong? Is that correct?
[code]

[2020-11-30 18:57] Frenchford commented on #6790
As I understand layoutTreeCrawler mutates the layout that passed to showModal command. So crawl removes passProps from layoutNode.  And even notify calls before crawl, both of them use the same object which is already mutated in commandListener.

[2020-11-30 19:03] guyca commented on #6790
@Frenchford It would be best if you could submit a falling Detox e2e test which reproduces the bug.

[2020-12-01 03:46] marcshilling commented on #6534
I think it can be chalked up to a limitation with `react-native-safe-area-context`, not an issue with this library. I got rid of the issue by just not using that context provider and just using `<SafeAreaView>` from React Native.

[2020-12-01 04:17] marcshilling opened #6800 "Status bar always black when setRoot is delayed"
## 🐛 Bug Report

When your `Navigation.setRoot` call is delayed, the status bar text color changes to black during launch, even when you set Status Bar Style to "Light Content" in Xcode.

### Have you read the [Contributing Guidelines on issues](https://wix.github.io/react-native-navigation/docs/meta-contributing)?

Yes

## To Reproduce

1. Set `UIStatusBarStyle` to `UIStatusBarStyleLightContent`

[2020-12-01 08:08] mrousavy commented on #6534
@marcshilling The Safe Area should just manage insets (padding), and I don't believe it has so large padding that the view is actually 0 in size at first render. If anything weird comes up again please report back

[2020-12-01 08:36] cp-rf commented on #6071
@Adegeminas Could you provide the stack trace for the same, so that @guyca can pick it up. We are also having this issue on production but we are using RNN=6.12.2 and RN = 61.5.

[2020-12-01 10:15] svenlombaert opened #6801 "Disabled SideMenu prevents iOS pop gesture"
## 🐛 Bug Report

In my SideMenu + BottomTabs lay-out I disable the SideMenu when pushing a screen on one of the tab's stack. When I do the pop gesture on the pushed screen, it does not work. Looks like the SideMenu is swallowing those touches.

I used to use a fork of this library with a very dirty fix, can be seen here:
https://github.com/svenlombaert/react-native-navigation/commit/230f5034260dad

[2020-12-01 10:46] Frenchford commented on #6790
@guyca, Got it! My case is I want to keep props I got in the commandListener for a while. The only thing I have is to deep copy props in the commandListener because it will be mutated right after notify ends. Right?

[2020-12-01 10:46] danilobuerger commented on #6800
@marcshilling Could you please try the fix in #6803 and report back?

[2020-12-01 11:25] danilobuerger commented on #6758
@tarouboy Does it work now with 7.5.0?

[2020-12-01 12:54] Adegeminas commented on #6071
![image](https://user-images.githubusercontent.com/6795422/100743559-81084280-33ed-11eb-8517-a6c82ac2d6a1.png)

[2020-12-01 12:59] Adegeminas commented on #6071
Will update to 7.4.0 soon, but now on 0.63.3 + 7.4.0 still have the same bug:

![image](https://user-images.githubusercontent.com/6795422/100743948-160b3b80-33ee-11eb-91fc-f9c08a81fbf2.png)

[2020-12-01 13:22] Babazon opened #6804 "Is it possible to set up React Native Navigation with a Root <App/> component?"
## ❓ Questions and Help

I am having difficulty implementing some features into our app where this library was used for navigation. Basically I need a root <App/> component where I can nest different <Provider>'s, a root level layover/screen blocker, and add listeners such as Linking in the componentDidMount(){} lifecycle method. However we just have a function that delegates displaying the app to

[2020-12-01 13:22] #6804 closed

[2020-12-01 13:43] sesm opened #6805 "Closing RN modal closes navigation modal."
## 🐛 Bug Report
If we open a RN modal, then open navigation modal (via `Navigation.showModal`), then close RN modal, navigation modal will close too.

### Have you read the [Contributing Guidelines on issues](https://wix.github.io/react-native-navigation/docs/meta-contributing)?

Yes

## To Reproduce

1. Open RN modal via `Modal` component, without using `Navigation`.
1. Open `Navigation` modal vi

[2020-12-01 13:46] danilobuerger commented on #6805
@sesm Whats the use case for using react-native modal instead of the one provided by rnn?

[2020-12-01 13:49] sesm commented on #6805
@danilobuerger We have an Action Sheet component that uses RN modal. We want to open a full screen modal from Action Sheet and close Action Sheet. If we close Action Sheet first, we hit this issue https://github.com/facebook/react-native/issues/10471, if we open Navigation modal first, then close Action Sheet we hit this case.

[2020-12-01 13:53] marcshilling commented on #6534
@mrousavy I can definitely reproduce it in the playground repo if you are curious

[2020-12-01 14:00] marcshilling commented on #6800
@danilobuerger yep, that fixes it! Sorry, don't know how I didn't find that first. Will patch for now until this gets merged, thanks.

[2020-12-01 14:04] danilobuerger commented on #6805
The crux is the code in react-native modal:

[code]

https://github.com/facebook/react-native/blob/d85d5d2e1974b463318e4c86da29a5ccdd60a977/React/Views/RCTModalHostViewManager.m#L99

`viewController == RCTModalHostViewController`
`viewController.presentingViewController == TestScreen RNN ViewController`

So dismissing from that will cause the rnn modal to close as it was also presented from it.

T

[2020-12-01 14:04] #6805 closed

[2020-12-01 14:39] sesm commented on #6805
@danilobuerger Thanks for explanation!
Is there a workaround that will change `presentingViewController` to other view?
I tried passing the code with `Navigation.showModal` as a callback from upper level component, but this doesn't help.

[2020-12-01 14:41] danilobuerger commented on #6805
No, thats just how modals work. You should be looking into not using react-natives modal. It shouldn't be hard to use an action sheet with rnn. If you need help come and join us on discord. I am sure somebody will be able to help you out there.

[2020-12-01 14:46] sesm commented on #6805
We need to refactor our Action Sheet to not use react-native modals then. That's not hard, just needs some work on our side.
Thanks again!

[2020-12-01 20:15] edinpuzic opened #6807 "Shadow don't appears on the Bottom Tabs when using iOS Device"
I'm having an issue using the bottom tabs, on the iOS emulator I see Shadow but When I open the application on iOS Device It not appears. Did anyone had similar issues?

Versions:
[code]

Set root and Default settings:

[code]

On the iOS 14.2 Simulator:
![Screenshot 2020-12-01 at 18 59 06](https://user-images.githubusercontent.com/5896608/100791851-13264000-341a-11eb-9b01-5385eaf7f850.png)

On th

[2020-12-01 21:33] #6807 closed

[2020-12-01 21:59] djschilling opened #6808 "Cannot build release Undefined symbols for architecture armv7"
## 🐛 Bug Report

After upgrading to version `7.5.0` from version `6` i get the following compiler error when trying to release a new version on ios:

[code]

I tried the steps descriped here but they didn't help: https://github.com/facebook/react-native/issues/29984#issuecomment-696328815

### Have you read the [Contributing Guidelines on issues](https://wix.github.io/react-native-navigation/docs/

[2020-12-01 22:16] #6808 closed

[2020-12-02 08:07] #6800 closed

[2020-12-02 08:27] djschilling commented on #6808
Why did this issue get closed?

[2020-12-02 11:11] danilobuerger commented on #6808
@djschilling because its not a bug with rnn. Most likely it has to do with your specific setup. You are more than welcome to join us on Discord and ask for help there. But this issue tracker (as explained above) is for bugs and feature requests.

[2020-12-02 12:02] danilobuerger commented on #6602
stale

[2020-12-02 12:02] #6602 closed

[2020-12-02 12:02] #6606 closed

[2020-12-02 12:06] danilobuerger commented on #6583
no reproduction supplied.

[2020-12-02 12:06] #6583 closed

[2020-12-02 13:26] guyca commented on #6790
It's very easy I assure you. Just clone the repo and run the tests - it should just work.

[2020-12-02 13:27] danilobuerger commented on #5146
It doesn't make sense to keep this open anymore.

1) *IQKeyboardManager* has been converted to swift, so things changed
2) We no longer have *RNNNavigationController* or the shown method
3) Nobody was interested to fix this issue for 1,5 years.

If this issue still exists with the current versions of IQKeyboardManager and RNN, feel free to reopen.

[2020-12-02 13:27] #5146 closed

[2020-12-02 13:56] mateioprea commented on #5146
I'm using IQKeyboardManager with RNN and it doesn't cause any infinite loops

[2020-12-02 14:24] #6543 closed

[2020-12-02 14:24] #6569 closed

[2020-12-02 14:38] robrechtme commented on #6663
Still an issue.

[2020-12-02 15:00] stereodenis commented on #6522
This is not stale
and we all waiting for this

[2020-12-02 15:00] chrise86 commented on #6549
Still not stale...

[2020-12-02 15:38] danilobuerger commented on #6522
@stereodenis instead of waiting you could implement it and submit a PR?

[2020-12-02 16:19] zzorba commented on #6608
Not stale, this bug still exists on the latest version as far as I can tell.

[2020-12-02 23:16] pribeh commented on #6663
Experiencing the same.

[2020-12-03 02:31] TrustDec commented on #6535
+1 for this feature

[2020-12-03 08:38] mrousavy commented on #6729
fixed with https://github.com/wix/react-native-navigation/commit/6835d63d392c889d7c36fa080aaec9dfb253c731

[2020-12-03 08:38] #6729 closed

[2020-12-03 08:58] djschilling commented on #6028
@sallar Thanks this is working for us.

[2020-12-03 08:58] #6028 closed

[2020-12-03 09:26] janpawellek commented on #4290
We also need this feature.

[2020-12-03 09:46] janpawellek opened #6813 "Search Top Bar visibility can't be toggled to not shown"
## 🐛 Bug Report

Using `Navigation.mergeOptions` the visibility of the seach top bar can be toggled from not visible to visible by passing `topBar.searchBar.visible = true`. However, once the search bar is visible, it doesn't disappear again if this property is set to false.

### Have you read the [Contributing Guidelines on issues](https://wix.github.io/react-native-navigation/docs/meta-contribut

[2020-12-03 09:59] svenlombaert commented on #6801
@yogevbd This seems half fixed. I updated my branch with the master and swiping only works 5/10 times. If you try it on the layout without a SideMenu it works perfectly, but layouts with a disabled SideMenu still act really weird. I'm not able to swipe half of the time and it's even worse on a real device.

[2020-12-03 14:27] jacquesdev commented on #6450
This is still an issue

[2020-12-03 15:30] manuhook opened #6815 "[iOS] mergeOptions is slow"
## 🐛 Issue Report

Hi !

mergeOptions on iOS is slower since version 6.10.1
I use it on a scroll to change the color of the status bar and the tabbor at a given scroll point, and the scrolling is jumpy on iOS.

Note that it's not the options that consume resource. If I do a simple Navigation.mergeOptions(componentId); the scrolling become also jumpy.

No problem on Android, it’s butter smooth, but

[2020-12-03 15:55] mrousavy commented on #6815
I can't wait for the bridge to disappear. With a sync invocation (TurboModules) this would be much smoother.

Either way, that's a regression. I believe @yogevbd is pretty busy right now, I've assigned him but I'll take a look at this tomorrow and see if I can fix it.

[2020-12-03 17:17] Andarius commented on #6756
@guyca I noticed that in the current latest version of master (7.5.0) the same occurs if on the 1rst page, you click bottom tabs.
The star won't appear, but if you change tab then back it will.

![video](https://user-images.githubusercontent.com/5070712/101063984-c1a1c080-3593-11eb-8c20-bff45281a03c.gif)

[2020-12-03 17:52] samparmenter commented on #5524
Still not fixed...

[2020-12-04 02:39] truongduyng commented on #6063
I'm also counter this but not see this event fire from registerComponentDidAppearListener.

[2020-12-04 09:37] vuongductuanktmt commented on #6344
same issue, please fix it. thanks

[2020-12-04 14:36] Andarius opened #6816 "Topbar flickering on first render with bottomTabs layout if title is not set"
## 🐛 Bug Report

During the first render, if the title is not set, the topbar will flicker

## To Reproduce

https://github.com/Andarius/react-native-navigation/tree/topbarIssue

Pressing the "Options" button does not make the topbar flicker, but the "Navigation" one does.

## Expected behavior

Should not flicker if title is not set

## Actual Behavior

Topbar is flickering after the first render

[2020-12-04 16:43] EliecerC commented on #5234
Hey, @johnnyborg did you guys find any solution to this? still happening to us.
RNN version: 7.3.0.
RN version: 0.63.4.
iOS: 14.2.
Device: iPhone 11 simulator and also real devices.

[2020-12-04 18:44] johnnyborg commented on #5234
Hey @EliecerC ,
I believe we've changed the design a bit as a workaround. Maby @loudy or @rtuin can peek into the code to see if they're still using it.

[2020-12-05 11:17] danilobuerger commented on #6815
@guyca I wonder why we are resorting to runtime introspection for mergeOptions anyway? Why not do it like on android and be explicit about what we are merging?

[2020-12-06 11:34] yogevbd commented on #6815
@danilobuerger we should be explicit here.. working on it asap

[2020-12-07 08:28] #4290 closed

[2020-12-07 11:32] #4346 closed

[2020-12-07 13:48] AlphaJuliettOmega commented on #3044
Installed RNN using the guide, now my 'Hello World' application is just a white screen with 0 errors, 0 debugging output.

Not happy that this thread is closed without anything being fixed.

[2020-12-07 14:38] parth-koshta commented on #5954
Got this issue on 7.1.0
Setting the icons and text again fixed it for me.
Navigation.mergeOptions(screenName, {
    bottomTab: {
     icon: Icons.ordersTab,
     selectedIcon: Icons.ordersTabActive,
     text: 'Orders',
      badge: '10+',
      badgeColor: 'red',
    }
  });

[2020-12-07 14:46] mateioprea opened #6818 "[Android] SearchBar implementation"
## 🚀 Feature

(A clear and concise description of what the feature is.)

### Have you read the [Contributing Guidelines on issues](https://wix.github.io/react-native-navigation/docs/meta-contributing)?

**Yes.**

## Motivation

The goal is to have an iOS equivalent in Android for the search bar.

## Dev plan

We should support almost all existing search bar options (enumerated below) when possible

[2020-12-08 04:10] guyca commented on #6818
@mateioprea How do you envision the api will look like?

[2020-12-08 04:16] #6813 closed

[2020-12-08 13:40] #6815 closed

[2020-12-08 14:41] #6801 closed

[2020-12-08 21:10] charpeni opened #6821 "mergeOptions overwrites noBorder on tabBar"
## 🐛 Bug Report

When we're calling `Navigation.mergeOptions` to set the background color (and maybe other options) on the tabBar, the `noBorder` option is overwritten and there's no way to set it back.

### Have you read the [Contributing Guidelines on issues](https://wix.github.io/react-native-navigation/docs/meta-contributing/)?

Yes.

## To Reproduce

[code]

## Expected behavior

<img height=

[2020-12-09 09:01] mrousavy commented on #6071
@alexandrasmith00 @Adegeminas @cp-rf @Rishabh-Streak @tellodaniel @truongduyng Could you please create a reproducible code example?

[2020-12-09 09:38] phattanle2009 commented on #6021
You have saved my day! This comment is very helpful. Big thanks.

[2020-12-09 14:20] priyak-sdei opened #6827 "White Space at bottom of Tabs"
## 🐛 Bug Report

Bottom tabs are showing  whitespace from bottom. See screenshot attached.
![Simulator Screen Shot - iPhone XR - 2020-12-09 at 19 45 56](https://user-images.githubusercontent.com/70944781/101641194-7ab24000-3a57-11eb-939d-ec9d0454c8f1.png)

## Your Environment
- React Native Navigation version: 3.2.0
- React Native version: 0.61.1
- Platform(s) (iOS, Android, or both?): iOS
- Devic

[2020-12-09 14:28] #6821 closed

[2020-12-09 15:02] #6605 closed

[2020-12-09 15:02] #6626 closed

[2020-12-09 15:02] #6661 closed

[2020-12-09 15:19] nitzanbener opened #6828 "Content view is hidden by the bottom tabs"
## 🐛 Bug Report

I have a clean screen with only <View style={{ height: '100%', justifyContent: 'flex-end' }}><Text>Hey!</Text></View> and bottomTabs are set with 4 items.

The issue is that the bottom tabs are places on top of the view, making the text invisible.

## To Reproduce

1. Create a new application with 4 screens and bottom tabs included.
2. Set the first screen to have a View just like

[2020-12-09 16:03] charpeni commented on #6821
As usual, @yogevbd @guyca thanks for handling this so quickly. ❤️

[2020-12-10 07:13] guyca commented on #6103
Stale bot what are you doing!!!! 🤬

[2020-12-10 07:18] guyca commented on #6063
@bneigher this issue was reported for iOS only - can you please open another issue with a reproduction for Android?

[2020-12-10 08:38] lukebrandonfarrell commented on #6103
Damn stale bot ! He should know documentation is never finished 🥴

[2020-12-10 09:33] guyca commented on #6103
I'm a believer 🤷
![image](https://user-images.githubusercontent.com/12352397/101753546-716ab700-3adb-11eb-9a89-0f9277745c87.png)

[2020-12-10 14:29] ghitier commented on #6359
Hello, I encounter the same issue. We would certainly expect iOS to have the same behaviour as Android here. This ticket should be reopened imo (as an iOS bug).

[2020-12-10 16:06] #6687 closed

[2020-12-11 08:56] truongduyng commented on #6071
here is my stack trace reported by crashlytics. My app is running on RNN v7.5. Only happens on production app. I cant still reproduce it on local

[code]

[2020-12-11 10:27] guyca commented on #6071
@truongduyng does the crash happen in a specific flow? Any info you can share about how you use RNN will help.

Are you showing modals to show error screens (when network requests fail for example)
Are you assigning predefined id's to some of your layouts/screens?

[2020-12-11 15:53] marcshilling commented on #6608
Just confirming that this is still an issue on iOS 12 with version 7.5.0 of react-native-navigation

[2020-12-11 19:24] RichardLindhout commented on #6321
I followed all the steps from expo
https://docs.expo.io/bare/installing-unimodules/

That works the same in RNN the only hard thing (since I don't know any objective C) was the extraModulesForBridge where you need to add uniModules and RNN.

[code]

Full appdelegate.m
[code]

[2020-12-12 09:22] #6669 closed

[2020-12-12 17:20] danilobuerger commented on #6535
The way I see it: there are a lot of splash screen libraries out there (react-native-bootsplash, react-native-splash-screen, expo-splash-screen, etc.). So obviously there is a need from the community for a solution to the problem. Then it depends on how we see a splash screen in relation to navigation (the goal we are trying to solve). If a splash screen is part of navigation then we should provid

[2020-12-12 18:42] guyca commented on #6535
If we want to make things really easy and avoid messing with native code - we can read a configuration closure declared in package.json and control the splash screen accordingly.

[code]

Or do we actually need both `start` and `stop` methods?

[2020-12-12 19:05] danilobuerger commented on #6535
@guyca yeah that could also be a solution.

[2020-12-13 09:03] guyca commented on #5960
duplicates #3929

[2020-12-13 09:03] #5960 closed

[2020-12-13 10:10] #6359 closed

[2020-12-13 20:58] #6051 closed

[2020-12-14 11:06] Desintegrator commented on #4593
faced same issue (((

[2020-12-14 14:15] mateioprea commented on #6818
@guyca what should we do if the user has more than 1 left button?
I'm trying to follow some of the examples listed here: https://github.com/arimorty/floatingsearchview (scroll down to **Left action mode**).
As you can see (also pointed out here https://material.io/design/navigation/search.html#expandable-search), in Material design you can only have one left button which can open up a contextual m

[2020-12-14 16:38] #3929 closed

[2020-12-14 21:19] danilobuerger commented on #4593
If anybody is experiencing this issue with rnn v7 please open a new issue and provide a reproducible demo.

[2020-12-15 08:53] aliraza-noon commented on #6535
@guyca `start` and `stop` could be more suitable IMO

[2020-12-15 13:11] #5000 closed

[2020-12-15 17:08] byunlee commented on #1234
I'm looking for a way to freely navigating between RN and native on a complex navigation stack. What is the latest information on this issue on supporting the brown field app? The issue is still open but some say it is currently working. If it is supported, what are some good resources around this?

[2020-12-15 17:08] byunlee commented on #1234
I'm looking for a way to freely navigating between RN and native on a complex navigation stack. What is the latest information on this issue on supporting the brown field app? The issue is still open but some say it is currently working. If it is supported, what are some good resources around this?

[2020-12-15 18:13] #6748 closed

[2020-12-16 23:08] jinshin1013 commented on #6828
Hi @nitzanbener thanks for reporting the issue! This is intended and try using `SafeAreaView` to wrap your screen. Cheers 🙏

[2020-12-16 23:08] #6828 closed

[2020-12-16 23:21] jinshin1013 commented on #6827
@priyak-sdei I couldn't reproduce the problem on the Playground app. I can see you are using quite old version of `react-native-navigation`, could you update to the latest version and compare you code with the Playground app?

[2020-12-16 23:21] #6827 closed

[2020-12-16 23:22] jinshin1013 commented on #6764
Stale issue.

[2020-12-16 23:22] #6764 closed

[2020-12-17 00:30] cayleyh opened #6844 "componentWillAppear events not dispatching for ExternalComponents on iOS"
## 🐛 Bug Report

Our app uses a mix of ExternalComponents and standard React components. The primary navigation is via Bottom Tab bar. We also open other screens as modals.

I am not seeing the global `componentDidAppear` listener get called for any of the screens that are using ExternalComponents. I do see the `command` events for these navigation actions, and I do see the `componentDidAppear` ev

[2020-12-17 05:56] ganesh-papola commented on #6554
@fadinasr any solution yet?

[2020-12-17 09:59] yogevbd commented on #6844
Is it possible that you override `- (void)viewDidAppear:(BOOL)animated` and forgot to call `[super viewDidAppear:animated];`?

[2020-12-17 11:04] yogevbd commented on #6763
Couldn't reproduce it on an iPhone 12 Pro running iOS 14.2. Could you please try to reproduce it in the playground app?

![simulator_screenshot_D144B9A7-0D24-46CF-9844-C409333F76CB](https://user-images.githubusercontent.com/10794586/102479713-eb64e800-4067-11eb-8c81-40d987c4b4f7.png)

[2020-12-17 11:14] yogevbd commented on #6547
@mrousavy We can easily implement [this solution](https://stackoverflow.com/a/60598558/3562020) and add  `popGestureMode?: 'bezel' | 'entireScreen'` to control it. wdyt?

[2020-12-17 11:47] mrousavy commented on #6547
@yogevbd That's a good idea, what do you think about just giving the user full control via an `x` coordinate value?

So:

[code]

[2020-12-17 11:56] yogevbd commented on #6547
@mrousavy it does add flexibility but I'm not sure it's needed here.. I think that keeping it simple better serves our users

[2020-12-17 12:54] fadinasr commented on #6554
@ganesh-papola yes, you need to put it inside options like the code below

[code]

this should solve your issue 😄

[2020-12-17 14:08] AlphaJuliettOmega commented on #5402
@emilioheinz

Hmm, that link is unfortunately now stale.

[2020-12-17 15:00] mrousavy commented on #6547
Makes sense to me. I think I have some time tomorrow/saturday if you're too busy to look into this yourself! @yogevbd

[2020-12-17 16:53] cayleyh commented on #6844
No, I've double checked and we're calling all that correctly. In the video showing the issue I attached, I've reproduced this bug in the Playground app. I'm just committing that reproduction and will have it pushed to a fork'd branch shortly so you can see if you can reproduce what I'm seeing in that recording.

[2020-12-17 22:41] jinshin1013 commented on #6761
@zabojad I'm going to close this as it has been stale for quite some time. Let's reopen this once we have more info 👋

[2020-12-17 22:41] #6761 closed

[2020-12-19 06:55] truongduyng commented on #6071
hi @guyca,  is it the case if I re-setRoot layout with stack id?

[2020-12-19 10:04] a-eid opened #6845 "rnn-link does not work for fresh react native v63.4 projects on android & installations guide is out of date."
I'm trying to install the library for a new react native application on android.
auto linkking with `rnn-link` does not work, also following the manual guide didn't help

[code]

please keep in mind that I'm using hermes.

### Have you read the [Contributing Guidelines on issues](https://wix.github.io/react-native-navigation/docs/meta-contributing/)?

sure

## To Reproduce

1. init a new project w

[2020-12-19 11:48] a-eid commented on #6717
the large title works for the first tab which is focused by default, other it doesn't work until you scroll down.

[2020-12-19 11:53] a-eid opened #6846 "[IOS] title flashes 'black' when going from normal title to large title, even thou both titles color is set to white."
## 🐛 Bug Report

(A clear and concise description of what the bug is)

### Have you read the [Contributing Guidelines on issues](https://wix.github.io/react-native-navigation/docs/meta-contributing/)?

(Write your answer here.)

## To Reproduce

(Write your steps here:)

1. Step 1...
1. Step 2...
1. Step 3...

## Expected behavior

(Write what you thought would happen.)

## Actual Behavior

(Write

[2020-12-19 12:03] #6846 closed

[2020-12-19 12:03] a-eid opened #6847 "[IOS] in dark mode title flashes 'black' when going from normal title to large title, even thou both titles color is set to white."
## 🐛 Bug Report

title flashes when scrolling. in dark. mode it flashes black, in normal mode it flashes white.

Dark Mode:

![Dec-19-2020 13-54-25](https://user-images.githubusercontent.com/19273413/102688948-1e8fae80-4203-11eb-8ba9-d40052c84627.gif)

Normal Mode:

![white](https://user-images.githubusercontent.com/19273413/102689002-91992500-4203-11eb-81c7-9503648c0222.gif)

## Reproducible Demo

[2020-12-19 16:45] a-eid opened #6848 "hideOnScroll doesn't work as expected when using a searchbar."
## 🐛 Bug Report

the searchbar doesn't seem to be responding to the scrolling at all, when padding `hideOnScroll: true`

![searchbar](https://user-images.githubusercontent.com/19273413/102694502-1c8d1600-422a-11eb-8cff-13ac520816ea.gif)

## Reproducible Demo
## To Reproduce

https://github.com/a-eid/rnn/tree/bug/searchBar

## Expected behavior

it should hide and shows on scroll.

## Actual Behavi

[2020-12-19 22:07] tastyqbit commented on #6505
This is still not working properly. Any updates?

[2020-12-20 07:45] jinshin1013 commented on #6717
Hey guys, I'm closing this issue as this is not react-native-navigation specific problem and is the issue with the react-native's scrollview implementation. There seems to be a quick patch fix you can apply https://github.com/software-mansion/react-native-screens/issues/649#issuecomment-727553714.

[2020-12-20 07:45] #6717 closed

[2020-12-20 07:46] jinshin1013 commented on #6848
@a-eid Thanks for reporting the issue and providing a reproduction!

[2020-12-20 12:23] Nitesh-Kanyal commented on #4675
+1

[2020-12-20 13:24] #6848 closed

[2020-12-20 13:27] #6847 closed

[2020-12-20 21:49] yogevbd commented on #6505
@tastyqbit Are you talking about an image transition with different `resizeMode`? it's still not supported on iOS but we will add it soon.

[2020-12-20 21:55] tastyqbit commented on #6505
@yogevbd Yes that is what I was asking about, thanks for the update :) Do you have any idea on the timeline? I am just in the process of upgrading a lot of libraries including react-native from 0.59 to 0.63 and RNN from v2 to v7 and maybe I wait instead of redo my workaround I made for v2 if its not too long

[2020-12-21 04:04] hmust92 commented on #6321
Did this work for you?

[2020-12-21 09:01] danilobuerger commented on #6845
@a-eid Setting the minSdkVersion to 21 will fix your problem. RNN only supports 21 and upwards (as stated in the README.md). We still have to update the docs and the linker script.

[2020-12-21 10:08] RichardLindhout commented on #6321
@hmust92 Yes it works like a charm. I do already use the expo-filesystem and expo-barcodescanner and expo-clipboard in my project (with react-native-navigation)

[2020-12-21 10:10] a-eid commented on #6845
@danilobuerger hey, that did fix the issue for me actually, it would be really cool to mention this is the setup section, at least the manual one, I would love to help as well.

thank you.

[2020-12-21 12:37] hmust92 commented on #6321
@RichardLindhout Oh wow, awesome! I myself was trying to figure out how to add both the unimodules and the RNN modules together in the AppDelegate.m file. Did you have to make any updates to your MainApplication.java file or any of your build.gradle files?

[2020-12-21 12:41] RichardLindhout commented on #6321
You have to follow ALL the steps in this https://docs.expo.io/bare/installing-unimodules/ so also android indeed and changing some .gradle files.

In one point there is a conflict with RNN in Appdegate.m there you have to do the following
[code]

[2020-12-21 12:54] hmust92 commented on #6321
@RichardLindhout I did follow all of the instructions from the expo documentation on installing unimodules, but like you, ran into the issue where there is a conflict in the AppDelegate file between RNN and unimodules. So I was just wondering if you ran into a similar conflict for android.

Your solution to adding multiple modules for the AppDelegate file works for me so far! 👍

[2020-12-21 12:59] RichardLindhout commented on #6321
Nope android works without conflicts :)

[2020-12-21 15:23] hmust92 commented on #6321
@RichardLindhout That's great. I wish this solution was a bit more public as i had to do quite a bit of digging to find how to get the AppDelegate.m to work.

Assuming a lot of users who use this library won't be super familiar with Objective C, have you considered making a PR for this into the documentation? I would think a lot of people using RNN will also want to use react unimodules

[2020-12-21 15:27] RichardLindhout commented on #6321
I think it would be great if we have a PR for this. However I'm really short on time a.t.m. so don't have time. Feel free to use my code for a PR

[2020-12-22 10:59] sanghavan opened #6852 "Navigation.push() got delayed if the source component is a heavy component"
## 🐛 Bug Report

Navigation.push() got delayed if the source component is a heavy component (E.g. The source component is a long items list, or a section list has many sections data)

## To Reproduce

I can reproduce the issue on playground app.

1. Update the code in `StackScreen.tsx` to render a Flatlist with 2k rows, each row contains <Text /> with row index as value. You can wait for rendering

[2020-12-22 11:01] sanghavan commented on #6852
Also, switching bottom tabs got delayed if the target tab is a heavy component.
Example:
Tab 1 | Tab 2.
Tab 1 is a heavy component. When switching Tab 1 -> Tab 2, it will switch immediately. But Tab 2 -> Tab 1, it got delayed. I believe we don't re-render tabs when switch them.

[2020-12-22 12:36] iska9der commented on #5617
Thaaanks, brudda. 3 FKNHOURS.

[2020-12-22 12:41] sanghavan commented on #6089
@nicoburns Which version you got pop animation off.
[code]
I tried on latest version 7.6.0, Can't disable pop animation.

[2020-12-23 07:04] Natteke opened #6853 "Proposal: Ability to get navigation screens state"
## 🚀 Feature

Ability to get navigation screens state, with stacks, components, props and options.

### Have you read the [Contributing Guidelines on issues](https://wix.github.io/react-native-navigation/docs/meta-contributing)?

Yes

## Motivation

1) Ability to make a business logic based on stack state data.

2) Developers won't have to create a bicycle, making up their own solutions, given tha

[2020-12-23 08:14] mrousavy commented on #6853
I like that idea. I'm not exactly sure why we don't expose a state already (@guyca can you fill us in here?), but I can imagine the data structure in which the stack should be represented can get quite complicated. How do you display the following:

1. Set Root to Stack Layout
2. Push Screen A
3. Push Screen B
4. Show Screen C as a full screen modal (with stack layout inside)
5. Push Screen D insi

[2020-12-23 08:28] sanghavan opened #6854 "pop: { enabled: false } not working, can't disable pop animation"
## 🐛 Bug Report

pop: { enabled: false } not working, can't disable pop animation.

## To Reproduce

The issue able to reproduce from main playground app.
I tried on tap button `Push Without Animation` in **Pushed Screen** component `PushedScreen.tsx`, then tapping back from navigation.

## Expected behavior

Pop animation should be disabled by setting pop: { enabled: false }

## Actual Behavior

[2020-12-23 08:43] danilobuerger commented on #6854
I think you are confusing the back button with pop. Those are different. In the playground if you click the "Pop" button after "Push without Animation" it pops without an animation. If you want the same behaviour with the back button, you will need to override it.

[2020-12-23 08:44] #6854 closed

[2020-12-23 08:54] sanghavan commented on #6854
Thanks for your clarifying. Is there the ways to override default back button action for all components? I mean it allows to override in `Navgiation.setDefaultOptions()`

[2020-12-23 09:17] sanghavan commented on #6854
@danilobuerger I think the default back button action is used Navigation.pop() as its internal implementation, because when I custom translation/alpha as below, the default back button behaviour is changed. Just can't disable it.
[code]

[2020-12-23 09:45] Natteke commented on #6853
I will leave my examples where the presence of such storage was help me a lot in a real application

1) When opening a push notification that should take the user straight to some screen, knowing which screen is at the top prevents me from opening it again.

Case:
- The user opened the application through a push notification. After that, setRoot is called with the main screen and then showModal to

[2020-12-23 14:48] yogevbd commented on #6852
Is there any chance you set `push.waitForRender: true`? maybe in your default options?

[2020-12-23 15:53] sanghavan commented on #6852
No, I set either waitForRender: false or remove it, the issue is still same. Base on my understand, waitForRender is used to wait the **target component** render completed before start animation. So for this issue, `waitForRender` attribute doesn't relate to.
The issue: A pushes to B. A is heavy component, B is very lightweight component. But still got delayed.

[2020-12-24 04:58] abhishekp8003 commented on #2310
how to add skip button in login

[2020-12-24 08:42] shubhanus opened #6856 "Showing modal over modal screen won't pass props at 2nd modal"
## 🐛 Bug Report

(A clear and concise description of what the bug is)

### Have you read the [Contributing Guidelines on issues](https://wix.github.io/react-native-navigation/docs/meta-contributing/)?

(Write your answer here.)

## To Reproduce

(Write your steps here:)

1. Step 1...
1. Step 2...
1. Step 3...

## Expected behavior

(Write what you thought would happen.)

## Actual Behavior

(Write

[2020-12-24 12:09] jinshin1013 commented on #6856
@shubhanus Please fill out the issue template.

[2020-12-24 12:09] #6856 closed

[2020-12-24 13:48] atrofimenko opened #6857 "UIAlertController issue with display messages Alert.alert()"
## 🐛 Bug Report

Hello! In my project i'm using react-native-navigation for navigation. I have a problems with default alerts usage in IOS. Need your help.
When i'm trying to show alerts with Alert.alert() receiving this error:
Attempt to present <UIAlertController: 0x7f8a88851800> on <RNNStackController: 0x7f8a89045c00> (from <RNNStackController: 0x7f8a89045c00>) whose view is not in the window h

[2020-12-24 14:19] Abhishek-Sankey commented on #1086
maybe I'm asking a silly question but where should I write this code in the project?

[2020-12-24 14:19] Abhishek-Sankey commented on #358
maybe I'm asking a silly question but where should I write this code in the project?

[2020-12-24 14:33] #6857 closed

[2020-12-24 20:52] tastyqbit opened #6858 "v7 - componentDidAppear on android not called when setRoot is called with tabs"
The title is pretty self explanitory

[2020-12-25 01:47] chrise86 commented on #358
@Abhishek-Sankey I believe you'll need to use that snippet (everything inside the `options` object) whenever you push a screen that suffers from the white flash and/or you want to wait for the render to complete before the push/navigation.

[2020-12-25 01:52] a-eid commented on #5713
it looks like you need to change the colors & then call `setRoot` again, however this seems to restart the app to the first screen on that root.

[2020-12-25 09:24] #6858 closed

[2020-12-26 04:04] a-eid commented on #6848
@jinshin1013 thank you Jin Shin, I have tried your PR however.
this is not how it should work, it should start off as hidden and appear when you scroll.

please check the IOS settings app.

[2020-12-26 05:16] a-eid opened #6859 "bottomTab selectedTextColor does not work properly on android."
## 🐛 Bug Report

I'm trying to use `selectedTextColor` with my tabs, however it seems that it does not work on android for some reason.

## To Reproduce

- make a simple `BottomTabs` navigator with `selectedTextColor`.
- works on IOS great, & does not work on android.

## Expected behavior

it should work on both platforms

## Actual Behavior

only works on ios.

![Dec-26-2020 07-14-56](https://us

[2020-12-26 07:56] a-eid commented on #6859
after some investigation, it does work with `Navigation.setDefaultOptions`, so I guess that's probably enough.

[2020-12-26 07:56] #6859 closed

[2020-12-26 10:59] jinshin1013 commented on #6853
@mrousavy @Natteke Exposing the navigation state is such a great idea! We have tried multiple different solutions over time but never really settled on any concrete pattern. Have you guys got any suggestion in how to actually expose these states across all registered screens? In the past, we have experimented with `React Context` as you can see in the [documentation](https://wix.github.io/react-na

[2020-12-26 13:10] mateioprea commented on #6853
What about using an actual Stack data structure natively and update that stack based on what the user do?
It makes sense since once you pop anything from your screens it will be reflected in that stack.

Then just offer a native event that you can subscribe to, to query the stack state.

[2020-12-26 13:49] mrousavy commented on #6853
@mateioprea I feel like there's no reason to do this natively, as that results in extra & unnecessary bridge traffic. We can do this in JS as an actual "queue" and on changes we raise events 🤷‍♂️

[2020-12-27 00:36] chrise86 commented on #2310
@abhishekp8003 I think what you've got to remember is that the actual login functionality is outside of the scope of this library, and so how you achieve this is really up to you.

If you're using a setup similar to the solutions posted above, then you can just call your function that starts the tab based app when pressing the "skip" button on your login screen, assuming that's what you're asking.

[2020-12-27 05:12] a-eid commented on #6853
this would allow setting the theme dynamically without needing to reset the navigation, correct ?

[2020-12-27 13:15] yogevbd commented on #6853
@Natteke

I think there is something wrong in the layout you described, you should open the `NewChatScreen` as a modal, it's not actually related to the chat stack.
I would first suggest to open `NewChatScreen` as a modal, when the user finish's creating the new chat, dismiss the modal and push the `ChatScreen` normally to the stack (See What'sApp implementation).

I'm not sure about this feature

[2020-12-27 13:51] #6845 closed

[2020-12-27 15:43] Natteke commented on #6853
@yogevbd, this example was provided by @mrousavy.
My reall app use cases are in [comment](https://github.com/wix/react-native-navigation/issues/6853#issuecomment-750045280).

[2020-12-27 15:49] Natteke commented on #6853
@a-eid, in this issue I only brought up the issue of getting detailed information about the current state of the navigation/screens.

[2020-12-27 18:47] yogevbd commented on #6099
@koiralakiran1 Sounds good! Could you submit a PR?

[2020-12-27 19:37] koiralakiran1 commented on #6099
@yogevbd Sure. I'll make the changes and submit a PR.

[2020-12-28 07:49] danilobuerger commented on #6859
@a-eid But does it work via static options or mergeOptions?

[2020-12-28 08:12] #5165 closed

[2020-12-28 08:34] a-eid commented on #6859
@danilobuerger hey, it does work with `Navigation.setDefaultOptions`, it didn't work when defining the colors on the individual `bottomTab` when defining the stack.

but it seem to be working now for some reason, I was in the testing phase sorry ( usually I include all the details needed .), I'll reopen if I face this again.

[2020-12-28 09:58] sallar commented on #6754
Thanks @yogevbd. I tried this release... However it didnt fix the issue.

[code]

When I disable the background translucency in scroll edge appearance mode, the `noBorder` does not have any effect.

<img width="445" alt="image" src="https://user-images.githubusercontent.com/768052/103206158-dd368780-4903-11eb-837a-2f5a0f024193.png">

Basically Im trying to achieve the same effect as native iOS app

[2020-12-28 11:13] #6754 closed

[2020-12-28 20:53] arcziby commented on #6763
![image](https://user-images.githubusercontent.com/73952992/103242565-eac92d00-4956-11eb-831c-f7d0f75a1d52.png)
after upgrade to 7.7.0 I still have wrong look

[2020-12-29 11:49] minuhariharan opened #6869 "For overlay elements, click events are not working, and it's picking up click events for elements in the background"
## 🐛 Bug Report

We are using react native navigation in our project. We are trying to show the new iOS 14 DatePicker as an overlay using Navigation.showOverlay(). However we find that the click handler for some of the elements on the DatePicker, to be specific the ">" sign just after the month "December 2020" does not work, and it invokes the click handler for an element behind this overlay, for

[2020-12-29 15:00] #6099 closed

[2020-12-29 17:17] #6816 closed

[2020-12-30 10:10] #6844 closed

[2020-12-31 10:22] #6733 closed

[2020-12-31 14:37] zabojad commented on #6761
@jinshin1013 a bit late but better now than never, your suggestion solved my issue. Now I have other problems like pushing a page to a stack id that is broken... I'm investigating. Thanks again for your help!

[2020-12-31 14:58] zabojad opened #6875 "[v7.2+][iOS] dismissAllModals now does not resolve at all if there is no modal"
## 🐛 Bug Report

If no modal is currently displayed, `dismissAllModals` does not resolve at all (neither in `then` nor in `catch`). This is due  to [this change](https://github.com/wix/react-native-navigation/pull/6671).

It happens only on some versions  of iOS. So far, I've checked two versions :
- iOS 12.2 => broken
- iOS  14.3 => it works as expected...
I'm currently downloading other iOS simu

[2020-12-31 15:40] danilobuerger commented on #6875
I just tried this with the current master playground and `dismissAllModals` resolves just fine. Please provide a reproducible demo.

[2020-12-31 21:13] danilobuerger commented on #6869
Please try with the current version of RNN (7.7.0)

[2021-01-01 04:04] mahadazad commented on #6808
I have the same issue. Did you manage to fix it?

[2021-01-01 11:00] zabojad commented on #6875
@danilobuerger I'm trying  to produce that but on  master's playground, each time I'm trying to compile the project in XCode, I'm getting errors in RNNNavigationButtons.m: `No visible @interface for 'Color' declares the selector 'getWithDefaultValue:'`

<img width="1144" alt="Screenshot 2021-01-01 at 11 59 00" src="https://user-images.githubusercontent.com/1238030/103437516-d0c66d80-4c28-11eb-9452

[2021-01-01 11:01] danilobuerger commented on #6875
Try `yarn run pod-install`

[2021-01-01 11:20] zabojad commented on #6875
I just tried :

[code]

And still have the same problem...

I'm gonna try a clean git clone, maybe something is corrumpted somewhere...

[2021-01-01 12:02] zabojad commented on #6875
OK, it works on a clean clone...

[2021-01-01 12:27] zabojad commented on #6875
@danilobuerger here you are: https://github.com/zabojad/react-native-navigation/tree/issue_6875

Notes about the  reproducer:
1. the first screen shows two buttons: one to dismissAllModals and one for showing a modal.
2. dismissAllModals resolution callback shows an Alert to confirm it resolved.
3. the modal that opens also presents a dismissAllModals button that also has a resolution callback tha

[2021-01-01 12:39] danilobuerger commented on #6875
Why so complicated? Wouldn't a simple reproduction just be:
[code]
?

If so, clicking on the Stack button should **not** print "test" on the console per your bug report... but it does.

<img width="896" alt="Screenshot 2021-01-01 at 13 38 42" src="https://user-images.githubusercontent.com/996231/103438745-b2676e80-4c36-11eb-89f3-d718213b7f24.png">

[2021-01-01 19:54] stereodenis commented on #6522
this is not stale

[2021-01-01 21:45] zabojad commented on #6875
@danilobuerger I wanted it to be as visual as possible (I would  not call it complicated though) but yes, you are right, a simple console.log would make it too...

Now it doesn't change anything at my end, it does not work on iOS at my end. On what target have you tested it?

[2021-01-01 21:49] danilobuerger commented on #6875
The current iOS 14.3 Simulator.

[2021-01-01 21:57] zabojad commented on #6875
Here is our delta... It does work on iOS 14.3 and it does not work on iOS 12.2 (at least).

[2021-01-01 21:58] danilobuerger commented on #6875
Then you should have mentioned that in your issue description. You wrote all versions.

[2021-01-01 21:59] zabojad commented on #6875
@danilobuerger I did not try all versions and really thought it would be broken everywhere...  I'm downloading the simulator 13.3 to check it and will edit the original post afterwards...

[2021-01-02 03:04] a-eid commented on #6535
it would be really cool to also control when to hide/show the splash screen.

[2021-01-02 11:42] chrise86 commented on #6549
Meh... still an issue but not had an opportunity to dig into it.

[2021-01-02 15:04] zzorba opened #6877 "7.7.0 regression with TopBar button color on IOS 12"
## 🐛 Bug Report

When upgrading from version 7.6.0 to 7.7.0, it appears that setting colors for left/right buttons in the TopBar no longer works. I have tried setting them with both the topBar.leftButtonColor/rightButtonColor options as well as the individual color option on each button with the same effect. This doesn't appear to happen on IOS13.

### Have you read the [Contributing Guidelines on

[2021-01-03 09:48] #6875 closed

[2021-01-03 13:42] yogevbd commented on #6877
Couldn't reproduce in the playground app. Could you please provide a reproduction?

[2021-01-03 15:16] #4558 closed

[2021-01-03 23:55] zzorba commented on #6877
I’ll see what I can do.

[2021-01-04 02:15] sanghavan commented on #6852
Hi! any updates on this?

[2021-01-04 02:16] sanghavan commented on #6854
Hi! any updates on this?

[2021-01-04 07:54] HectorRicardo opened #6880 "Bottom tabs: Incorrect componentDidAppear lifecycle method being executed"
## 🐛 Bug Report

When using bottom tabs, if selecting a different default tab other than the first one, its `componentDidAppear` lifecycle method is not executed. Instead, the first tab's `componentDidAppear` method is executed.

### Have you read the [Contributing Guidelines on issues](https://wix.github.io/react-native-navigation/docs/meta-contributing/)?

Yes

## To Reproduce

1. Install RNN ac

[2021-01-04 08:33] yogevbd commented on #6877
@zzorba How does your `defaultOptions` look like? It might be related to that

[2021-01-04 14:03] zzorba commented on #6877
Test repro that demonstrates the problem, for posterity https://github.com/zzorba/RnnTopBarButtons
Left is IOS 12, right is IOS 13 (which shows correct behavior).
![image](https://user-images.githubusercontent.com/1091291/103542940-b9c38d80-4e6b-11eb-93d5-46c16e0825e3.png)

[2021-01-04 15:39] #6877 closed

[2021-01-04 18:18] swabbass commented on #6663
Thx for the report:] since those fields are going to be deprecated, I'm suggesting meanwhile to use [OptionsProcessor](https://wix.github.io/react-native-navigation/next/docs/style-theme#conditional-themes-with-options-processor), set default options for buttons example, this is more elegant.

For now, I'm working on a fix you can see draft #6882, till next major.

[2021-01-04 19:01] alpha0010 opened #6883 "topBar title component alignment instability [regression]"
## 🐛 Bug Report

When using a custom component as a screen title on Android, the horizontal position changes after navigation.  Potentially related to #6456.

This issue does not occur on RNN 7.5.0.

### Have you read the [Contributing Guidelines on issues](https://wix.github.io/react-native-navigation/docs/meta-contributing/)?

Yes.

## To Reproduce

1. With stack navigation, use a component titl

[2021-01-05 02:30] bneigher commented on #6880
I've seen this on my app as well, have had to engineer a workaround.

[2021-01-05 09:07] ernestasgobionis commented on #6883
In my case it happens with RNN 7.7.0 as well, even without navigating, the title component on Android is centered in the topBar.

[2021-01-05 11:35] yogevbd commented on #6880
@bneigher Are you sure it reproduce also on iOS? I couldn't reproduce it in your demo

[2021-01-05 21:35] samuelseaton commented on #75
I wrote a hook that seems to be working for this.

[code]

[2021-01-06 08:26] damii commented on #6243
i have same issue, it depends sideMenu & bottomTabs use together RNN 6.12.2 on IOS9 & IOS10.
<img width="363" alt="Screen Shot 2021-01-06 at 16 24 54" src="https://user-images.githubusercontent.com/8553768/103746281-d0b8da00-503b-11eb-829b-dbb4189ab894.png">

[2021-01-06 08:39] damii opened #6884 "sideMenu & bottomTabs does not work together on IOS9 & IOS10"
## 🐛 Bug Report

i have issue, it depends sideMenu & bottomTabs use together RNN 6.12.2 on iOS10. It render following screen

React Native version: 0.61.3

### Have you read the [Contributing Guidelines on issues](https://wix.github.io/react-native-navigation/docs/meta-contributing/)?

yes

## Expected behavior

          root: {
            topBar: {
              visible: true,
              bac

[2021-01-06 09:33] sanch941 opened #6885 "[IOS 12.0] Problem with topbar and status bar"
Hi everyone. I have a problem with this setting

topBar: {
    visible: false
}

When i choose this settings, my layout is not after status bar, it is near status bar. What should I do to solve this problem?

[2021-01-06 09:33] #6885 closed

[2021-01-06 16:22] HectorRicardo commented on #6880
@yogevbd You're right, my bad, sorry about that. I updated the bug description to indicate that it only happens on Android.

[2021-01-06 16:43] willyp63 commented on #6367
Hey @yogevbd @oferRounds

Running into this exact issue trying to run on an iOS simulator (RN: 0.63.4, React: 16.13.1, & RNN: 7.8.0)

This came about after trying to upgrade RN to the latest version. After the upgrade we were getting a version mismatch error that seemed to be caused by RNN:
<img width="563" alt="Screen Shot 2021-01-06 at 9 40 43 AM" src="https://user-images.githubusercontent.com/1

[2021-01-07 05:29] HectorRicardo opened #6887 "Iconsistent behavior between Android and iOS: should overlay appear above or under Modal ?"
## 🐛 Bug Report

There is inconsistent behavior regarding Overlays and Modals in Android and iOS. On Android, the overlay appears below a Modal, while on iOS, it is above the modal. Below there is a reproducible example with some screenshots to make myself clear.

### Have you read the [Contributing Guidelines on issues](https://wix.github.io/react-native-navigation/docs/meta-contributing/)?

Yes

[2021-01-07 10:16] bkalmuk commented on #6883
I have the same issue. I think it's because of backButton space size is not stable when screens changes with push etc.

[2021-01-07 10:40] #6663 closed

[2021-01-07 13:52] alpha0010 commented on #6883
Perhaps introduced by #6841?

[2021-01-08 09:39] danilobuerger commented on #6884
RNN does not support iOS 9 & 10 any more.

[2021-01-08 09:39] #6884 closed

[2021-01-08 11:17] lindesvard opened #6889 "Add option to change badgeTextColor for bottomTab"
## 🚀 Feature

I don't think this option exists (but can't find it in the documentation). Would be nice to be able to change the text color for the bottom tab badge. Seems like we only can change the background color?

So basically add a option like `badgeTextColor` to `bottomTab`-options.

### Have you read the [Contributing Guidelines on issues](https://wix.github.io/react-native-navigation/docs/

[2021-01-08 14:13] avonipenti commented on #3767
Upgraded to fix the crashes but I still see the crashes in firebase.

[2021-01-08 20:28] danilobuerger commented on #6887
Duplicate of #6185

[2021-01-08 20:28] #6887 closed

[2021-01-08 20:32] danilobuerger commented on #6889
This should preferably be implemented inside a `badge` object option, for example:
[code]

[2021-01-08 21:37] hukpavlo commented on #6547
@mrousavy @yogevbd Hi, is there an update here? Would be cool to have this feature.

[2021-01-08 23:44] nericode commented on #6808
I have the same issue.

[2021-01-09 16:23] ashokkumar88 commented on #6071
@guyca I am having same error. Yes, I am showing a login Modal with predefined id. After user login it is giving same error for some users around 5%.

[2021-01-09 17:46] HectorRicardo commented on #6887
Hey @danilobuerger , thanks for pointing out the duplicate bug!

The original issue says that the bug happens on Android and not on iOS. If this is the case, then my question would be: is it possible to force the overlay to be underneath the modal ? How can I achieve the screenshot below on iOS ?

![image](https://user-images.githubusercontent.com/16261233/104104876-49a07780-5270-11eb-98da-0a87214

[2021-01-09 17:52] danilobuerger commented on #6887
@HectorRicardo just because the OP wrote that its a bug with Android doesn't make it so. There hasn't been a decision made on which behavior is correct. And probably none of us main contributors is going to fix it because it doesn't really make sense to provide support for rn modals as we already have our own modal support.

[2021-01-10 15:26] evanjmg commented on #2547
Please clearly state this on your website! This is very misleading - I also think that having brownfield as an option would make more sense - since you are more native

[2021-01-10 15:58] evanjmg commented on #1234
@byunlee In doing some research (not part of WIX), it seems AppRegister.registerComponent() + react-navigation + react-native-modules and their callbacks are the only way to do this.  The owners of this repo have stated multiple times in issues that they do not support this functionality. It 'works' but only as a modal - not on any exisiting RCT Views.  It's pretty easy to use any JS based navigat

[2021-01-11 11:36] vaibhavhrt commented on #6883
For me the custom component moves left a bit once I come back to the screen by popping a different screen.
using latest version: 7.8.1

[2021-01-11 14:42] svbutko opened #6892 "iOS 12.x: Navigation bar initial titleTextAttributes and largeTitleTextAttributes values return null"
## 🐛 Bug Report

`titleTextAttributes` and `largeTitleTextAttributes` in the respected methods `setTitleAttributes` and `setLargeTitleAttributes` of `TopBarPresenter.m` initially return `NULL` which leads to incorrect `font-family`, `font-weight` and `font-size`

## To Reproduce

1. Create screen with `title` and `largeTitle` in `TopBar`
2. Run on iOS 12.X

## Expected behavior

<img width="432" a

[2021-01-11 15:34] swabbass commented on #6756
@Andarius I tried to reproduce your issue in the current master and it did not reproduce, at least this flow, here is a [branch](https://github.com/wix/react-native-navigation/tree/merge_options_change_topbar) that does the same thing as in your fork.

maybe it's fixed as a side effect of other issues, can you kindly try current master out and approve if it occurs again? does my branch cover all c

[2021-01-11 15:37] Andarius commented on #6756
Hey @swabbass, I'll check that ASAP and let you know !

[2021-01-11 15:53] Adegeminas commented on #6533
Hi guys!

Looks like there is a way to reproduce this even after bugfix in iOS 14.2 (simulator and production)

"react-native": "^0.63.3"
"react-native-navigation": "^7.4.0-snapshot.1328" (and same story with 7.8.1)

I'm re-setting root after going to background (using hardware button) and back again like this:
`
Navigation.events().registerAppLaunchedListener(async () => {
    const state = await

[2021-01-11 16:18] Andarius commented on #6756
The issue still exists, the star should appear immediatly
Here is a new repro: https://github.com/Andarius/react-native-navigation/tree/issue/mergeOptionsTopbar

https://user-images.githubusercontent.com/5070712/104207507-a21e7300-5430-11eb-8465-18160a52ba43.mp4

[2021-01-11 17:04] swabbass commented on #6756
I tried your changes on navigation master (not the fork) and I could not reproduce

https://user-images.githubusercontent.com/7227793/104214131-c0d83600-543f-11eb-9dc5-4a86550b2f96.mp4

[2021-01-11 17:17] Andarius commented on #6756
Interesting you are also experiencing another issue that I have: you have both the left button and the back button visible but you specified `backButton : { visible: false }`.

Are you sure you are on master? I pulled and forked `d1355780b`

[2021-01-11 17:21] swabbass commented on #6756
thx, i noticed the back button thing, debugging it in the meantime.

I'm up-to-date with master actually I provided a branch from the master above, you can check it out here https://github.com/wix/react-native-navigation/tree/merge_options_change_topbar

[2021-01-11 17:32] Andarius commented on #6756
Oh my bad, I was not running the emulator on the right branch. Thank you and sorry for making you lose your time.

It also explains why I could not reproduce the back button issue in the playground. Do you want me to open another issue for it ?

[2021-01-11 17:44] swabbass commented on #6756
It's ok :], yeah I'll be glad to have a new issue about that back button

[2021-01-11 17:45] #6756 closed

[2021-01-11 19:08] Andarius opened #6894 "BackButton still visible after mergeOptions"
## 🐛 Bug Report

Calling `mergeOptions` with left buttons and `backButton : { visible: false }` does not hide the back button.

## To Reproduce

https://github.com/Andarius/react-native-navigation/tree/issue/backbutton

1. Press the "Options" button
2. Press the "Push" button
3. Press "Merge topbar options"

## Expected behavior

The star icon should be visible and the back button hidden

## Actua

[2021-01-12 08:13] shankarGdev opened #6896 "Bottom Tabs event listener on double tap"
## 🚀 Feature
Right now we have bottom tab event listener API for `registerBottomTabSelectedListener` and `registerBottomTabLongPressedListener`, the feature I'm expecting is a event listener when a user double tap a bottom tab.

### Have you read the [Contributing Guidelines on issues](https://wix.github.io/react-native-navigation/docs/meta-contributing)?

Yes

## Motivation
When a user double tap

[2021-01-12 12:03] ryanbourneuk opened #6898 "Proposal - update Icon docs to detail how local files can be used"
## 📚 Documentation

## What problem are you trying to solve?

While building an image caching system for my client's app, I've discovered some inconsistencies / missing information in the [Icon docs](https://wix.github.io/react-native-navigation/api/options-imageResource). It'd be great to start a discussion so we can see if they are intentionally missing, or if I should open a PR to update the do

[2021-01-12 13:56] Andarius commented on #6894
Fixed with https://github.com/wix/react-native-navigation/pull/6897

[2021-01-12 13:56] #6894 closed

[2021-01-12 15:42] #6880 closed

[2021-01-12 19:14] tim92109 commented on #4097
Same issue.  Doesn't seem to 'break' anything in the navigation so maybe it can be ignored?  Not using TS.

[2021-01-13 03:38] nhatminh1601 commented on #5617
thanks guy.

[2021-01-13 09:16] #6883 closed

[2021-01-13 15:11] aliraza-noon commented on #6553
I also have use case for this in my current app wondering if support for ios can be added

[2021-01-13 19:10] js08 opened #6901 "react-native-navigation build failure"
Hey in the below repo I installed react-native-navigation but I am facing an issue. Can you tell me how to fix it

https://github.com/js08/react-native-web-mobile/tree/master/universal-react-app-master%2010

The following build commands failed:
	CompileC /Users/rthu3001/Library/Developer/Xcode/DerivedData/UniversalApp-amuyefouofvrkzcnmiiyluafxteb/Build/Intermediates.noindex/Pods.build/Debug-iphone

[2021-01-13 19:11] #6901 closed

[2021-01-14 12:31] a-eid commented on #6853
How would the state object looks like ?

there are too many possibilities & there are some differences between IOS & android at least with regard to modals.

[2021-01-14 17:49] marcshilling commented on #6608
Not stale - I confirmed this issue is still present on iOS 12 in v7.8.3

[2021-01-14 20:44] TylerNRobertson commented on #3216
This is still happening in version 7

[2021-01-16 16:10] stereodenis commented on #5656
not stale

[2021-01-17 18:41] PiotrZakrzewski opened #6906 "New version of merge-chance badge"
Hi Wix team!

I see that you use merge-chance.info badge, I am happy you found it helpful.
I am working on a new version which addresses following problems:
- Spam PRs (some popular repos get a lot of low quality PRs changing readme or to get a build link)
- Maintainers/collaborators not in GitHub organisation, making merge-chance consider them outsiders and artificially increasing the score
- Som

[2021-01-17 18:41] #6906 closed

[2021-01-17 18:43] PiotrZakrzewski opened #6907 "New version of merge-chance badge"
Hi Wix team!

I see that you use merge-chance.info badge, I am happy you found it helpful.
I am working on a new version which addresses following problems:

Spam PRs (some popular repos get a lot of low quality PRs changing readme or to get a build link)
Maintainers/collaborators not in GitHub organisation, making merge-chance consider them outsiders and artificially increasing the score
Some PRs

[2021-01-18 08:46] kabus202 commented on #6533
@Adegeminas, i have the sam on iOS/* and i have this only on the first resume.

To reproduce:
background -> resume app -> { ellipsis dots } -> click on each tab -> background -> resume -> all visible

What i also discovered is: when you remove fontSize from bottomTab options, it's also working without any problems

[2021-01-18 10:25] Adegeminas commented on #6533
@kabus202 thanks for fontSize tip. Removing that options works, but i need it)

[2021-01-18 10:29] kabus202 commented on #6533
@Adegeminas thanks for confirming this. @guyca can we reopen this one?

[2021-01-18 11:05] aTrueSeeker opened #6909 "ReferenceError: React is not defined"
I just started a new project and i amtrying to register a component wrapped with Providers. When ever i try to do that the above error is thrown
![image](https://user-images.githubusercontent.com/45688400/104907435-1b771200-59ab-11eb-85b2-42f874a13ace.png)
I am using RN 0.63.4 and RNN 7.8.3

[2021-01-18 11:24] #6909 closed

[2021-01-18 14:36] chrise86 commented on #6522
Duplicate of https://github.com/wix/react-native-navigation/issues/6384

[2021-01-18 17:46] twelvearrays opened #6911 "System Item Icons not appearing in Top Bar"
## 🐛 Bug Report

Upgrading from 7.6.0 to 7.7.0 or above, top bar buttons that use the system item option for their icons on iOS are not appearing in Top Bar.

### Have you read the [Contributing Guidelines on issues](https://wix.github.io/react-native-navigation/docs/meta-contributing/)?

Yes

Buttons visible in 7.6.0 upgrading to 7.84 causes system item icons not to appear.  Using the icon option

[2021-01-18 18:33] #6522 closed

[2021-01-18 20:52] paulatomasi opened #6912 "Can't define header's testID"
I'm using detox to E2E tests, for that I need to inform testID props to the components I'm interacting with. Since I started using this new approach to stack navigator, I couldn't find a way to use testID.

[code]
In the docs, I only find about it [here](https://wix.github.io/react-native-navigation/6.12.2/api/options-bottomTabs/#testid), but it's from bottom tab navigator, which is not the case.

[2021-01-18 20:52] #6912 closed

[2021-01-18 20:54] paulatomasi opened #6913 "Can't define header's testID"
I'm using detox to E2E tests, for that I need to inform testID props to the components I'm interacting with. Since I started using this new approach to stack navigator, I couldn't find a way to use testID.

[code]
In the docs, I only find about it [here](https://wix.github.io/react-native-navigation/6.12.2/api/options-bottomTabs/#testid), but it's from bottom tab navigator, which is not the case.

[2021-01-18 22:58] jinshin1013 commented on #6911
I haven't tried to reproduce it on the Playground app but encountered the same problem in the app I am working on. Can confirm as @twelvearrays said, system icon appears on `7.6.0` but do not from `7.7.0` and up.

[2021-01-18 22:59] jinshin1013 commented on #6913
I believe you are on a wrong repo 😅

[2021-01-18 22:59] #6913 closed

[2021-01-19 12:46] AlphaJuliettOmega commented on #5402
The iconmoon route is pain.
I wish this library supported using any one of the available React Native vector icon library's without having to resort to using a third party site.

[2021-01-19 14:24] avonipenti commented on #6071
@guyca This is a major crash in our production app. I see the ViewController throwing exception in getView().
is there any workaround until this issue is fixed?

[2021-01-19 15:00] pontusstjerna commented on #6763
For us, it was the previous view missing a back button options (the root view of the stack in our case). When back button options was set for that view as well, the alignment was fixed.

My wild guess is that it is related to `UINavigationItem *previousNavigationItem = previousViewControllerInStack.navigationItem;` and the options are not applied to the current navigation item, but I am not really

[2021-01-19 15:18] AlphaJuliettOmega commented on #6898
This is something that's been bothering me greatly about the library.

It's very difficult to make the bottomTab bar look good, simply put.

Any documentation about setting the Icon as an SVG &/ setting it as an icon from `react-native-vector-icons` would be a huge improvement.

[2021-01-19 15:22] AlphaJuliettOmega commented on #6384
@eurobob Did you end up finding a work-around to customize your Bottom Tabs?

[2021-01-19 15:23] AlphaJuliettOmega commented on #6384
@jinshin1013 any advice re. how/where this should be implemented to match existing code/future plans would be much appreciated.

[2021-01-19 22:07] alpha0010 opened #6916 "passProps.componentId is undefined in static options"
## 🐛 Bug Report

`passProps.componentId` is `undefined` when read during static options setting.
[code]

I use this because a specific screen can be pushed on to the stack multiple times.  The screen uses a component title.  In order for the screen to `Navigation.updateProps()` on the title component, the screen needs to know its id.  I cannot use a static value since the title component will have

[2021-01-20 14:41] marf commented on #3767
We still see the crash with version 7.8.4

[2021-01-20 23:34] gwmccull commented on #3796
@swapanil you probably already figured it out but that's a file name parameter that can be used to help the OS pick the correct resolution for the icon

for example,
- `icon@1x.png` would be the 24x24 res
- `icon@2x.png` would be the 48x48 res
- `icon@3x.png` would be the 72x72 res

then the OS can choose to use the `icon@3x.png` if you have a retina-display phone

[2021-01-21 11:49] #6916 closed

[2021-01-21 18:24] danilobuerger commented on #6911
There was some large button work in https://github.com/wix/react-native-navigation/pull/6851 by @yogevbd. Maybe a regression there?

[2021-01-21 19:51] sxrg opened #6921 "(Android only) VerifyError: Verifier rejected class com.reactnativenavigation.views.element.TransitionSetCreator"
## 🐛 Bug Report

After updating from v6 to v7 and following the update instructions, app crashes with the following:
Just for android, working fine for ios.

[code]

error: `kotlin.coroutines.Continuation) failed to verify`

## To Reproduce

(Write your steps here:)

1. `yarn remove react-native-navigation` & `yarn install react-native-navigation`
2. `cd ios` & `pod install`, `npx jetify`
3.  made

[2021-01-21 20:00] sxrg commented on #6921
I think we found a workaround btw, but not sure if its correct as it make me override the RNNCoroutinesCore variable:
<img width="261" alt="Screen Shot 2021-01-21 at 11 56 57 AM" src="https://user-images.githubusercontent.com/47671614/105405497-1058f780-5be0-11eb-8792-aeca221f2d5b.png">
might be related to this: https://github.com/Kotlin/kotlinx.coroutines/issues/2049

[2021-01-22 01:58] bneigher opened #6922 "EXC_BAD_ACCESS (RNNComponentViewController)"
## 🐛 Bug Report

Unfortunately this bug is non-reproducable - but occurs frequently enough to have been caught in my release cycle.  All I have in my logs are:

[code]

I just noticed it happen a few seconds after popping screens.  Seems to happen when popping from a view with a lot of memory (camera view rendering several images)

This is either due to a bug introduced in a newer version of react

[2021-01-22 07:00] kabus202 opened #6923 "Custom fontSize in bottomTab will cut off and ellipsized on iOS after resume"
## 🐛 Bug Report

Custom fontSize in bottomTab cut off title text and ellipsized on iOS after resume

(A clear and concise description of what the bug is)

### Have you read the [Contributing Guidelines on issues](https://wix.github.io/react-native-navigation/docs/meta-contributing/)?

(Write your answer here.)

## To Reproduce

`Navigation.setDefaultOptions({
    bottomTab: {
      fontSize: 14,

[2021-01-22 15:50] rosskhanas opened #6924 "Setting rightButtons with mergeOptions stopped working on iOS after 7.6.0"
## 🐛 Bug Report

`Navigation.mergeOptions` stopped working after 7.6.0 Not sure if it is broken since 7.7.0 or 7.8.0.

[code]

Given example updates the title, but does not set the right button. On Android all work well.

### Have you read the [Contributing Guidelines on issues](https://wix.github.io/react-native-navigation/docs/meta-contributing/)?

Yes

## To Reproduce

1. Open ant page with no

[2021-01-22 19:50] bmwertman opened #6925 "undefined is not an object (evaluating 'api.topTabs')"
## 🐛 Bug Report
I'm getting the following warning even though I'm only using `bottomTabs` in my project.
[code]
## To Reproduce
Happens at initial build running `react-native run-ios --simulator='iPhone 11' or clicking `reload` from the simulator menu

## Your Environment

- React Native Navigation version: 6.4.0
- React Native version: 0.63.4
- Platform(s) (iOS, Android, or both?): iOS, but I hav

[2021-01-23 10:29] jinshin1013 commented on #6925
@bmwertman Could you please provide a minimal reproduction on Github for us to replicate the issue?

[2021-01-23 10:32] jinshin1013 commented on #6924
@rosskhanas Does it work if you set in `static options`?

[2021-01-23 15:49] marf commented on #6071
We have the same issue, is there a way to fix it?

[2021-01-23 16:28] rosskhanas commented on #6924
@jinshin1013 no, it does not. It sents `title` textx same as `mergeOptions`, but not `rightButtons`.

[2021-01-24 15:01] fernandezmj commented on #6071
Have the same error like this on android device. Is there any workaround on this issue?

[2021-01-24 16:21] GrEg00z commented on #3864
This issue still exists on RN 0.63.4 & react-native-navigation 7.8.1

Someone have a solution or workaround for this ?

[2021-01-25 08:05] #6924 closed

[2021-01-25 08:06] #6911 closed

[2021-01-25 14:21] mrousavy opened #6929 "Video in Modal prevents the view from being unmounted (continues to play in background)"
## 🐛 Bug Report

When showing a Modal with a `<Video>` component from react-native-video, the Video prevents the view from being unmounted on dismiss. I noticed this because my `<Video>` was still playing in the background when I dismissed the modal.

It seems like the [video's `removeFromSuperview` function](https://github.com/react-native-video/react-native-video/blob/master/ios/Video/RCTVideo.m

[2021-01-26 09:14] hieunguyendut commented on #6411
It seem that the indicator show wrong place. I will move to tab that activated

[2021-01-26 10:36] #6929 closed

[2021-01-26 15:16] crherman7 commented on #6063
I am also seeing `componentDidAppear` being fired for a component that is not visible -> If I push a screen that has a `componentDidAppear` listener it works fine with the 1 pushed component but If I push that same screen again on top of the stack without popping the previous same screen both `componentDidAppear` callbacks are fired. The `componentId` actually doesn't match for the first screen ca

[2021-01-27 09:08] marf opened #6931 "App stuck on splash screen on Android"
## 🐛 Bug Report

Hello,
we are using RNN in one of our projects. Everything works fine on iOS but in Android we noticed that the first time we open the app it is stuck on the Splash Screen and we have to close and reopen the app another time before we are able to enter inside the app.
This problem only happens on Android.

### Have you read the [Contributing Guidelines on issues](https://wix.githu

[2021-01-27 10:13] JohnSmith0602 opened #6932 "[v7][Android] topBar text alignment as 'center' will be applied to all screens."
## 🐛 Bug Report

I want to use topBar title for two different cases in Android: when it's used as title, I expect it be centered; when it's used as text next to back button, I expect it to be aligned as 'fill'.

The issue I encountered is that if I have 2 screens with different options as:
[code]

If I navigate to A, the topBar text will be aligned 'fill', then navigate to B, it will be 'center',

[2021-01-27 11:05] MakhouT opened #6933 "Keyboarding stays open after closing the Side Menu which contains a TextInput"
When having a TextInput in a Side Menu and you close the Side Menu, the Keyboard closes during navigation but then instantly opens again after the navigation has been finished.

I am able to reproduce this in the playground app, please check the screen recording:
https://user-images.githubusercontent.com/3041165/105982003-05e2a600-6097-11eb-892a-1c0a9b84091f.mov

I tried going around this:

In the

[2021-01-27 12:37] rodribech20 opened #6934 "Original image on Bar Button Item"
Hello, I updated RNN (I was using v2.27.9) to v7.8.4 and I noted that the barButtonItem does not have the original color, it has blue color but the v2 I could leave the icon with original color. I was checking on documentation if there was about that but I did not find nothing.
I was reviewing the code on this file: `RNNUIBarButtonItem`
[code]

I think iconImage should be ` [iconImage imageWithRen

[2021-01-27 15:22] fabriziobertoglio1987 commented on #5554
my issue is triggering and testing `componentDidAppear` with `react-native-testing-library`

I tried to invoke the callback in the constructor with something like

[code]

where `registerComponentDidAppearEvent` is our function

[code]
but even if `componentDidAppear` is triggered after `render` the component, the test fails probably because the callback is not wrapped in `act()`.

So I gave a loo

[2021-01-27 17:39] fegoulart commented on #6931
Are you receiving `Got DOWN touch before receiving UP or CANCEL from last gesture` too ?

[2021-01-27 19:12] danilobuerger commented on #6922
Feel free to reopen once you have a reproduction. There is really nothing we can do right now.

[2021-01-27 19:12] #6922 closed

[2021-01-27 23:31] marf commented on #6931
Hello, it seems the problem was in a file were we set navigationOptions. In particular what was causing the problem was this:

`{ animations: {
      setRoot: {
        waitForRender: true
      }
    }`

I removed this from `Navigation.setDefaultOptions` and seems that the problem disappeared.

[2021-01-27 23:31] #6931 closed

[2021-01-27 23:52] Andarius opened #6935 "Adding an id to a backbutton makes it invisible"
## 🐛 Bug Report

Adding an id to a back button make it invisible even if `visible: true`

## To Reproduce

https://github.com/Andarius/react-native-navigation/tree/issue/topbarBackBtn

1. Press the "Options" button
2. Press the "Push" button

## Expected behavior

The back button should be visible

## Actual Behavior

The back button is not visible

## Your Environment

- React Native Navigation v

[2021-01-28 00:55] bneigher commented on #3614
@yogevbd
Any way we can revisit this one?  The overlay elevation / z-index should not ever appear above a native OS / system prompt IMO.  I bet this is something that would even flag Apple reviewers since I know they can be sticklers on impeding iOS functionality.

A common use case that I've read about on the forums is using an overlay as a floating bottom menu (like the OP) and myself who has a

[2021-01-28 03:34] Brett-Best commented on #6533
Related to https://github.com/Tencent/QMUI_iOS/issues/1110 which was fixed by https://github.com/Tencent/QMUI_iOS/blob/09cdc055f63a4ef88a75cfeefc3e5521eef7bbd1/QMUIKit/UIKitExtensions/UITabBar%2BQMUI.m#L198-L226.

I also was able to workaround the issue in a blank project by setting the attribute `paragraphStyle` to `NSParagraphStyle.default` of the `titleTextAttributes`.

[2021-01-28 08:36] mrousavy commented on #6935
I noticed you also put a "hide back button" and "show back button" callbacks in the repro, do those do anything?

[2021-01-28 08:45] Andarius commented on #6935
Yes they are to test another issue I was initially debugging: if you hide thé backbutton then show it again, no event is dispatch when you press it.
Maybe these two issues are related

[2021-01-28 10:57] AdamLee321 opened #6936 "iOS Large Title noBorder doesn't remove bottom border"
## 🐛 Bug Report

I am trying to hide the bottom border for large titles but noBorder doesn't work for large titles. I have also tried setting the borderColor and borderHeight but this doesn't work for large titles.

## To Reproduce

topBar: {
      largeTitle: {
        visible: true,
        color: '#222222',
      },
      noBorder: true,
      background: {
        color: 'white',
        trans

[2021-01-28 16:28] madandrija opened #6938 "After upgrading to 7.8.4 app is crashing on Android because of iconBackground prop"
## 🐛 Bug Report

After going from 7.6.0 to 7.8.4 we noticed that the default icon color on iOS was changed to blue. While fixing the issue, we've noticed that on Android, anywhere you use the `iconBackground` prop, the app crashes.

### Have you read the [Contributing Guidelines on issues](https://wix.github.io/react-native-navigation/docs/meta-contributing/)?

Yes

## To Reproduce

Add the `iconB

[2021-01-29 09:38] remigijusbalc opened #6940 "Android crashes"
## 🐛 Bug Report

### Have you read the [Contributing Guidelines on issues](https://wix.github.io/react-native-navigation/docs/meta-contributing/)?

Yes

## To Reproduce

Upgrade to 7.8.0 or 7.8.4 version

## Expected behavior

Not to crash

(Write what you thought would happen.)

## Actual Behavior

It complies fine, but after js bundle loads - Android crashes

FATAL EXCEPTION: main
Process: x.x.x

[2021-01-29 18:55] kubilaytural commented on #6123
Thx

[2021-01-31 11:18] yogevbd commented on #6935
@Andarius Why are you changing the back button `id`?

[2021-01-31 17:17] Andarius commented on #6935
I set it with `Navigation.setDefaultOptions` for when I need to listen to it (eg: call `onDone` function )

[2021-02-01 07:41] AlphaJuliettOmega commented on #5799
Any update on this, is it _supposed_ to be a Stack Id that gets passed?

Contradiction here:
https://stackoverflow.com/questions/56321858/why-is-this-props-componentid-needed

In my own app, we're passing Stack Id when pushing screens because otherwise it crashes...
This probably means the Back button will never work which is frustrating.

But I don't know, the docs re. simple navigation is very h

[2021-02-01 09:29] kubilaytural opened #6942 "YogaKit/YogaKit.modulemap' not found Xcode 12.4"
Description

I create a new app using react native. When I try to run the archive using Xcode I get the following error and the app doesn't archive.

 module map file '/Users/kubilaytural/Library/Developer/Xcode/DerivedData/passerMobileApp-fhpbfuxtqdjloddnafpzbplvrsxk/Build/Intermediates.noindex/ArchiveIntermediates/passerMobileApp/BuildProductsPath/Release-iphoneos/YogaKit/YogaKit.modulemap' not

[2021-02-01 13:20] zazagag commented on #5656
not stale

[2021-02-01 13:28] #5656 closed

[2021-02-01 16:18] zifahm opened #6943 "[docs] Searching in the docs always takes you to v7.7.0 docs"
## 📚 Documentation

While searching for stuff in the docs, it always takes you to previous version of the docs showing you warning signs.

Solution: while searching for stuff in the docs should take you to the latest version of RNN :)

[2021-02-01 20:29] kubilaytural commented on #6942
@yogevbd @swabbass @mrousavy @mateioprea @JasonXiang2014 @Andarius pls help?

[2021-02-02 10:14] hobbica98 opened #6945 "SetStackRoute loses props for non primary layout"
`let stack;
      switch (parentProps.componentId) {
        case 'si4me.insight-category':
          delete parentProps.componentId;
          stack = [
            homeLayoutDef,
            insightCategoryLayoutDef({ ...parentProps }),
            insightItemDetailLayoutDef({ itemId: item.id }),
          ];
          break;
        case 'si4me.insight-subcategory':
          delete parentProps

[2021-02-02 15:06] madandrija commented on #6938
Reproduced on the playground app as well, just add the prop to `rightButtons`, e.g.

[code]

[2021-02-04 08:31] remigijusbalc commented on #6940
I found that downgrading 'com.github.wix-playground:ahbottomnavigation:3.2.0' to older version (3.3.0 -> 3.2.0) solves the issue

[2021-02-04 08:48] Yadro opened #6950 "Bottom Tab Navigator wrong behaviour"
## 🐛 Bug Report

I set Bottom Tab Navigator, and it works when I navigate on the screen, which I didn't navigate before, but when I go back, the screen doesn't change. What I did wrong?

## To Reproduce

[code]
## Your Environment

- React Native Navigation version:
  - "@react-navigation/bottom-tabs": "5.11.7",
  - "@react-navigation/native": "5.9.2",
  - "@react-navigation/stack": "5.14.2",
- Re

[2021-02-04 08:49] mateioprea commented on #6950
You are on the wrong repo.

[2021-02-04 08:49] #6950 closed

[2021-02-04 12:48] eurobob commented on #6384
Ditched the package and switched to react-navigation which offers more customisation in that regard

[2021-02-04 17:35] binkerxbc commented on #6936
please add code in
TopBar:{
 scrollEdgeAppearance: {
        noBorder:true,
      },
    ... other code
}

[2021-02-08 05:51] a-eid commented on #6936
@binkerxbc it seems that OP has already tried that.

[2021-02-08 12:29] #6549 closed

[2021-02-08 17:18] caicheng commented on #5504
same here

[2021-02-09 06:44] gahlot3 commented on #6344
"UIPopoverPresentationController (<UIPopoverPresentationController: 0x11933de40>) should have a non-nil sourceView or barButtonItem set before the presentation occurs.  ????
iOS 14
Xcode 12.2
ipad pro

[2021-02-09 10:45] Maxeeezy commented on #6021
I had problems with my android and this did the trick for me:

[code]
I simply forgot to link the package. :/

[2021-02-09 15:40] #6790 closed

[2021-02-09 18:19] fadinasr opened #6955 "StatusBar is not blurring on iOS"
## 🐛 Bug Report

The status bar is covering and conflicting with the content of the screen. We need to blur the status bar on iOS so it appears above the content of the screen.

### Have you read the [Contributing Guidelines on issues](https://wix.github.io/react-native-navigation/docs/meta-contributing/)?

Yes

## To Reproduce

1. Added blur option to navigation default options
2. Tested with oth

[2021-02-09 19:11] kubilaytural commented on #6942
I was able to solve my problem by synchronizing the xcode development target and pod target version.

[2021-02-09 19:11] #6942 closed

[2021-02-10 10:59] LaVielle commented on #6535
Is there a current solution/workaround for this? Im trying to setup react-native-bootsplash and running into issues which lead me here.

[2021-02-10 13:28] #6938 closed

[2021-02-10 13:57] #6921 closed

[2021-02-10 14:19] zabojad opened #6956 "[v7] Invariant Violation: "MyScreen" has not been registered."
## 🐛 Bug Report

I'm seeing these kinds of logs in my Sentry.io reports:

    Invariant Violation: "MyScreen" has not been registered. This can happen if:
    * Metro (the local dev server) is run from the wrong folder. Check if Metro is running, stop it and restart it in the current project.
    * A module failed to load due to an error and `AppRegistry...
    at runApplication(app:///index.andro

[2021-02-10 14:50] FawadMahmood commented on #6505
In my case shared element only working for IOS, android element just disappear.

[2021-02-10 15:25] FawadMahmood opened #6957 "Shared Element Broken in Android with latest version 7.9.0"
I have tried every possible way to use it on android, it was working fine on IOS with the latest release, however when downgraded to 7.8.4 same code works well now.

 animation.animations.push = {
        ...animation.animations.push,
        sharedElementTransitions: [
          {
            fromId: key,
            toId: `${key}dest`,
            interpolation: {
              type: "spring",

[2021-02-10 15:34] wilsontr commented on #6533
I was able to get this working by reverting the change made in #6784, per @ryanbourneuk's [comment](https://github.com/wix/react-native-navigation/pull/6784#issuecomment-756791679). I will be using patch-package to handle this for now, but maybe that PR should be entirely reverted?

[2021-02-11 12:44] rashidul0405 opened #6959 "react-native-app-auth integration - app crashes"
## 🐛 Bug Report

Integration of react-native-app-auth should open authorization server URL on modal - but the app crashes instead. Is there anything i need to consider regarding 3rd party integration?

### Have you read the [Contributing Guidelines on issues](https://wix.github.io/react-native-navigation/docs/meta-contributing/)?

yes

## To Reproduce

start app:
[code]

LoginScreen.js
[code]

##

[2021-02-11 16:54] RodolfoGS commented on #5702
Hi @manuhook, I have the same issue that you, I'm using admob. Could you fixed your issues? Thanks a lot!

[2021-02-12 07:22] rushilchugh01 opened #6961 "Drawer does not open with the swipe left gesture"
As per the example stated in the drawer docs -

- Installed all dependencies
- Added import 'react-native-gesture-handler' at root in index.js

The drawer on swipe from left does not open in android. All other types of navigation seem to be working.

[2021-02-14 12:44] swabbass commented on #6957
Hey @FawadMahmood , thx for the report.

can you please share a reproducible demo of a minimal project that has the specified version of RNN you are using, including the flows?

[2021-02-14 12:53] FawadMahmood commented on #6957
Hello, Yes it’s here https://github.com/FawadMahmood/react-native-navigation-bug, there’s no need of any extra work to reproduce, it’s a very basic example with default navigation. Please have a look.

[2021-02-15 10:48] lukebrandonfarrell commented on #6961
@rushilchugh01 if this is blocking you then try: https://github.com/aspect-apps/react-native-navigation-drawer-extension

[2021-02-16 06:26] #6957 closed

[2021-02-16 08:50] simonarcher commented on #5618
Also have this issue and I have no idea how to change the background colour behind the modal.
Right now its white and I can't get it to support 'dark mode'.

Is this ability to change the background possible, or not possible?
If possible, does anyone know specifically know how to set it?

[code]

[2021-02-16 16:38] suzonice15 opened #6966 "How to add Image in status bar"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

Please contact us instead. We have a few channels:

- [Stack Overflow](https://stackoverflow.com/questions/tagged/wix-react-native-navigation)
- [Discord](https://discord.gg/DhkZjq2)

[2021-02-16 16:39] #6966 closed

[2021-02-16 16:45] suzonice15 opened #6967 "How to add image in status bar My code Here"
Navigation.setDefaultOptions({
  statusBar: {
    backgroundColor: 'red'
  },
  topBar: {
    title: {
      color: 'white'
    },
    backButton: {
      color: 'white'
    },
    background: {
      color: 'red'
    }
  },
  bottomTab: {
    fontSize: 14,
    selectedFontSize: 14,
	backgroundColor:'red'
  }
});

[2021-02-17 17:40] odesey opened #6970 "[V7.9.0] Android Regression"
## 🐛 Bug Report

There seems to be a regression in version **7.9.0** on Android when calling `Navigation.mergeOptions`

## To Reproduce
Simply call the following:

[code]
On version  **7.9.0**, If there are NO `rightButtons` being shown, the app will crash on Android. iOS seems unaffected

On version **7.6.0**, there is no crash on Android, even if there are no `rightButtons` being shown

## Expec

[2021-02-17 23:42] #6892 closed

[2021-02-18 03:37] hoangduy0610 commented on #5123
You'll need to create a custom react view for that.

https://github.com/wix/react-native-navigation/blob/master/playground/src/screens/CustomTopBar.tsx#L13
https://github.com/wix/react-native-navigation/blob/master/playground/src/screens/OptionsScreen.tsx#L180

[2021-02-18 06:38] a-eid opened #6974 "Android Title is always to the left, and doesn't respect `layout.direction`."
## 🐛 Bug Report

## To Reproduce

- `setDefaultOptions` `layout.direction` to `rtl`

## Expected behavior

- android backButton should change to the right & title should also change direction to the right.

## Actual Behavior

- android backButton doesn't show at all & title is always to the left.

![Screen Shot 2021-02-18 at 3 25 22 AM](https://user-images.githubusercontent.com/19273413/108316820

[2021-02-18 08:46] #6970 closed

[2021-02-18 10:04] a-eid opened #6975 "when a input has `autoFocus`, the keyboard transparency is not applied until the transition ends."
## 🐛 Bug Report

![keyboard-transparent](https://user-images.githubusercontent.com/19273413/108340337-24911400-71e1-11eb-9aec-c3bd507324ba.gif)

## To Reproduce

navigate to a screen with an input set to `autoFocus` & `waitForRender` set to true ( it behaves very weirdly if it's not.

## Expected behavior

for it to have transparency set correctly while transitioning

## Actual Behavior

## Your E

[2021-02-18 10:10] #6935 closed

[2021-02-18 10:27] a-eid opened #6976 "navigating back to a screen with large title collapses the tile while it should not be."
## 🐛 Bug Report

![largetitle2](https://user-images.githubusercontent.com/19273413/108343157-4cce4200-71e4-11eb-8765-1ffdcfb3ca04.gif)

## To Reproduce
- apply the following patch to react-native to get large title to work correctly.

[code]
- navigate away from a screen with large title displayed.
- navigate back.

## Expected behavior

- large title should persist.

## Actual Behavior

- large t

[2021-02-18 13:58] aliraza-noon commented on #6608
this is not stale

[2021-02-18 16:06] ryanpag3 commented on #5294
This is still an issue for me as well. Why can't we listen to button evens while using a component?

[2021-02-19 04:06] donghuiqiu opened #6978 "selectedText be hided and selectedTextColor dosen't work"
in platform of android my selectedText show android the other  be hide , and so selectedTextColor have no change,but in iphone 6 everything works normal , I try many ways, I have no idea

[2021-02-19 04:06] #6978 closed

[2021-02-19 06:04] mouxuefei opened #6979 "How to create a global floating button using react-native-navigation"

[2021-02-19 06:04] #6979 closed

[2021-02-19 08:51] a-eid commented on #6535
@LaVielle you currently have to do it your self, once you `setRoot` ( or any any other action that shows something on the screen ), RNN hides the splash screen automatically.

[2021-02-19 13:04] rodribech20 commented on #4190
I was using v2.27.9 and it was working. But now I updated to v7.8.4 and it is not working . topBarHeight returns 0 for iOS. Thanks

[2021-02-19 17:10] magrinj commented on #4536
@wsliaw Great but not a perfect solution.
For exemple, I have a notification that is opening a landscape modal when user click on it.
So, I actually don't have any track on which screen the app is if user is navigating on it.
In this cas I can't pass a `componentId` to `mergeOptions` when user goes back.
A solution could be to keep track of the currentScreen with `Navigation.events().registerCompo

[2021-02-20 05:17] a-eid commented on #6168
you can achieve this with the this code.
[code]

[2021-02-20 05:25] a-eid opened #6980 "setDefaultOptions overrides options when called again."
## 🐛 Bug Report

this might not be the case for every options but it is when you set `layout` it does override at least animations.

## To Reproduce
- call `setDefaultOptions` and set some animations `push` or `setRoot`.
- call it again for whatever reason you want, calling it empty also work, but in my case I was calling it to change the direction of the app `layout.direction` `rtl | ltr`.

## Ex

[2021-02-20 11:38] ludwig-pro opened #6981 "bottom tab tap don't pop to root on android"
## 🐛 Bug Report

iOS and Android don't have the same behavior when you navigate inside a stack with bottom tabs and tap the active tab.

### Have you read the [Contributing Guidelines on issues](https://wix.github.io/react-native-navigation/docs/meta-contributing/)?

yep !

## To Reproduce
1. navigate inside a sub screen of a stack ( so have 2 screens inside the stack, the root and a second one)
2

[2021-02-20 16:27] developer239 commented on #6684
Why is this closed? Changing deployment target manually is not a solution. 🙂

[2021-02-21 04:11] hoangduy0610 opened #6982 "Set Height for TopBar"
### Set height for TopBar

I want to set **height** for **TopBar** for BOTH `Android and iOS` but I cannot find any document about that.

![image](https://user-images.githubusercontent.com/45957687/108615329-7e8a1780-7435-11eb-842e-a02c68845ea9.png)
This option only works with android.

Can anyone help me? Thank you so much!

[2021-02-21 04:12] #6982 closed

[2021-02-21 04:14] hoangduy0610 opened #6983 "Request Document about topbar height"
### Set height for TopBar

I want to set **height** for **TopBar** for BOTH `Android and iOS` but I cannot find any document about that.

![image](https://user-images.githubusercontent.com/45957687/108615329-7e8a1780-7435-11eb-842e-a02c68845ea9.png)
This option only works with android.

Can anyone help me? Thank you so much!

[2021-02-21 19:45] firdausious commented on #6734
Wow thanks @bneigher, confirmed and also works with

[code]

I think this is should be documented on ios manual installation or automated during `npx rnn-link`

[2021-02-22 13:33] remigijusbalc commented on #6940
Fixed this and made PR to ahbottomnavigation fork: https://github.com/wix-playground/ahbottomnavigation/pull/3

[2021-02-22 15:28] swabbass commented on #6974
@a-eid Thx for reporting, [the provided demo](https://github.com/a-eid/rnn/tree/android-rtl) is missing `android:supportsRtl="true"` in your demo android manifest, I added one and it just worked.

Updated the docs, for the next release.

- In android in general (Not RN apps only), in order to support RTL, you have to add this https://developer.android.com/training/basics/supporting-devices/languag

[2021-02-22 15:31] a-eid commented on #6974
great, thank you

حبيبي

[2021-02-22 15:32] a-eid commented on #6974
please feel free to close this issue, I'll be testing this in a couple of hours & reporting back.

[2021-02-22 17:43] VittoriDavide opened #6985 "Is there a way to open directly from swift a Modal?"
I am creating a Share View Controller as a different target, and I wanted to know if I could open a modal registered in RNN. I think it is somehow possible because if I am not wrong all the RNN implementation is native.

Thank you for your answer

[2021-02-22 17:43] #6985 closed

[2021-02-22 23:01] swabbass commented on #6983
its missing documentation about the height, it's now added (next release), Thx for the report.

About ios, you cannot change TopBar height, but there is a mode for it, `largeTitle` [see](https://wix.github.io/react-native-navigation/api/options-largeTitle).

[2021-02-23 06:48] #6983 closed

[2021-02-23 06:50] #6974 closed

[2021-02-23 09:30] cenaHara commented on #5424
same issue @garrettm @marf , @fjmorant  have either of you found a solution?

[2021-02-23 09:47] dooleyb1 commented on #3767
Still seeing crashes occur in Crashlytics on app using `"react-native-navigation": "7.9.0"`

[2021-02-23 15:30] avonipenti commented on #6071
Upgraded to 7.10.0 and we still see the crashes
`Fatal Exception: java.lang.RuntimeException: Tried to create view after it has already been destroyed
       at com.reactnativenavigation.viewcontrollers.viewcontroller.ViewController.getView(ViewController.java:31)`

[2021-02-23 16:06] mrousavy opened #6988 "StatusBar hidden with drawBehind causes content to jump"
## 🐛 Bug Report

Screen A has:

[code]

Screen B has:

[code]

This works fine on iOS but causes the content to jump on some Android devices.

Note: I say _some_ because this issue only affects Android devices where the StatusBar is larger than `24` pixels. (e.g. phones with notches, ..)

https://user-images.githubusercontent.com/15199031/108871097-16842e80-75f9-11eb-880f-4dd66a1c1330.mp4

### Hav

[2021-02-23 16:09] mrousavy commented on #6967
You cannot add images to the StatusBar. If you're searching for adding images to the topBar, take a look [at those docs](https://wix.github.io/react-native-navigation/7.7.0/api/options-imageResource/#imageresource)

[2021-02-23 16:09] #6967 closed

[2021-02-23 16:17] mrousavy commented on #6956
There is no relevant information in this issue.

Search your entire code-base for the string `MyScreen` and find out where you use that. If you find it, paste the problematic code snippet here.

[2021-02-23 16:18] mrousavy commented on #6896
What would be the reason for a double tap? It is a _very_ uncommon gesture to double tap on a tab bar item. Actually I'm not even sure if it's supported out of the box natively (iOS/Android)

[2021-02-23 20:24] garrettm commented on #5424
@cenaHara sorry I don't remember off the top of my head what I did to workaround this

[2021-02-24 03:38] taehuA commented on #6412
i had same issue

[2021-02-24 08:50] zabojad commented on #6956
@mrousavy It happens randomly on any of my screens. I 've written "MyScreen" here just for an example... I do not know what causes it and how can I reproduce it.

The questions are:
* What can lead to this error?
* How can it be that it happens in a production build?

[2021-02-24 16:18] markhomoki opened #6989 "Navigation.push in sideMenu doesn't respect bottomTabs visibility options"
## 🐛 Bug Report
Cannot hide bottomTabs when pushing to a new Bottom Tabs Screen from Side Menu.
Using Navigation.push() from any other Bottom Tabs screens passes `bottomTabs: { visible: false }` but when calling from a Side Menu screen it does not.
This used to work in v4, but started migrating to v7 this week and blocked by this issue.

Any help or pointing to the right direction is appreciated.

[2021-02-25 07:44] remigijusbalc commented on #6896
Hey! That's pretty easy to implement with existing listener. This listener returns these properties:
*   selectedTabIndex: number;
*  unselectedTabIndex: number;
So, if unselected tab is same as selected and they match for example Tab A - you can scroll or do whatever you need to

[2021-02-25 08:14] caciobanita opened #6990 "IOS - Black screen - Unbalanced calls to begin/end appearance transitions for RNNSplashScreen"
## 🐛 Bug Report
Application wont run on iOS, black screen after storyboard is loaded and i get this error:

021-02-25 10:10:28.680322+0200 TestApp[679:203188] Unbalanced calls to begin/end appearance transitions for <RNNSplashScreen: 0x105310350>.

(A clear and concise description of what the bug is)

### Have you read the [Contributing Guidelines on issues](https://wix.github.io/react-native-navi

[2021-02-25 14:33] elsurudo commented on #6808
I'm also having the same issue. Did anyone have any luck resolving it?

[2021-02-25 15:39] bokuzminski opened #6992 "iOS- Custom animations on push/pop not working"
## 🐛 Bug Report

Custom animations for push and pop are not working on iOS after updating the RNN package from `7.6.0 > 7.11.0`.

The animations work fine on `7.6.0` up to `7.8.4` but anything after that does not work.
The animation I am interested in is `TranslationY`, however all of the custom animations are overridden and the default animations (which is pushing from left to right) are playing.

[2021-02-25 18:48] manuhook opened #6993 "iOS - Native back button is not working on iOS 12 since RNN 7.11.0"
## 🐛 Bug Report

Hi @yogevbd  ! since version 7.11.0 the native back button doesn't work anymore on iOS 12 (tested on iPhone 5s ios.12.5.1).
By clicking on the back button clicking on the back button, the navbar disappears but there is no pop for the current screen.

### Have you read the [Contributing Guidelines on issues](https://wix.github.io/react-native-navigation/docs/meta-contributing/)?

Y

[2021-02-25 19:13] fancydevpro commented on #4953
In our case, `SafeAreaProvider` was causing this issue as well as `gestureHandlerRootHOC`.
We were wrapping all screens with `SafeAreaProvider`.
Hope this helps.

[2021-02-26 07:34] AlphaJuliettOmega commented on #6898
Right after comment above, another dev on the project found some official recommendations for Icons from Apple -

Important note that I can't find in this library's docs:

_your icons must be an exact size, if they are too big they get downscaled and aliased. So for about 2-3 weeks I was messing about with icon sizes / jiggling padding, sizes and trying custom fonts, when the whole time the icons

[2021-02-26 07:38] AlphaJuliettOmega commented on #6980
hey @a-eid, shouldn't you be using MergeOptions when you want to change it after setting the DefaultOptions?

It makes sense to me that it'd wipe the _other_ options you've set if you set DefaultOptions a second time.

[2021-02-26 07:42] a-eid commented on #6980
@AlphaJuliettOmega in some cases you have to use `setDefaultOptions`, if I remember correctly you have to use it when setting the direction of the layout or something, if you want I can check and report back.

[2021-02-26 07:56] HectorRicardo opened #6994 "Add second callback parameter to updateProps"
## 🚀 Feature

Add a second parameter `callback` to the `updateProps` function, such that it looks like:
`Navigation.updateProps(props, callback)`.

This is to make `updateProps` similar to React's `setState(newState, callback)`. The second argument is a callback that is executed once `setState` is completed and the component is re-rendered.

Internally, `updateProps` calls `setState`, so it's just

[2021-02-27 19:59] MSchmidt commented on #5713
Yes, setRoot is not a good solution. I'm also wondering what the recommended approach would be. Nothing in the docs about dark mode unfortunately.

[2021-02-28 23:57] hannahlf commented on #6942
@kubilaytural
How do you synchronize those?

[2021-03-01 11:58] DonovanDeSmedt commented on #6933
Any feedback on this ticket?

[2021-03-01 12:40] #6992 closed

[2021-03-01 23:17] brsaylor2 commented on #6533
Removing fontSize does not work for me.

[2021-03-02 09:09] manuhook commented on #6993
Thank a lot @yogevbd
However I have still an issue with  iOS 12 on RNN 7.11.1  with the back button in this particular case :

1 - Push 2 screen
2 - On the last screen pushed, pop the screen in JS "Navigation.pop(componentId)"
3 - On the first screen pushed, the native back button is not working (same behavior as described in this issue, the disappears but there is no pop for the current screen.

[2021-03-02 09:52] yogevbd commented on #6993
@manuhook I couldn't reproduce it in the playground. Could you please add a reproduction? Also feel free to message me in our [discord channel](https://discord.gg/DhkZjq2)

[2021-03-02 09:56] yogevbd commented on #6989
This looks like an iOS bug where the system doesn't take `hidesBottomBarWhenPushed` into consideration when the first `UITabBarController` child is different than `UINavigationController`. Managed to reproduce it in a plain iOS project.
I think that our best option is to add a workaround that will manually hide the `bottomTabs` in this specific case.

[2021-03-02 10:01] markhomoki commented on #6989
What would the best way to hide manually in that case? I tried to apply static options which didn't hide it. When I used Navigation.mergeOptions then it was a flash and the UX wasn't the same as navigating from a Bottom Tab screen.

Would it be an option to check somehow whether it's from sideMenu or not inside `hidesBottomBarWhenPushed` and use `self.boundViewController.resolveOptions` when navig

[2021-03-02 10:09] rashidul0405 commented on #6959
this is not actually rnn issue. app-auth works fine with rnn.

[2021-03-02 10:09] #6959 closed

[2021-03-02 12:21] #6993 closed

[2021-03-02 19:07] adrian09h commented on #5165
This issue still happens on RNN version 7.11.2

The apply options is not implemented in Android native code.
So I created patch file to apply the width change through mergeoption

Please look at this change

[code]

[2021-03-02 19:49] SudoPlz commented on #5853
@mtnt We may be experiencing the same issue.

Can you please try the following and let me know if it works for you?

1) Go to:
https://github.com/wix/react-native-navigation/blob/master/lib/ios/TopBarTitlePresenter.m#L21

and replace`if (options.subtitle.text.hasValue) {` with `if (options.subtitle.text.hasValue || options.title.text.hasValue) {`

2) Set the following into your `topBar`
[code]

an