[2018-09-30 15:49] rprasad-medullus commented on #3590
Can any one share source code ?

[2018-09-30 16:45] srameshr opened #4059 "[v2] unsetting back button title does not work"
### Issue Description

Setting the back button title or hiding the back button title does not work
### Steps to Reproduce / Code Snippets / Screenshots

[code]
---
### Environment
* React Native Navigation version: 2.0.2569
* React Native version: 0.57.1
* Platform(s) (iOS, Android, or both?): iOS
* Device info (Simulator/Device? OS version? Debug/Release?): iPhone 5s simulator

[2018-09-30 18:00] NCMoseley commented on #3817
I'm also having this issue, after implementing:
[code]

Any Ideas?

[2018-09-30 18:33] legion-zver commented on #3474
In version 2 of this QC, you can close the issue

[2018-09-30 18:38] stokesbga commented on #4051
lol

[2018-09-30 19:10] stokesbga opened #4060 "[v2] Where is the callback for interceptTouchOutside?"
### Issue Description

Documentation is kind of lacking with overlays. I see there is a flag for interceptTouchOutside, but pressing the background layout does not dismiss by default, nor does an event fire in any of the Navigation handlers. How can I dismiss by pressing on the layout background?

---
### Environment
* React Native Navigation version: 2.0.2569
* React Native version: 0.57
* Platfo

[2018-09-30 20:03] stokesbga commented on #4060
```interceptTouchOutside``` just means you can put a transparent Touchable component in the background.

 I just made my own overlay manually if anyone wants a similar feel to the old ```showLightBox```
It's not perfect, but neither is RNN2 (*pow pow*)

Just remember you need to set

[code]

[2018-09-30 22:16] #4051 closed

[2018-10-01 04:57] #3691 closed

[2018-10-01 07:51] Dgs-asohail4 commented on #963
OCTOBER 1 2018.. still same issue

[2018-10-01 09:03] simonhintersonnleitner commented on #3864
@guyca I have the same issue on Android with the lastest version (2.0.2569)

![topbar_flickers_bug_android](https://user-images.githubusercontent.com/8883550/46279266-ebe93500-c568-11e8-9b3e-e13575e30e73.gif)

My topbar component looks like this.

[code]
Any ideas whats wrong?

[2018-10-01 10:49] howg0924 commented on #2184
Thank you so~~~ much @pribeh. After looking for solution/workaround for almost a year, your one finally solved my problem.

Highly recommended for people with same problem to give it a try.

[2018-10-01 10:52] ArunKulasegaran commented on #4029
Hi guyca,
Pop to component ID wont work if we want to use swipe gesture in iOS.
I want to remove the screen from the stack to make it work for pop gesture also.

[2018-10-01 10:57] howg0924 commented on #1393
I recommend people with tabBar flicker issue to give pribeh's method a try:

https://github.com/wix/react-native-navigation/issues/2184#issuecomment-397830334

It solved the issue for me. The main concept is to give the screen with tabs a fixed height.

[2018-10-01 10:57] howg0924 commented on #2849
I recommend people with tabBar flicker issue to give pribeh's method a try:

https://github.com/wix/react-native-navigation/issues/2184#issuecomment-397830334

It solved the issue for me. The main concept is to give the screen with tabs a fixed height.

[2018-10-01 11:00] howg0924 commented on #3250
I recommend people with tabBar flicker issue to give pribeh's method a try:

https://github.com/wix/react-native-navigation/issues/2184#issuecomment-397830334

It solved the issue for me. The main concept is to give the screen with tabs a fixed height.

[2018-10-01 11:01] howg0924 commented on #3867
I recommend people with tabBar flicker issue to give pribeh's method a try:

https://github.com/wix/react-native-navigation/issues/2184#issuecomment-397830334

It solved the issue for me. The main concept is to give the screen with tabs a fixed height.

@adamterlson

[2018-10-01 11:06] manjeetwadi commented on #2184
I did it with styles only

[code]

[2018-10-01 11:57] #3638 closed

[2018-10-01 13:16] pribeh commented on #3892
Is anybody else experiencing this?

[2018-10-01 13:44] skhizerabass opened #4061 "[V2] showinappnotification not able to implement on press event"
I want to catch an event if someone presses the showInAppNotification.
Meanwhile I used TouchableHighlight in IOS which listens to my on Press event which works fine in rest of my application. But when i add the similar code in notification component it doesn't work.
If someone knows how can i add the press event on showinappnotification it will be really helpful

[2018-10-01 15:13] srameshr commented on #4059
@guyca Could you please look into this?

[2018-10-01 15:56] jsmankoo commented on #3703
yes @ue , we use yarn.

[2018-10-01 15:58] ue commented on #3703
@jsmankoo Can you try `npm install` instead of `yarn`. I hope it will fix it.

[2018-10-01 16:40] jsmankoo commented on #3703
@ue I can confirm that removing `node_modules` and re-installing via `npm install` does fixes this. However I'm not sure whether that constitutes as the issue be "fixed".

[2018-10-01 18:13] witalobenicio opened #4062 "Getting ref from generated views"
### Issue Description

How to get ref from generated views (e.g: toolbar, tabbars)?
Is it possible?

I would like to use `https://github.com/prscX/react-native-app-tour` but it uses refs to show the targetview.
How could I use it with RNN?

[2018-10-01 18:32] zubko commented on #4058
According to [docs](https://wix.github.io/react-native-navigation/v2/#/docs/topBar-buttons?id=button-options) component should be an object:

[code]

Did you try this?

[2018-10-01 19:52] muhammadsr commented on #3471
Any updates on how to override the back handling in a component?

[2018-10-01 20:07] #4061 closed

[2018-10-01 20:21] skhizerabass opened #4063 "Can we pass navigator in showinappnotification props?"
I am trying to pass the navigator in showInAppNotification. But i keep getting the following error

This is how i am calling the function
`
this.props.navigator.showInAppNotification({
screen: "Notification",
passProps: {
navigator:this.props.navigator,
extraData: this.props.newmsguser.msgData,
type:this.props.newmsguser.msgData.t,
baseUrl:this.props.Site_Url,
},
autoDismissTimerSec: 4 // auto dis

[2018-10-01 22:52] SanchezQb commented on #3794
I still have no toptabs visible here

[2018-10-01 22:55] SanchezQb commented on #3557
I still can't see any toptabs here. My code
`Navigation.setRoot({
    root: {
      stack: {
        id: 'test',
        children: [
          {
            topTabs: {
              children: [
                {
                  component: {
                    name: "Home",
                    passProps: {
                        text: "HOme"
                    },
                    options: {

[2018-10-01 22:56] SanchezQb commented on #3557
I still cant see any topTabs here. My code below, please help
`import { Navigation } from 'react-native-navigation'

export const goToHome = () => Navigation.setRoot({
    root: {
      stack: {
        id: 'test',
        children: [
          {
            topTabs: {
              children: [
                {
                  component: {
                    name: "Home",
                    p

[2018-10-02 00:30] #3744 closed

[2018-10-02 01:24] Dgs-asohail4 opened #4064 "Sidebar drawer in V1"
Is there any way to add drawer with multiple screen in the application with using startTabBaseApp ?

[2018-10-02 05:13] damathryx commented on #3804
any update on this?

[2018-10-02 08:02] tigo0 opened #4065 "[V2] Hide bottomTabs on Android breaks with ScrollView"
### Issue Description

I've got a bottomTabs navigation and I navigate to a screen with `ScrollView` where I want to hide those. Based on the documentation, I am hiding them when pushing the new screen as such:
[code]
The bottomTabs seem to hide, but the content sizes are not re-calculated to fit the dimensions (?!) so it leaves nasty empty space the size of the bottomTabs after it.

### Steps to

[2018-10-02 08:51] xvonabur commented on #358
@MPiccinato Thanks! There is one problem with your approach and `setButtons`, because it sets buttons on visible screen, not on the new one. I can add `setTimeout` for it, but it's not ideal solution. Is there a way to postpone `setButtons` for corresponding screen until it renders?

[2018-10-02 09:35] Dgs-asohail4 commented on #624
Guys can you help me with this, i want a drawer behavior like one can have in native android development the drawer icon and drawer stays as it is and the fragment (component/screen) changes.. current this.props.navigator.popToRoot({screen: "app.Screen1"}) remove the drawer icon and this.props.navigator.push({screen: "app.Screen1"}) add screen to the current stack with back icon in navbar.

[2018-10-02 11:12] swabbass opened #4069 "update top bar options on external component"
When showing a modal/push for external component like below:
`
  Navigation.showModal({
            stack: {
              id: "myStack",
                children: [
                    {
                        externalComponent: {
                            id: "myExtComp",
                            name: "myExtComp",
                            passProps,
                            options:

[2018-10-02 13:04] #3780 closed

[2018-10-02 13:27] trofima opened #4071 "[Android] Bottom tabs appearing unexpectedly on the next screen in the stack"
### Issue Description

After hiding bottom tabs they are appearing on the next screen pushed to stack. This reproduces only on Android. Works fine on ios.

### Steps to Reproduce / Code Snippets / Screenshots

Hide bottom tabs on any screen using `{bottomTabs:  {visible: false, drawBehind: true}}`. Push a screen to the same stack. On ios bottomTabs will stay hidden. On android they will appear. Th

[2018-10-02 14:54] ItsNoHax commented on #3697
Some sort of invisible bottomtab measurement is going on, atleast it seems the same size as the bottomtab:
![peek 2018-10-02 16-52](https://user-images.githubusercontent.com/4223434/46356807-c856e500-c663-11e8-9e98-77a611d138e8.gif)

[2018-10-02 16:20] MattFoley commented on #1234
Any updates here? I see you're now in v2 Alpha.

[2018-10-02 16:30] #3564 closed

[2018-10-02 17:21] chenbekor opened #4072 "screenBackgroundColor transparent not working as expected"
### Issue Description

I'm trying to set the screen background to transparent:

screenBackgroundColor: 'transparent',

in XCode I changed the root view background color to Green like this:
`self.window.backgroundColor = [UIColor greenColor];`

I'm expecting to see the Green background without any interference . When running in Simulator I see a black rectangle with some opacity and a gradient towa

[2018-10-02 17:28] guyca commented on #3860
resolved 2.0.2570

[2018-10-02 17:28] #3860 closed

[2018-10-02 18:50] kubilaytural commented on #3945
Thanks @hisothreed !

Example:

  Navigation.setDefaultOptions({
    topBar: {
      visible: true,
      **drawBehind: true,**
      title: {
          ...props
      },
   ....
  });

[2018-10-02 20:16] SanchezQb commented on #3557
Were you able to fix this issue?

[2018-10-02 20:40] pribeh opened #4073 "[V2] backButton only renders previous screen title when pushing on iOS"
As of commit 2.0.2569, most backButton properties don't seem to take effect when pushing a new screen. backButton properties were working fine with version 2.0.2555.

For instance, if I use the following, the title in the default blue color displays with **no** icon:

[code]

---
### Environment
* React Native Navigation version: 2.0.2569
* React Native version: 0.55.4
* Platform(s) (iOS, Android,

[2018-10-02 21:00] pribeh commented on #4073
As I suspected, if I revert changes in commit [#3999](https://github.com/wix/react-native-navigation/commit/2cd264ec839f25b2be65dee42821adb6913f98c0) then the backbutton properties work again as expected.

[2018-10-02 21:13] yogevbd commented on #3697
Fixed here: b840dd4, v2.0.2571.
Can you please check that this fix does work for you and approve? thanks!

[2018-10-02 22:09] esipavicius commented on #1501
I found where it should be in navigation v2:

[code]

[2018-10-02 23:26] Mikunj opened #4074 "[v2][Android] Hiding TopBar leaves a gap"
### Issue Description

When you set top bar visibility to `false` it still leaves a gap instead of completely hiding like it does on iOS.

### Steps to Reproduce / Code Snippets / Screenshots

[code]

You can get around it by doing the following:
[code]
However that is really inconvenient if you have a mix of screens with no top bar and screens with top bars. There is also a slight flicker when yo

[2018-10-03 00:41] ruizhaoz1 opened #4075 "postinstall detox@5.10.0 ERR!"
bash-3.2# sudo npm install --save

Extracting Detox sources...
Building Detox.framework...
npm ERR! code ELIFECYCLE
npm ERR! errno 65
npm ERR! detox@5.10.0 postinstall: `scripts/postinstall.sh`
npm ERR! Exit status 65
npm ERR!
npm ERR! Failed at the detox@5.10.0 postinstall script.
npm ERR! This is probably not a problem with npm. There is likely additional logging output above.

npm ERR! A comple

[2018-10-03 01:04] ruizhaoz1 commented on #4075
Installing build/Build/Products/Debug-iphonesimulator/example.app
An error was encountered processing the command (domain=NSPOSIXErrorDomain, code=22):
Failed to install the requested application
The bundle identifier of the application could not be determined.
Ensure that the application's Info.plist contains a value for CFBundleIdentifier.
Print: Entry, ":CFBundleIdentifier", Does Not Exist

Com

[2018-10-03 02:03] adrianolsk commented on #3549
Like @LordParsley said, when using native base we want to set the theme for the whole app, isn't bad doing it for every component?

[2018-10-03 03:31] mateomorris commented on #3893
Andres' code in es6:

[code]

[2018-10-03 03:43] rendomnet opened #4076 "[v2] [iOS] Bottom tabs visible when using layout bottomTabs visible: false"
### Issue Description

Can't hide bottomTabs using layout bottomTabs
It is visible on first tab and when I switch tab only then it will disappear.

[code]

### Steps to Reproduce / Code Snippets / Screenshots

Use
[code]
inside bottomTabs layout

---
### Environment
* React Native Navigation version: 2.0.2570
* React Native version: 0.56
* Platform(s) (iOS, Android, or both?): iOS
* Device info (S

[2018-10-03 03:45] rendomnet commented on #3951
Not working for me on 2.0.2570

[2018-10-03 04:43] damathryx opened #4077 "[V2][Android] Back buttons and left buttons not working on landscape"
### Issue Description
Clicking Back buttons and left buttons on landscape does nothing on android when I switch to portrait it works.
I have a sidemenu and a bottom tab

[code]
### Environment
* React Native Navigation version: 2.0.2474
* React Native version: 0.56.0
* Platform(s) (iOS, Android, or both?): Android
* Device info (Simulator/Device? OS version? Debug/Release?): Simulator Debug

[2018-10-03 05:11] guyca commented on #3455
`transparent` property was removed in v2.0.2570. The `blur` and `translucent` properties changed as well and are now part of the `background` node:

[code]

[2018-10-03 05:11] #3455 closed

[2018-10-03 07:10] #4074 closed

[2018-10-03 07:11] #4075 closed

[2018-10-03 07:55] guyca commented on #4071
This is the expected behavior. Options should not persist between screens in the stack.
@yogevbd please add e2e for this use case when you get to it

[2018-10-03 07:58] chenbekor commented on #4072
I've reviewed some closed issues around this "area" and noticed that @guyca answered on a few - none fits my issue unfortunately. If someone can help me resolve this that would be great!

[2018-10-03 08:17] LRNZ09 commented on #3831
[Related issue here](https://github.com/wix/react-native-navigation/issues/3996)

[2018-10-03 08:17] LRNZ09 commented on #3996
[Related issue here](https://github.com/wix/react-native-navigation/issues/3831)

[2018-10-03 08:29] trofima commented on #4071
So it unexpectedly *NOT* appear on ios. In any case the current behavior is not consistent between platforms.

[2018-10-03 08:38] angelos3lex commented on #3691
Is this planned to be implemented sometime?

[2018-10-03 09:11] srameshr commented on #4073
```2.0.2569``` I agree, I am on ```2.0.2569``` and none of the back button properties work.

[2018-10-03 10:35] mrquanghuy commented on #3590
Im looking for RNN v2 and RN >=0.56 intit project. but it all error :(

[2018-10-03 10:57] Dgs-asohail4 commented on #3996
Any update on this?

[2018-10-03 11:02] rgoldiez commented on #3724
@guyca - This is still an issue on Android.  The RNN V2 lifecycle methods (DidAppear / DidDisappear) do not get fired on a sideMenu showing or hiding.  Works great on iOS.

[2018-10-03 11:40] #4072 closed

[2018-10-03 12:01] ItsNoHax commented on #4065
Try this:
[code]

[2018-10-03 12:09] Jazqa opened #4079 "[V2][iOS] Going back in stack does not set the title color properly"
### Issue Description

Going back in stack does not set the title color properly on iOS (broken after the fix for styling the iOS backbutton)

### Steps to Reproduce / Code Snippets / Screenshots

1. Have a stack navigator where the first screen has `static get options()` and `topBar.title.color: blue`
2. Push a screen with `static get options()` and `topBar.title.color: red`
3. Pop the screen wit

[2018-10-03 12:19] Jazqa opened #4080 "[V2][iOS] drawBehind not working after merging options"
### Issue Description

transparent and/or translucent topBar with `drawBehind: true` does not allow drawing behind it after merging options (for example topBar title color or disabling a topBar button). Broken after 2.0.2570.

### Steps to Reproduce / Code Snippets / Screenshots

1. Have a topBar with `{ drawBehind: true, background: { color: "transparent", translucent: true } }`
2. Try to merge o

[2018-10-03 12:48] Jazqa opened #4081 "[V2][Android] Dynamically set topBar title not centered"
### Issue Description

Dynamically set topBar title not centered on Android. Happens if topBar.title.alignment is set to "center" in Navigation.setRoot **and/or** if the alignment is set to "center" dynamically with the title

### Steps to Reproduce / Code Snippets / Screenshots

[code]

---
### Environment
* React Native Navigation version: 2.0.2571
* React Native version: 0.56
* Platform(s) (iOS

[2018-10-03 14:02] ItsNoHax commented on #3927
Here is a little example project: https://github.com/ItsNoHax/EventFinder

[2018-10-03 14:08] chenbekor commented on #4072
@guyca I honestly think this is a bug. it is not behaving as expected. just to be on the safe side I also posted on stackoverflow but I will really appreciate if you can look at it and advice if this is a big or not. This is urgent and we cannot proceed with implementing the graphic design without a resolution on this issue.

[2018-10-03 15:32] trofima opened #4082 "[IOS] bottomTabs drawBehind: true bug"
### Issue Description

Setting `bottomTabs: {visible: false, drawBehind: true}` resulting the view 'jump' behind the topBar

### Steps to Reproduce / Code Snippets / Screenshots

render usual <View> (not flex: 1) with some content and set statically
`bottomTabs: {visible: false, drawBehind: true}`

---
### Environment
* React Native Navigation version: 2
* React Native version:
* Platform(s) (iOS,

[2018-10-03 16:33] RiCoTeRoX commented on #3709
Hi @lean , did it work for you? can you paste your config? it still does not work for me :(

[2018-10-03 17:31] VicFrolov commented on #358
Any potential updates/solutions for V2. Setting a backgroundColor doesn't particularly help, because if the backgroundColor is already white, the segue occurs, no content, and then content pops in.

[2018-10-03 17:41] stokesbga commented on #4080
I was able to reproduce this with an animated flatlist, noticing that the containerLayout was pushed down, but the actual top level flexbox had no issue and took up the full screen.

[2018-10-03 17:45] stokesbga commented on #3867
React native is, at its core, a hack. Trust those of us who have been building with it since 2015, there will never be a solution that just works 100% of the time. RNN V2 is extremely frustrating and stressful to migrate to, but you can get a working solution. After a LOT of refactoring, quick fixes, and separating android and ios components, it will work. It is no more or less stable than V1 imo,

[2018-10-03 17:56] yogevbd commented on #4080
Do you use sideMenu in your layout? I'm trying to understand if this bug related to this fix: b840dd4181cb8d5512185123a4e0be466071be05

[2018-10-03 17:58] Jazqa commented on #4080
@yogevbd, no I don't. We don't use sideMenu at all.

[2018-10-03 17:58] stokesbga opened #4083 "MergeOptions/SetDefaultOptions for topBar button color without buttons"
### Issue Description

mergeOptions or setDefaultOptions with
[code]

doesnt work for obvious reasons. Is there a way to set navbar button colors by default? or do I need to specify every time I add a button?

### Steps to Reproduce / Code Snippets / Screenshots

start regular app with default options: [example code above]

---
### Environment
* React Native Navigation version: 2.0.2064
* React Na

[2018-10-03 17:59] jarrx commented on #3691
Would really need this funktion as well.

[2018-10-03 21:29] esipavicius commented on #3905
OR: view.setBackgroundResource(R.drawable.splash_screen);

[2018-10-03 23:41] Mikunj commented on #4074
@guyca This isn't a question, it's a bug. On version `2.0.2555` setting the visibility of the top bar to `false` completely hides it (no gap is left), however on `2.0.2571` it hides the bar but there's still a gap left at the top.

[2018-10-04 01:29] jinshin1013 commented on #4034
It seems like on Android, the setDefaultOptions does not get affected at all. And only becomes effective once react-native reloads or push to the next screen.

I have
[code]
But the very first root coming from `Navigation.setRoot` does not get affected by this and as soon as I reload React Native or push to the next screen, the style come in effect.

- React Native Navigation version: 2.0.2571
- R

[2018-10-04 01:37] jinshin1013 opened #4085 "[V2][Android] setDefaultOptions not effective in initial setRoot"
### Issue Description
The initial, the very first screen does not get affected by the style set in `Navigation.setDefaultOptions`.

### Steps to Reproduce / Code Snippets / Screenshots
My `app.ts`
[code]

The very first root screen still renders with topBar elevation however as soon as React Native reloads or pushed to the next screen, the style suddenly comes in effect.

---
### Environment
* Rea

[2018-10-04 04:41] anilgurindapalli opened #4087 "Execution failed for task ':react-native-navigation:compileReactNative57DebugJavaWithJavac'."
<!--
Please follow the below Thread

https://github.com/wix/react-native-navigation/pull/3851

and

https://stackoverflow.com/questions/52624652/wix-react-native-navigation-v2-rn57-support

---
### Environment
* React Native Navigation version: https://github.com/leonardoballand/react-native-navigation-rn57.git
* React Native version: 0.57.1
* Platform(s) (iOS, Android, or both?): Android
* Device

[2018-10-04 05:03] bajrangsharma-burrp opened #4088 "BackgroundJob not working when app is kill/closed..."
### Issue Description

Unable to run background job even app is closed

### Steps to Reproduce / Code Snippets / Screenshots

1> Launch the app,
2> Do some activities,
3> Kill/Close the app by swipe

---
### Environment
* React Native version:
"react-native": "0.52.0",
"react-native-background-job": "^2.1.1",

* Platform(s) (iOS, Android, or both?):
Android

* Device info (Simulator/Device? OS ver

[2018-10-04 05:39] bajrangsharma-burrp commented on #4088
Working fine in the case of Foreground and App in background not kill/close.
How can we run background job without stop even App is kill/close?...

[2018-10-04 05:49] Anjlit opened #4089 "Unable to find module with Gradle path ':react-native-navigation' (needed by module 'app'.)"
### Issue Description

After installing the React Native Navigation. I receive the following error in Android Studio 3.1
**Gradle sync failed**, Project Is not starting.

### Steps to Reproduce / Code Snippets / Screenshots

Manually trying to start the **Gradle** and got the following error

![gradle](https://user-images.githubusercontent.com/43839466/46454992-9ca04000-c7c6-11e8-97d2-38438eb21833

[2018-10-04 05:57] chenbekor commented on #4072
how can this be re-opened? we believe this is a bug. this issue is dragging us. @guyca please advise.

[2018-10-04 06:45] tigo0 commented on #4065
That worked. Don't know how I missed it. Tnx. Closing.

[2018-10-04 06:45] #4065 closed

[2018-10-04 07:10] guyca commented on #4045
Closing this as the BottomTabs flicker is resolved. If there are any more issues lets open new issues for them 👍

[2018-10-04 07:10] #4045 closed

[2018-10-04 07:40] yusufyildirim commented on #4034
@guyca I think this is a real bug

[2018-10-04 07:41] yusufyildirim commented on #4085
Kinda related to #4034

[2018-10-04 07:44] ItsNoHax opened #4090 "[V2][iOS"
### Issue Description

[ENTER DESCRIPTION HERE - Please make sure to use the current [naming conventions](https://github.com/wix/react-native-navigation/issues/197)]

### Steps to Reproduce / Code Snippets / Screenshots

[FILL THIS OUT - It will be extremely helpful]

---
### Environment
* React Native Navigation version: FILL THIS OUT
* React Native version: FILL THIS OUT
* Platform(s) (iOS, Andr

[2018-10-04 09:09] qiepeipei opened #4091 "react native 0.57.1 what time can use ?"
Wix 'React-Native-Navigation' V2 is not supporting for RN 57. I have tried all the ways from this PR https://github.com/wix/react-native-navigation/pull/3851   Still Facing Issues. Can anyone write a quick Medium Post on how to Integrate Navigation with RN 57 support.

---
### Environment
* React Native Navigation version: 2.0.x
* React Native version: 0.57.1
* Platform(s) (iOS, Android, or both?)

[2018-10-04 10:18] #3637 closed

[2018-10-04 11:36] guyca commented on #3864
@simonhintersonnleitner
This is caused by a design short sight - options are applied when a view is attached to hierarchy **and** visible. In some cases this is too late, for example when a react view is displayed in the TopBar. React views take time to render, typically less then 100 ms.

I'll address this issue asap

[2018-10-04 11:55] #4089 closed

[2018-10-04 12:44] RiCoTeRoX commented on #4091
i use this [repo](https://github.com/wix/react-native-navigation/pull/3851#issuecomment-422573639) and work for me.

`"react-native-navigation": "../react-native-navigation-rn57"`

[2018-10-04 12:51] #3756 closed

[2018-10-04 13:03] ItsNoHax opened #4093 "[V2][iOS] SearchBar missing tint color options + can't change Cancel text color"
### Issue Description

- Using the native SearchBar I can not change the color of the Search... background. In my app it has become Dark Blue and I don't know where to change it. Same goes for the Cancel text next to it.

### Steps to Reproduce / Code Snippets / Screenshots

![file](https://user-images.githubusercontent.com/4223434/46475709-8dc98580-c7e6-11e8-9762-a27d0d68a4fb.jpg)

---
### Enviro

[2018-10-04 13:15] putuyoga commented on #3867
need suggestion, for new project, is it worth it to use directly on the RNN v2?

[2018-10-04 14:17] putuyoga commented on #3710
@stale open

[2018-10-04 14:36] steffenmllr commented on #3846
@guyca can you elaborate what the best practice is here ? I can make a PR to the Docs if I know what to do :)

[2018-10-04 14:44] steve228uk commented on #4053
I'm also experiencing this issue. I've tried merging options on `componentDidAppear` too but had no luck. Here's a recording of the issue I'm having with slow animations turned on: https://drive.google.com/file/d/1ciKy8Ycnp6BqlZuJ1rQAUHOcwwjvce6Q/view?usp=sharing

There's also an issue on Android where if the `topBar` is set to `visible: false` the space for the bar remains.

![screenshot_15386641

[2018-10-04 14:48] guyca commented on #4053
@yogevbd Isn't this what you're currently working on?

@steve228uk You'll need to set `drawBehind: true` when hiding topBar on Android.

[2018-10-04 15:06] yogevbd commented on #4053
Yes I'm on it

[2018-10-04 15:38] steve228uk opened #4094 "[V2] Merge options broken when using a top bar button with a custom component"
### Issue Description

When using the `Navigation.mergeOptions` method to add a button to the `topBar` with a custom component an error is thrown.

### Steps to Reproduce / Code Snippets / Screenshots

I'm currently using:

[code]

Which throws an error from the `[RNNTabBarController Creator]`.

---
### Environment
* React Native Navigation version: 2.0.2573
* React Native version: 0.56.0
* Platfo

[2018-10-04 15:43] santanu4ver commented on #3867
@putuyoga You really asked this after reading all above 'user experiences' (?)

[I am already a dead man]

[2018-10-04 15:45] steve228uk commented on #4094
Reverting to `2.0.2569` fixed this issue.

[2018-10-04 16:53] nezaidu commented on #3994
here is my solution, don't judge
[code]

[2018-10-04 19:11] viniciusrangelfp opened #4095 "App crash when ask for gps location (only android)"
### Issue Description
My app crash when ask for gps locations (ONLY ANDROID).
The dialog box appears as expected and when i accept or decline the permission, my app crash with the follow error: Tried to use permissions API while not attached to an Activity.
But even with error my app receive the permission, and if i re-open my app works fine.

I think that it is a wix problem beacuse my activity c

[2018-10-04 19:46] git-pod2 commented on #358
navigatorStyle: { navBarHidden : true, screenBackgroundColor: '#000000' } worked for me. However, navigatorStyle: { navBarHidden : true, screenBackgroundColor: 'black' } did NOT. On v1

[2018-10-04 21:35] rawrmaan commented on #4030
@ankero I believe this is fixed in #3688. Have a look and consider updating your `react-native-navigation` version to `npm i react-native-navigation@github:BasitAli/react-native-navigation#52ae13ed48a089828813b0c742be244fbf6c8b82` until that PR is merged.

[2018-10-04 21:39] steve228uk commented on #4053
Thanks @guyca!

[2018-10-05 03:09] VicFrolov commented on #3821
+1 same issue

[2018-10-05 05:38] vivekshah-zymr commented on #3419
@hkurokawa, I am facing the exact same issue as you for android. (The project runs well on iOS simulator.)

I am using,
[code]

**Exception while running on Android**
[code]

**android/build.gradle**
[code]
And I have followed all the steps which described in [this documentation.](https://wix.github.io/react-native-navigation/#/installation-android) But still gets the error.

Even I tried to chang

[2018-10-05 07:52] leolusoli commented on #1894
Try to perform the following steps:

1) Ensure that your root component class render methods are traditional functions (not arrow functions)
2) Disable hot reloading and stop the metro builder
3) `react-native start --reset-cache`
4)  Reload project and reactivate hot reloading

Hope this will helps.

[2018-10-05 08:06] fivenp commented on #931
Is there any chance we could re-open this issue and maybe "fix" the behaviour? (even by maybe just passing a prop?)

[2018-10-05 08:40] ricocrescenzio95 opened #4096 "[v2] Back button doesn't change on push"
### Issue Description

When push new screen in stack, the back button doesn't change its color.

[code]

The posted code works only if I set options using  `setDefaultOptions`.

---
### Environment
* React Native Navigation version: 2.0.2573
* React Native version: 0.55.3

[2018-10-05 09:51] #3740 closed

[2018-10-05 10:00] srameshr commented on #4073
@pribeh Could you revert or fix this?

[2018-10-05 10:31] faizr commented on #273
When creating tab bar using createBottomTabNavigator() , use following:
initialRouteName: 'Route Name Here',

[2018-10-05 11:35] nezaidu commented on #3905
@edvinasbartkus <3 <3 <3

[2018-10-05 12:47] anhtuank7c commented on #3996
Any new?

[2018-10-05 14:15] TomAtterton commented on #3821
Adding the  the prop ` contentInsetAdjustmentBehavior="never" ` to scrollview should solve the issue for devices using iOS 11+ .
But the issue still persists with versions earlier than iOS 11 adding ` automaticallyAdjustContentInsets={false}` doesn't seem to solve the issue, but a quick cheap fix is to just update the contentInsets `     contentInset={{ top: -20, left: 0, bottom: 0, right: 0 }}`.

[2018-10-05 15:12] mauriciogtaborda commented on #3860
This keeps happening to me.

[2018-10-05 15:19] ericlewis commented on #4093
https://github.com/wix/react-native-navigation/pull/4055

[2018-10-05 16:20] geastwood commented on #1670
We have the same issue on Android, by calling `destroy()` directly instead of `animationHide()` in LightBox.java::hide method fixed the issue, however of course you lose the animation on lightbox dismiss.

[2018-10-05 16:53] pribeh commented on #4073
There are currently a few things that 2.0.2569 seems to break including modal background properties. I'm trying to think of what might be the best thing to recommend to the maintainers to do.

It also looks like there may be different expectations as to how the backbutton ought to work from the commit [#3999](https://github.com/wix/react-native-navigation/commit/2cd264ec839f25b2be65dee42821adb6913

[2018-10-05 18:32] SparkleFaerieCoder commented on #4079
Same here for v1

[2018-10-06 05:54] RSRajendra commented on #3904
I have also same issue with react native navigation v2 in android only in ios its working

"react": "16.5.0",
"react-native": "0.56.0",
"react-native-navigation": "^2.0.2571"

mac os **10.12.6**

code is here
in build.gradle
buildscript {
    ext {
        buildToolsVersion = "27.0.3"
        minSdkVersion = 19
        compileSdkVersion = 27
        targetSdkVersion = 26
        supportLibVersion

[2018-10-06 05:58] RSRajendra commented on #3904
* Get more help at https://help.gradle.org

BUILD FAILED in 1s
Could not install the app on the device, read the error above for details.
Make sure you have an Android emulator running or a device connected and have
set up your Android development environment:
https://facebook.github.io/react-native/docs/getting-started.html
Mac-OSX-195:practicereact osx$ react-native run-android
Scanning folders

[2018-10-06 09:41] awaqo opened #4097 "Could not find a declaration file for module 'react-native-navigation'"
### Issue Description

[ts]
Could not find a declaration file for module 'react-native-navigation'. '(directory)f:/SEKOLAH/XIRPL3/KK4/react/hello8/node_modules/react-native-navigation/src/index.js' implicitly has an 'any' type.
  Try `npm install @types/react-native-navigation` if it exists or add a new declaration (.d.ts) file containing `declare module 'react-native-navigation';(https://github.c

[2018-10-06 10:33] webdevsyd commented on #3749
@herarya YOUR SOLUTION IS FUCKING REALLY WORKS!. Thank you very much!

[2018-10-06 13:24] manojkumawat003 opened #4098 "showModal showing transparent screen. How to disable it from showing transparent background ?"
I am using showModal and it is working fine but this is showing transparent screen.
I tried backgroundColor:'#ffffff' but, it still showing transparent.

How to disable transparancy?

---
### Environment
* React Native Navigation version: 1.1.486
* React Native version: 0.55.2
* Platform(s) (iOS, Android, or both?): Android
* Device info (Simulator/Device? OS version? Debug/Release?): simulator,8.

[2018-10-06 15:18] cesarm16 commented on #3924
there is a solution for this?

[2018-10-06 20:08] anonrig opened #4099 "SharedElement with largeTitle included views are glitchy"
When you add a sharedelement transition between a page that includes largeTitle, sharedElement is glitchy

![Screenshare](http://g.recordit.co/QilTEU61wm.gif)

[2018-10-06 20:14] SMJ93 commented on #3549
Has anybody found a solution to this?

This[ singleton solution on StackOverflow](https://stackoverflow.com/questions/51896173/react-native-navigation-context-api) is the closest thing I could find, but feels very hacky.

Feels like a major flaw in `react-native-navigation v2` if we can't use the context api as intended 😞

[2018-10-07 08:30] #1583 closed

[2018-10-07 08:30] #3473 closed

[2018-10-07 09:59] manojkumawat003 opened #4101 "undefined is not an object (evaluating '_this.props.navigator.push')"
this.props.navigator.push({
screen:" ****** "
title:"** "
)}

is not working.
showing error : undefined is not an object (evaluating '_this.props.navigator.push')

### Steps to Reproduce / Code Snippets / Screenshots

[FILL THIS OUT - It will be extremely helpful]

---
### Environment
* React Native Navigation version: FILL THIS OUT
* React Native version: FILL THIS OUT
* Platform(s) (iOS, Android

[2018-10-07 16:43] danielgindi commented on #3788
Shouldn't be marked as stale. Should be a priority for the author.

[2018-10-07 17:46] nkov commented on #839
@sujay-bidchat within the confines of react-navigation there are [these events](https://reactnavigation.org/docs/en/navigation-prop.html#addlistener-subscribe-to-updates-to-navigation-lifecycle) you can subscribe to on the `navigation` object: `didFocus`, `didBlur` to achieve this.

[2018-10-07 18:31] #3777 closed

[2018-10-08 00:10] crushy26 opened #4102 "Overrride default back functionality in v2"
### Issue Description

Please provide an option to override default back functionality for a component. In my case I want to handle the back button to take current tab to home.

---
### Environment
* React Native Navigation version: v2
* React Native version: 0.56
* Platform(s) (iOS, Android, or both?): Android

[2018-10-08 01:23] TPMinan opened #4103 "[V2][IOS] The status bar that disappear with the component background color"
The status bar that disappear with the component background color.

[code]

TopBar
[code]
<img width="572" alt="screen shot 2018-10-08 at 04 07 26" src="https://user-images.githubusercontent.com/25525515/46589497-cef5ba00-cab2-11e8-85c8-9cec53380e6e.png">

[2018-10-08 07:59] WeiLiangTan commented on #3814
Same for me, not showing at all no matter where i declare `searchBar: true`

RN version: 0.55.4,
RNN version: 2.0.2556

[2018-10-08 08:03] stefanc96 commented on #3500
Why on ios transition animations between screens doesn't work? On android works perfectly

[2018-10-08 08:59] tewaxira opened #4104 "white blank screen on react native app lunch"
I'm using `react-native-navigation` with version 1.* package for my nivigation,
but as you can see (https://imgur.com/a/cehJFKu) when I lunch app first white blank screen appeared then my own screen lunch
my entry file live here :
[code]
and my `react-native info` is :

    Environment:
      OS: macOS Sierra 10.12.6
      Node: 8.9.4
      Yarn: 1.9.2
      npm: 5.6.0
      Watchman: 4.9.0

[2018-10-08 09:18] ALYREZA opened #4106 "white blank screen on launch time"
I'm using react-native-navigation with version 1.* package for my navigation,
but as you can see (https://imgur.com/a/cehJFKu) when I launch application first white blank screen appeared then my own screen launched
my entry file live here : (https://gist.github.com/ALYREZA/605e7e29403498560cd19ee67d0744ca) and my react-native info is :

Environment:
  OS: macOS Sierra 10.12.6
  Node: 8.9.4
  Yarn:

[2018-10-08 12:56] djschilling opened #4107 "Default for selectedIconColor missing"
### Issue Description

I changed react-native-navigation from version 1 to version 2.
I migrated the configuration according to the documentation.

In general it works but there is one thing not working for me.

There seems to be no default selected icon color for the bottom tab. I can set a color by using `bottomTab: { selectedIconColor: 'blue' }` but i think the default color of the os should be

[2018-10-08 13:10] #4017 closed

[2018-10-08 14:17] DenisBogatirov commented on #3454
Not working for me, `2.0.2577` only for iOS
On android works fine

[2018-10-08 14:42] jordanfloyd commented on #3694
Also seeing this on Android with version 2.0.2556

[2018-10-08 14:56] mammad2c opened #4108 "[V2] React Native Sentry not send errors on registered component - Android"
Hi
### Issue Description
React Native Sentry not reporting errors on registered components. for example if I call a function and it is not exist, throw undefined is not a function but no logs in sentry server. but outside of component (a function logic or in index.js root) if throw error, sentry show it on server.

### Steps to Reproduce / Code Snippets / Screenshots
[code]

if I press on the 'Hel

[2018-10-08 15:49] rishabhpoddar commented on #3336
I am using RNN version 2.0.2577, and currentTabIndex does not seem to work for iOS when using it in the setRoot function

[2018-10-08 16:09] #3783 closed

[2018-10-08 16:26] rishabhpoddar opened #4109 "registerBottomTabSelectedListener does not fire callback on tab change"
### Issue Description

Navigation.events().registerBottomTabSelectedListener(someFunc) does not fire someFunc when tabs are changed. My code is below (I am using Typescript. But that should have no effect on this discussion):

[code]

---
### Environment
* React Native Navigation version: 2.0.2577
* React Native version: 0.53.3
* Platform(s) (iOS, Android, or both?): iOS
* Device info (Simulator/D

[2018-10-08 16:36] TPMinan commented on #3890
+1 what is the solution

[2018-10-08 17:30] rishabhpoddar commented on #4109
I think I may have solved the issue. But i am not sure:
Added "self.delegate = self;" in function initWithLayoutInfo in RNNTabBarController.m

[2018-10-08 18:19] dkpalmer commented on #3538
Bump. Still hoping for some direction on this one. We've internally hacked some support in by hooking into the page scroll position and displaying some custom views in the header, but it's been less than ideal. We'd be happy to look at putting this in RNN directly.

[2018-10-08 18:24] VicFrolov commented on #3661
+1

[2018-10-08 18:52] dozoisch commented on #4108
@mammad2c are you sure react-native throws an error? Normally if an onPress has an undefined, it doesn't call it at all. Try with `() => this.hello()`

[2018-10-08 21:30] SparkleFaerieCoder commented on #4079
@yogevbd Will this be addressed for v1 as well?

[2018-10-08 22:03] dkpalmer opened #4110 "[v2] TitleBar - Back Text to Large Title Briefly Shows Small Title"
### Issue Description

**TitleBar** > When going back in navigation stack, switching from small title to large title briefly shows small title.

### Steps to Reproduce / Code Snippets / Screenshots

* In RNN v2 playground:
  * Add `largeTitle: { visible: true }` to TextScreen.js `topBar` options.
  * Add `visible: true` to PushedScreen `topbar` options.
* In Playground:
  * Click `Switch to tab ba

[2018-10-08 22:13] TPMinan commented on #3890
Not Working. Status bar color has not changed

[code]

[2018-10-09 02:34] replecta opened #4111 "[v2] Missing getCurrentlyVisibleScreenId()"
I'm using quick action shortcut module and i need to know what screen is currently being shown otherwise i wouldn't know if the modal that i'm trying to show from quick action is already being shown on the screen.

---
### Environment
* React Native Navigation version: 2.0.2556
* React Native version: 0.57.1
* Platform(s) (iOS, Android, or both?): Both
* Device info (Simulator/Device? OS version?

[2018-10-09 03:30] rendomnet commented on #4076
Any updates on this issue?

[2018-10-09 04:09] guyca commented on #4111
You'll need to track screen visibility yourself using a [componentDidAppear listener](https://wix.github.io/react-native-navigation/v2/#/docs/events?id=componentdidappear)

[code]

[2018-10-09 04:09] #4111 closed

[2018-10-09 06:37] ManigandanRaamanathan commented on #3056
How to remove the header?

[2018-10-09 08:42] rendomnet opened #4112 "[v2] [iOS] 2.0.2475 was last version with working bottomTabs visible: false"
### Issue Description

Just made a test to check on which version `bottomTabs visible: false` stopped working.
So the last version it is workin on is 2.0.2475 and 2.0.2476 where it broke.

### Steps to Reproduce / Code Snippets / Screenshots

[code]

---
### Environment
* React Native Navigation version: 2.0.2577
* React Native version: 0.56
* Platform(s) (iOS, Android, or both?): iOS
* Device inf

[2018-10-09 09:06] rishabhpoddar commented on #3499
Is there still no way to do this for iOS yet?

[2018-10-09 10:47] bragur commented on #4035
Can't for the life of me find out of this. Upon testing, when disabling DEV mode on Android, the index=3-count=2-crash magically stopped and the component in the header appeared. Huzzah! 🎉

However, all navigation on this screen ceased to work so back to square 1 😥 I double checked and I'm actually making the push call to RNN with componentId and layout correct, just absolutely nothing happens.

S

[2018-10-09 11:21] Jazqa commented on #4079
Related to the V2 issue. If you navigate back in stack (to the root of the stack) by pressing the bottomTab icon, this works fine.

[2018-10-09 13:05] #3969 closed

[2018-10-09 13:30] steve228uk commented on #4094
This seems to be resolved in `2.0.2577`

[2018-10-09 13:31] #4094 closed

[2018-10-09 13:34] steve228uk commented on #3954
I believe this is now fixed, are you able to confirm @yogevbd @guyca

[2018-10-09 13:38] steve228uk commented on #3954
While I can add a stack to the overlay it doesn't seem possible to dismiss with `Navigation.dismissOverlay(this.props.componentId);`

[2018-10-09 13:50] #4098 closed

[2018-10-09 14:44] samcampisi commented on #3985
As a workaround I ended up using the Keyboard event listeners... that way when keyboardWillHide and the searchbar is not focused (which you know on search bar update) you know it's the moment to perform the "on search" code.

[2018-10-09 14:56] kgaspar commented on #3985
Yeah, was thinking of doing the same, shame there isn't a cleaner way to implement this. Thank you!

[2018-10-09 17:03] #3648 closed

[2018-10-09 19:16] dozoisch commented on #3844
Probably shouldn't be stale

[2018-10-09 19:33] befirst commented on #3786
i am interested in too

[2018-10-09 20:03] #3781 closed

[2018-10-09 21:01] i25878427 commented on #960
@guyca @alinz  Is there a solution for react native navigation v1 OR do I need to upgrade to v2 OR the only solution is to switch to react navigation?

[2018-10-09 21:36] barees63 opened #4113 "White screen on Android release builds and strange logcat"
### Issue Description
I'm having a problem with Android, the app work fine in debug mode but release builds never get past the white screen on either emulator or physical devices.

I've noticed this unusual looking sequence in logcat and wondered if it rings a bell for anyone?

In case it's hard to read, NavigationActivity onCreate then addDefaultSplashLayout are called 5 times in a row.

2018-10-

[2018-10-09 23:40] webdevsyd commented on #4096
Put the back button in the static options of your current screen not in the destination screen

[2018-10-10 01:04] barees63 commented on #4113
Downgrading gradle (Android plugin to 3.1.3 and gradle to 4.4) fixed it for now.

[2018-10-10 01:04] #4113 closed

[2018-10-10 02:59] ManigandanRaamanathan opened #4114 "V1 How to install V1 in the React Native 0.57 version? The documentation"
### Issue Description

V1 How to install V1 in the React Native 0.57 version? The documentation seems outdated as its always throwing error.

### Steps to Reproduce / Code Snippets / Screenshots

Just install the react native navigation latest V1 in the RN 0.57 version

---
### Environment
* React Native Navigation version: 1.1.487.
* React Native version: FILL THIS 0.57
* Platform(s) (iOS, Androi

[2018-10-10 03:06] nikolas7892 commented on #3661
+1

[2018-10-10 03:14] pakyo-pan opened #4115 "[iOS] backButton does not work in the last version"
### Issue Description

[code]
---
### Environment
* React Native Navigation version: 2.0.2577
* React Native version: 0.57.2
* Platform(s) (iOS, Android, or both?): iOS
* Device info (Simulator/Device? OS version? Debug/Release?): FILL THIS OUT

[2018-10-10 09:01] ENT108 commented on #3661
+1

[2018-10-10 09:38] iigacon opened #4116 "[v2] Keyboard Android dont avoid scrollview"
![untitled](https://user-images.githubusercontent.com/5157984/46727494-e6979300-ccaa-11e8-8784-ca5f5ef4eaf2.gif)

[2018-10-10 11:02] smokokoi opened #4117 "Can't dismissModal without animation"
dissmissModal on iOS is always animated. I tried to dismiss it without animation using the following command:

[code]

[2018-10-10 11:12] Jazqa commented on #4079
Going back with the popGesture (swipe) also works fine. The issue is only present when using the backButton on the topBar.

[2018-10-10 11:30] emadbayat commented on #3121
i have a same problem. please open the issue.

[2018-10-10 12:03] svenjens commented on #3949
+1

[2018-10-10 12:13] webdevsyd commented on #3991
Will this work when I open the link for example in my email (GMAIL)?.

[2018-10-10 12:46] webdevsyd opened #4118 "[V2] Implement deep link"
Is there a way to implement deep link in navigation v2. Scenario is, i'm going to click link in the email and it will open the app in a specific screen.

[2018-10-10 13:21] guyca commented on #3954
@steve228uk Would be cool if you add an e2e, to confirm this is indeed fixed, to [ComplexLayout.js](https://github.com/wix/react-native-navigation/blob/v2/playground/src/screens/ComplexLayout.js).
If dismissing the overlay doesn't work - then please add a failing e2e and we'll address this ASAP.

[2018-10-10 14:04] steve228uk commented on #3954
Thanks @guyca, I'll look to get this done asap.

[2018-10-10 16:35] sejr commented on #3876
I am trying to handle this issue as well. Ideally I would use a blur view (which iOS has already) but I'd settle for a color. @nicgutierrez  did you have any luck with this?

[2018-10-10 17:14] eladgel opened #4119 "Can't see app on iPhoneX, XS, XSMAX"
### Issue Description

AppLayout on iPhone x family not working, upgraded from V1 to V2, can see my app on iPhone 8 plus, iPhone 8, iPhone 7...
I See a black screen on iPhone X, XS, XSMAX, XR

### Steps to Reproduce / Code Snippets / Screenshots

I've followed the steps on the v1-v2 bridge page.

**index.ios.js**
[code]
**App.js**
[code]

---
### Environment
* React Native Navigation version: 2.0.

[2018-10-10 23:24] CedricZhang opened #4120 "[v2] Value 'xxxxx' doesn't fit into a 32 bit signed int"
### Issue Description
When try to parse a JSON with a large integer (say, a millisecond timestamp) on Android, the app will crash with error "Value xxxxx doesn't fit into a 32 bit signed int"

### Steps to Reproduce / Code Snippets / Screenshots

---
Not 100% sure, but I think it has something to do with [THIS](https://github.com/wix/react-native-navigation/commit/0519602f3f5dae285bf8c6fcdd0f82d1b

[2018-10-11 00:01] DaneEveritt commented on #3817
I can also confirm this is happening.

`react-native-navigation@2.0.2577`
`react-native@0.56.1`

Platform is android, but not happening on iOS (which seems to be complete opposite of the OP).

[2018-10-11 00:43] barees63 commented on #4119
try 2.0.2555  - the latest release is broken for me on iPhone X, just a black screen.. going back to the older version fixed it (I haven't tried any other versions).

[2018-10-11 00:53] DaneEveritt commented on #3767
I can confirm this happening as well. In my case I'm calling a `setRoot` on a login screen to bump an already logged in user into the app.

Heres the stack from the crash, only affects android devices.
[code]

[2018-10-11 04:56] rendomnet opened #4121 "[v2] Headless JS and react-native-navigation"
### Issue Description
Can we use  Headless JS with react-native-navigation [v2]?

Android allows you to act on data-only messages when your application is closed or running in the background. This is particularly useful if you'd like to be able to show heads-up notifications to your user. To allow this to work, we make use of React Native's built-in Headless JS functionality.

bgMessaging.js
[code

[2018-10-11 05:15] #4121 closed

[2018-10-11 07:00] NweThazin opened #4122 "[v2] is there a way to set width of sideMenu??"
### Issue Description
I'm trying to set the width of sidemenu in default options.
(https://github.com/wix/react-native-navigation/issues/197)]

### Steps to Reproduce / Code Snippets / Screenshots

Navigation.setDefaultOptions({
    sideMenu: {
        right: {
            width:300
        }
    }
});

---
### Environment
* React Native Navigation version:"^2.0.2556"
* React Native version: "0.55

[2018-10-11 07:52] giantss opened #4123 "Redux is used in the project, how to get navigator through this.props in other screens ?"
Redux is used in the project, how to get navigator through this.props in other screens ? help me.

[2018-10-11 07:57] jeffzing opened #4124 "iPhone XR XS,navigationbar height issue"
### Issue Description
(iPhone X)
![2018-10-11 3 52 32](https://user-images.githubusercontent.com/12021460/46788950-eb714b00-cd6d-11e8-981e-3e43cae29c39.png)
(iPhone XR XS)
![2018-10-11 3 52 24](https://user-images.githubusercontent.com/12021460/46788959-f035ff00-cd6d-11e8-8275-af17c1f74136.png)

---
### Environment
 "react-navigation": "^2.11.2"
 "react": "16.4.1",
"react-native": "^0.56.0",
* Pla

[2018-10-11 07:57] jeffzing commented on #4124
any new version?

[2018-10-11 08:34] stefanc96 opened #4125 "[v2] Android release "index.android.bundle" not found"
### Issue Description
I've made a build for release , then I've installed it on my phone but the app won't open. On debug app works perfectly fine.

### Steps to Reproduce / Code Snippets / Screenshots

Process: com.mindclash, PID: 5640
    java.lang.RuntimeException: Unable to load script from assets 'index.android.bundle'. Make sure your bundle is packaged correctly or you're running a packager

[2018-10-11 08:53] jeffzing commented on #4124
now I see the problem located at react-native/React/Modules/RCTDeviceInfo.m,

[2018-10-11 08:54] jeffzing commented on #4124
just make sure your code looks like the code below:
static BOOL RCTIsIPhoneX() {
   static BOOL isIPhoneX = NO;
   static dispatch_once_t onceToken;

   dispatch_once(&onceToken, ^{
     RCTAssertMainQueue();

     CGSize screenSize = [UIScreen mainScreen].nativeBounds.size;
     CGSize iPhoneXScreenSize = CGSizeMake(1125, 2436);
     CGSize iPhoneXMaxScreenSize = CGSizeMake(1242, 2688);
     CGSi

[2018-10-11 08:54] #4124 closed

[2018-10-11 09:02] Zapopozapopo opened #4126 "[v2] BottomTab more options text missing"
### Issue Description

Missing text in BottomTabs children

### Steps to Reproduce / Code Snippets / Screenshots

1) Create root with BottomTabs
2) Pass stacks to children
3) When BottomTabs contain more than 5 children it will add "more" button
4) When you click "more" it will redirect you to separate page where you can select from extra children
5) The text description is missing for extra child

[2018-10-11 10:50] #4123 closed

[2018-10-11 11:35] makirby commented on #3694
@HarishJangra awesome, which version of RNN are you using?

[2018-10-11 13:15] makirby commented on #2892
@SudoPlz how do you re-create that crash? I have upgraded to 0.57.2 with a patched version of RNN 2.0.2555 and not seen any reports of this crash?

[2018-10-11 13:34] SudoPlz commented on #2892
I'm afraid I don't have a way of re-creating that crash in a simple react-native project. In our project, we can re-create that by [synchronously/manually](https://github.com/SudoPlz/react-native-synchronous-list/blob/master/lib/android/src/main/java/com/sudoplz/rnsynchronouslistmanager/Views/SyncRootView.java#L172) creating `RCTRootViews` and using them in a RecyclerList view.

[2018-10-11 14:00] guyca commented on #2892
You can also run RNN's e2e tests, after one or two runs you'll encounter the crash

[2018-10-11 14:15] ItsNoHax commented on #4116
By default this is standard behaviour? Are you using a keyboardavoidingview?

[2018-10-11 14:35] #4116 closed

[2018-10-11 14:53] SudoPlz commented on #2892
Oh what @guyca suggests is sooooo much better, I didn't know there were tests for that as well. Awesome!

[2018-10-11 15:40] #3775 closed

[2018-10-11 16:21] hungcv92 commented on #3838
At lastest version. This issue is still relevant. Please check this and help me.
Now the only way i found  to replace this are using custom component of button topBar.
But this solution only can do with one button, when i try to add more two button. Still got error in layout.

[2018-10-11 17:55] EskelCz commented on #3720
In my case opening works only after app reload

[2018-10-11 19:19] #3729 closed

[2018-10-12 02:40] dungnguyen10989 opened #4127 "[V2] _ vector-icon or svg image not working on android."
on ios, everything is ok, but on android include emulator and real device, vector image is not show ? how to fix it ?
I using react-native-vector-icons for bottomBars icon, and svg image for topBar icon.

on real device:
![43880032_239919273342721_5277250600340291584_n](https://user-images.githubusercontent.com/30271788/46844750-92072b80-ce02-11e8-9a46-94ba7248a06f.png)

and on emulator:
<img widt

[2018-10-12 02:55] jcsena commented on #4109
@rishabhpoddar  this is correct.

[2018-10-12 03:33] jcliang1212 commented on #1022
@guyca, can you explain more about why #1022 (comment)  fixes the endless splash screen after the app is killed in the background, thanks!

[2018-10-12 04:46] #4008 closed

[2018-10-12 05:18] ouabing commented on #3846
Still exist in 2.0.2580.

[2018-10-12 05:44] HarishJangra commented on #3694
"react-native-navigation": "^2.0.2575",
        "react-native": "^0.56.1",

[2018-10-12 06:04] #4125 closed

[2018-10-12 09:01] benhartouz commented on #3608
**Check "Copy only when installing"**
and remove duplicate files that work for me

[2018-10-12 11:20] creative-git opened #4128 "git@github.com: Permission denied (publickey)"
### Issue Description

Cannot clone the background repo:
when i run : `git clone -b v2 git@github.com:wix/react-native-navigation.git`
i get `git@github.com: Permission denied (publickey).`

### Steps to Reproduce / Code Snippets / Screenshots
run : `git clone -b v2 git@github.com:wix/react-native-navigation.git`
get `git@github.com: Permission denied (publickey).`

[FILL THIS OUT - It will be ext

[2018-10-12 11:25] #4128 closed, assigned to nobody

[2018-10-12 13:13] NagarajRaju commented on #447
getting same bug for react-native-navigation 2 and it points older version of 0.51. i am using 0.56.

[2018-10-12 13:19] #3815 closed

[2018-10-12 13:19] #3816 closed

[2018-10-12 16:24] byroncortez opened #4130 "[v2] Crash setting bottom tabs as root NullPointerException: int com.reactnativenavigation.views.BottomTabs.getCurrentItem()' on a null object reference"
### Issue Description

App crashes when i setStackRoot to bottom tab. From the android logs: java.lang.NullPointerException: Attempt to invoke virtual method 'int com.reactnativenavigation.views.BottomTabs.getCurrentItem()' on a null object reference

### Steps to Reproduce / Code Snippets / Screenshots

I start my app with a welcome screen:
Navigation.events().registerAppLaunchedListener(() => {

[2018-10-12 17:40] SudoPlz commented on #2892
@makirby also I think there's this replication project here https://github.com/Frank1234/RNViewPager

(I didn't create it, but looks like you can steadily replicate the crash by tapping the button a couple of times)

[2018-10-12 17:43] SudoPlz commented on #2892
Oh by the way, the guys in react-native are adding back the UIImplementation overwrites so v2 can work with 0.57 and above (at least until the fabric re-architecture goes live).

 https://github.com/facebook/react-
native/commit/506f92083806e91a90d9a213bcdd05ab3b2ba888#r30882540

[2018-10-12 21:42] crushy26 commented on #2197
@Lokendra-rawat did you find a way for intercepting back button? I want to override back hardware press

[2018-10-13 01:37] alzalabany opened #4131 "[v2] Nesting BottomTabs inside stack break topBar"
### Issue Description
![image](https://user-images.githubusercontent.com/3620349/46899820-d1805700-ce98-11e8-84aa-f95491ed8503.png)

pusing new screen will show topBar as expected, but bottomTabs's Components does not show header

### Steps to Reproduce / Code Snippets / Screenshots

[code]

[FILL THIS OUT - It will be extremely helpful]

---
### Environment
* React Native Navigation version: 2.0.

[2018-10-13 02:03] #3599 closed

[2018-10-13 04:51] andrewzey commented on #1867
I went with this library, which implements a custom modal by default, and doesn't ruin the statusbar: https://github.com/maxs15/react-native-modalbox

[2018-10-13 05:03] #3820 closed

[2018-10-13 12:03] #3822 closed

[2018-10-13 12:37] nanndoj commented on #3413
I can confirm this problem still happening  on `^2.0.2581` couldn't make it work either. It starts transparent but then it becomes white.

[2018-10-13 12:51] omar-dev opened #4132 "[v2] different behavior between iOS 10 & 11 when using drawBehind"
### Issue Description

Different behavior between iOS 10 & 11 when using drawBehind

iOS 10
<img width="296" alt="iOS 10" src="https://user-images.githubusercontent.com/6189654/46905614-0f17cb00-ceff-11e8-8408-aaf021a7ad82.png">

iOS 11.4
<img width="300" alt="iOS 11.4" src="https://user-images.githubusercontent.com/6189654/46905635-4c7c5880-ceff-11e8-9d52-fb89522a8cc3.png">

### Steps to Reproduc

[2018-10-13 15:08] KostyaGr opened #4133 "Custom icon component for icons on bottom tabs"
Hi everyone! I want to use custom icon components for bottom tab icons.

`...
options: {
                bottomTab: {
                  text: 'Tab#1',
                  icon: <CustomComponent/>
                }
              }
...
`
This doesn`t work. Help

---
### Environment
* React Native Navigation version: 2.0.2581
* React Native version: 0.57.3
* Platform(s) (iOS, Android, or both?): iOS
*

[2018-10-13 16:43] halilcakarr commented on #4114
Helo @ManigandanRaamanathan,

I have a working example on RNN.
https://github.com/halilcakarr/rncourse

it's from a udemy.com course's files but you can check for configuration and such :)

[2018-10-13 18:03] #3830 closed

[2018-10-13 19:03] #3828 closed

[2018-10-13 20:32] CristianOspina commented on #4035
Hello @bragur, I've been following this issue for some time, I also have the same problem.

Today I updated to version 2.0.2581 and it seems to have been fixed.

[2018-10-13 20:51] #3423 closed

[2018-10-13 23:51] #3832 closed

[2018-10-14 01:34] VicFrolov commented on #3891
Any updates on this?

[2018-10-14 05:34] retyui commented on #4035
@CristianOspina  I checked for [my example](https://gist.github.com/retyui/d1107164ed0e6936cadf267525aed1fe) and it still raises an error

[2018-10-14 05:51] #2022 closed

[2018-10-14 06:13] srameshr commented on #4059
Can somebody from the team look at this?

[2018-10-14 06:35] CristianOspina commented on #4035
@retyui I have set your example in my current project and it works without problems. I don't know then what has changed in my development environment, but for some reason I no longer have that error.

[code]

[2018-10-14 07:08] guyca commented on #4035
I've managed to reproduce this in the playground app, will look into it today

[2018-10-14 08:49] hisothreed opened #4134 "[V2 ] modalPresentationStyle prop is not working on showModal"
### Issue Description

Presenting modal with transparent background with custom using modalPresentationStyle is not working properly, it was working two weeks ago

### Steps to Reproduce / Code Snippets / Screenshots
[code]
---
### Environment
* React Native Navigation version: 0.55.4
* React Native version: 2.0.2581
* Platform(s) (iOS, Android, or both?): iOS
* Device info (Simulator/Device? OS v

[2018-10-14 09:51] #3834 closed

[2018-10-14 10:26] d4vidi opened #4135 "Crash while pushing a screen with a custom top-bar button"
### Issue Description

[code]

### Steps to Reproduce / Code Snippets / Screenshots

All I know is that I'm pushing a screen that tries to set up a custom component as a right-hand button in the top-bar, called `crazyChat.internal.customAvatarNavButton` (as in the stacktrace).
Note: pushed-in screen doesnt set the button itself; rather, it renders a HOC that does this.

---
### Environment
* React

[2018-10-14 10:31] thejoud1997 commented on #1484
i had the same issue and some how i managed to fix it by going to MainApplication.java file and commenting this line:
import com.reactnativenavigation.NavigationReactPackage;
it fixed it for me

[2018-10-14 10:48] d4vidi commented on #4135
So it seems that for some reason an ID wasn't specified for the button.
I suppose there isn't much to be done here, except for (maybe) add a more descriptive error...

[2018-10-14 11:32] #4135 closed

[2018-10-14 12:51] #3589 closed

[2018-10-14 14:44] kaiiserni commented on #1954
I have had a similar issue, apparently also with release builds, I think my issue had something to do with how android restores activities and RN.
Anyhow adding a simple key check like so did the trick for me:
[code]

[2018-10-14 15:01] guyca commented on #4035
For the time being - disabling yellow boxes should prevent the red screen

[2018-10-14 16:51] #3745 closed

[2018-10-14 18:23] barjas opened #4136 "V2 installing documentation"
### Issue Description

installing documentation is not clear at all. how to start tab app .. not clear at all.

please add some steps by step on how to install and use

### Steps to Reproduce / Code Snippets / Screenshots

---
### Environment
* React Native Navigation version: FILL THIS OUT
* React Native version: FILL THIS OUT
* Platform(s) (iOS, Android, or both?): FILL THIS OUT
* Device info (S

[2018-10-14 18:28] makirby commented on #2892
@SudoPlz Thanks for that, good news to hear. I am worried as to why I haven't been able to re-create with our codebase. Anyway I guess i will just hold tight until it gets re-implemented in React Native.

[2018-10-14 19:51] #3845 closed

[2018-10-15 01:21] lizhensheng opened #4137 "官方的exmaple运行报错，这个问题能给我一个提示吗？"
set up your Android development environment:
https://facebook.github.io/react-native/docs/getting-started.html
PS D:\Project\mayun\reactapp\react-native-navigation\example> react-native run-android
Scanning folders for symlinks in D:\Project\mayun\reactapp\react-native-navigation\example\node_modules (30ms)
JS server already running.
Building and installing the app on the device (cd android && gra

[2018-10-15 09:17] djschilling commented on #3380
I have the same problem.

Tried all the suggestions but the top Bar still draws behind the status bar.

[2018-10-15 09:27] sapjax commented on #3380
@djschilling   I migrated to React-Navigation one month ago, everything works fine.

[2018-10-15 09:34] djschilling opened #4139 "Top Bar gets drawn behind status bar (v2)"
### Issue Description

I want to have a status bar and a top bar.
But when i use both the top bar gets drawn behind the status bar and half the text is not visible.
I tried to set `drawBehind` in `statusBar` and `topBar` to `false`. But this had no effect.

### Steps to Reproduce / Code Snippets / Screenshots

![bildschirmfoto 2018-10-15 um 11 31 10](https://user-images.githubusercontent.com/35031

[2018-10-15 10:46] #3683 closed

[2018-10-15 10:55] LRNZ09 commented on #4022
Having `fontWeight` would be really great!

[2018-10-15 11:41] bragur commented on #4035
Thanks for taking the time to look at this @guyca ! Seems that the solutions in the fix is possibly the same as what happens when disabling the DEV mode from the DEV settings. I'm currently able to produce the components in the header correctly, but as soon as I try to navigate from within the current stack I receive an `Unhandled promise rejection` yellow screen with the following error:

`Error:

[2018-10-15 12:16] gislitg commented on #4035
Having the same problem as @bragur

[2018-10-15 13:07] Iamsamwhoami opened #4140 "UIVisualEffectView creating weird white line"
### Issue Description
When setting the background of a layout to something else than white you see a semi-white line on the screen until the react-root has loaded. In the view hierarchy, there seems to be a UIVisualEffectView rendered which I assume is causing this.

### Steps to Reproduce / Code Snippets / Screenshots
set options:
[code]

and then render `null` on screen and you can see a semi-wh

[2018-10-15 13:30] guyca commented on #4035
@bragur, @gislitg Can either of you PR a failing detox test? That would help me fix the issue. Also it seems like you've encountered a different issue then OP, I suggest you open another issue instead of piggybacking on this one.

[2018-10-15 14:18] vivekshah-zymr commented on #3218
I am facing the same issue. When I run my app on android device splash screen got stuck and nothing happens after that. (Working fine on android simulator.) I have followed the steps as described in the document.

**MainActivity.java**
[code]
**AndroidMainfest.xml**
[code]
Can anybody help me in this?

[2018-10-15 15:13] terreb commented on #3454
Still not working on iOS, v. 2.0.2582

[2018-10-15 16:07] ionush commented on #3505
I'm also still getting this issue. Running RN 0.56 with RNN 2.0.2577. Also tried latest version 2.0.2582. All the above solutions don't work. Any suggestions?

[2018-10-15 23:43] muhammadsr opened #4142 "V2 - Disable side menu (including using swipe gesture) for a given component on Android"
If you have something similar to the code below, it will not disable the side menu if you use the swipe gesture.

[code]
---
### Environment
* React Native Navigation version: `2.0.2582`
* React Native version: `0.57.0`
* Platform(s) (iOS, Android, or both?): Android
* Device info (Simulator/Device? OS version? Debug/Release?) Device and Simulator/ Android Oreo / Debug and Release

[2018-10-16 04:04] lytieunuong1 commented on #2184
Don't need to calculate the height. This is my solution:
- At **A screen**, we call push function by this way:
[code]

- At **B Screen**: we call hide and show tab bar at **componentWillMount** and **componentWillUnmount** like bellow:

[code]

[code]

[2018-10-16 09:01] Guangxingtianxia commented on #724
Good job !

[2018-10-16 09:44] maoge8274 commented on #3121
I have the same problem

[2018-10-16 10:00] chrisehlee commented on #2288
Hi, i'm having

[code]

I have varying visual results in iOS and Android (the iOS showLightBox is a bit messed up). Screenshots attached below
![frame](https://user-images.githubusercontent.com/12748310/47008714-b892d280-d132-11e8-8951-9d13b823319b.png)

[2018-10-16 13:21] TPMinan opened #4145 "[V2][iOS] ShowOverlay Modal, Action Sheet and Alert Under Problem"
### Issue Description

I'm creating a button for the Tab Bar using the show Overlay. It looks like top over features like Overlay Modal, ActionSheet and Alert. I've used listeners as a workaround for Modal, but I'm afraid that there will be problems in the next process. Is there a more permanent solution than a temporary solution? You can even say that if I have to write on the Native side.

### S

[2018-10-16 14:39] pribeh commented on #3413
Can someone please reopen this issue? Or would you like us to post a new issue? As of 2.0.2584 the issue remains.

iOS 12, xcode 10, iphone 6, 8 & X, RN 0.55.4.

[2018-10-16 14:41] pribeh commented on #4073
As of 2.0.2584 this appears to be resolved. @srameshr can you . test and confirm?

[2018-10-16 15:08] pribeh commented on #4073
Okay, so looks like there's some refactoring of the whole button code for iOS in 2.0.2584. But it does seem to introduce a build error (see attached). Might have to file this as a separate issue.

<img width="1141" alt="screen shot 2018-10-16 at 10 46 55 am" src="https://user-images.githubusercontent.com/690883/47026493-93eb2a80-d133-11e8-97af-3e05952d73ba.png">

[2018-10-16 15:13] pribeh commented on #4134
Yes, others are experiencing the same using:

[code]

See: https://github.com/wix/react-native-navigation/issues/3413#issuecomment-429538465

[2018-10-16 15:30] yogevbd commented on #4073
Looking into it now. thanks!

[2018-10-16 17:15] yogevbd commented on #4073
@pribeh pushed fix. Please let me know if this version solves the back button issue. thanks

[2018-10-16 19:36] michellmorso commented on #4145
How are you navigating between screens?

I was experiencing this as well. I was using setRoot on all screen changes, but after switching the navigation to a bottomTabs layout and navigating screens with changing currentTabId, it worked as it should, and the Alert was shown above my overlay.

[2018-10-16 20:48] developer239 commented on #3974
bump

[2018-10-16 22:08] cesarm16 commented on #3724
any update?

[2018-10-16 22:14] TPMinan commented on #4145
I click on the Tab buttons at the bottom of the screens. So I didn't write code for that. SetRoot in BottomTab
[code]

[2018-10-16 22:54] echappen opened #4146 "[V2][iOS] App crashes in release mode on or around launch: Application has not been registered"
### Issue Description
Attempting to run an iOS build in release mode results in app crashing due to unhandled JS exception (see below) on or around app launch. Builds in debug mode intermittently have this error, but can be resolved by reloading the JS bundle, which can't be done in release mode.

Error suggestion to kill redundant packager instances were tried and did not solve issue, which leads

[2018-10-16 23:47] pribeh commented on #4073
I believe this is all resolved as of 2.0.2585 – including the build error. thanks @yogevbd !

[2018-10-16 23:47] #4073 closed

[2018-10-17 03:59] NySiya commented on #2989
I am having this very same problem :(

[2018-10-17 04:05] pakyo-pan commented on #4115
it was fixed in version 2.0.2585.

[2018-10-17 05:57] hani647 commented on #3044
I also faced same issue when upgraded RNN from version 1.x.x to 1.1.x. Now again I've rolled back to RNN v 1.x.x by running command
`yarn add react-native-navigation@1.x.x`
Hope work for you as well !!

[2018-10-17 06:38] jp928 opened #4148 "bottomTabs backgroundColor not working"
Reproduce:

use style as below:

[code]

### Environment
* React Native Navigation version: 2.0.2585
* React Native version: 0.57.1
* Platform(s) (iOS, Android, or both?): iOS
* Device info (Simulator/Device? OS version? Debug/Release?): simulator
![screen shot 2018-10-17 at 5 36 42 pm](https://user-images.githubusercontent.com/659612/47066899-47871400-d233-11e8-84be-f4d8ac4018d4.png)

[2018-10-17 07:52] yogevbd commented on #4112
Fixed in version 2.0.2585

[2018-10-17 07:52] #4112 closed

[2018-10-17 07:53] guyca commented on #4148
Are you sure it doesn't work on bot platforms?

[2018-10-17 08:10] yogevbd commented on #4117
Replacing `enable` with `enabled` should solve this on iOS
[code]

[2018-10-17 08:17] yogevbd commented on #4079
Fixed in `2.0.2585`.
@SparkleFaerieCoder We currently do not address issues for v1 so we can focus on v2

[2018-10-17 08:17] #4079 closed

[2018-10-17 08:24] #4109 closed, assigned to yogevbd

[2018-10-17 08:31] barjas commented on #3478
same issue

[2018-10-17 09:06] jaimeagudo commented on #3121
Still active, temporary workaround at https://github.com/wix/react-native-navigation/pull/2801#issuecomment-394278656

[2018-10-17 09:53] jp928 commented on #4148
@guyca I am terrible sorry. I had update my issue report.

[2018-10-17 10:15] barjas commented on #3837
@rafirr , it works only when the drawer is closed. i can still swipe and close it if it is openned

[2018-10-17 13:33] eladgel opened #4149 "[V2][iOS] Breaking changes!"
### Issue Description

**When upgrading from RNN 2.02570 to 2.02571**
- I get black screen on iPhoneX,XS,XSMAX simulators.
- I see a normal screen on iPhone 8,8+,7 simulators

**When upgrading from RNN 2.02582 to 2.02583**
- I get black screen on iPhoneX,XS,XSMAX simulators.
- Touches out of an overlay Rectangle are intercepted, and don't go through-> I can't touch other buttons

### Steps to Repr

[2018-10-17 13:33] Jazqa opened #4150 "[V2][iOS] topBar.backButton.color broken after 2.0.2585"
### Issue Description

Fix for issue #4079 broke the topBar.backButton.color on iOS again (PR #3999)

---
### Environment
* React Native Navigation version: 0.56
* React Native version: 2.0.2586
* Platform(s) (iOS, Android, or both?): iOS

[2018-10-17 13:46] Jazqa commented on #4150
Updated the title, it seems like the back arrow is blue after 2.0.2583 or 2.0.2584 (can't confirm which one, as 2.0.2583 does not work at all for me)

[2018-10-17 13:47] zzorba opened #4151 "[V2] topBar's BackButton color property not working"
### Issue Description
It seems like the color of the backButton cannot be changed at the moment.

### Steps to Reproduce / Code Snippets / Screenshots

1) Push a screen onto the stack with the following options:
[code]
2) Observe that the color of the button remains unchanged (on both platforms).
![image](https://user-images.githubusercontent.com/1091291/47090797-990eaf00-d1f1-11e8-881c-e83c18bd37

[2018-10-17 13:51] Jazqa commented on #4080
@yogevbd, this has been working again after 2.0.2576.

[2018-10-17 14:30] #4080 closed

[2018-10-17 14:48] guyca commented on #4151
duplicate #4150

[2018-10-17 14:48] #4151 closed

[2018-10-17 14:48] #4149 closed

[2018-10-17 15:44] rafirr commented on #3837
@NweThazin, to disable gestures try:
[code]

or
[code]

and then to open / close drawer:
[code]

---
and my setRoot function:
[code]
It works for me :)

[2018-10-17 16:36] benogle commented on #2352
Still an issue

[2018-10-17 17:05] barjas commented on #3974
same issue, does not work on android for RN 0.57

[2018-10-17 17:57] developer239 commented on #3974
@barjas
React native 57 is not supported.

I am not sure but I think I made a mistake in the 4th step. Also, do you have MacOs Mojave? I want to make this work tonight.

This is the most minimal implementation that I found (note that this is react-native 55):
https://github.com/drorbiran/react-native-init

[2018-10-17 19:00] matpaul commented on #3576
I think it's very high bug(

At this moment fix for me was comment it in RNNNavigationStackManager
nvc.interactivePopGestureRecognizer.delegate = nil;
and do not use any style/customization for leftButtons

[2018-10-17 21:41] nilocoelhojunior commented on #966
Thanks @rottenoats! Its works for me.

[2018-10-17 21:51] CusProjects commented on #4150
Same here.

[2018-10-17 22:03] CusProjects commented on #3454
Still not working on IOS, v.2.0.2584

[2018-10-17 23:36] jinshin1013 commented on #4118
I don't think they have yet implemented deeplink feature in V2. However, you can handle deeplink with core React Native api, Linking.

[2018-10-17 23:39] jinshin1013 commented on #4136
[Start by setroot](http://wix.github.io/react-native-navigation/v2/#/docs/top-level-api?id=setrootlayout)

[Different Layouts](http://wix.github.io/react-native-navigation/v2/#/docs/layout-types)

I give you that documentation doesn't have a specific page to tell you an instruction to go from installing to start tab app, but if you invest a little time on the documentation, you will find most of i

[2018-10-18 01:58] geminiyellow commented on #174
hmm... can i use it in react-native-web ?

[2018-10-18 04:47] michellmorso opened #4153 "[V2][IOS] Alerts are not showing up after dissmissOverlay has been called."
### Issue Description

When dissmissOverlay is called , it screws up something in the screen order so that alerts show up behind your application and is thus not visible. This only happens in the IOS Simulator.

### Steps to Reproduce / Code Snippets / Screenshots

1) setup a new react-native project with react-native-navigation
2) create 2 js files with these names: MainScreen and Overlay
3) past

[2018-10-18 05:45] Lcdin opened #4154 "npm install --save react-native-navigation@alpha"
### Issue Description
Then I take "npm install --save react-native-navigation@alpha" , node_modules will be removed
[ENTER DESCRIPTION HERE - Please make sure to use the current [naming conventions](https://github.com/wix/react-native-navigation/issues/197)]

### Steps to Reproduce / Code Snippets / Screenshots

[FILL THIS OUT - It will be extremely helpful]

---
### Environment
* React Native Nav

[2018-10-18 06:34] developer239 commented on #3974
@KhaledSayed @barjas @kenma9123 @guyca Can you please reopen this issue? On and off I am trying to figure this out for more than a month now.

This is my updated android implementation: https://github.com/developer239/react-native-redux-wix-navigation/pull/4

0. step: Downgrade react-native to 0.56.0 https://github.com/developer239/react-native-redux-wix-navigation/pull/4/commits/885da087131ad93b0

[2018-10-18 08:28] rendomnet commented on #4112
@yogevbd **NOT fixed** just checked and bottomTabs still visible.

[2018-10-18 08:56] smokokoi commented on #4117
@yogevbd @guyca - it seems I can't dismiss a modal without animation on both platforms.

[2018-10-18 08:59] barjas commented on #3974
@developer239, im starting new app, so what i ended starting fresh again using RN 0.56.
then will upgrade later on when RNN2 fully supports latest RN version

[2018-10-18 09:08] #4117 closed

[2018-10-18 09:49] steve228uk commented on #3880
This seems to be working on iOS now. However, it's still not possible to change the bottom tabs on Android.

[2018-10-18 12:00] #3869 closed

[2018-10-18 13:12] sytolk commented on #4106
What is the duplicate issue?

[2018-10-18 13:31] guyca commented on #466
fixed in 2.0.2594

[2018-10-18 13:31] #466 closed

[2018-10-18 13:57] #4136 closed

[2018-10-18 14:22] #3044 closed, assigned to nobody

[2018-10-18 14:22] #3461 closed, assigned to nobody

[2018-10-18 14:22] #4030 closed, assigned to nobody

[2018-10-18 14:22] #4032 closed, assigned to nobody

[2018-10-18 14:25] maleriepace opened #4156 "[v2][iOS] Tab bar disappears when switching between tabs"
### Issue Description

Tab bar disappears when switching between tabs after switching tabs from outside of the tabs.

### Steps to Reproduce / Code Snippets / Screenshots

From the playground app

1. Tap Switch to tab based app
2. Tap Switch to Tab 2 from the list
3. Tap Tab 1 from the tab bar

---
### Environment
* React Native Navigation version: latest, 2.0.2593
* React Native version:
react-na

[2018-10-18 14:35] creaux commented on #2676
@guyca really?

[2018-10-18 17:15] andres-torres-marroquin commented on #2814
A small workaround we used:
[code]
It is interesting that you cannot pass complex objects, but you can pass functions that return whatever you want.

[2018-10-18 17:46] developer239 commented on #3974
@barjas Withc RNN1? 😢 That does not really solve the problem.

[2018-10-18 19:21] #3863 closed

[2018-10-18 19:21] #3770 closed

[2018-10-18 20:21] #3865 closed

[2018-10-18 20:35] brandons commented on #3929
This is still an issue on Android. iOS works fine.

[2018-10-18 20:36] barjas commented on #3974
@developer239 , RN 0.56 + RNN2.
i followed the documentation and it just worked as it should

[2018-10-18 20:59] fabianunger commented on #3272
@muhammadsr Which Versions / Platform do you use? Maybe you want to share some more code? Is EDIT_DB_MODAL a string?

[2018-10-18 21:18] developer239 commented on #3974
@barjas can you please share your repository? Just the minimal `RN 0.56 + RNN2` without any other dependencies.

[2018-10-18 21:52] muhammadsr commented on #3272
[code]

Device info: Using the iOS iPhone X Simulator and my iPhone X phone to test this

Yes `EDIT_DB_MODAL` is just a string.

[2018-10-18 22:44] Aleksion commented on #3272
I'm hitting the same issue :( Doesn't work whether or not I do it with stack.

[code]

[code]

[2018-10-19 00:54] nikolas7892 commented on #3892
+1

[2018-10-19 02:34] muhammadsr commented on #3272
I created a PR that addresses the issue for non stack modal
https://github.com/wix/react-native-navigation/pull/4159

[2018-10-19 03:35] bytesk opened #4160 "not compability with react native voice"
hei dude, i'm get some error which is i'm use react native navigation
because setting react native navigation change MainActivity.java and MainApplication.java for extends

react native voice need extends ReactActivity, in react native navigation no need this and extends other,
![photo_2018-10-18_15-24-53](https://user-images.githubusercontent.com/36951004/47196431-ac08b700-d38a-11e8-829e-e726444d

[2018-10-19 03:36] rendomnet opened #4161 "[v2][iOS] bottomTabs options not working. Stopped working on version 2.0.2476"
### Issue Description

I have checked all version and 2.0.2475 is version where `bottomTabs visible: false` was working last time.

2.0.2585 did **NOT** fixed it.
https://github.com/wix/react-native-navigation/issues/4112#issuecomment-430527100

### Steps to Reproduce / Code Snippets / Screenshots

[code]

**update:**
![image](https://user-images.githubusercontent.com/18900210/47141374-5547a280-d2

[2018-10-19 03:38] guyca commented on #4160
This issue should be opened in react-native-voice. Libraries shouldn't assume the activity is ReactActivity as RN can be embedded in meny applications, not necessarily in a vanilla RN project.

[2018-10-19 03:38] #4160 closed

[2018-10-19 03:44] guyca commented on #4156
Hey @maleriepace
Can you please elaborate? What do you mean by "after switching tabs from outside of the tabs"?

[2018-10-19 03:53] bytesk commented on #4160
@guyca thank you man for reply me, oh i know maybe this problem must give to react native voice.

[2018-10-19 03:53] liviaciabati commented on #4146
I am having the same problem. =(

[2018-10-19 05:01] eightyfive opened #4162 "Per-screen static options breaks inheritance (OOP)"
### Issue Description
It seems impossible to use OOP inside `static options(passProps)` function.

The `this` context appears to be [`DedicatedWorkerGlobalScope`](https://developer.mozilla.org/en-US/docs/Web/API/DedicatedWorkerGlobalScope).

### Steps to Reproduce / Code Snippets / Screenshots

[code]

`console.log(this)` outputs [`DedicatedWorkerGlobalScope`](https://developer.mozilla.org/en-US/d

[2018-10-19 06:18] nitish8750 commented on #4097
Same here

[2018-10-19 08:20] #4148 closed

[2018-10-19 08:31] jakewtaylor commented on #1670
@guyca can you clarify why you've closed this? AFAIK this hasn't been fixed, seems strange to close without any explanation.

[2018-10-19 08:34] asmi77 opened #4163 "Build app with gradle command"
Hi everyone,

In the RNN v2 documentation, for Android part, it is said :

Now we need to instruct gradle how to build that flavor. To do so here two solutions:

8.1 Build app with gradle command
prefered solution The RNN flavor you would like to build is specified in app/build.gradle. Therefore in order to compile only that flavor, instead of building your entire project using ./gradlew assembleD

[2018-10-19 08:52] bemazo commented on #4150
the commit was for release 2.0.2590, I now used 2.0.2596 and the color is not working, If I set an icon everything is fine, but only set a color and a title is not working?

[2018-10-19 09:07] bemazo commented on #4150
my workaround:

file: RNNNavigationControllerPresenter.m line 92

change from

`if (options.topBar.backButton.icon.hasValue) {`

to

`if (options.topBar.backButton.icon.hasValue || options.topBar.backButton.color.hasValue) {`

[2018-10-19 09:31] Jazqa commented on #4150
Yep. It's broken again in 2.0.2596.

[2018-10-19 09:35] bemazo commented on #4150
did you know which one is the last working one?

[2018-10-19 09:44] Jazqa commented on #4150
2.0.2595

[2018-10-19 09:53] bemazo commented on #4150
in 2.0.2595 I have the same file: RNNNavigationControllerPresenter.m line 92 is only asking for an icon?

[2018-10-19 10:38] yogevbd commented on #4161
Fixed in 2.0.2597

[2018-10-19 10:38] #4161 closed

[2018-10-19 10:38] yogevbd commented on #4071
Fixed in 2.0.2597

[2018-10-19 10:38] #4071 closed

[2018-10-19 10:57] Jazqa opened #4164 "[V2][iOS] topBar.backButton.color broken again in 2.0.2596"
### Issue Description

2.0.2596 reintroduced #4150

---
### Environment
* React Native Navigation version: 2.0.2596
* React Native version: 0.56
* Platform(s) (iOS, Android, or both?): iOS

[2018-10-19 11:26] AbanoubNassem opened #4165 "custom title image component not being shown on IOS but works on Android"
### Issue Description

custom Tobar->title (image component) not being shown on IOS but works on Android

### Steps to Reproduce / Code Snippets / Screenshots

[code]
then register it :

`Navigation.registerComponent("Logo", () => Logo);`

after that setDefaultOptions :

[code]

it shows up on Android , but not on the IOS simulator
---
### Environment
* React Native Navigation version: ^2.0.2597
*

[2018-10-19 11:49] yogevbd commented on #4082
Fixed here: 6426d74ed8d60f70e4a3b8ef9d88a6eb2cf1faf9
Can you please approve? thanks

[2018-10-19 13:25] BhoomiJani opened #4166 "Drawermenu item navigation not working"
### Issue Description

I have used react native navigation drawer but it's not working in drawer menu item screen. And also tab are not showing in menu item screen that's why may be drawer menu toggle not working in drawer menu item. So any one can suggest me what navigation i have use for drawer menu toggle in menu item screen.

Any solution for this?

### Code

Drawer menu navigation code is:-

[2018-10-19 13:38] HergenM opened #4167 "[V2][iOS] topBar.bottomTab.badge not showing in 2.0.2598"
badge is set but not showing.
downgraded to 2.0.2442 and is working.

---
### Environment
* React Native Navigation version: 2.0.2598
* React Native version: 0.57.2
* Platform(s) (iOS, Android, or both?): iOS (Android is working)
* Device info (Simulator/Device? OS version? Debug/Release?):  Simulator

[2018-10-19 14:08] ItsNoHax commented on #3697
@yogevbd Last 2 releases has broken this again. It seems the bottomTabs that have a sideMenu layout inside them act weird when they are selected.

[2018-10-19 14:13] pakyo-pan opened #4169 "[V2][iOS] topBar is not working correctly"
### Steps to Reproduce / Code Snippets / Screenshots

1. If you set the property `background: transparent` to the topBar of screen-1:
[code]
![image](https://user-images.githubusercontent.com/13342613/47222817-4815db00-d3ea-11e8-9ca6-477984be90a5.png)

2. Then push to screen-2, I set the `noBorder: true` on the topBar of screen 2, but it doesn't work.
[code]
![image](https://user-images.githubuser

[2018-10-19 14:20] maleriepace commented on #4156
@guyca After following the steps to reproduce from the playground app, the tab bar disappears. This only happens after you click on "Switch to Tab 2" which is in the list of options in the _screen content_.

After pulling down the latest changes from the v2 branch, the tab bar doesn't disappear until you tap a second tab now. Steps are the following:

1. Tap Switch to tab based app
2. Tap Switch t

[2018-10-19 14:55] #3398 closed

[2018-10-19 16:21] echappen commented on #4146
@guyca I'm new to your e2e framework, Detox. I followed the instructions for getting the detox cli tools and tried running `npm test test-e2e-ios` from root, but it looks like the tests are failing because it can't run `detox build-framework-cache` successfully. This may be an environment issue on my part. Could you provide more specific instructions on how to run your e2e tests?

[2018-10-19 16:41] guyca commented on #4146
Perhaps you need to update some xcode related tools. Try to open xcode and see if an update message pops up. If that doesn't work please open a stack overflow question and I'll ask one of the developers to assist.

[2018-10-19 17:12] yogevbd commented on #4164
Fixed in 2.0.2600.
Can you please verify? thanks

[2018-10-19 17:12] #4164 closed

[2018-10-19 17:15] starzle commented on #4139
Also see the same issue. It works normally before 2.0.2578.

[2018-10-19 21:00] jp928 opened #4171 "[V2] [iOS]Badge number showing in other tabs"
### Issue Description
I used the following code to set badge to the third tab
[code]
However, this will effect the fourth tab on the right as well.
<img width="316" alt="screen shot 2018-10-20 at 7 52 17 am" src="https://user-images.githubusercontent.com/659612/47243542-16c6fa80-d43e-11e8-8e72-36ca3fd71926.png">

### Steps to Reproduce / Code Snippets / Screenshots
use
[code]
set the badge number

[2018-10-19 22:08] cameronbell opened #4172 "[V2] [RNNTabBarController isCustomTransitioned]: unrecognized selector"
### Issue Description

I am trying to push a layout with bottomTabs and getting the following error:

<img width="398" alt="screen shot 2018-10-19 at 5 52 49 pm" src="https://user-images.githubusercontent.com/2049793/47246042-c746e700-d3c9-11e8-8354-28826745b737.png">

### Steps to Reproduce / Code Snippets / Screenshots

This is the code where I try to push the tabs layout.
[code]

---
### Enviro

[2018-10-20 01:51] VicFrolov commented on #3661
Hopefully this issue gains some traction as the +1's are growing.

[2018-10-20 02:54] banli17 commented on #4116
@ItsNoHax   no ,if you init a new react-native project, it will work. because in AndroidManifest.xml. default has:

[code]

[2018-10-20 05:49] ENT108 commented on #3661
I fixed it with react-native-splash-screen.

[2018-10-20 05:50] #4163 closed

[2018-10-20 07:52] rendomnet commented on #3389
@guyca >  FAILED
Task :app:compileDebugJavaWithJavac FAILED
**/android/app/src/main/java/com/dailyhero/MainActivity.java:12: error: cannot find symbol
    protected void onCreate(@Nullable Bundle savedInstanceState) {
                                      ^
  symbol:   class Bundle
  location: class MainActivity
**/android/app/src/main/java/com/dailyhero/MainActivity.java:12: error: cannot find sy

[2018-10-20 08:52] yogevbd commented on #4156
the tab bar disappears in this case because we also pass there:
[code]

[2018-10-20 09:13] rendomnet opened #4173 "[v2] [iOS] Cant dismissModal which was opened in previous navigator."
### Issue Description

If I launch modal using **showModal** in first navigator(_for example Login_ ) and then launch other navigator  (_for example main navigator bottom tabs_) modal will be visible and you could not close it. Even with **dismissAllModals**.

This bug is only on iOS

### Steps to Reproduce / Code Snippets / Screenshots

[code]
---
### Environment
* React Native Navigation version

[2018-10-20 09:16] qiepeipei opened #4174 "[v2] call dismissOverlay registerComponentDidAppearListener Not working"
[code]

[2018-10-20 09:38] #4172 closed

[2018-10-20 09:40] #4171 closed

[2018-10-20 09:40] #4167 closed

[2018-10-20 10:17] sinhpn92 commented on #4125
I have same issue. In the debug env, don't have this issue. Only have in release env

[2018-10-20 12:14] yogevbd commented on #4169
Fixed in 7dfec40722f255c21e805ab4bf5f2cc424e08266
version 2.0.2603

[2018-10-20 15:09] #3866 closed

[2018-10-20 15:09] #3875 closed

[2018-10-20 16:09] amirpervaiz086 commented on #1047
having same issue on android API > 24. Any fix please?

[2018-10-20 19:09] #3700 closed

[2018-10-20 19:20] localnet opened #4177 "[v2] Typescript - Export layout interfaces from "react-native-navigation""
### Issue Description

Export layout interfaces, and possibly others, from "react-native-navigation".

### Steps to Reproduce / Code Snippets / Screenshots

Current:
[code]

Expected
[code]

---
### Environment
* React Native Navigation version: 2.0.2581
* React Native version: FILL THIS OUT
* Platform(s) (iOS, Android, or both?): FILL THIS OUT
* Device info (Simulator/Device? OS version? Debug/Re

[2018-10-20 19:46] vahidreza commented on #3056
how?

[2018-10-20 19:52] guyca commented on #4177
Hey @localnet
We've been wanting to get to this task for quite some time now, seems like there are always more important issues. Would be nice if someone made a PR for this feature

[2018-10-20 20:04] #4137 closed

[2018-10-20 20:55] #4142 closed

[2018-10-20 20:56] muhammadsr commented on #4142
This issue had been addressed in version `2.0.2604`

[2018-10-21 02:22] rgoldiez opened #4178 "[V2] sideMenu options not available/don't work"
https://github.com/wix/react-native-navigation/pull/4105 broke a few `sideMenu` options.  It looks like `shouldStretchDrawer` and `animationVelocity` have been elevated to `sideMenuOptions` (both left and right get the same value), not `sideMenuSideOptions` (left or right controlled). Is this the new method for settings these?

`animationType` is available but does not seem wired in.

---
### Envi

[2018-10-21 03:59] #3879 closed

[2018-10-21 05:45] #4166 closed

[2018-10-21 05:50] #4134 closed

[2018-10-21 06:01] guyca commented on #4174
I'm not sure I understand the issue. Can you please PR a failing detox e2e test?

[2018-10-21 06:29] guyca commented on #1670
Hey @jakewtaylor
Sorry for that, I closed all issues with the v1 label. v1 isn't supported and therefore there's no point in keeping these issues open.

[2018-10-21 07:38] guyca commented on #4120
Which option are you passing a large number to?

[2018-10-21 07:43] guyca commented on #4156
@maleriepace I'm closing the issue. If you still think there's an issue, please PR a failing detox test. Thanks 👍

[2018-10-21 07:43] #4156 closed

[2018-10-21 07:59] #3778 closed

[2018-10-21 10:00] #3651 closed

[2018-10-21 11:42] yogevbd commented on #3697
Can you give more details? how does your layout looks like?

[2018-10-21 11:43] yogevbd commented on #3272
Fixed in latest version

[2018-10-21 11:43] #3272 closed

[2018-10-21 11:52] Dexwell commented on #3661
Acknowledged! Thanks devs 🙌🏼

[2018-10-21 12:06] #4101 closed

[2018-10-21 12:14] #4178 closed

[2018-10-21 12:55] guyca commented on #1234
Hey @MattFoley, Sorry for the delayed response.

We’re still interested in supporting brownfield apps. Unfortunately, as the Wix app doesn’t exactly require this feature, we will probably never get to implement it. We simply can’t commit to it.
That being said, we are planning to improve support for external screens. External screens will become first class citizens in RNN and have full access the

[2018-10-21 13:18] guyca commented on #4162
Hey @eightyfive
You're right, static options can't be used in inheritance and composition. The static options feature is an antipattern which we kept mostly to ease migration from v1 to v2.

I'm leaving the issue open as I do see value from any discussions around it.

[2018-10-21 13:41] guyca commented on #4139
Does this reproduce in the playground app?

[2018-10-21 15:18] rgoldiez opened #4180 "[V2] sideMenu animationType does not work"
#4105 broke `animationType`.  It is an accepted input option but actually apply the `sideMenu` animation style.

---
### Environment
* React Native Navigation version: 2.0.2583
* React Native version: 0.57.3
* Platform(s) (iOS, Android, or both?): iOS
* Device info (Simulator/Device? OS version? Debug/Release?): All

[2018-10-21 15:23] rgoldiez opened #4181 "[V2] topBar component buttons cause Xcode runtime crash"
#4105 broke components as `topBar` buttons.  I am trying to apply a component as the only item in the `leftButtons` array and the app crashes (Xcode crash).  Icon buttons work fine.

---
### Environment
* React Native Navigation version: 2.0.2583
* React Native version: 0.57.3
* Platform(s) (iOS, Android, or both?): iOS
* Device info (Simulator/Device? OS version? Debug/Release?): All

[2018-10-21 17:42] pribeh commented on #4134
Amazing

[2018-10-21 17:57] muhammadsr commented on #3272
It's not fixed in version `2.0.2608`
![ezgif-4-06893c14de9e](https://user-images.githubusercontent.com/1937488/47270396-0dae5a00-d520-11e8-87eb-f405e6d25caa.gif)

[2018-10-21 18:05] muhammadsr commented on #3272
I confirm the fix

[2018-10-21 20:45] jsina commented on #2318
I've actually couldn't dismiss the keyboard after go back from pushed screen.

[2018-10-21 21:55] TPMinan commented on #4145
@guyca Thank you for your answer. But that's not exactly my problem. I know these solutions that I would like to say, a fixed overlay is possible to TabBar. A Tabbar Button that can respond more healthily to ActionSheet, Modal, or Alert properties. Only if there is something like this will provide a solution. otherwise I need to check the situation with the listeners.

[2018-10-22 00:39] pakyo-pan opened #4182 "[V2][iOS][re-open] topBar is not working correctly"
### Steps to Reproduce / Code Snippets / Screenshots

1. If you set the property `background: transparent` to the topBar of screen-1:
[code]
![image](https://user-images.githubusercontent.com/13342613/47222817-4815db00-d3ea-11e8-9ca6-477984be90a5.png)

2. Then push to screen-2, I set the `noBorder: true` on the topBar of screen 2, but it doesn't work.
[code]
![image](https://user-images.githubuser

[2018-10-22 02:02] pakyo-pan commented on #4169
@yogevbd, It has not been fixed and still happens in version 2.0.2608

[2018-10-22 02:03] pakyo-pan commented on #4169
@yogevbd, It has not been fixed and still happens in version 2.0.2608

[2018-10-22 03:44] eightyfive commented on #4162
Cool, I'm not sure if I can help, or how, but if so please do let me know.

I just shared common navigation options in a config object for the time being. Inheritance would be cool, but not a showstopper for me atm.

[2018-10-22 05:19] pakyo-pan commented on #4169
@yogevbd, It has not been fixed and still happens in version 2.0.2608

[2018-10-22 06:01] Jazqa commented on #4164
Yes. It works again. :+1:

[2018-10-22 07:12] guyca commented on #4181
Can you add the crash log?

[2018-10-22 07:59] KoenvGinkel opened #4183 "[v2] Failed resolution of: Landroid/support/design/R$style;"
### Issue Description

Application closes directly because it cannot load R.style in the AppBarLayout.java class.

### Steps to Reproduce / Code Snippets / Screenshots

[code]

---
### Environment
* React Native Navigation version: 2.0.2608
* React Native version: 0.56.0
* Platform(s) (iOS, Android, or both?): Android
* Device info : Galaxy S8, and simulator api 28 android 9

[2018-10-22 08:31] ItsNoHax commented on #3697
I have 5 bottomTabs and 2 of them (Email + Agenda have a sidemenu layout inside them.

When a bottomTab is selected that doesn't have a sidemenu layout.

![simulator screen shot - iphone x - 2018-10-22 at 10 27 28](https://user-images.githubusercontent.com/4223434/47283879-63006f00-d5e5-11e8-8d8d-b658aed6ff72.png)

When a bottomTab is selected that does have a sidemenu layout.

![simulator screen

[2018-10-22 08:32] ItsNoHax commented on #3697
I have 5 bottomTabs and 2 of them (Email + Agenda have a sidemenu layout inside them.

When a bottomTab is selected that doesn't have a sidemenu layout.

![simulator screen shot - iphone x - 2018-10-22 at 10 27 28](https://user-images.githubusercontent.com/4223434/47283879-63006f00-d5e5-11e8-8d8d-b658aed6ff72.png)

When a bottomTab is selected that does have a sidemenu layout.

![simulator screen

[2018-10-22 08:33] ItsNoHax commented on #3697
So I have a sidemenu layout inside 2 of my bottomTabs.

![simulator screen shot - iphone x - 2018-10-22 at 10 27 28](https://user-images.githubusercontent.com/4223434/47284002-ddc98a00-d5e5-11e8-9bac-0949d8f40c3b.png)

But when a tab is selected that has a sidemenu layout the whole bottomBar goes like grey?

![simulator screen shot - iphone x - 2018-10-22 at 10 27 36](https://user-images.githubuse

[2018-10-22 08:34] ItsNoHax commented on #3697
So I have a sidemenu layout inside 2 of my bottomTabs.

![simulator screen shot - iphone x - 2018-10-22 at 10 27 28](https://user-images.githubusercontent.com/4223434/47284002-ddc98a00-d5e5-11e8-9bac-0949d8f40c3b.png)

But when a tab is selected that has a sidemenu layout the whole bottomBar goes like grey?

![simulator screen shot - iphone x - 2018-10-22 at 10 27 36](https://user-images.githubuse

[2018-10-22 08:36] ItsNoHax commented on #3697
So I have bottomTabs but 2 of the tabs have a sidemenu layout inside them. This allows me to have custom drawers for 2 of the tabs. (I previously sent in a PR that added this layout to the playground app under complex layouts)

This was recently working fine untill now, it seems when I click on a tab that has a sidemenu layout, the whole bottomTab goes grey.

![simulator screen shot - iphone x - 2

[2018-10-22 08:47] hisothreed opened #4184 "[V2] Dismiss overlay and reopening it causes crash, id already exist"
### Issue Description

[code]

### Steps to Reproduce / Code Snippets / Screenshots
[code]
---
### Environment
* React Native Navigation version: 0.55.4
* React Native version: 2.0.2607
* Platform(s) (iOS, Android, or both?): iOS
* Device info (Simulator/Device? OS version? Debug/Release?): all

[2018-10-22 09:24] banli17 opened #4185 "[v2] Keyboard Android dont avoid scrollview"
### Issue Description

i init a new react-native project, a form it's ok when i focus in textInut, keyboard open textInut scrollto fit position .because in AndroidManifest.xml. default has:

[code]

but after use react-native-navigation, this form not work when focus in textInput.keyboard is open ,but textInput not scroll to fit position. i think it's a bug.

![image](https://user-images.githubuse

[2018-10-22 09:26] banli17 opened #4186 "[v2]textInput scroll to fit position bug"
### Issue Description

i init a new react-native project, a form it's ok when i focus in textInut, keyboard open textInut scrollto fit position .because in AndroidManifest.xml. default has:

[code]

but after use react-native-navigation, this form not work when focus in textInput.keyboard is open ,but textInput not scroll to fit position. i think it's a bug.

![image](https://user-images.githubuse

[2018-10-22 11:38] ItsNoHax commented on #4173
Yeah seeing a lot of weird behaviour with iOS recently. I can't dismiss an overlay anymore.

[2018-10-22 11:59] Jazqa opened #4187 "[V2][iOS] stack.options.layout.backgroundColor not working"
### Issue Description

I'm trying to set a backgroundColor for a stack in an app with bottomTabs, but `stack.options.layout.backgroundColor` is not working on iOS. Works fine on Android though.

### Steps to Reproduce / Code Snippets / Screenshots

Setup a project with `stacks` as children for `bottomTabs` and try to give the stack `options.layout.backgroundColor`

---
### Environment
* React Nati

[2018-10-22 12:15] wbeuil commented on #3873
@abury How did you manage to stub the function ? I can't find a way to make it work ...

[2018-10-22 12:43] #3994 closed

[2018-10-22 12:57] ReggaePanda opened #4189 "[v1] Smart Banners deep link doesn't work"
### Issue Description
Smart Banners deep link does not open with deep link.
direct typed browser deep link in url works. `democracyapp://procedure/230300`

[code]

### Steps to Reproduce / Code Snippets / Screenshots
[code]

---
### Environment
* React Native Navigation version: 1.1.443
* React Native version: 0.54.2
* Platform(s) (iOS, Android, or both?): iOS, (android not tried)
* Device info (S

[2018-10-22 13:29] wjelen26 commented on #4034
@jinshin1013 I have exactly the same issue with `topBar` `elevation` property. But for example `statusBar` options property works properly for me on Android.

[2018-10-22 13:30] steve228uk opened #4190 "[V2] topBarHeight constant always 0"
### Issue Description

It seems that when accessing the `topBarHeight` from `Navigation.constants()` that the value is always set to `0`.

I'm not certain if there's another way to access the height of the navigation bar.

### Steps to Reproduce / Code Snippets / Screenshots

[code]

---
### Environment
* React Native Navigation version: 2.0.2594
* React Native version: 0.56.0
* Platform(s) (iOS,

[2018-10-22 15:08] lchapoy commented on #3336
I have the issue that @rishabhpoddar reported above, currentTabIndex was working for me some versions ago, It stops working after updating from "react-native-navigation": "^2.0.2428"  to "react-native-navigation": "2.0.2580"

[2018-10-22 15:41] PurnimaNaik commented on #2884
Any updates here?

[2018-10-22 16:11] ogostus commented on #4102
use the BackHandler of RN to handle backPress, and a navigation leftButton for the back button

[2018-10-22 19:37] abury commented on #3873
@wbeuil
[code]

[2018-10-22 21:10] mdelclaro commented on #3976
Hey, would you mind sharing the searchText component, please?

[2018-10-22 21:41] tobiaslins opened #4192 "[v2][iOS] largeTitle not working correctly anymore"
### Issue Description

I'm using largeTitle for iOS and the default behaviour is that when you scroll the content -> it will transform to the small title. This was working in version `2.0.2381` (pull to refresh was bugged with large title)
And since ~2.0.2600 (I tested it with this version and up) the largeTitle says always and the content is going under the largeTitle. Also the titlebar is transp

[2018-10-22 23:37] #4182 closed

[2018-10-22 23:42] pakyo-pan commented on #4169
@yogevbd It has not been fixed, it still happens in version 2.0.2603 and 2.0.2608.

[2018-10-23 01:12] #4185 closed

[2018-10-23 01:21] stokesbga opened #4193 "[v2] Animating custom transitions for push?"
### Issue Description

For some reason, I can't get any custom push animations to work on ios (havent tried android)
I can put following object in `setDefaultOptions` or `push` and nothing will work. I've tried alpha, x, y, scale, but no dice.

Also, interestingly, the animations: { enabled: 'true'} value works. If i set to false, there is no transition. However, virtually anything else I do insid

[2018-10-23 01:41] #4186 closed

[2018-10-23 03:09] vahidreza commented on #314
@Friendly-Robot thanks for the valuable info. I changed the version of react-native in `packages.json `file and then did a `yarn install `and after that `npm run android` did the job perfectly without any error.

[2018-10-23 03:30] banli17 commented on #4116
@iigacon , @ItsNoHax,  xxx, i remove  statusBar's drawBehind, it's ok

[code]

[2018-10-23 05:18] trqson commented on #3892
+1

[2018-10-23 05:29] banli17 opened #4194 "[v2] conflict with windowSoftInputMode adjustResize and statusBar drawBehind true"
### Issue Description

you know react-native default AndroidManifest.xml has below code, when textInput onFocus, it will auto scroll to fit position:

[code]

1. i init a new react-native, it's ok
2. i add react-native-navigation@alpha, it's ok

follow gif show this:

![img_0009](https://user-images.githubusercontent.com/12556069/47337756-e4303280-d6c7-11e8-9b25-bad88c9be30b.gif)

3. then  is setD

[2018-10-23 05:55] guyca commented on #3499
@yogevbd Is setting root animation not possible with the current animations api?

[2018-10-23 06:37] guyca commented on #4189
Hey there, I'm sorry but v1 isn't supported anymore. DeepLinks have been removed from v2, if you plan on migrating to v2 perhaps you might want to use your own DeepLinks implementation.

[2018-10-23 06:37] #4189 closed

[2018-10-23 06:39] guyca commented on #4190
Are you calling `await Navigation.constants()` before setting a root with a stack layout?

IIRC, we get the TopBar height from the inflated `NavigationController` so calling it before a stack was set will return 0.

[2018-10-23 06:40] #4183 closed

[2018-10-23 08:21] ziyafenn opened #4197 "Need help to wrap the screens into a root component"
Hi guys!

First, sorry for not create a stackoverflow question. Hope here i will get that answer faster :)

I found a few solutions on how wrap screens into a root component:

[First solution](https://stackoverflow.com/a/40075028/4256840) and a [similar solution](https://github.com/GeekyAnts/NativeBase/issues/1003#issuecomment-317639587)

My only problem, that in this case all the `static navigato

[2018-10-23 11:13] yogevbd commented on #3697
It's because `bottomTabs.drawBehind` is false. changing it to `bottomTabs.drawBehind: true` will fix this

[2018-10-23 11:13] #3697 closed

[2018-10-23 11:31] AnshumanSpl opened #4199 "react-native-navigation :: Cannot find module 'asap/raw'"
module.js:549
    throw err;
    ^

Error: Cannot find module 'asap/raw'
    at Function.Module._resolveFilename (module.js:547:15)
    at Function.Module._load (module.js:474:25)
    at Module.require (module.js:596:17)
    at require (internal/module.js:11:18)
    at Object.<anonymous> (/Users/singsys/Documents/NavigationProject/node_modules/promise/lib/core.js:3:12)
    at Module._compile (modu

[2018-10-23 12:21] ItsNoHax commented on #3697
@yogevbd I can confirm this fixes the error but I don't see how it makes sense. I don't want to drawBehind my bottom tabs because then the last item on my list (screenshot above) is not visible.

[2018-10-23 12:37] #4197 closed

[2018-10-23 12:37] #4199 closed

[2018-10-23 13:15] yogevbd commented on #4181
I think this issue fixed in this commit: https://github.com/wix/react-native-navigation/commit/30ffc07ea63f282550185403f892b114fb464d6e
can you please check on latest version? thanks

[2018-10-23 13:18] yogevbd commented on #4169
I can't reproduce.. can you post your code here or try to reproduce in our playground app?

[2018-10-23 13:30] #4192 closed

[2018-10-23 13:39] yogevbd commented on #3697
The real problem is that `bottomTabs.translucent` was true by default. we changed it to be false.
That's why the bottomTabs is half transparent and you can see the view behind it, something you want to avoid when setting `bottomTabs.drawBehind: false`

[2018-10-23 13:41] pribeh commented on #4169
There's nothing too complicated about our base RNN setup. The following is what we're using:

[code]

@yogevbd If you'd like I can give you access to our github repo too look at and debug.

[2018-10-23 13:56] rgoldiez commented on #4181
@yogevbd - Still an issue on the latest build (2.0.2611).

[2018-10-23 14:05] rgoldiez commented on #4180
@yogevbd - The `animationType` is fixed now except the `sideMenu` is now only taking up half of the area allotted for it.  Below is my `sideMenu` config.  Do you want me to open up a new issue?

[code]

![image](https://user-images.githubusercontent.com/10797610/47366127-a10f9880-d6a2-11e8-98e9-b109c6f522f4.png)

[2018-10-23 14:34] gagangoku commented on #314
Haven't tried @Friendly-Robot 's suggestion, I ended up creating a React native app without Expo and directly running on Simulator !

[2018-10-23 14:44] CoderHuzaifa opened #4201 "Add elvation or shadow to the background of lightbox"
### Issue Description
Cannot add elevation and shadow to lightbox background. I want to raise the light box above the view

### Steps to Reproduce / Code Snippets / Screenshots
I have added elevation to the root view but it does nothing. Is there any work around like if we could any styling attribute to :

`Navigation.showLightBox({
                    screen: "MyApp.MyScreen",

[2018-10-23 15:09] vahidreza commented on #314
@gagangoku  I guess your suggestion could be the most suitable way for me to do things but I got some errors regarding some plugins later in one project some time ago using pure `react-native init` process, but on all my other expo ejected apps I did not have that specific issue( although I had other issues :) ) so I chose this way and may be choosing other ways in the future because everything in

[2018-10-23 15:37] PurnimaNaik commented on #3974
### Same issue:-

I am trying to set up a new project from scratch.

[code]

### Tried/Integrated the following:-

1. `missingDimensionStrategy "RNN.reactNativeVersion", "reactNative56"`

 2.
[code]

3.
[code]
4. `chmod 755 android/gradlew`
5. `react-native run-android --variant debug`

### Everything boils down to these 2 errors on Android:-

1. `npm run android` - **Task :react-native-navigation

[2018-10-23 15:41] PurnimaNaik opened #4203 "Task :react-native-navigation:compileReactNative56DebugJavaWithJavac FAILED. Problems with Android Emulator. Wix RNN React Native Navigation"
I am trying to set up a new project from scratch.

[code]

### Tried/Integrated the following:-

1. `missingDimensionStrategy "RNN.reactNativeVersion", "reactNative56"`

 2.
[code]

3.
[code]
4. `chmod 755 android/gradlew`
5. `react-native run-android --variant debug`

### Everything boils down to these 2 errors on Android:-

1. `npm run android` - **Task :react-native-navigation:compileReactNativ

[2018-10-23 16:43] #4082 closed

[2018-10-23 17:42] SudoPlz commented on #2892
@guyca Looks like UIImplementation was re-added in this commit https://github.com/facebook/react-native/commit/b002df945b267c6e36aa1041397ffd1c73167037

[2018-10-23 17:43] TPMinan opened #4205 "[V2] registerBottomTabSelectedListener not working"
### Issue Description

Navigation.events().registerBottomTabSelectedListener not working. Does anyone have this problem?

### Steps to Reproduce / Code Snippets / Screenshots

[code]

---
### Environment
* React Native Navigation version: ^2.0.2581
* React Native version: 0.57.3
* Platform(s) (iOS, Android, or both?): IOS
* Device info (Simulator/Device? OS version? Debug/Release?): All

[2018-10-23 18:39] matpaul commented on #3576
@yogevbd Hi can you check it? i pretty sure i can see same bug on v1

[2018-10-23 18:52] CoderHuzaifa commented on #4201
@guyca Can you please look into this ?

[2018-10-23 22:04] EskelCz opened #4207 "[V2] Upside down orientation not working (ios)"
I have enabled upside down orientation in xcode deployment info, but the screen won't turn.
There's an open issue with react native root view component, described here: https://github.com/facebook/react-native/issues/11864#issuecomment-272287819

The same thing might apply for react native navigation, and maybe the proposed solution is applicable.
Anyone knows more? I need that feature for my appl

[2018-10-23 22:16] donovanhiland commented on #2592
Is this still the case in v2 @pqkluan?

[2018-10-23 22:28] abury commented on #3608
"Copy only when installing" works, however if you have a CI pipeline, or ever remove node modules folder and reinstall you'll need to do this step again.

We ended up adding a postinstall script to our package.json that updates
`./node_modules/react-native-navigation/lib/ios/ReactNativeNavigation.xcodeproj/project.pbxproj`

Ticking 'Copy only when installing' changes the following lines in this fi

[2018-10-23 23:54] smooJitter commented on #4134
@pribeh can you post a sample of your code?  I'm still having problems with this.

[2018-10-24 02:31] WeiLiangTan opened #4208 "[V2] Adding leftButtons & rightButtons without overriding the current buttons"
Hi, Is there any method to add leftButtons & rightButtons on runtime, while keeping the buttons without overriding them?

[2018-10-24 04:53] varunrau commented on #4203
+1 I went through these exact same steps and am seeing the same issues.

[2018-10-24 05:04] #3841 closed

[2018-10-24 06:54] jp928 opened #4209 "[V2][Android] Cannot assemble release"
### Issue Description

Works fine with
[code]
followed all the installation instruction.
but cannot assemble release

### Steps to Reproduce / Code Snippets / Screenshots
execute
[code]
will have output
[code]
---
### Environment
* React Native Navigation version: 2.0.2612
* React Native version: 0.57.1
* Platform(s) (iOS, Android, or both?): Android

[2018-10-24 07:30] yogevbd commented on #4165
Fixed here: aa4326d

[2018-10-24 07:30] #4165 closed

[2018-10-24 07:38] yogevbd commented on #4205
Fixed here: https://github.com/wix/react-native-navigation/commit/fee53a1a914bceb2980a5f682d57ed267257c480 and available in latest version

[2018-10-24 07:38] #4205 closed

[2018-10-24 07:39] #4184 closed

[2018-10-24 07:43] ronilitman commented on #2682
Adding android:launchMode="singleTask" to AndroidManifest.xml under MainActivity solved the issue for me.

[2018-10-24 07:45] yogevbd commented on #4181
@rgoldiez Can't reproduce it in the playground app, how does your options object looks like?

[2018-10-24 07:48] jp928 commented on #4203
I can make react-native run android works with specify reactNative57 on step 1.
But failed to run ./gradlew assembleRelease

[2018-10-24 08:01] jp928 commented on #4209
I guess I need to add ignore config as mentioned
https://github.com/wix/react-native-navigation/issues/3388#issuecomment-399071604

with
‘’’
name.contain(‘reactNativeWixFork57’)
‘’’

[2018-10-24 08:42] guyca commented on #4201
Hey there, v1 is not maintained anymore.

[2018-10-24 08:42] #4201 closed

[2018-10-24 09:00] yogevbd commented on #3499
@guyca It is possible to implement it with the current api. I will implement it soon

[2018-10-24 09:11] yogevbd commented on #4173
@rendomnet A modal must be attached to some other screen by design, therefor when you reset your root layout using `setRoot` the screen which the modal was attached to is no longer there. That's why we dismiss all modals when `setRoot` gets called. I think you should use overlays in this case. New window is created for each overlay presented, it's detached from the app `rootViewController`, theref

[2018-10-24 09:11] #4173 closed

[2018-10-24 09:14] rendomnet commented on #4173
@yogevbd But in my example modal is not dismissed when new setRoot is launched **IT IS STILL VISIBLE** and  becomes undisimissable.

[2018-10-24 09:15] yogevbd commented on #4169
@pribeh reach me on discord

[2018-10-24 09:51] rendomnet opened #4210 "[v2] [iOS] bottomTabs visible: false visible again on version 2.0.2614 after it was fixed in 2.0.2597"
### Issue Description

After it was fixed in https://github.com/wix/react-native-navigation/issues/4161
Issue is back but now bottomTabs become visible when I change current Tab.
On the first tab it is not visible.

[code]

Also I have set
[code]

And also`visible: false` in my setRoot  bottomTabs

### Steps to Reproduce / Code Snippets / Screenshots

[code]

and use to change tab.
[code]

bottom

[2018-10-24 10:11] #3903 closed

[2018-10-24 10:34] guyca commented on #4146
Guys I think the solution is to PR a failing/flaky detox test. Without some form of reproduction there's not much we can do. Furthermore, when reporting crashes - a crash log would help a lot.

[2018-10-24 10:46] rendomnet commented on #4193
Can confirm on android transition animation working. On iOS not.

[2018-10-24 10:48] rendomnet commented on #4210
![image](https://user-images.githubusercontent.com/18900210/47425525-67c34f80-d7ac-11e8-8bde-82a37b79211f.png)
**Clarification:** Maybe it is not bottomTabs but some white area will appear in the place of bottomTabs.

[2018-10-24 10:50] guyca commented on #4209
@jp928 That's one solution. Internally at Wix, we don't use the `run android` command and instead build directly with gradle - `./graldew app:assembleDebug`. The `app:` prefix is important as it tells gradle to use the configurations declared in the `app` module in `app/build.gradle`

[2018-10-24 10:50] #4209 closed

[2018-10-24 11:01] #4203 closed

[2018-10-24 11:18] #3923 closed

[2018-10-24 11:19] #3892 closed

[2018-10-24 11:43] echappen commented on #4146
@guyca Thanks for checking in. I had updated everything in xcode and followed [these instructions](https://github.com/wix/Detox/blob/master/docs/Introduction.GettingStarted.md#step-1-install-dependencies) but when running `npm run test-e2e-ios` all of the tests fail with the follow error:
[code]

I am not able to run `detox build-framework-cache` successfully and get this error log when I run it:

[2018-10-24 11:49] guyca commented on #4146
Yes, `npm run test-e2e-ios` is what you should run. @LeoNatan can you please assist us with Detox setup?

[2018-10-24 11:51] LeoNatan commented on #4146
@echappen Could you please post the log output from running `detox build-framework-cache`?

Before running, delete the `~/Library/Detox` folder. Then run `detox build-framework-cache`.

[2018-10-24 12:04] echappen commented on #4146
@LeoNatan deleted `~/Library/Detox` then ran:
[code]

[2018-10-24 12:20] pakyo-pan commented on #4169
@yogevbd I found the issue because I set `Navigation.setDefaultOptions({
        topBar: {
            background: {
                color: 'white'
            }
        }
    });`, now I removed this property.
[code]
But I found a new issue. if you `pop` from Screen-2 and then `push` to the other screens, the other screens have no border

[2018-10-24 13:05] rgoldiez commented on #4181
See below.  These options are being applied (and causing the crash) on `setStackRoot`.

[code]

[2018-10-24 13:33] LeoNatan commented on #4146
Under `~/Library/Detox/` there should be a folder with random letters (only one), and inside, there should be `detox_ios.log`. Please post the output in that file here.

[2018-10-24 13:35] MohamedShaw opened #4213 "SideMenu in V2"
how to disable drawer
i try
enabled : false
dosnot working
any solution

[2018-10-24 13:59] winsontam opened #4214 "[V2] [iOS] topBar background color will flash to default color when clicking back button"
If the topBar background color set, it will flash to default background color first when clicking back button.

[2018-10-24 14:01] #4213 closed

[2018-10-24 14:08] echappen commented on #4146
@LeoNatan The `detox_ios.log` file was quite large so I put it in a public GistL https://gist.github.com/echappen/a33ca8e0915b027c8d25f5c41b4b8782

[2018-10-24 14:09] NitinAK commented on #2021
how to declare this side in setDrawerEnabled

[2018-10-24 14:39] LeoNatan commented on #4146
@echappen This is not the full log. Please reupload the file fully.

[2018-10-24 14:44] echappen commented on #4146
@LeoNatan Github Gist might have truncated it, full log here:
https://gist.githubusercontent.com/echappen/a33ca8e0915b027c8d25f5c41b4b8782/raw/82646e5b1c49732cbb61bcfe3bd5c79428fb10dd/detox_ios.log

[2018-10-24 15:01] blubberbo opened #4215 "Move Bottom Tabs to Top"
Is there anyway to move the bottom tabs to the top of the screen?

I looked here: https://wix.github.io/react-native-navigation/#/styling-the-tab-bar but cannot seem to find anything about changing the position to the top of the screen

[2018-10-24 15:14] HalvorMjoen opened #4216 "Peek and Pop not working in recent versions of V2"
### Issue Description

Peek and pop not working in more recent versions. Upgraded to version v2.0.2603 and it stopped working. onPress in the next screen is just pushed instantly without peek and pop. It seems to me that in more recent versions the params for preview  are empty when it reaches the newVc.options.preview in RNNCommandsHandler.m. It seems that there were some changes in this file bet

[2018-10-24 15:38] #4216 closed

[2018-10-24 16:46] PurnimaNaik commented on #4203
Had to move to React Native 0.56.0

I ran the following in the project directory:-
`brew install gradle`
`gradle wrapper`
`./gradlew build`

Added `implementation'com.android.support:design:27.1.0` to app level build.gradle
If you don't, you will get this error-
[code]

Then, ran the following in the **android** directory inside my project:- `./gradlew app:assembleDebug`

If you don't run the comm

[2018-10-24 18:14] henrikra commented on #4214
Yeah I noticed the same thing with when I upgraded from `2.0.2568` to `2.0.2617`. But I have no idea in which version broke. @winsontam Can you provide small video of the problem to maintainers understand the problem better? @guyca @yogevbd

[2018-10-24 18:31] Brianwebb22 opened #4217 "[V2] Override back button to return to home tab"
### Issue Description

The documentation is lacking when it comes to overriding the hardware back button on Android. I'm looking to pop back to the Home tab when back is pressed from the root of other tabs (see the Youtube app for example).

### Steps to Reproduce / Code Snippets / Screenshots

1. Press hardware back button form root of any tab
2. App is closed

---
### Environment
* React Native

[2018-10-24 19:17] LeoNatan commented on #4146
Hmm, I see you are using Xcode 10, but at this time RNN uses a very old version of Detox. Three is little I can do to help here. @guyca Please update Detox to a modern version, where Xcode 10 is supported. In the meantime, @echappen you can use Xcode 9.

[2018-10-24 19:59] blubberbo commented on #4215
I determined from personal research that "navigation" is innately at the bottom of the page.

[2018-10-24 19:59] #4215 closed

[2018-10-24 20:17] dkpalmer commented on #4110
Also wanted to mention, I only see this behavior when I press Back from the navigation. If I press "Pop" on the screen, the title transitions as expected.

[2018-10-24 20:37] dkpalmer commented on #4110
Also, it appears to transition as expected if I use the on-screen "Pop" call instead of pressing Back in the title bar.

[2018-10-24 21:12] icecreamsandwich commented on #2687
I also run in to this issue (Blank screen after bundling the app) When running the latest react-native and react version (`react= 0.57.3 && react-native=16.6.8`) . I downgraded react to (`0.55.4`)  which intact reverted react-native to `16.4` resolved the issue , I don't know why this happens , i have older app with   react (`0.57.2`)  and react-native version (`16.5`) working without any problem

[2018-10-24 22:17] Brianwebb22 commented on #4217
Ended up solving this using this method
[code]

[2018-10-24 22:17] #4217 closed

[2018-10-24 23:08] CoolCyberBrain opened #4218 "[v2] TopBar noBorder not working properly in iOS"
### Issue Description

TopBar "noBorder" option does not work properly in an app with bottomtabs when mixed with translucent and blur.
TopBar border appear and disappear randomly when switching tabs in iOS.

### Steps to Reproduce / Code Snippets / Screenshots

TopBar border appear and disappear randomly when switching tabs in iOS.

[code]

---
### Environment
* React Native Navigation version: 2.

[2018-10-25 00:39] pribeh commented on #4169
@yogevbd I believe this issue is resolved. We can confirm by creating a background for the base screen that is different from a modal or overlapping screen. I believe the reason we could not confirm it is that we're unable to render anything underneath the topbar within the same screen (such as a flatlist). If we insert a flatlist into the screen with a transparent topbar the flatlist always rende

[2018-10-25 02:38] handywinson commented on #4214
![ezgif-1-83b5930e2591](https://user-images.githubusercontent.com/13143594/47472669-1f567100-d842-11e8-9ec1-7c37a94035c2.gif)

[2018-10-25 02:39] winsontam commented on #4214
![ezgif-1-83b5930e2591](https://user-images.githubusercontent.com/7421326/47472722-4a40c500-d842-11e8-85ff-d97ebe27c1c6.gif)

[2018-10-25 06:34] henrikra commented on #4214
The place where I have set the background color is right away when the app starts

[code]

How about you @winsontam ?

[2018-10-25 06:36] alzalabany commented on #3590
How does registerComponentWithRedux react to store changes ?

Since store is immutable does changes that occur in one root will propagate to other roots ?

[2018-10-25 06:45] guyca commented on #4218
Hey there, what exactly doesn't work properly?

[2018-10-25 06:47] guyca commented on #4208
No, when calling mergeOptions to set buttons they replace the current buttons.

[2018-10-25 06:47] #4208 closed

[2018-10-25 06:55] CoolCyberBrain commented on #4218
"TopBar border appear and disappear randomly when switching tabs in iOS."

[2018-10-25 07:06] CoolCyberBrain commented on #4218
You're right, it worked after removing translucent, and blur. Revise the issue to reflect that since it's still a problem

[2018-10-25 07:12] jp928 commented on #4203
@PurnimaNaik

It is painful to keep update RNN with latest RN.
However, I had successfully upgrade since 0.54. The approches are varied from differnet versions.
Please specify a RN version you’d like to go with. So we can help. Otherwise, try pure javascript solution like react-navigation which would be more convenient if you wish to switch between RN versions.

[2018-10-25 07:37] guyca commented on #4169
If `transparent` background is used, the screen has to be rendered behind the TopBar. Otherwise the transparency is meaningless. Seems like we can close the issue. Thanks @pribeh 👍

[2018-10-25 07:37] #4169 closed

[2018-10-25 08:59] pakyo-pan commented on #4169
@guyca I still face this issue, why is it close ? I have set `drawBehind: true`.

[2018-10-25 10:03] guyca commented on #4169
@pakyo-pan Will be addressed in https://github.com/wix/react-native-navigation/issues/4218

[2018-10-25 10:42] Fabian-Fynn opened #4221 "[v2][iOS] TopBar drawBehind not working after update to react-native 0.57.3"
### Issue Description
The parameter drawBehind for the TopBar doesn't have any effect on iOS after updating react native to 0.57.3.

Expected Behaviour:
![image](https://user-images.githubusercontent.com/6934994/47493664-1d93aa00-d850-11e8-8eb2-8d895fc29627.png)

Actual Behaviour:
![image](https://user-images.githubusercontent.com/6934994/47493514-c2fa4e00-d84f-11e8-843c-bbf013da345a.png)

### Ste

[2018-10-25 11:01] santanu4ver opened #4222 "[Help] Manage gap between components in navbar"
I'm using a custom component to React Native Navigation's navbar, this renders properly and here's my basic codes:

[code]

This creates me a view like this to the navbar:

![c4tlp](https://user-images.githubusercontent.com/1856278/47495993-44afa300-d873-11e8-8546-e7c84db7e01f.png)

I would like to reduce the gap between the back button and the custom component, but I couldn't found any direct way

[2018-10-25 11:52] linnett commented on #1598
@pqkluan so you're saying that in v1, we are not about to dismiss a modal and then switch to a tab? this isn't being fixed at all in v1? it's a huge issue and v2 is nowhere near ready

[2018-10-25 12:08] Jazqa opened #4224 "[V2][iOS] Going back in stack does not set the title color properly"
Consider this a reopened #4079

### Issue Description

Going back in stack does not set the title color properly on iOS

### Steps to Reproduce / Code Snippets / Screenshots

1. Have a stack navigator where the first screen has `static get options()` and `topBar.title.color: blue`
2. Push a screen with `static get options()` and `topBar.title.color: red`
3. Pop the screen with red title and the pr

[2018-10-25 12:08] dkpalmer commented on #4110
One other thing I've been able to triage is that this only happens if the child screen has `prefersLargeTitles = NO` set but the root screen has `prefersLargeTitles = YES`. If both are `YES` it animates fine.

[2018-10-25 12:44] dkpalmer commented on #4110
One final detail.. We've been trying to find a safe version to upgrade to. It looks like we found this title behavior started in https://github.com/wix/react-native-navigation/commit/b08e6565e64b1cc5b8ba15e71f303dffd02a1edc.

[2018-10-25 14:12] AbanoubNassem commented on #4165
@yogevbd
it's not being fixed , the issue still exist!

[2018-10-25 14:37] #4214 closed

[2018-10-25 14:57] PurnimaNaik commented on #4203
@varunrau Yes, I faced both those error messages, you have to download the right versions of babel...I tried so many that I lost track of their names..but this is what my babel.rc file looks like at this moment. You will also have to tweak the RN versions to be compatible with babel too.
[code]

But as I mentioned before, getting over this bump did'nt mean a smooth ride after, as I mentioned in my

[2018-10-25 15:02] PurnimaNaik commented on #4203
@jp928 Thank you for showing interest! RN 0.56 would be great. I am looking into react-navigation. Will try it out and see how smooth it is in terms of integration, implementation and visuals too.

[2018-10-25 15:07] PurnimaNaik commented on #4203
@jp928 Right now this is where I am stuck-
My App.js looks like this:-
[code]

This is the error I am getting:-
[code]
I didn't edit the App.js other than that one line - <Text style={styles.welcome}>Hello Race!</Text>

What syntax error is it pointing to? I don't think there is any syntax error in App.js.

![screenshot_1540413705](https://user-images.githubusercontent.com/33334848/47510364-03ed65

[2018-10-25 15:09] yogevbd commented on #4224
Can you test it in latest version 2.0.2620?

[2018-10-25 15:17] EliSadaka opened #4225 "[v2] mergeOptions doesn't work on overlays"
### Issue Description

I want to dynamically toggle the `interceptTouchOutside` prop of an overlay, but when I try to do so using `mergeOptions` it doesn't seem to work.

### Steps to Reproduce / Code Snippets / Screenshots

First I'm initializing the overlay like so:

[code]

Then within the overlay there is a button that when pressed calls `mergeOptions` on the overlay:

[code]

But the behaviou

[2018-10-25 15:59] #3431 closed

[2018-10-25 19:23] VicFrolov opened #4228 "[V2] Presenting a modal over an overlay?"
### Issue Description
I'm not sure if this is expected behavior, but we use overlays to present detailed product views, and it takes up the full screen. We're using it as a lightbox, since lightbox is not in V2. When we want to show a user an alert modal or an action sheet, it is not visible, and when the user closes the overlay, the alert modal / action sheet is then visible.

Show an overlay
[co

[2018-10-25 20:21] augustofontes commented on #1863
Does anyone have a workaround to this issue? I still face this problem on Android randomly in production.

[2018-10-25 20:45] denieler commented on #1863
@augustofontes it looks like it started to work as soon I've set a `backgroundColor` for the Drawer and set a fixed width in pixels.

If you will still having the problem - ping me, I will try to review the things I did to fix it.

[2018-10-25 20:57] EskelCz commented on #4207
weird, it just started to work on its own

[2018-10-25 20:57] #4207 closed

[2018-10-25 23:07] augustofontes commented on #1863
Thank you, @denieler . This is the styling that I'm using for the root View for Drawer Screen component. Did you set the width like I did?

[code]

[2018-10-25 23:28] #3912 closed

[2018-10-26 01:53] TNicholson11 commented on #3814
Also looking to use the searchBar in modals... any traction on this issue? Workarounds?

RNN v2.0.2588

[2018-10-26 03:33] michellmorso commented on #4076
im experiencing this as well

[2018-10-26 05:39] ntrannghia commented on #3580
Currently I had the same issues on iOS, does anyone know how to fix it?

[2018-10-26 05:59] Jazqa commented on #4224
@yogevbd, 2.0.2620 has the issue as well.

[2018-10-26 06:32] a396901990 commented on #4210
same issue

[2018-10-26 06:34] denieler commented on #1863
No, I did this

[code]

[2018-10-26 06:56] jp928 commented on #4203
@PurnimaNaik
if you want to use RN0.56 then please check
* in package.json in devDependency you have: "babel-preset-react-native": "^5"
* in babel.rc preset: 'babel-preset-react-native'
* do rm -rf node_modules and yarn or npm install

[2018-10-26 06:57] jp928 commented on #4203
RN 0.57 is bit annoying for me, it breaks all my jest tests so I migrated to .bablerc.js
and I have
[code]

[2018-10-26 06:58] jp928 commented on #4203
Also, you can use react-native init [project-name] --version '0.5x' to compare the .bablerc and package.json.

[2018-10-26 07:14] HighSoftWare96 commented on #588
Excuse me folks but where do I have to put
[code]

[2018-10-26 07:27] minhchienwikipedia opened #4231 "[V2] Can't get event 'navigationButtonPressed' when click Back button"
How can I instead of the onPress function of the Back button?
I can't get the event with `Navigation.events().bindComponent(this)`
When I click the Back button this function doesn't fire.
---
### Environment
* React Native Navigation version: 2.0.2575
* React Native version: 0.56.1
* Platform(s) (iOS, Android, or both?): both
* Device info (Simulator/Device? OS version? Debug/Release?): Simulator

[2018-10-26 07:55] nimamoradi commented on #1304
still not solved in V2

[2018-10-26 08:56] Miljarder commented on #1232
I have the same problem and I have tried everything that you have explained.. Could I be using wrong  version of RN? I am using 0.55.4.

[2018-10-26 10:18] a396901990 opened #4232 "[V2] setStackRoot bottomTabs crashes on android"
### Issue Description
Setting bottomTabs using setStackRoot crashes the android app, while it works perfectly fine for IOS. Below is an example of some code that would crash the android app.

[code]

[2018-10-26 10:28] #3546 closed

[2018-10-26 10:32] LRNZ09 commented on #4139
I can confirm this is also happening in version 2.0.2620, I've just upgraded and it never happened before.

[2018-10-26 11:55] augustofontes commented on #1863
Thank you so much.

[2018-10-26 14:16] PurnimaNaik commented on #4203
@jp928 Thank you Jing. I will try it out soon. For now I am running with react-navigation as I am short on time.

[2018-10-26 14:42] acollazomayer opened #4233 "Navigation.setRoot crashes application on android."
### Issue Description

Im trying to build an app with authentification. I have two apps. The one with the login screen and the main application. When I loggin the redux store changes and the Loggin screen starts the LoggedInApllication. This calls a function that calls Navigation.setRoot and when this is called the app crashes with no apparent error.

### Steps to Reproduce / Code Snippets / Scree

[2018-10-26 14:55] acollazomayer commented on #4233
[code]

[2018-10-26 14:57] acollazomayer commented on #4233
I do the same thing with v1, I just wanted to upgrade to v2 because it has a better API in my opinion

[2018-10-26 15:48] acollazomayer commented on #4233
Found the issue, it was a problem with LayoutAnimation.

[2018-10-26 15:48] #4233 closed

[2018-10-26 16:16] LRNZ09 commented on #4130
This is also happening in the latest release with RN 0.57

[2018-10-26 20:42] #4224 closed

[2018-10-26 20:46] maleriepace commented on #4210
Same issue here too

[2018-10-26 20:48] yogevbd commented on #4210
Doesn't seem to reproduce in version 2.0.2620. Can you please check with this version?
4f3cbf0ab3b5270eb358a974bb17d28e0ea22dc8 should solve all latest issues related to `defaultOptions`

[2018-10-26 22:20] rgoldiez commented on #4180
@yogevbd - I'm not changing the width and the `sideMenu` is aligned left.  This worked fine before #4105.  The "math" that's happening is setting the width once to 85% of the screen width.  I slowed down the animation and hardcoded the `width: 300` to demonstrate the issue further.

![oct-26-2018 17-18-19](https://user-images.githubusercontent.com/10797610/47594939-49dc2300-d943-11e8-938e-07ae88b0

[2018-10-26 23:08] echappen commented on #4146
Found this issue! When [installing RNN](https://wix.github.io/react-native-navigation/v2/#/docs/Installing?id=ios) I hadn't removed the extra code in AppDelegate.m in `- (BOOL)application:(UIApplication *)application didFinishLaunchingWithOptions:(NSDictionary *)launchOptions { ... }`

Removing the original React Native code and only keeping the code specified in your docs did the trick. I think a

[2018-10-27 03:12] rendomnet commented on #4210
@yogevbd seems like fixed. No issues on iOS and android

[2018-10-27 03:12] #4210 closed

[2018-10-27 11:15] jayeshanandani commented on #2766
Any update? This seems like a great add on :)

[2018-10-27 11:35] kriptonhaz commented on #3660
I'm facing this problem request for location access, is there anyway to solve this?

[2018-10-27 11:54] #3928 closed

[2018-10-27 14:52] NweThazin opened #4236 "[v2] how to navigate to new component screen from sideMenu ??"
### Issue Description

Navigation.registerComponent("menu.screenScreen", () => SecondScreen);

sideMenu: {
        center: bottomtabs:{....}
        right: {
            component: {
                id: "componentId",
                name: "menu.firstScreen",
            }
        }
    }

how to navigate to SecondScreen Component from firstScreen of Sidemenu??

(https://github.com/wix/react-nativ

[2018-10-27 16:54] #3769 closed

[2018-10-27 18:37] guyca commented on #2892
Yup, we're trying to have FB publish a patch with this fix but everybody is too busy at React Conf 😅

[2018-10-27 20:33] omar-dev opened #4240 "[v2] setting top bar background color with mergeOption does not work"
### Issue Description
setting top bar background color with mergeOption does not work

### Steps to Reproduce / Code Snippets / Screenshots
push screen with top bar background color transparent
mergeOption for top bar background color with any color

---
### Environment
* React Native Navigation version: 2.0.2621
* React Native version: 0.57.3
* Platform(s) (iOS, Android, or both?): iOS
* Device i

[2018-10-27 21:16] yogevbd commented on #4240
Try this:
[code]

When `topBar.background.color` receive transparent color it also set `translucent: true`.
We might consider removing it

[2018-10-28 03:39] NweThazin commented on #3271
Hi,

Center of sideMenu layout is BottomTabs.
So, How can I navigate to one new component screen which is not under bottom tabs from side Menu page..?? thank you

    Navigation.events().registerAppLaunchedListener(() => {
      Navigation.setRoot({
          root: {
              sideMenu: {
                center: {
                    bottomTabs: [Stack1,Stack2,Stack3]
                    },

[2018-10-28 05:36] #4236 closed

[2018-10-28 06:58] ShaMan123 commented on #4231
#4227

[2018-10-28 07:31] guyca commented on #4232
Please include crash log

[2018-10-28 07:46] wijaksanapanji commented on #2989
any solution for your problem, im new to react-native, i got the same problem after adding react-native-firebase

[2018-10-28 08:01] guyca commented on #4231
Hey there, currently the best (and only) solution is to set the back button yourself.

[2018-10-28 08:01] #4231 closed

[2018-10-28 09:46] wijaksanapanji commented on #2989
i just moved google() in `android/build.gradle` to the top, and it worked
[code]

[2018-10-28 10:18] #3598 closed

[2018-10-28 11:18] #3803 closed

[2018-10-28 12:39] guyca commented on #4134
@ywongweb Can you please PR a layout where this breaks to the playground app? Possible to `modal.js`

[2018-10-28 12:42] guyca commented on #4180
@rgoldiez Can you fork RNN and push a layout reproducing this issue?

[2018-10-28 13:02] adirzoari commented on #3218
@Yousefjb  how to clear application data to exit from debug mode?

[2018-10-28 13:07] ywongweb commented on #4134
@guyca
My bad. It is working on iOS 2.0.2623

Sample code:
[code]

[2018-10-28 13:18] #3776 closed

[2018-10-28 14:02] Yousefjb commented on #3218
@adirzoari you have to go to Apps settings in your device and find your app then press clear storage.

[2018-10-28 14:23] tomhicks opened #4244 "v2 - TopBar with background color and translucency rendering completely transparent (no colour at all)"
### Issue Description

TopBar on iOS unexpectedly rendering completely transparent when background color and translucent are both set. This used to work somewhere around v2.0.2500.

### Steps to Reproduce / Code Snippets / Screenshots

[code]

This used to render my dark theme colour with a subtle translucency (not as obvious as the standard "dark" or "default" iOS blur), but now it renders comple

[2018-10-28 14:54] adirzoari commented on #3218
I clean storage. still have issue. what can i do?

[2018-10-28 16:18] #3515 closed

[2018-10-28 17:02] rgoldiez commented on #4180
@guyca @yogevbd - Added PR https://github.com/wix/react-native-navigation/pull/4246 which shows the issue in the playground app.

[2018-10-28 17:13] Yousefjb commented on #3218
I also had this issue when there was a runtime exception at index.js
make sure there are no exceptions before `startSingleScreenApp` or before the first component render

[2018-10-28 17:31] rgoldiez commented on #4181
@yogevbd - This seems to be resolved in the latest release: 2.0.2627

[2018-10-28 17:31] #4181 closed

[2018-10-28 18:34] omar-dev commented on #4240
@yogevbd it worked. thanks

[2018-10-28 20:50] guyca commented on #3097
I think https://github.com/wix/react-native-navigation/pull/4241 will address this.
@yogevbd lets prioritise this issue

[2018-10-28 21:29] williamnvk opened #4247 "[v2] static get options() not working"
After push from another screen, my action screen have this:

[code]

This not work, but... if this props has passed on Navigation.push(...) works fine.
Another issue is, `this.props.componentId` is `undefined`.

---

### Environment

- React Native Navigation version: 2.0.2628
- React Native version: 0.56
- Platform(s) (iOS, Android, or both?): both
- Device info (Simulator/Device? OS version? Deb

[2018-10-28 23:31] thalesgaldino commented on #3439
@sumesh1993 above solution is working for version 2.0.2621 👍

[2018-10-29 00:32] #4240 closed

[2018-10-29 01:53] pribeh commented on #4134
@ywongweb have you tried the following?
[code]

[2018-10-29 02:28] jinshin1013 commented on #4247
Not sure if it's an issue but it's supposed to be static options() not static get options()... Not sure it would make any difference though.

[2018-10-29 04:42] guyca commented on #4232
Thanks @a396901990 - Can you please include the entire stack trace?

[2018-10-29 05:37] Jazznight commented on #2107
I found a package implemented the auto-hide behavior into react native but it should replace the UIViewController so that I have no idea how can I use integrate this package to react native navigation..

https://github.com/flowkey/react-native-home-indicator

[2018-10-29 07:17] syedabuthahirm commented on #2421
Did you find a solution for this issue?

[2018-10-29 07:33] syedabuthahirm opened #4248 "[V1] Specify the default selected TopTab"
### Issue Description

I wolud like to show a second tab whenever user load a page by default. i didn't find a documention for top-taps.

### Steps to Reproduce / Code Snippets / Screenshots

App Start Code
[code]

---
### Environment
* React Native Navigation version: 1.1.480
* React Native version: 0.55.4
* Platform(s) (iOS, Android, or both?): Android
* Device info (Simulator/Device? OS version

[2018-10-29 07:46] guyca commented on #4248
hey there, v1 is not supported anymore :)

[2018-10-29 07:46] #4248 closed

[2018-10-29 08:13] guyca commented on #4247
change title to text

[code]

[2018-10-29 08:13] #4247 closed

[2018-10-29 08:16] adirzoari commented on #3218
@Yousefjb  I found the issue. I removed console.log and it solve my issue.
I did console.log for this and it was hard for the app.

[2018-10-29 08:53] guyca commented on #2435
As the animation feature is already implemented, there's no need for further discussion in this issue. If anyone encounters bugs or issues, please open a new issue.

[2018-10-29 08:57] balwinder4264 commented on #296
Make Header Search Path non-recursive

[2018-10-29 09:11] #4110 closed

[2018-10-29 09:49] LRNZ09 commented on #4232
This is also happening in the latest release with RN 0.57
There's also a [related issue here](https://github.com/wix/react-native-navigation/issues/4130)

Stacktrace from adb logcat:
[code]

[2018-10-29 10:30] Jazqa opened #4249 "[V2][iOS] topBar.title.fontFamily reset on mergeOptions"
### Issue Description

topBar.title.fontFamily is being reset with mergeOptions

### Steps to Reproduce / Code Snippets / Screenshots

Have a topBar.title.fontFamily set in defaultOptions and try to dynamically adjust the topBar by using mergeOptions. The fontFamily set in the defaultOptions will not be used.

---
### Environment
* React Native Navigation version: 2.0.2628
* React Native version:

[2018-10-29 10:52] thinklinux opened #4250 "[v2] Adding SafeAreaView makes the screens flicker"
### Issue Description

When I wrap my component with SafeAreaView and I navigate around it flickers. As it's rendering the SafeAreaView after the screen is rendered.

Here is a video:

[IMG_8277.TRIM.mov.zip](https://github.com/wix/react-native-navigation/files/2524902/IMG_8277.TRIM.mov.zip)

### Steps to Reproduce / Code Snippets / Screenshots

[code]

My goSignUp function

[code]
---
### Environ

[2018-10-29 11:20] reddeguzman commented on #3147
Hi. Is this resolved? I still can't change `statusBar` color on Android.

[2018-10-29 11:31] guyca commented on #4247
change `static get options()` to `static options(props)`

[2018-10-29 11:47] williamnvk commented on #4247
@guyca not working too.

[2018-10-29 12:33] steve228uk opened #4251 "[V2] Cannot interact behind overlay on iOS"
### Issue Description

It seems that when an overlay is presented on iOS that it's not possible to interact with the screen that's below it.

I have attempted with `interceptTouchOutside` as both `true` and `false`

This is not the case on Android.

### Steps to Reproduce / Code Snippets / Screenshots

1. Present an overlay
2. Attempt to interact with the view below

[code]

---
### Environment
*

[2018-10-29 13:51] ogostus opened #4252 "[v2] Clicking on notif create new react instance on top of previous one"
### Issue Description
when user clicks on a notification, a new react instance is added on top of the previous one, if the app is playing a song, the song is played as many time as there are react instances, and the backpress remove instance by instance

### Steps to Reproduce / Code Snippets / Screenshots
a project to clone to reproduce the bug:
git@github.com:ogostus/RNNIssueReproduction.git

--

[2018-10-29 14:25] thinklinux opened #4253 "[v2] Cannot resolve module 'tslib'"
### Issue Description

Building the app results in `Cannot resolve module 'tslib'`

### Steps to Reproduce / Code Snippets / Screenshots

I just updated to the last version of react-native-navigation and I cleaned the cache and nodejs folder after I first got the error but that didn't help.

My solution was to manually install tslib by doing `run npm install --save tslib`

### Environment
* React

[2018-10-29 14:50] guyca commented on #4253
Fixed in .2631

[2018-10-29 14:50] #4253 closed

[2018-10-29 14:52] guyca commented on #4247
Well, you can take a look at the playground app - it's clearly working :)
Perhaps you'll notice something you're missing.
Perhaps you're component is wrapped with a HOC - static options don't propagate in the HOC chain

[2018-10-29 15:46] guyca commented on #3782
Will be resolved in #3030

[2018-10-29 15:46] #3782 closed

[2018-10-29 15:51] thinklinux commented on #4253
You are awesome!!! Thanks! <3

[2018-10-29 17:14] #3938 closed

[2018-10-29 17:14] #3551 closed

[2018-10-29 17:14] #3939 closed

[2018-10-29 18:56] Brianwebb22 commented on #3786
I'm also searching for a way of doing this that isn't too hacky.

[2018-10-29 19:38] quarryman opened #4254 "[V2] Native Java implementation doesnt implement 'onNewIntent' method for MainActivity"
### Issue Description

Tapping on push-notification doesnt fire event in ReactNative due to intent not being handled and passed to RN in MainActivity.java

### Steps to Reproduce / Code Snippets / Screenshots
1. Add react-native-navigation to new/existing RN project
2. Follow installation instructions
3. Replace default _MainActivity_ class inherited from _ReactActivity_ with _MainActivity_ inheri

[2018-10-29 20:04] quarryman commented on #4252
Can you try adding this to your android/app/src/main/AndroidManifest.xml to ensure its not configuration problem?
[code]

[2018-10-29 21:17] diegolmello opened #4255 "[V2] [Android] Stuck on white screen after pressing hardware back button and reopening"
### Issue Description
Pressing Android hardware back button in a root will quit the app.
If you try opening the app again, it'll stuck on splash screen (or white screen if haven't set one).

### Steps to Reproduce / Code Snippets / Screenshots

![oct-29-2018 18-10-40](https://user-images.githubusercontent.com/804994/47680603-0af9d780-dba6-11e8-8e93-f7fb4e35e79a.gif)

---
### Environment
* React Na

[2018-10-29 21:35] quarryman commented on #4254
This has been fixed since 2.0.2507

[2018-10-29 21:35] #4254 closed

[2018-10-29 22:31] thalesgaldino commented on #4053
You also need to take in consideration if you show modal with a stack, e.g.:

[code]

that would add a topBar, whilst if you just add a component, e.g:

[code]

Then the topBar will be hidden, and no gap, and, therefore, you will not need to set topBar visibility whatsoever. Tested on version 2.0.2621

[2018-10-30 01:43] VicFrolov commented on #3749
While this works, the transitions aren't smooth, the tabBar disappears during the segue, and when you pop back, it re-appears over the container being hidden. This is a great temporary solution to have the app function though.

[2018-10-30 02:51] zoecarver commented on #3974
Works on `0.56`

[2018-10-30 05:56] JaydeepJikadra opened #4256 "[V2] [Android] Getting UNAUTHORIZED_OVERLAY error while we use react-native-youtube."
### Issue Description

I have used react-native-navigation V2 along with react-native-youtube. when I play the video then it will pause automatically with error

10-30 10:59:35.613 18102-18102/com.xyz W/YouTubeAndroidPlayerAPI: **YouTube video playback stopped due to unauthorized overlay on top of player.** The YouTubePlayerView is obscured by android.widget.FrameLayout{91b1c4c V.E...... ........

[2018-10-30 10:28] ogostus commented on #4252
it worked ! thank you @quarryman

[2018-10-30 10:29] #4252 closed

[2018-10-30 11:14] #2126 closed

[2018-10-30 12:52] waleedbk opened #4257 "Stuck on (Task :react-native-navigation:compileReactNative56DebugJavaWithJavac FAILED)"
### Issue Description
I've just started react-native-navigation for the upcoming project as react-navigation is going to deprecate the redux support. But i'm still not able to build my very first example project using react-native-navigaiton v2. I've spent a lot of hours by apply everything i got on gihub issues that are similar to mine. But none of them worked for me. Please help to get rid off f

[2018-10-30 13:35] JaydeepJikadra commented on #4256
Hello @guyca
plz, guide me, how to solve this issues bcoz my app is totally dependant on this navigation lib
and I can not move back to V1, due to some major changes.

I think with  "react-native-navigation": "^2.0.2500"  was working properly but if I used this version then getting the problem with react-native-pushnotification [https://github.com/wix/react-native-navigation/issues/472](url)

[2018-10-30 14:01] stefanc96 opened #4258 "[V2]Immersive mode"
### Issue Description

I am trying to enter immersive mode when app starts but the screen won't redraw over the part where the navigation bar dissapeared

### Steps to Reproduce / Code Snippets / Screenshots

---
### Environment
* React Native Navigation version: 2
* React Native version: 0.57
* Platform(s) (iOS, Android, or both?):Android
* Device info (Simulator/Device? OS version? Debug/Release

[2018-10-30 14:08] narodejesus commented on #4257
currently they it seems that RNN doesn't support 0.57. it happens to me too that's why I downgraded to RN 0.56. now it is working

[2018-10-30 15:50] Zapopozapopo commented on #4126
In this case you need to pass the same config to component options with text

`component: {
                name: 'navigation.blondie.tasks.index',
                options: {
                  bottomTab: {
                    text: 'Tasks',
                    icon: require('./images/checked.png'),
                    selectedIconColor: '#EC1C24',
                    selectedTextColor: '#EC1C24'

[2018-10-30 15:50] #4126 closed

[2018-10-30 17:08] pribeh opened #4260 "[v2] [Android] Navigating from screen without topbar to topbar screen and then back causes persistent white space"
### Issue Description

On Android, when pushing from a screen without a topbar to one with a topbar and then back a white space where the topbar was in the second screen shows on the original.

### Steps to Reproduce / Code Snippets / Screenshots

- load base screen without topbar (bottom of the stack)
- push a screen with a topbar
- navigate back to the the base screen
- white space appears where

[2018-10-30 17:36] ankero commented on #4030
Thanks @rawrmaan for the input. I'll update to the newest version to see what's the effect.

@guyca please don't close this issue before it has been resolved. I can confirm that my efforts had no effect on fixing the issue, so we'll need to check if updating to newest version will do the trick. Don't worry, I'll report here when the issue is fixed and the Crashalytics reports show green.

[2018-10-30 20:15] #3842 closed

[2018-10-30 22:47] kyledmellander commented on #3949
Pretty frustrating when looking at feature parity between V1 and V2 as there is no indication that the drawer/sideMenu functionality is so far out of sync. Halfway through moving over to V2 and discovered this.

[2018-10-31 02:58] narodejesus commented on #3804
i am using 2.0.2632. still doesn't behave like iOS bottomTab 😿

[2018-10-31 06:16] linchenhuicn opened #4262 "[V2][Android] The transition animation of push not working"
### Issue Description

The "x" transition animation of push not work ,but pop is OK.

### Steps to Reproduce / Code Snippets / Screenshots

[code]

---
### Environment
* React Native Navigation version: 2.0.2633
* React Native version: 0.57.4
* Platform(s) (iOS, Android, or both?): Android
* Device info (Simulator/Device? OS version? Debug/Release?): Simulator

[2018-10-31 07:33] mtzfactory commented on #3575
Hi @ujwal-setlur ,

Do you have a minnimal demo? Can you share it?

Thanks.

[2018-10-31 07:40] varungupta85 opened #4263 "In app message notification / sliding overlay is shown behind the bottom tab bar in Android"
### Issue Description
For a bottom tab based app on Android, the in app message notification/sliding overlay is shown behind the tab bar due to which it is not visible or partially visible to users. I can add a margin at bottom such that it appears above the tab bar but in my mobile app, some screens have a bottom tab bar and some other screens don't have a bottom tab bar. So, adding a bottom marg

[2018-10-31 07:43] Hesowcharov commented on #3977
I have same issue too but on ios. As temp fix you might set width for side menu component as 280 because it is default value for drawer width https://github.com/wix/react-native-navigation/blob/9d4eea835ad83170c39c336c108ef2610c078f19/ios/RCCDrawerController/MMDrawerController/MMDrawerController.m#L27

[2018-10-31 09:28] #4262 closed

[2018-10-31 10:32] #4263 closed

[2018-10-31 10:34] guyca commented on #4263
Hey @varungupta85, I'm sorry but we've stopped supporting v1. If you're maintaining a fork of RNN, I think your best option is to fix it in your fork.

[2018-10-31 10:48] #3914 closed

[2018-10-31 10:51] Zycon42 commented on #3804
I believe issue with BottomTabSelected event not being send was fixed, so now you can develop js workaround.

We use [patch-package](https://github.com/ds300/patch-package) to patch RNN directly, I think our solution is rather a dirty hack because I don't know RNN internals enough, so I didn't submit PR. [Our patch](https://gist.github.com/Zycon42/82d4ad6086874b23a6a7afe2513c2464) for anyone inter

[2018-10-31 11:16] Zapopozapopo commented on #3787
Seems like this issue still exists. v2.0.2634
`
Navigation.mergeOptions('test', {
        bottomTabs: {
          currentTabId: "test1"
        }
      });
`
example
`
root: {
      bottomTabs: {
        id: 'BottomTabsId',
        children: [{
          stack: {
            children: [{
              component: {
                id: 'test',
                name: 'test'
              }

[2018-10-31 13:42] #4145 closed

[2018-10-31 13:44] yogevbd commented on #4251
Can you check if this reproducing in 2.0.2635?

[2018-10-31 14:34] #3942 closed

[2018-10-31 15:04] tylerjbainbridge commented on #3528
I'm having this issue as well, not sure what to do.

[2018-10-31 15:20] terreb commented on #1118
@b8ne approach is correct, however for RNN 2 [registerComponentDidAppearListener](https://wix.github.io/react-native-navigation/v2/#/docs/events?id=componentdidappear) should be used instead.

[code]

[2018-10-31 15:34] ujwal-setlur commented on #3575
Hi @mtzfactory, I have moved away from react-native-navigation to react-navigation, so I don't have a ready demo. But from what I recall, I had a tabView with one of the tabs showing a list view, and the list item was to swipe-able with react-native-swipeable row. That did not work.

[2018-10-31 19:29] VicFrolov commented on #3097
Can't wait for this to be merged :) +1

[2018-10-31 19:41] orkanylmz commented on #4153
We have the same problem. It's not just the alerts, native components such as share modals are not working as well.

[2018-10-31 20:55] guyca commented on #4260
Hey @pribeh
I wasn't able to reproduce this in the playground app - can you please try to reproduce it in the playground app?

[2018-10-31 20:56] #4257 closed

[2018-10-31 22:10] hooligan commented on #4247
@guyca I have the same problem of the static options not working. You mentioned that having a HOC prevents the static chain. Is there another way to achieve an options override per screen basis?

[2018-10-31 23:30] jinshin1013 commented on #4247
You could use [this library](https://github.com/mridgway/hoist-non-react-statics). I am also using HOC to wrap my screens and using this allow me to use static options in the screens.

[2018-11-01 08:57] Neungzad commented on #3900
@phansw thank you, your solution it work for me.

[2018-11-01 08:59] retyui opened #4267 "[V2][Android] PUSH with `options.sideMenu.left.visible: false` not working on Android"
### Issue Description
I want close left menu when user press on the navigation button. It is working correctly on IOS.

BUT:

On android when you use push with sideMenu options, they aren't applied.

### Code Snippets
Example code: [gist](https://gist.github.com/retyui/3da926d69dc337ec4e26fe4f4093f7b5)

---
### Environment
* React Native Navigation version: `v2.0.2636`
* React Native version: `0.5

[2018-11-01 10:09] guyca commented on #4153
@orkanylmz Which version of RNN are you using?

[2018-11-01 10:30] phantom1299 commented on #3505
For me, debug was working but release was failing with above issue. The solution was to [add filter](https://wix.github.io/react-native-navigation/v2/#/docs/Installing?id=_82-ignore-other-rnn-flavors) for reactNative57 too because the error message was containing stuff with

[2018-11-01 11:19] orkanylmz commented on #4153
@guyca 0.57.1

[2018-11-01 12:00] guyca commented on #4153
@orkanylmz Try upgrading to latest version of RNN and see if it reproduces. We've done some work related to Overlays and alerts.

[2018-11-01 12:01] orkanylmz commented on #4153
@guyca Does the latest version master support 0.57.1 ?

[2018-11-01 12:03] Peeeep opened #4269 "[V2][iOS] SetRoot on iOS 9 throws exception: UITabBarItem setBadgeColor is an unrecognised selector"
### Issue Description

`setBadgeColor` is only supported from iOS 10 onwards... Even without specifying any tabBar, this throws an exception on iOS 9.

### Steps to Reproduce / Code Snippets / Screenshots

[code]

<details><summary>Exception '-[UITabBarItem setBadgeColor:]: unrecognized selector sent to instance 0x7e7e3060'</summary>
<p>

[code]

</p>
</details>

---
### Environment
* React Native

[2018-11-01 12:24] TPMinan opened #4271 "[V2] TopBar Background Component"
### Issue Description

I want to add a logo to the header. but in doing so I could not center the logo. Is there a method for this?

### Steps to Reproduce / Code Snippets / Screenshots

I want to add a logo to the header. but in doing so I could not center the logo. Is there a method for this? the size at the time it is loaded remains constant

#### TopBar Option
[code]

#### TopBar Screen
[code]

[2018-11-01 13:01] #4269 closed

[2018-11-01 13:03] margaridaDinis commented on #3904
I had the same problem because of my Java version (9.0.4).
I fixed by installing this version:
 http://www.oracle.com/technetwork/java/javase/downloads/jdk8-downloads-2133151.html
And run this:
`export JAVA_HOME=$(/usr/libexec/java_home -v 1.8)`

Check: https://stackoverflow.com/a/46517346/6919718 solved it for me

[2018-11-01 13:53] #3904 closed

[2018-11-01 18:18] waleedbk commented on #4257
It's a bug because i followed the documentation and it didn't work.

[2018-11-02 05:42] danangan commented on #2987
I have the same problem. Do anyone have any idea?

[2018-11-02 05:50] danangan commented on #2987
@vyshkant do you have any solution yet? I got stuck in this problem for hours now.

[2018-11-02 07:10] jsslai opened #4273 "[v2] Option to set TopBar tint color"
### Issue Description

Now it is impossible to set tint color for whole `TopBar` and instead you have to define color for different components (back button, left and right buttons and title) separately. I think it is quite common case to apply tint color for whole `TopBar`.

At least on iOS this would mean adding method which sets `UINavigationBar.tintColor` property. I'm not sure how this is done

[2018-11-02 11:21] ItsNoHax commented on #4258
How are you trying to enter immersive mode?

[2018-11-02 13:34] addikhann opened #4274 "how to solve react-navigation-stack error react native ios"
i am new in react native but when i trying to build my application in IOS its show me this Error
i am using below command

    react-native bundle --entry-file index.js --platform ios --dev false --bundle-output ios/main.jsbundle --assets-dest ios
but its show me below Error, anyone know how to solve this Error. because spend 5 hours to solve this error but not success

    ABCs-Mac-mini-6:Service

[2018-11-02 15:07] #3937 closed

[2018-11-02 15:11] henrikra commented on #4162
This kinda off topic but since @guyca said `The static options feature is an antipattern` and according to my testing static options won't even work at least with latest version `2.0.2637`.

In my component I am defining
[code]

But it won't affect iOS or Android. I was going to make issue about it and dig it through my self too but since @guyca said that they are antipattern I am thinking what sh

[2018-11-02 15:21] enlightenedmouse commented on #4193
I can confirm that #4105 has broken "animations" options for "topBar", "bottomTabs", "content" in iOS. Would you like me to submit a pull request with a fix?

[2018-11-02 16:02] enlightenedmouse commented on #4193
Also, there appears to be a discrepancy with the [documentation](https://wix.github.io/react-native-navigation/v2/#/docs/styling?id=animation-properties), the [Options.ts](https://github.com/wix/react-native-navigation/blob/v2/lib/src/interfaces/Options.ts#L599) interfaces and the actual [iOS implementation](https://github.com/wix/react-native-navigation/blob/v2/lib/ios/RNNTransitionStateHolder.m)

[2018-11-02 20:38] mstahlmann commented on #1744
This is really a troublesome package. I have been going thru this for hours with various issues. I am now stuck on this one. Is it possible that you have unstable compatibility with the react-native tools. This is literally the most frustrating process I have been thru in coding to date. I have gone thru all the steps multiple times and I cannot solve this issue.

[2018-11-02 22:58] alexsmartens commented on #4203
This thread solves the problem of building RNN v2 in RN 0.57 projects:
https://github.com/wix/react-native-navigation/issues/3419#issue-334820245

[2018-11-03 13:08] hiradarshadi commented on #2553
I had the same problem. You @tmaly1980, just Saved My Life 💯

[2018-11-03 16:02] nezaidu commented on #4232
temp workaround for myself
![image](https://user-images.githubusercontent.com/3225817/47954413-9e5e4e80-df92-11e8-9346-677ffd6691af.png)

[2018-11-03 16:03] nezaidu commented on #4232
my guess is that when push is runned from stackcontroller, at that point bottomtabs are not created:
![image](https://user-images.githubusercontent.com/3225817/47954431-c2219480-df92-11e8-987e-c6e47ac10194.png)
![image](https://user-images.githubusercontent.com/3225817/47954438-ce0d5680-df92-11e8-9b9a-e7345f52cd78.png)

[2018-11-03 18:04] #3958 closed

[2018-11-03 23:36] alexsmartens commented on #2159
I'm having the same problem. Any suggestions?

@kyle-ssg, adding a new package results in the following build error:

[code]

[2018-11-03 23:54] alexsmartens commented on #2159
Following the the [manual installation steps](https://github.com/oblador/react-native-vector-icons#option-manually-1) of react-native-vector-icons solved the problem

[2018-11-04 07:07] guyca commented on #4002
This should be resolved by now

[2018-11-04 07:07] #4002 closed

[2018-11-04 09:37] #2621 closed

[2018-11-04 09:37] #827 closed

[2018-11-04 09:37] #3353 closed

[2018-11-04 09:37] #3545 closed

[2018-11-04 09:37] #4177 closed

[2018-11-04 14:43] alexsmartens commented on #3381
I'm having the same problem on Android. Has anyone got the navigation working with react-native-vector-icons?

[2018-11-04 14:47] alexsmartens commented on #3900
I'm having the same problem. Any new ides/solutions?

@phansw, can elaborate on how you implemented your wrapper function? Maybe you can post the snippet of your code

[2018-11-04 15:29] phansw commented on #3900
This is what I did.
I got a promise to load all the icon image source:

[code]

Then when initializing everything, I just have to make sure that both the registering of the screens and the setting of the root happens after the promise is resolved. Something like:

[code]

[2018-11-04 15:43] alexsmartens commented on #3900
@phansw, thank you for your help!

[2018-11-04 17:25] ryan-cu1200 opened #4280 "method does not over ride or implement a method from a supertype @Override"
method does not over
ride or implement a method from a supertype
     @Override

[2018-11-04 20:14] Chebi97 commented on #3607
I'm having the same problem, if this was solved, a link could be useful.

[2018-11-04 23:30] alexsmartens commented on #4236
@NweThazin, did you figure this out?

[2018-11-04 23:36] alexsmartens commented on #4003
This works on Android, here is my snippet:
[code]
where `menuButton` is a drawer button and `MenuScreen` is a drawer screen

[2018-11-04 23:48] alexsmartens commented on #3841
Hi all,
any luck with solving this puzzle?
I have a sideMenu and cannot find any documentation/example on how to switch between the screens properly

[2018-11-04 23:54] rajapanidepu opened #4282 "[V2] Android TopBar LeftButton is not rendering as per docs."
### Issue Description and Steps to Reproduce / Code Snippets / Screenshots
Text or Custom Component doesnot get rendered as LeftButton in TopBar.

Setup 1: Make following change in Playground/. You can add left button first and then right button.
<img width="718" alt="screen shot 2018-11-04 at 3 36 08 pm" src="https://user-images.githubusercontent.com/4800357/47971729-f3f53280-e048-11e8-8f74-8f9bf

[2018-11-04 23:56] rgoldiez commented on #3841
@alexsmartens - What screens are you trying to switch between?  For me, I have a stack in my center view and issue a `Navigation.setStackRoot(CENTER_STACK_ID, {options})` to switch the stack in the center view.

[2018-11-05 00:10] alexsmartens commented on #3841
@rgoldiez, I have a side menu with some number of screens. I want to navigate between these screens.
I am trying to do exactly what you described, but cannot make it work.
Don't you mind posting a snippet of your code showing how you construct your stack and navigate between the screens?

[2018-11-05 00:17] alexsmartens commented on #3518
Have anyone managed to get it the sideMenu part working?
I'm having troubles with figuring out how to navigate between the stack screens

[2018-11-05 00:18] rgoldiez commented on #3841
See my initial layout below.  One key point (not well documentation) is to assign an `id` to the center stack if you want to perform `setStackRoot`.  Then, when your user interacts with the sideMenu items, you can issue a `Navigation.setStackRoot('stackRoot', {options})` (in my case) to change the center screen.

[code]

[2018-11-05 00:30] alexsmartens commented on #3841
@rgoldiez, Thank you for your explanation! Now screen switching works in my implementation.

So, in this case I don't need to list all my components (screens) in `center stack`. I do add only my initial component (screen) to the `center stack` and do `Navigation.setStackRoot('stackRoot', {options})` when I need to switch to a different screen. Does it sound reasonable?

[2018-11-05 01:17] rgoldiez commented on #3841
@alexsmartens - You've got it exactly right.  The center stack just has in the stack what's needed right now (possibly just one screen).  Your center screen could push more onto that stack.  Then a subsequent `sideMenu` "navigation" would set a new stack (again, possibly just a single screen) to replace the center view.

[2018-11-05 02:55] sopedro commented on #2541
Hi, title is a object too, so use as following:

`Navigation.setRoot({
            stack: {
                children: [
                    {
                        component: {
                            name: 'someRegisteredComponent',
                            passProps: { ... },
                            options: {
                                topBar: {

[2018-11-05 06:47] #4280 closed

[2018-11-05 08:09] pacozaa opened #4284 "Can not build and run with RN0.57.4"
### Issue Description

Can not build and run `react-native run-android`

### Steps to Reproduce / Code Snippets / Screenshots

I followed instruction to install `react-native-navigation` and got this error
[code]

---
### Environment
* React Native Navigation version: `^2.0.2637`
* React Native version: `0.57.4`
* Platform(s) (iOS, Android, or both?): `Android 7.1.1`
* Device info (Simulator/Devic

[2018-11-05 08:29] thinklinux commented on #3867
I started a new project with V2. I didn't have a lot of big issues so far. And the thing is that it's going to be ready sooner or later and I don't want to migrate when my app is ready. At least not that soon. So I prefer going with V2 and opening issues. Also making PRs if I have the time for it.

[2018-11-05 08:36] ItsNoHax commented on #4258
Are you using drawBehind: true property on the topBar when you enter immersive mode?

[2018-11-05 09:01] AlexBueckig commented on #4271
Not sure if it's just a copy&paste error, but in your topbar options the word alignment is misspelled... ;)

[2018-11-05 09:07] Vinu-MysteriousTechVision commented on #3841
Please help me to switch two screens using **setStackRoot**

The given below structure is my project navigation. Then I want to switch from _tab page_ to a _profile page_. how can I set **setStackRoot**
[code]

[2018-11-05 09:12] rgoldiez commented on #3841
Your center screen MY_STACK is bottomTabs not a stack. You can only use setStackRoot on stacks, not tabs. You’ll need to wrap your bottomTabs in a Stack.

[2018-11-05 09:14] Vinu-MysteriousTechVision commented on #3841
@rgoldiez Thanks, can you give an example for this.

[2018-11-05 10:58] ItsNoHax opened #4285 "Regression: [V2] [iOS] [Android] Dismiss modal got 4 arguments, expected 5"
### Issue Description

Open modal then dismiss it.

![peek 2018-11-05 11-57](https://user-images.githubusercontent.com/4223434/47994236-05464980-e0f2-11e8-809a-018fac609647.gif)

### Steps to Reproduce / Code Snippets / Screenshots

[code]

---
### Environment
* React Native Navigation version: 2.1.1
* React Native version: 0.56.4
* Platform(s) (iOS, Android, or both?): Both
* Device info (Simulat

[2018-11-05 11:05] TPMinan commented on #4271
Thank you for your answer. The 'alignment' works. But the main problem is that the Bar gives the width according to its orientation. And this value remains constant when the phone is rotating. For this, I use the orientation property, but I don't look very healthy. I'm looking for a healthier solution.

[2018-11-05 11:18] AnimaWolf commented on #4285
Same problem but with popToRoot

[2018-11-05 12:57] guyca commented on #4285
Checking, seems like `alpha` is working as expected. You can use it until we figure this out

[2018-11-05 14:21] guyca commented on #4285
This should be fixed in 2.1.1-snapshot.23, will publish 2.1.2 soon.

[2018-11-05 14:35] AlexBueckig commented on #4271
I see, I see... Not sure how SvgUri works internally regarding setting the width... But regarding to the RN Docs:

Source: https://facebook.github.io/react-native/docs/flexbox#align-items

Maybe that's the reason the stretch/centering doesn't work for you. Is the width property really necessary for the svg to show up properly? Might be worth a try to remove it and see how it works out. ;)

[2018-11-05 15:04] LRNZ09 commented on #4232
This still happens in version 2.1.1

[2018-11-05 15:12] ionush commented on #3991
i believe this isn't feasible because react native doesn't import node standard library anymore

[2018-11-05 15:15] blubberbo opened #4287 "Is there a way to add top padding?"
I am using icons in the Navigation, but they are quite cramped. Is there a way to add top padding?

[2018-11-05 16:34] mstahlmann opened #4289 "start single screen app is undefined."
### Issue Description

I cannot get a simple example app to start. I have followed the instructions exactly. I have a very simple app and it is failing right at the beginning.

### Steps to Reproduce / Code Snippets / Screenshots

import {Navigation} from 'react-native-navigation';

import AuthScreen from './src/screens/Auth/Auth';

// Register Screens
Navigation.registerComponent("awesome-places.

[2018-11-05 16:34] ItsNoHax commented on #4285
Confirmed fixed in 2.1.2, thanks a lot @guyca

[2018-11-05 16:34] #4285 closed

[2018-11-05 16:38] guyca commented on #4289
Hey there, `startSingleScreenApp` is a v1 api and it seems like you have v2 installed 👍

[2018-11-05 16:38] #4289 closed

[2018-11-05 16:46] guyca commented on #3991
Hey guys, as @birkir noted - v1's deeplink system was a very basic pub-sub implementation. As handling events isn't a navigation library's concern we opted to remove it from v2.
I'm closing the issue as it won't be added to RNN in the future.

[2018-11-05 16:46] #3991 closed

[2018-11-05 16:50] mstahlmann commented on #4289
what is the V2 corresponding command?

[2018-11-05 16:52] mstahlmann commented on #4289
figured it out thanks

[2018-11-05 18:01] kyledmellander commented on #4190
Is there a workaround for using KeyboardAvoidingView with a top bar? The Keyboard Avoiding View gets pushed down by the top bar so normally I would use the prop keyboardVerticalOffset along with the top bar height.

[2018-11-05 20:40] mtzfactory opened #4290 "[v2] searchBar set focus"
Hi,

Is there a way to set focus on the topBar's searchBar?

I want control when it appears and set immediately the focus...

Thank you.

[2018-11-05 20:45] tyrong opened #4291 "React hooks"
With the release of React Hooks, it would be good to test them out with RNN, has anyone managed to get this going? particularly with binding the component to listen for topBar button presses ?

[2018-11-06 02:04] pqkluan commented on #1744
I have [this example file](https://github.com/pqkluan/RNN-SplashScreen-Example/blob/master/Example/ios/Example/AppDelegate.m), it's a bit out-dated (v1) but it's a correct setup for reference.

And make sure that you are using ejected React Native project, RNN is not working with Expo.

[2018-11-06 06:09] TPMinan commented on #4271
I'm using it as a workaround. but I am changing the currentTabIndex value with mergeOptions when starting the application. When I do this, the logo on the first tab page appears to be left-justified. and `bottomTabs: {currentTabIndex: 1}` does not work in the setOptions property

This method does not work
[code]

When I use this method, it just looks like this in the first screen
[code]
<img width

[2018-11-06 08:02] brightsider opened #4292 "Navigator buttons frame"
How to get frame for navigator buttons?
I need to know right button mid x for draw line to button.

---
### Environment
* React Native Navigation version: 1.1.487
* React Native version: 0.57.1
* Platform(s) (iOS, Android, or both?): Both
* Device info (Simulator/Device? OS version? Debug/Release?): Any

[2018-11-06 11:19] Kolezhniuk commented on #2884
The same problem, please help

[2018-11-06 11:36] lukebrandonfarrell commented on #3867
@thinklinux I agree. V2 has made some significant progress in the past few weeks. If we all come together as a community to spot issues and make pull request it will be a great library in no time.

[2018-11-06 11:52] williamnvk opened #4293 "[v2][IOS] ":CFBundleIdentifier", Does Not Exist"
### Issue Description

Happens when i try `react-native run-ios`.

Me `AppDelegate.m` copy from _playground_.

[code]

---
### Environment
* React Native Navigation version: 0.57
* React Native version: https://github.com/leonardoballand/react-native-navigation-rn57.git
* Platform(s) (iOS, Android, or both?): IOS
* Device info (Simulator/Device? OS version? Debug/Release?): Simulator
* Xcode 10.1

[2018-11-06 12:42] kiroukou opened #4294 "[v1] Make v1 document accessible again"
The v1 documentation isn't available anymore.  We should have that version accessible with the V2 like we did before, please.

Thank you for your inputs/helps and evolution of the library.

[2018-11-06 13:44] TPMinan commented on #4293
Difficult to understand the problem with this output. Try to run on Xcode. The solution to the problem may be related to the scheme.

[2018-11-06 14:14] mstahlmann commented on #1744
Thanks for the reply. I am hoping to tackle v2. I’m assuming it’s compatible with the latest react native. I haven’t been using expo. I have been building in react native so the third party stuff works better.

Sent from my iPhone

[2018-11-06 14:35] guyca opened #4295 "Add optional componentId param to bindComponent"
`bindComponent` extracts the componentId from the component provided to it. This bad design causes unneeded coupling on the component's private logic and assumes it has componentId in props.

We can mitigate this by adding an optional `componentId?: string` argument, is it exist we won't resolve componentId from props.

[2018-11-06 15:26] KATIA0306 opened #4296 "ok"
### Issue Description

[ENTER DESCRIPTION HERE]

### Steps to Reproduce / Code Snippets / Screenshots

[FILL THIS OUT]

---
### Environment
* React Native Navigation version: FILL THIS OUT
* React Native version: FILL THIS OUT
* Platform(s) (iOS, Android, or both?): FILL THIS OUT
* Device info (Simulator/Device? OS version? Debug/Release?): FILL THIS OUT

[2018-11-06 16:10] MEsteves22 commented on #4284
I had the same problem and I was able to solve it. I'm guessing you followed [these](https://wix.github.io/react-native-navigation/#/docs/Installing) instructions right?
In step 8, since you are using React Native version 0.57.4, you need to insert the following code in the `android/app/build.gradle` file (you need reactNative57):
`missingDimensionStrategy "RNN.reactNativeVersion", "reactNative57"

[2018-11-06 19:18] GuillermoGuevara commented on #3518
I have some issues, i cant push screens with a sidemenu structure :(

[2018-11-06 19:34] javi10823 commented on #1299
Hi, i having this issue, i change in my manifiest to adjustPan but did'nt work!

 I have this manifiest:

[code]

[2018-11-06 20:01] arbabi2010 opened #4297 "animationType not working in startSingleScreenApp"
Hi.  this is my code but animation is slide-up at all.
[code]

i use this code in index.js. i change animationtype to fade and none but animation is slide-up.
---
### Environment
* React Native Navigation version: 1.1.493
* React Native version: 0.51.1
* Platform(s) (iOS, Android, or both?): android
* Device info (Simulator/Device? OS version? Debug/Release?): android 6

[2018-11-06 23:11] barjas commented on #4251
same issue, interceptTouchOutside has no effect

[2018-11-07 00:04] SudoPlz commented on #3608
I made a git patch file:

filename **react-native-navigation+2.1.2.patch**:
[code]

Then on post install I do:
`git apply --ignore-whitespace react-native-navigation+2.1.2.patch`

Until that's fixed, this works fine for me.

[2018-11-07 00:56] Asleepace commented on #2687
Wrapping the following code in a setTimeout after my app was started seems to have fixed the problem, maybe some sort of race condiciton. This is after `Navigation.startSingleScreenApp` was called:
[code]

[2018-11-07 01:55] jinshin1013 commented on #4274
I think the library you are using is react-navigation not react-native-navigation.

[2018-11-07 04:03] ouabing commented on #3846
Seem like it's fixed in 2.1.0, thanks guys!

[2018-11-07 04:03] #3846 closed

[2018-11-07 04:20] immortalx commented on #1883
@thielCole @sreuter  Thank you.
This should work on V1 as well.
I believe this should be in the docs, it's not easy to find this information for someone starting with this library.

[2018-11-07 08:20] immortalx commented on #3454
@ujwal-setlur setDefaultOptions is working fine on v2.1.2

[2018-11-07 11:54] lukebrandonfarrell commented on #4291
@tyrong

You can listen to react-native-navigation events globally. Freeing your components from methods such as `componentDidAppear ` or `navigationButtonPressed({ buttonId })`, allowing you to use functional components and hooks :)

[code]

https://wix.github.io/react-native-navigation/v2/#/docs/events

[2018-11-07 17:21] steve228uk commented on #4190
@kyledmellander currently I’m using 44 + the status bar height which is being set. It’s not ideal but it works for the time being.

[2018-11-07 18:42] itsakt commented on #3352
Set root like this.

[code]

Now you can push from this screen.

[code]

[2018-11-07 18:59] guyca commented on #4297
Hey there, v1 isn't supported anymore. You can try posting on Stack Overflow 👍

[2018-11-07 18:59] #4297 closed

[2018-11-07 19:34] #4296 closed

[2018-11-07 19:35] guyca commented on #4295
Resolved in #4299

[2018-11-07 19:35] #4295 closed

[2018-11-07 21:35] kyledmellander commented on #4190
@steve228uk Thanks! Do you know if this work across all/most IOS devices? We have users ranging from the 5s to the iPhone X/XS/...

[2018-11-07 23:06] tayfunyugruk commented on #4293
@williamnvk `":CFBundleIdentifier", Does Not Exist` is a generic error that xcode throws if you go back at the terminal logs you will see the actual issue. if you can find that that will be helpful to find out the problem.

[2018-11-07 23:48] steve228uk commented on #4190
@kyledmellander It should do as the status bar height changes for devices that include a safe area inset. The only problem that will arise in the future is if Apple changes the navigation bar height from 44.

[2018-11-08 02:00] immortalx commented on #2766
Does it cover the case in the issue #2756 ?
My use case is to define a bottomTab that opens a modal on the current active tab.

[2018-11-08 03:35] gusoskar commented on #4125
I also have this exact same issue. The project is working just fine on iOS, and Android is working fine when running it from the console with 'react-native run-android'. The project is not however able to be run from Android Studio (I get this error when I do) and I get this error if I detach my android device from my computer and run it.

[2018-11-08 03:36] gusoskar commented on #4125
@stefanc96 Did you find a solution to this? Did you post your question on stackoverflow?

[2018-11-08 04:02] ssshen commented on #1393
@grundmanise your solution does not work for me, but also cause empty area in pushed page

[2018-11-08 13:31] pacozaa commented on #4284
@MEsteves22 Thank you. I solved it too.

[2018-11-08 20:39] codvlpr commented on #3478
Unfortunately the toggleDrawer is not available in the v2 you can set a variable and play with a simple if condition to toggle the drawer. Below is the working example for this using mergeOptions.

On your component, bind the navigationButtonPressed and then
`
constructor(props) {
    super(props);
    this.isSideDrawerVisible = false;
    Navigation.events().bindComponent(this);
  }

  navigation

[2018-11-08 22:39] smooJitter commented on #4291
@lukebrandonfarrell can you share an example of how you've used registerNavigationButtonPressListners globally?

[2018-11-09 00:31] soutot commented on #3724
This worked for me
[code]

I'm using RNN 2.0.2585

[2018-11-09 08:54] parinha commented on #2705
[code]

[code]

[2018-11-09 10:57] tyrong commented on #4291
@lukebrandonfarrell is there any way to pass a componentId to the global listener?

[2018-11-09 11:14] yogevbd commented on #4251
This issue should be fixed in latest version, if not please let us know

[2018-11-09 11:14] #4251 closed

[2018-11-09 13:02] ziyad2009 opened #4302 "app hang stuck splsh screen"
### when i install app in android device and run
 I get error show below  from adb and from  Android vitals

if i tray to run in my android Emulator it run OK without an problems
 but in real device story is different is not work
just splash screen stack and not show the screen

E/AndroidRuntime( 8392): FATAL EXCEPTION: main
E/AndroidRuntime( 8392): Process: com.proog1, PID: 8392
E/AndroidRuntime(

[2018-11-09 13:14] davidwico commented on #4257
I got same issue, anyone find solution ?

[2018-11-09 14:31] Jazqa commented on #4249
That's unrelated in my case, since I am not using a subtitle

[2018-11-09 14:33] pkyeck commented on #4249
yep, but as I said in the comment in 4188, for me it was not related to using a subtitle - happened also when just trying to overwrite the fontFamily for title ...

[2018-11-09 19:59] SudoPlz opened #4303 "Get visibility of drawer v2 RNN"
How do we get the visibility of the drawer?

I get that `toggleDrawer` is not a thing in v2 yet, but how do we know the current state of the side menu (visible or not visible) at the moment to be able to toggle manually like so:

[code]

[2018-11-09 20:12] SudoPlz commented on #3924
I'm experiencing the same issue, setting a width does not affect anything.

[2018-11-10 00:18] kyledmellander opened #4304 "V2: backButton testID"
Is it possible to add a testID to the back button, or some other accessibility ID? It seems like other buttons / navbar title work, but the back button can't be accessed.

React-Native: v0.51.0
React-Native-Navigation: 2.0.2620

[2018-11-10 00:32] bs91 commented on #4193
npm version "2.0.2582" was the latest version I could use retaining the animations options functionality. "2.0.2583" would load with a stack trace and "2.0.2584" onwards the options is behaving like described.

[2018-11-10 07:09] cnakh opened #4305 "popTo with param with V2"
I used **push** to open new screen successfully with the following codes
[code]

Anyway, I want to replace the current penning screen with **popTo**. But I can't find the full example of it.

[2018-11-10 07:13] amin3mej commented on #3316
Any update???

[2018-11-10 11:15] deepakaggarwal7 commented on #4293
Setting File > Project Settings > Build System to Legacy Build System, resolved for me. Also, I had 8081 used by some other service so I had to change the code to make it work on 8083 (this might not be a common issue)

[2018-11-10 13:55] ziyad2009 commented on #4302
i solve it
first flow  #3688 issues

make sure from u r AndroidManifest update (sdk vireson )

[2018-11-10 21:20] mohammadalijf opened #4307 "topBar noBorder with largeTitle makes navigationBar's backgroundColor black."
### Issue Description

when i set noBorder to true and set largeTitle, navigationBar background color changes to black.

### Steps to Reproduce / Code Snippets / Screenshots

![simulator screen shot - iphone xs max - 2018-11-11 at 00 41 19](https://user-images.githubusercontent.com/7884637/48306133-bc582000-e54b-11e8-85a6-1aeb2dd7ec32.png)

[code]

---
### Environment
* React Native Navigation ver

[2018-11-10 22:26] alshamynet opened #4308 "Installation problem"
Hi !
I do not speak English but I do translate in Google Translate.
When I install (React Navigation) the download reaches about 35% and is not complete then the error messages appear and I do not know what the problem is.
Do you help me with that? Here is the picture below in the link , sorry for the translation
Note that my OS is Windows 7   32 bit
Thank you
[https://goo.gl/mXtULP](url)

[2018-11-10 23:05] #4308 closed

[2018-11-11 13:10] kiroukou commented on #4294
Ok thank you.

[2018-11-11 15:10] rommyarb commented on #4087
Maybe bcoz react-native-navigation does not support RN 0.57 yet?

[2018-11-12 13:53] EgidioCaprino commented on #2448
Hi @James2516

Did you eventually fixed this? If yes, how?

[2018-11-12 13:57] EgidioCaprino commented on #1061
I have the `'React/RCTRootView.h' file not found` error. How did you fix that?

[2018-11-12 13:59] James2516 commented on #2448
Didn't manage to fix it, so ended up not using this library.

[2018-11-12 14:44] voidstarfire commented on #1991
FYI, if you're using Typescript it will actually tell you the options available..

[2018-11-12 17:47] Brianwebb22 commented on #3804
I manually implemented this change as a test and it worked for me. Thanks for sharing. Checking out patch-package now.

[2018-11-12 18:46] makirby commented on #3767
Wrapping the setStackroot calls in `InteractionManager.runAfterInteractions` calls, solved this for me.

[2018-11-12 20:01] zsajjad commented on #3767
@makirby can you please share a snippet for the solution?

[2018-11-12 21:09] makirby commented on #3767
Basically where we were making a `setStackRoot` call soon after another push in a modal stack, I would do something like this.

[code]

[2018-11-13 04:17] nikolas7892 opened #4313 "v2 documentation is down"
v2 documentation is down. All i get is a 404.
https://wix.github.io/react-native-navigation/v2/

[2018-11-13 04:46] leonardoanalista opened #4314 "Better documentation for supported versions of RN"
### Issue Description

This is one of the last steps in the docs:

[code]

[2018-11-13 05:48] 8BallBomBom commented on #4313
It was moved due to v2 becoming the default version now.
https://wix.github.io/react-native-navigation/

[2018-11-13 06:48] jsina opened #4315 "Tab Bar height issue on ios 12.1"
### Issue Description

After I've update my `iphone 6s` to `ios 12.1` I'm having an issue with my app tab bar height when I wanna get back to the main page. in fact everything is ok when app started but when I navigate to the any page with hidden tab bar and after that back again to the main page with the tab bar, as you could see on the picture, the tab tab height has a problem with its height.
a

[2018-11-13 06:57] tobias-leinss commented on #4134
I am on rnn 2.1.2 (if that is really the latest) and

layout: {
                backgroundColor: 'transparent' or the appropriate color
}
does it for me. Thanks @pribeh

[2018-11-13 07:16] VicFrolov commented on #760
@guyca Hey is there an example of using an await for a pop action?

[2018-11-13 07:40] henrikra commented on #4314
Agreed! It should be stated in first page of README which RN versions are supported. Wanna do PR for this?

[2018-11-13 07:46] tuannkop commented on #4313
i still using v1 but now i cant find v1 document . @8BallBomBom do u know where is it ?

[2018-11-13 09:12] djschilling opened #4316 "Grey shadow over search bar v2"
### Issue Description

Is use the native iOS Search bar provided by this lib like this:

[code]

This works great.

From there i navigate to one of the search results.

There i set some topBar options one of them is `noBorder: true`. When this is set on the page where i navigate to, when i go back to the search bar site, there is a grey shadow over the search input field.

When i don't set `noBord

[2018-11-13 10:43] leonardoanalista commented on #4314
Ok cool, it seems like we all agree here. I’ll do a pr tomorrow ok?

[2018-11-13 10:46] steve228uk commented on #3954
Apologies for the delay @guyca! I can confirm that this is indeed fixed on iOS. On Android when attempting to push a new screen it fails. I will attempt to provide an e2e.

[2018-11-13 10:52] EgidioCaprino opened #4318 "'React/RCTConvert.h' file not found"
### Issue Description
Can't build the project in XCode. We get the following error: `'React/RCTConvert.h' file not found`

![image](https://user-images.githubusercontent.com/5156120/48408710-48c83580-e73a-11e8-98e5-aec23cc6182a.png)

### Steps to Reproduce / Code Snippets / Screenshots

Install the dependencies listed below and follow `react-native-navigation` instructions for iOS. Then
[code]
Ope

[2018-11-13 11:29] davidwico commented on #4139
Any solution for this?

[2018-11-13 12:21] bdrobinson opened #4319 "Hiding bottomtabs leads to empty gap on Android"
### Issue Description

When I push a screen with `bottomTabs: { visible: false }`, the tab bar IS correctly hidden, but the rest of my app does not draw behind it, meaning my app displays a blank space where the tab bar used to be. I can work around it by explicitly setting `visible: false, drawBehind: true`. Is this an intentional change for v2?

### Steps to Reproduce / Code Snippets / Screensho