[2016-03-17 11:57] aarongreenwald opened #1 "Cannot build project if installed with npm2"
To reproduce:

- Clone the repository
- Navigate to `example`
- `npm install` using npm 2.x
- `react-native run-ios`

Build fails with error: `Cannot find RCCManager.h.`

Doing the same with npm 3.x works.

[2016-03-17 13:47] talkol commented on #1
We recommend using npm ver 3. If you're normally using npm 2 on your system and reluctant to upgrade, you can always install them [both side by side](https://www.npmjs.com/package/npm3).

[code]

The reason you're experiencing this issue is the location of `react-native-controllers` in node_modules (a dependency of `react-native-navigation`).

For the example project, under npm 3, the location is

[2016-03-17 13:47] #1 closed

[2016-03-19 10:50] smooJitter opened #3 "Leveraging Alternative Native Drawer Behaviors"
First, I'm a newbie to react-native and I know very little about native IOS and Android.  I've bee searching for an approach to handle navigation and routing for reach-native apps. I tried react-native-router-flux and I was satisfied. So far, I like my experience with react-native-navigation. For the most part, it's easy to reason about.  I started with react-native-controller but a few days ago,

[2016-03-19 15:55] smooJitter opened #4 "Styling Tabs"
How do you suggest we style the tabs?

[2016-03-19 19:14] talkol commented on #3
Interesting to check why react-native-controllers broke for you, because this package is also based on it. If I had to guess, you need to switch to react-native >= 0.19.0 and update dependencies with `npm update`. If this still doesn't work, I urge you to open an issue under react-native-controllers with details about the errors you're getting.

Re. your questions:

1. Ideally yes, we're working h

[2016-03-19 19:16] talkol commented on #4
This feature isn't supported yet. There's a related PR on react-native-controllers. As soon as it's merged we'll add this functionality here. Should be in a couple of days.

[2016-03-19 21:12] adamski opened #5 "Android roadmap / timeframe?"
Excited to discover this library, I've been trying out different navigation solutions and this seems like the one for me. I'm just wondering where you guys are at with the Android version. Is there an experimental branch you are working on. Any ideas of approach etc? Open to community involvement / PR's?

[2016-03-20 18:49] guyca commented on #5
@adamski Thanks for showing your interest in react-native-navigation! we're currently working on an Android adaption and are aiming to ship it early next week.
The API will be fairly similar to the current iOS API so migrating your code base should be smooth. We're always open for new ideas and PR's!

[2016-03-20 19:05] adamski commented on #5
Ok great thanks. Looking forward to checking it out.
I've tried NavigatorIOS (too limiting), then discovered Redux and React-Native-Router-Flux (great combo in the simulator but an iPhone 4S feels very laggy), so great to see a library supporting Redux and native controls.

[2016-03-24 18:13] smooJitter commented on #4
Thank you, I look forward to it.

[2016-03-25 21:41] adamski opened #7 "Request - Lightbox with props"
I would like to be able to call up a Lightbox, and pass it props and/or call it like other screens, `connect`ing it to part of the redux state .

[2016-03-25 21:58] talkol commented on #7
good point. we'll add the props. I also noticed that showLightBox isn't exposed directly in react-native-navigation at all, we'll fix this as well.

[2016-03-25 22:03] talkol commented on #4
Added.

https://github.com/wix/react-native-navigation#styling-the-tab-bar

[2016-03-25 22:03] #4 closed

[2016-03-25 23:31] smooJitter commented on #4
AWESOME

[2016-03-26 09:25] smooJitter opened #8 "Tab asp"

[2016-03-26 09:25] smooJitter opened #9 "Handling hybrid root apps (single / tab screen apps)"
Tab vs Single page App.  I'm considering an app that's both single  page (onboard login screen) and tab base.  I can't figure out how to structure this. It seems that I ha e to choose one or the other.  It doesn't appear that o could hide the tabbar

[2016-03-26 14:39] artald commented on #9
It's not a problem to have both.
When you start the app with either a single page or with tabs, you're actually setting this structure to be the root of the app.

Based on your app state, you can call `startSingleScreenApp` to show the login/onboard screen, and when you need to show the actual tab-based app - make a call to `startTabBasedApp` which will replace the whole root and show your app.

[2016-03-26 15:45] smooJitter commented on #9
I see, I notice the redux example captures the idea. I'll take a closer look at how the redux example works. I'm not familiar with redux. I was leaning toward an environment that does not rely on redux for state management.  I'll see what I can make out of dealing this hybrid root apps, particularly beyond redux. Thank you.

[2016-03-30 18:00] sandan10 commented on #5
Is there any updates on the Android-support? Looking forward to it!

[2016-03-30 22:16] aprct commented on #5
+1

[2016-03-31 08:52] bosung90 commented on #5
+1 any news for Android?

[2016-03-31 08:55] webzepter commented on #5
It is the best React Native navigation library, ever! We need Android version too! :ghost:

[2016-03-31 08:58] alexeypodolian commented on #5
Great navigation library! We do really need Android version :)

[2016-03-31 08:58] joakimbugge commented on #5
+1 We need this.

[2016-03-31 08:59] andreasbhansen commented on #5
This will definitely replace our current navigation library! Android support +1.

[2016-03-31 09:00] AndrewPetrus commented on #5
Great for iOS navigation! Looking forward for Android implementation))

[2016-04-01 09:46] #8 closed

[2016-04-01 10:48] talkol commented on #7
Added https://github.com/wix/react-native-navigation/commit/fdf215fd143a362b085d0089b025ffe68db4ad03

[2016-04-01 10:48] #7 closed

[2016-04-01 10:58] talkol commented on #9
It's actually very easy to implement without redux. On your app launch, usually in `src/app.js`, you're probably calling:
[code]

Whenever you want to switch structure, you can simply call `startApp` again and the structure will be changed in runtime. So, for example, let's assume you have a logout button somewhere that should switch the app state back to single screen for login, you'll do:

[code

[2016-04-01 10:58] adamski commented on #7
Thanks

[2016-04-01 11:00] talkol commented on #9
@smooJitter I'm closing this, if you don't manage to get this working please reopen

[2016-04-01 11:00] #9 closed

[2016-04-02 07:39] bosung90 commented on #5
@guyca Great work and thank you for contributing to the community. You mentioned 2 weeks ago that Android solution is coming soon but haven't heard from you since. I am not trying to rush you guys or anything but would really appreciate if you can update us on any timeline/news. Thank you and keep up the work!

[2016-04-02 09:36] guyca commented on #5
Hey guys. Sorry for the long silence. we're still working on the Android adaptation. I had hoped it would've been ready by now but we've encountered a few issues with the first approach we took, so we had to go back to the drawing board and rethink our Android implementation.

While we are fully committed to this project, we're still mostly working on it in our spare time.
I'll post updates in thi

[2016-04-02 12:03] adamski commented on #5
Thanks for the update. I'm sure there are people in the community that would be keen to contribute too (myself included). I wonder if its worth making a pre-release branch once you're happy with the direction. It might also be beneficial to open a discussion about the general approach here.

[2016-04-02 17:53] iwater opened #10 "How to get Value from a ModalScreen without put it into redux state tree"
I want pick date from DatePicker using ModalScreen, the passProps only can transport serializable values, can't use a callback function, because it's a temp value, it's there any way to get value back from ModalScreen without put it into redux state tree when using react-native-navigation

[2016-04-03 06:42] guyca commented on #5
@adamski That'a a great idea. Glad to have you on board with us.

[2016-04-04 22:59] AkaOne commented on #5
You guys are doing an amazing job, can't wait  for the Android version
+1

[2016-04-06 07:22] guyca commented on #5
Hey guys

I pushed the [Android implementation branch|https://github.com/wix/react-native-navigation/commits/Android_implementation]. You’re welcome to take a look and give feedback.
The approach we took is pretty simple; Instead of exposing [native UI components|https://facebook.github.io/react-native/docs/native-components-android.html#content] to JS, We’re creating the entire navigation stack n

[2016-04-06 13:59] Lichwa opened #11 "Android support"
Hello, is there any info about Android support progress?

[2016-04-06 14:23] guyca commented on #11
@Lichwa I've posted an update at #5

[2016-04-06 14:24] #11 closed

[2016-04-08 15:49] talkol commented on #10
See this related issue:
https://github.com/wix/react-native-controllers/issues/13

Please go over the solutions proposed there and participate in the discussion of how this issue should be addressed

[2016-04-09 03:15] alidawud opened #12 "Back button event"
Could you please add a callback event when back to main screen? thank you.

[2016-04-12 03:38] adzymaniac opened #14 "Image - White flickering when changing screen"
Hi,

I own some screens with Image as a full background, i have flickering moment when the navigator push another screen. I'm new with react-native (6 days), i don't recognize this issue is related to this library or react-native instead.

I realize the Image component needed some of time to load my image raw. Any advice for me? i have idea for giving the Image a fade-in animation, after they load

[2016-04-13 20:54] sandan10 commented on #5
Just a question, is the Android_implementation-branch supposed to work for us now?
I downloaded the project and tried running the example-redux (and the example, and trying to implement it in my app) but I got this error when running `react-native run-android`:

`Execution failed for task ':react-native-navigation:bundleLibraryReleaseJsAndAssets'.`

Google tells me there is a bunch of people getti

[2016-04-13 21:16] adamski commented on #5
Just a heads up, after reading up on the subject of tab bar style in Android vs iOS I discovered that Google have just recently updated their [guidelines](https://www.google.com/design/spec/components/bottom-navigation.html#) to support iOS style bottom tab navigation. Seems like there is not an official API yet but a couple of components / examples on Github (see https://groups.google.com/forum/#

[2016-04-13 22:16] smooJitter opened #15 "[Resolved] AppRegistry.registerComponent..."
I looking at the latest example app (master).  I notice a few thing that may or may not be related.

1. There's no AppRegistry.registerComponent...  in the index.ios.js file.
2. The import App from './src/app'; in the index.ios.js file references app but inside app.js there's no default export.
3.  Running the simulation leads me to a blank screen in the simulator.

Again, I am not sure if the bla

[2016-04-13 22:34] wgormley opened #16 "Callback on switching tabs"
is there anyway to know when a tab has become the active tab, or a way to set a callback on tab presses/changes?

[2016-04-14 08:43] edvinasbartkus opened #17 "Overlay objects over navigation bar"
Projects like [KBLNY/react-native-message-bar](https://github.com/KBLNY/react-native-message-bar) or [brentvatne/react-native-overlay](https://github.com/brentvatne/react-native-overlay) provide functionality to show message bar on top of navigation bar. However, with react-native-navigation there is no possibility to place any objects outside navigation screen.

Maybe just as there are `modal` an

[2016-04-14 10:39] smooJitter opened #18 "Local image resources"
What challenges should I expect if I wanted to use fonts from packages like this.?

https://github.com/oblador/react-native-vector-icons.

[2016-04-14 15:01] guyca commented on #5
@adamski We've been working on a "ScreenStack" ViewGroup implementation. So calling `Navigator.push` will display your react screen inside a tab (You'll be able to push screens into other tabs as well, not only to the active tab). You'll also be able to display multiple screens inside the same tab. All of this is done in preparation for the newly introduced bottom bar.

@sandan10
The Android_Imple

[2016-04-14 16:09] andreasbhansen commented on #5
@guyca, following your previous instructions for the ```Android_implementation``` branch, the output I get when trying to ```$ react-native run-android``` inside the ```example-redux``` project is:

[code]

Am I doing something completely wrong?

[2016-04-14 19:28] guyca commented on #5
You're right, `react-native run-android` is not working properly ATM.
After `react-native run-android` fails, open the `example-redux` project in Android Studio and build+run it from there.

[2016-04-14 21:12] smooJitter commented on #3
Hi @talkol, I noticed react-native control now allows for a range of drawer options. I'm playing around with the latest react-native-navigation, if I upgrad to the new controller, will these options be exposed or do I need to make other adjustments?

[2016-04-14 21:26] talkol commented on #3
not yet supported there, we're still in the middle of a merge :)

On Fri, Apr 15, 2016 at 12:12 AM, smooJitter <notifications@github.com>
wrote:

[2016-04-15 04:41] AkaOne commented on #5
@guyca It will be good to make a list of all not implemented method for android, just so we know those we can use at current time...

[2016-04-15 12:22] sandan10 commented on #5
@guyca
Thanks, running with Android Studio now works (I tried it several commits ago but it didn't work).
Do you have any idea why `run-android` fails? Or if it's related to this library at all?

[2016-04-15 12:40] guyca commented on #5
@sandan10 I just pushed ae2430a052bbb7fb1f7423f573daa7d6e7bd3a85 which should fix `react-native run-android`

It was a mistake on my end, the standard `react.gradle` script was executed in navigation's gradle script. This isn't needed and broke the command.

[2016-04-15 12:58] andreasbhansen commented on #5
Marvellous! Works great 😄

[2016-04-15 15:46] guyca commented on #5
@AkaOne I'll add this functionality soon

[2016-04-17 21:24] adamski opened #19 "Root view push tabbed view (Android)"
I'm looking to implement a structure where the root view consists of a list and upon selecting an item a tab based view is pushed. Will this be possible/supported in Android? I'm planning to make a PR for react-native-controllers to implement this for iOS.

EDIT: I think I might be able to achieve this by switching root with a suitable animation.

[2016-04-18 06:24] guyca commented on #19
You can call `Navigation.startSingleScreenApp` to display the screen with the ListVIew. When a list view item is clicked, you can use `this.props.navigator.push` to display a screen over that list (clicking back button will go back to the list screen). In the screen you've just pushed, maybe you can use a project like [https://github.com/brentvatne/react-native-scrollable-tab-view](react-native-sc

[2016-04-18 13:20] adamski commented on #19
Yes - that is a route I had considered, which will work well unless I need to have a separate ViewController / ScreenStack for one or more of the tabs. I think I will do it this way for now. https://github.com/alinz/react-native-tabbar looks like a good RN tab solution.

[2016-04-18 13:36] guyca commented on #19
Nice. Please let me know if you encounter any issues with this approach

[2016-04-18 13:36] #19 closed

[2016-04-21 13:48] wgormley commented on #14
i am having this same issue but without full size images. i have a dark background and if i disable the animation i get a brief flicker of a white background.

[2016-04-28 12:47] smooJitter commented on #3
Just wondering, I read something about rewriting the how the navigation controller stack is managed.  I also read something about building on top of NevigationExperimental. Are you talking about one these when you write "merge"?

[2016-04-28 21:38] adamski opened #20 "Android Tab Bar"
Are there plans to create an Android Tab Bar (as opposed to the Toolbar + View Pager) - i.e. icon tabs at the bottom of the screen (as per [new Android guidelines](https://www.google.com/design/spec/components/bottom-navigation.html#))?

[2016-04-30 18:55] chrissm79 opened #21 "Transparent Nav Bar"
I'm having an issue trying to create a completely transparent navigation bar ([something like this](https://dribbble.com/shots/2178004-Purchase-Classes/attachments/401177)). I attempted the styles below, but the background comes out looking almost black. Is there something wrong with my styles?

[code]

[2016-05-01 08:33] aarongreenwald opened #22 "setButtons should only set buttons on the calling screen"
If I call `setButtons` from a screen and then the screen is immediately popped, or call `setButtons` before the screen is finished pushing, the buttons are set on the top-most screen in the navigator, not the calling screen.

[2016-05-01 13:34] guyca commented on #20
Of course. This design pattern is also very common in iOS. We'll probably use https://github.com/roughike/BottomBar which I believe you posted here a few weeks ago.

[2016-05-01 13:36] #15 closed

[2016-05-01 20:21] smooJitter opened #23 "Questions regarding data loading and state management."
I absolutely adore working with this navigation system. In the beginning, I was most excited about react-native-navigation, particularly the possibility for different drawer variations.  Seeing how react-native-controllers now supports this feature, I look forward to it becoming  available via react-native-navigation.  Nevertheless, the more I fiddle arround with this system, the more I appreciate

[2016-05-03 13:58] jcihocki opened #24 "Side drawer neither inheriting current screen's navigatorStyle props nor reading its own."
[code]

I think it would be sensible for drawer to specify its own navigatorStyle so it looks consistent no matter where it was opened from. What do you think?

[2016-05-05 10:36] peterlazar1993 commented on #5
@guyca Any timeline for android release? I understand that the example works but what's preventing Android_implementation from being merged into master.

[2016-05-08 08:52] guyca commented on #5
@peterlazar1993 actually version 2.0.3 already includes android support, though not all features available in iOS have yet been implemented in Android.

**Available features:**
* Single screen activity
* Tab activity
* Modals
* Styles

**Style options:**
* `statusBarColor`
* `toolBarColor`
* `navigationBarColor`
* `buttonsTint` - toolbar buttons tint
* `titleColor`
* `tabSelectedTextColor`
* `tabN

[2016-05-10 06:23] tanguyantoine commented on #20
It seems that bottombar create an IOs like tabbar but google recommande this : https://www.google.com/design/spec/components/tabs.html#tabs-usage

[2016-05-10 19:42] adamski commented on #20
https://www.google.com/design/spec/components/bottom-navigation.html

[2016-05-10 21:31] tanguyantoine commented on #20
it works too :) and this is semantically better

[2016-05-10 21:36] smooJitter commented on #20
@guyca right now, the standard seems to support the material specs.  I like your example because it as just enough to spice up native standards.  I can't wait to see it.  I working on a project with at least 60 screen views. I'll get a chance to see how well the many RCTViews hold up.  By the way are there still plans to expose drawer animations?

[2016-05-14 12:19] pvlvsk opened #25 "Redux example doesn't work"
Hello,

i cloned the example Folder, run npm install, and run this in Xcode, the result ist only a black screen in the simulator...

[2016-05-14 15:13] pvlvsk commented on #25
I checked the regular example without redux and it's also not working for me. I get only a black screen in the simulater after the app initializes. I'm using npm 3.6.0

[2016-05-14 15:15] #25 closed

[2016-05-14 16:37] smooJitter opened #26 "navBarHidden"
navBarHidden doesn't seem to work, at least not withe @latest.

[2016-05-14 16:45] smooJitter commented on #26
Actually it works fine we passed via the navigationStyle object, it doesn't work as a screen prop.

[2016-05-14 16:51] smooJitter commented on #25
That's odd. It works fine for me.

[2016-05-14 23:19] pvlvsk commented on #23
Thats my question too, I'm switching to this project from NavigatorIOS and that was a bit strange to see all my components load at start at the same time. Is there a workaround to prevent this?

[2016-05-15 07:41] pvlvsk commented on #18
Hello smooJitter,

have you managed to use vector icons with this navigator?

[2016-05-15 10:47] talkol commented on #26
The 3 supported ways to pass styles to screens are:

* static navigatorStyle object when the Component is defined
[code]

* when pushing a screen, as the navigatorStyle param dureing the push()
[code]

* as the navigatorStyle parameter when calling startSingleScreenApp
[code]

When you say it doesn't work as a screen prop, what do you mean? which option isn't working?

[2016-05-15 12:53] smooJitter commented on #18
Yes, something like this should work.

` class ColoredView extends Component {
  componentWillMount() {
    Icon.getImageSource('md-arrow-back', 30).then((source) => this.setState({ backIcon: source }));
  }
  _navigateToSubview() {
    this.props.navigator.push({
      component: ColoredView,
      title: this.props.pageText,
      **leftButtonIcon: this.state.backIcon,**
      onLeftButtonPress:

[2016-05-15 13:05] smooJitter commented on #26
I misread the API

[2016-05-15 13:25] talkol commented on #26
oh, cool :)

[2016-05-15 13:25] #26 closed

[2016-05-15 20:59] ZoharLiran opened #27 "Setup issue"
Hi guys,
First of all thank you for developing what seems to be an awesome tool.
I am having trouble starting it up since once I follow the instructions on your site the simulator won't start the app and just shows a black screen.
you can see it in the following repo:
https://github.com/ZoharLiran/ReactTodo/commits/master

the last commit is the one with the changes in the instructions. if you che

[2016-05-16 10:17] madvas commented on #27
I also get an error `RCTLog.js:38 Unbalanced calls start/end for tag 13`

[2016-05-16 10:20] pvlvsk commented on #18
Thank you!

[2016-05-16 10:39] pvlvsk opened #28 "navBarHideOnScroll and statusBarHideWithNavBar"
Hello,

when i use both properties together there's no animation on hiding the both components, when using in a ListView, they just disappear. When I scroll back, the navBar and and the StatusBar are returning with an animation correctly. Is this a bug or have i made a mistake?

I'm using the GiftedListView package and I also set "View controller-based status bar appearance" to YES in info.plist t

[2016-05-16 10:48] pvlvsk opened #29 "Is there a way to make the TabBar solid?"
In TabBarIOS I had the choice to set the TabBar **translucent:false**. Is there a way with react-native-navigation to accomplish this?

Thank you!

[2016-05-16 10:57] pvlvsk opened #30 "Black BG after LaunchScreen"
Hello,

on your examples the LaunchScreen fades to black before the app initializes. How one would accomplish a white BG so there is no transition to black and back to white app interface?

Thank you

[2016-05-16 19:59] webzepter opened #31 "Android example does not work with RN 0.25"
I try to run `example-redux` example on Android using latest RN (0.25.1). But an error occurs during start:
[code]
Using RN 0.21 application starts without crash.

[2016-05-17 07:04] guyca commented on #31
@webzepter thanks for reporting this. Will publish a version supporting RN 0.25 on Thursday or Sunday next week.

[2016-05-17 11:18] alexeypodolian commented on #31
Also have the same issue.

[2016-05-17 15:46] madvas opened #32 "Re-render on default back button press"
When default back button is pressed, no re-render of screen I returned to, or `setOnNavigatorEvent` is fired. How can I get some callback/re-render after pressing this?

![snap 2016-05-17 at 17 43 13 285x500](https://cloud.githubusercontent.com/assets/3857155/15328964/485f80cc-1c57-11e6-9619-6b8da40b005e.png)

[2016-05-19 10:22] talkol commented on #30
This is an issue with the dependency `react-native-controllers`
It was solved there 2 days ago with this [commit](https://github.com/wix/react-native-controllers/commit/eadf2978784d630eff2a0c868eb913558c88a90e)
Long story short, delete node_modules, reinstall and this should be fixed

[2016-05-19 10:22] #30 closed

[2016-05-20 15:21] guyca commented on #31
Fixed in version 1.0.1.

[2016-05-20 15:22] #31 closed

[2016-05-20 15:37] guyca commented on #29
In your screen component, define a static `navigatorStyle` object like this:

[code]

For more examples, refer to the [docs](https://github.com/wix/react-native-navigation#style-object-format)

[2016-05-20 15:37] #29 closed

[2016-05-20 15:51] guyca commented on #27
Are you still getting this error? We've updated the library to use react-native v0.25.1. Can you check again using v1.0.1?
Thanks

[2016-05-20 16:09] guyca commented on #21
@chrissm79 Sorry for the late reply, Is this issue still relevant?

[2016-05-20 16:19] chrissm79 commented on #21
No worries, I'm sure you guys are busy! I actually just checked this out this morning with the app in the example folder. Looks like it's still an issue. I used the following navigatorStyle options on the [StyledScreen](https://github.com/wix/react-native-navigation/blob/master/example/src/screens/StyledScreen.js):

[code]

[code]

[2016-05-21 01:31] folivi commented on #1
Hi all
I'm having this issue. Is it related?

2016-05-21 03:27:49.090 [fatal][tid:com.facebook.react.RCTExceptionsManagerQueue] Unhandled JS Exception: undefined is not an object (evaluating 'RCCManager.setRootController')

my npm version: 3.5.3

[2016-05-21 15:13] gilra2000 commented on #5
Android  react-native run-android error...

3 errors
:react-native-navigation:compileLibraryDebugJavaWithJavac FAILED

FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':react-native-navigation:compileLibraryDebugJavaWithJavac'.

[2016-05-21 15:26] guyca commented on #5
@gilra2000 Can you please open a separate issue for this? Thanks.

[2016-05-21 15:38] gilra2000 commented on #5
:react-native-navigation:compileLibraryDebugJavaWithJavac
/Users/gilra2000/react-native-navigation-master 3/example-redux/node_modules/react-native-navigation/android/app/src/main/java/com/reactnativenavigation/activities/BaseReactActivity.java:187: error: cannot find symbol
            mReactInstanceManager.onResume(this, this);
                                 ^
  symbol:   method onResume(BaseR

[2016-05-22 06:02] guyca commented on #5
@gilra2000 This should've been fixed in version 1.0.1. What version do you have?

[2016-05-23 03:45] kenfehling opened #35 "How does example-redux get away with not calling AppRegistry.registerComponent?"
I've tried integrating the steps to set up navigation using Redux, but I get this error:

`AwesomeProject has not been registered. This is either due to a require() error during initialization or failure to call AppRegistry.registerComponent.`

However example-redux runs fine so I'm missing something obviously, but I can't seem to see what. The only way I can get mine running is if I give one of m

[2016-05-23 03:58] smooJitter commented on #35
Lol.  Can you post more of the code?

[2016-05-24 08:41] gilra2000 opened #36 "ios splash screen.."
How to apply splash screen?

[2016-05-25 09:08] agumack opened #37 "Push a new screen from side menu?"
On SideMenu.js (Folder example) I tried change deepLink to push, but it don't working?
I have many categories on SideMenu and want when Press will push a new screen. How do create?
Thank you!

[code]

[2016-05-26 06:46] ninjz opened #38 "Rerendering on tab change"
It seems to me that every time i switch tabs, every element in my component gets re-rendered. I notice this because i can see the images loading sequentially after switching to a tab, and instead of it being instant.

Is this the expected behaviour? I am using redux so that could be possibly a reason this may be happening - though I just migrated from react-native-flux-router and did not experienc

[2016-05-26 07:33] madvas opened #39 "componentWillUnmount is never called for modals"
I simply added those lines to https://github.com/wix/react-native-navigation/blob/master/example/src/screens/ModalScreen.js

[code]

`componentWillMount` is called everytime modal is shown. But `componentWillUnmount` isn't called when modal is dismissed.

[2016-05-26 13:46] maxs15 commented on #14
Same issue here, @guyca any idea about a fix ?
I see two possible solutions:
1/ We could define a backgroundColor in the navigatorStyles ?
2/ Prerender the view before it's pushed ?

[2016-05-26 14:52] maxs15 opened #40 "Topbar image"
Is there any way of rendering an image instead of a title in the topbar ? (To display the app icon)

Thanks

[2016-05-26 15:30] artald commented on #40
when pushing a screen, you can specify a `titleImage`:

[code]

[2016-05-26 15:45] maxs15 commented on #40
Awesome ! Didn't find this prop in the docs

[2016-05-26 15:53] artald commented on #40
added to the docs, thanks!

[2016-05-26 15:53] #40 closed

[2016-05-26 18:17] ninjz commented on #14
Is this somehow related to this issue #38  i'm having?

[2016-05-26 20:43] madvas opened #42 "Navigation renders incorrectly on orientation change"
When navigation has `navBarBlur: true` and first orientation is vertical and then change it horizontal, you get this:

![img_0030](https://cloud.githubusercontent.com/assets/3857155/15589436/29f6b798-2393-11e6-81bc-efe544c47a20.jpg)

[2016-05-27 07:16] IlyasM commented on #37
+1

[2016-05-27 14:45] maxs15 commented on #14
Could be yes, @artald @guyca are you aware of this issue ?
It is currently the only thing preventing me from being able to use this awesome component

[2016-05-27 17:59] madvas commented on #42
same goes for lightbox

[2016-05-29 00:13] kenfehling commented on #35
Sure, I've created a project which gets this error. It's based off the original Redux example. https://github.com/kenfehling/ReactNativeNavigationTest

[2016-05-29 00:30] kenfehling commented on #35
Ohh nevermind, I had to run

and make the changes to AppDelegate.m

[2016-05-29 05:36] #35 closed

[2016-05-29 07:42] artald commented on #36
@gilra2000 what kind of splash screen are you talking about?

Currently we support showing the launch image as a splash until the first root controller is set. This happens automatically if you have either a Default image, a xcassets launch image or a launch storyboard screen.

[2016-05-29 09:29] agumack opened #43 "NavigatorButtons icon use react-native-icons?"
Hi, i am using react-native-icons: https://github.com/oblador/react-native-vector-icons

How do use vector-icon for button. I tried but not working (no bug)

[code]

Thank you so much!

[2016-05-29 11:58] gran33 commented on #21
Hi @chrissm79,
I added ```navBarTransparent: true/false(default)``` option.
Best way yo use it:
[code]

Please, update to latest version and enjoy :)

[2016-05-30 08:28] AlaaAttya opened #44 "Show the "startSingleScreenApp" inside a specific page"
Hi guys,

I need to show up the navigation drawer only in a single specific page inside the app. I've a splash screen then a signup page then the home page. I've initialised the "startSingleScreenApp" object inside the HomeComponent only but it's showing in all the screens. How could i do that?

[2016-05-30 13:08] guyca commented on #44
tl;dr: You need to call `startSingleScreenApp` twice - and define the drawer component only the second time.

The idea is, you call `startSingleScreenApp` the first time and show your splash screen and signup page. After a user has signed up - call `startSingleScreenApp` again and show your "HomeComponent"

[2016-05-30 13:26] AlaaAttya commented on #44
@guyca i did so but the gesture is working for all the pages. meaning that, when the user swipes from left to right in any page it shows the left menu. how can i stop it?

[2016-05-30 13:36] guyca commented on #44
adding @gran33

[2016-05-30 14:00] guyca commented on #38
Did you notice this behaviour in Android or iOS?

[2016-05-30 14:18] guyca commented on #14
Hey guys. Are you experiencing these issues in Android or iOS?
Could one of you please provide us a sample project where this issue is recreated?

[2016-05-30 16:00] ninjz commented on #38
@guyca on IOS i have not tested this on android yet

[2016-05-31 09:32] yedidyak commented on #20
#45 addresses this.

![screen](https://cloud.githubusercontent.com/assets/8819594/15669984/b37e44a4-272b-11e6-88fc-a01c10ebd56e.png)

[2016-05-31 10:45] guyca commented on #20
Thanks @yedidyak. So BottomNavigation was just added in version 1.0.5. We've decided to use [ahbottomnavigation](https://github.com/aurelhubert/ahbottomnavigation/issues). The author is very responsive and it seems to have significantly less issues compared to [BottomBar](https://github.com/roughike/BottomBar).

The new BottomBar replaces the TabLayout used as navigation. We'll probably reimplemen

[2016-05-31 10:45] #20 closed

[2016-05-31 14:09] alexeypodolian commented on #39
Faced with this issue too.

[2016-05-31 14:10] webzepter commented on #39
Also bumped into this issue.

[2016-05-31 14:43] willks commented on #43
I did it, but it's not pretty:

Just do something like this:

var **settingsIcon**;

`Icon.getImageSource('ios-settings', 30, '#F5002A').then((source) => { **settingsIcon** = source});`

Then in your tab or whatever:

[code]

Keep in mind that they are loaded async, so you'll need to handle that. Also, the colours of the icons won't matter as they are controlled by the tab selection colours etc. A

[2016-05-31 14:53] maxs15 commented on #14
Hey, I finally found the issue on my side.
I was using ``TouchableHighlight`` to handle the click where I was pushing my new view and this was the cause of my animation issue !
Pretty weird.. hope it'll maybe help some people

[2016-05-31 17:54] maxs15 opened #47 "Navbar title click event"
Hi,

Is there any configuration available to catch a click on the title (using titleImage) ?
I didn't find anything in the docs related to this event :)

Thanks

[2016-05-31 19:08] Vani-gurnani opened #48 "NavigationExperimental ?"
Any plans to use this library with React-Native's NavigationExperimental so Android and IOS both can work?

[2016-06-01 00:52] folivi opened #49 "Set to default type=MMdrawer animationType=slide"
Hi all,
anyone has figured out how to get rid of this message when opening sidemenu?
Cheers

[2016-06-02 06:42] MattDavies commented on #48
See https://github.com/wix/react-native-navigation/issues/5#issuecomment-217704276, there is work in progress to support Android natively.

[2016-06-02 14:12] gran33 commented on #49
Hi @folivi (and @madvas),
This warning msg is there just to let u know, that the default values has been set.
If u would like to disappear the waning, simple set values.

To keep the default values, set it to:
[code]

[2016-06-02 14:12] #49 closed

[2016-06-02 15:11] folivi commented on #49
thanks for the reply, but in case of a TabBasedApp where to set those values?
thx again

[2016-06-02 15:42] gran33 commented on #47
@maxs15, Work in progress

[2016-06-02 15:45] maxs15 commented on #47
Awesome @gran33 :)

[2016-06-03 08:01] webzepter commented on #38
@guyca I notice this issue on iOS. After switching tabs using `switchTo` the React Native view re-renders. JavaScript component does not re-render, but native view does.

[2016-06-03 08:11] alexeypodolian commented on #38
@guyca I also noticed this issue on iOS. On Android it works well.

[2016-06-03 09:38] guyca commented on #48
As @MattDavies mentioned, we already support Android. You can refer to the link in Matt's comment for installation instructions. We will update the docs soon since the Android version has reached feature parity with the iOS version.

[2016-06-03 09:38] #48 closed

[2016-06-04 08:46] agumack opened #53 "Use resetTo with titleImage not working"
Test on IOS:
It working fine with navigator.push but fail with resetTo

[code]

![screen shot 2016-06-04 at 3 45 45 pm](https://cloud.githubusercontent.com/assets/19372005/15798690/6d8b3c3e-2a6b-11e6-805f-fd6bec7b0fe9.png)

[2016-06-04 09:34] MichaelSavin opened #54 "Is it compatible with RN 0.27-rc?"
Some breaking changes are coming: https://github.com/facebook/react-native/releases/tag/v0.27.0-rc

[2016-06-04 13:12] MattDavies commented on #54
Hey @MichaelSavin,

I'm running against the 0.27-rc without any obvious issues. The breaking changes there are around `NavigationExperimental` which this library completely replaces anyway.

[2016-06-04 14:57] guyca commented on #54
Internally at Wix, We're working with RN 0.25.1 - so we haven't tested the library with RN 0.27 yet.

[2016-06-04 14:58] #54 closed

[2016-06-04 20:18] gran33 commented on #49
@folivi I pushed a change, so u can now remove the warn and set (for the default drawer animation type):
inside your
[code]
U can have many animation types (took from [react-native-controllers](https://github.com/wix/react-native-controllers#drawercontrollerios)):

[2016-06-05 12:31] folivi commented on #49
Great!
Thanks a lot.
[code]

[2016-06-05 12:32] gran33 commented on #49
👍

[2016-06-05 14:42] folivi commented on #43
hi,
have you succeeded?

I'm trying to use vector-icons for my tab icons like this:

[code]
and in my tabs
[code]
I get no error but the icon doesn't show
any idea?

[2016-06-05 14:46] agumack commented on #43
you need sure use it then callback

Ex:
[code]

[2016-06-05 19:37] pvlvsk opened #55 "startSingleScreenApp (or show Modal) on TabBar Icon Press"
Hello,

how i would manage to push a single Screen, when i tap an Icon in a TabBarBasedApp? For example in the Instagram app you tap on the camera in the tab bar and the whole view slides down to reveal the photo library, a custom screen without tabbar.. I would like to mimic this behavior...

Thank you!

[2016-06-05 19:50] pvlvsk commented on #16
+1

[2016-06-06 02:31] willks commented on #43
I can verify that with these combinations, it's all working. I particularly liked the "componentDidMount" approach.

Maybe we can close this now?

[2016-06-06 04:13] agumack commented on #43
yep, it's working.

[2016-06-06 04:14] folivi commented on #43
This solution works great when you're inside a component but doesn't work in the application start file.
In my tabBased app I had to download some icons locally. Not really conveniant but I haven't found other ways to use vector-icons directly

[2016-06-06 04:26] agumack commented on #43
@folivi you can start a "Launch screen"
more: https://github.com/wix/react-native-navigation/issues/44

[2016-06-06 05:58] willks commented on #43
@folivi

I did it kind of like this:

[code]

[2016-06-06 07:17] folivi commented on #43
@willks thanks for your time
Following your snippet above I wrote this:

[code]
[code]
but I get this error:
`app.js: Unexpected token (19:12)`

[2016-06-06 09:16] willks commented on #43
@folivi I'm using redux so maybe I overcomplicated your scenario. Ok I tested this out and got the tabs rendering - using a promise.all to slightly simplify things:

app.js
[code]

Please adapt to your scenario

[2016-06-06 14:13] agumack opened #56 "Android run error"
Please help me :(

How add RnnPackage

![screen shot 2016-06-06 at 9 08 36 pm](https://cloud.githubusercontent.com/assets/19372005/15824841/5cfde184-2c2b-11e6-9b7f-6136c41af642.png)
![screen shot 2016-06-06 at 9 11 05 pm](https://cloud.githubusercontent.com/assets/19372005/15824842/5d0351f0-2c2b-11e6-861a-5661e4a4a462.png)
![screen shot 2016-06-06 at 9 11 28 pm](https://cloud.githubusercontent.com

[2016-06-06 14:27] smooJitter commented on #43
What impact does the promise have.

[2016-06-06 15:10] SimchaShats commented on #56
You need to add import:
import com.reactnativenavigation.packages.RnnPackage;

[2016-06-06 16:43] agumack commented on #56
thanks @SimchaShats
I have add import com.reactnativenavigation.packages.RnnPackage;

run no bug but not start app,

message when run on android:

`Application has not been registered. This is either due to a require() error during initialization or failure to call AppRegistry.registerComponent....`

[2016-06-06 18:10] explorigin commented on #56
Read this comment and the following: https://github.com/wix/react-native-navigation/issues/5#issuecomment-217704276

[2016-06-06 21:13] vonovak commented on #5
hello :)
just wanted to ask - do you have an estimate of when Android support will be ready to ship?
Can I, with the current version, specify navbar buttons?
thank you

[2016-06-06 22:41] willks commented on #43
@smooJitter It blocks the startApp until all icons are resolved. This is not a perfect scenario but it beats generating manual PNG's and manually resizing them.

[2016-06-07 04:07] smooJitter commented on #43
Sweet!

[2016-06-07 04:09] agumack commented on #56
I tried #5 but not working.
:(
`Application has not been registered. This is either due to a require() error during initialization or failure to call AppRegistry.registerComponent....`

[2016-06-07 07:40] agumack opened #57 "How style rightButtons leftButtons"
How i can custom left, right button style? ex: margin

Thank you!

[2016-06-07 11:36] ethanshar opened #58 "navigation buttons tint color"
allow controlling icons and text buttons tint color, and allow to remove tint (for icons buttons).

[2016-06-07 14:12] willks commented on #43
@agumack Did you get it working? If so, maybe we can resolve this one?  If not, just message me.
Thanks

[2016-06-07 14:15] willks commented on #58
@ethanshar Does this also include colours for buttons with "disabled" state? Mine default to "gray" when in disabled state, and I need to have them in a shade lighter. I can do a pull request to address the disabled state buttons, after I clean up the ObjC (I'm not an ObjC nor Swift Dev so code will look green)

[2016-06-08 15:47] byondrealdev opened #59 "Redux example not working"
This is what I get in xcode console:

[code]

And simulator looks like this:

![screen shot 2016-06-08 at 8 46 52 am](https://cloud.githubusercontent.com/assets/11583673/15900792/9b428870-2d55-11e6-8777-21fb221e56ec.png)

[2016-06-09 15:57] Andreyco commented on #59
Are you sure? It works pretty good over here... iOS and Android as well

[2016-06-09 16:25] Andreyco commented on #58
I did this by setting tint color app wide in AppDelegate.m

[2016-06-10 03:08] maxs15 commented on #47
Any update on this ? Can't wait to implement my new feature hehe :D

[2016-06-10 04:43] guyca commented on #58
@gran33 This is supported on Android by setting these in `navigatorStyle`
[code]

[2016-06-10 04:56] guyca commented on #55
You can check out  `example-redux` sample project. In [FirstTabScreen](https://github.com/wix/react-native-navigation/blob/master/example-redux/src/screens/FirstTabScreen.js) we first defines `navigatorButtons`, Where each button has an id. Then in `onNavigatorEvent` we handled the button clicks.

To Push a screen, refer to (onPushPress)[https://github.com/wix/react-native-navigation/blob/master/e

[2016-06-10 12:11] pvlvsk commented on #55
This would be a push within the navigator with navigator buttons... How that would be working for a tab bar press?

[2016-06-10 17:54] maxs15 commented on #12
I would also need this event, maybe already implemented but not in the docs ?

[2016-06-10 21:57] maxs15 commented on #39
+1 Same for the pushed screens

[2016-06-11 00:45] alidawud commented on #12
I did one, I can send to u if u need

[2016-06-11 22:30] adamski opened #62 "push screen right after Navigation.startSingleScreenApp"
I'd like to restore my app's state from persisted redux store. My current approach would be to do it right after Navigation.startSingleScreenApp e.g.:
[code]
But of course that doesn't work... is there a way to do this, am I on the right track, or is it not possible this way?

I have two motivations for this:

1. For testing - so I land on the right screen each time I restart the app, e.g. for inc

[2016-06-12 08:11] agumack commented on #43
@willks you can close this now, thank you!

[2016-06-12 09:12] adamski opened #63 "passProps dispatch to lightBox - is this possible?"
The code below results in the error: **_this2.props.dispatch is not a function**.

The console output reads:
[code]

[code]

[2016-06-12 09:42] holoto opened #64 "react-native run-android error"
# react-native run-android error
[code]

[2016-06-12 09:47] holoto commented on #64
# android/build.gradle
add
[code]

[2016-06-12 09:47] #64 closed

[2016-06-12 18:09] maxs15 commented on #12
Thanks @alidawud, I would like indeed :)
Do you have a fork with the fix ?

[2016-06-13 08:00] InYourDreamz commented on #57
I'd like to know as well. The margins are always off when we're using custom icons.

[2016-06-13 12:56] guyca commented on #62
The way I would do it, is load the app regularly. and dispatch an action before you main screen mounted:
[code]
in `IndexScreenMounted` you can fetch your stored data (We're using `redux-thunk` to run async actions) then post a secondary action to update the state with the data you've loaded.

Does this answer your question?

[2016-06-13 14:08] adamski commented on #62
Thanks I'll give that a go. I'm also using `redux-thunk`.

[2016-06-13 18:14] maxs15 commented on #12
Or event the code here would be enough 👍  Thanks

[2016-06-14 10:45] headlessme opened #65 "Opening drawer over TouchableOpacity unexpectdly triggers onPress"
I have a ListView that contains lots of TouchableOpacity views in an app started with `startSingleScreenApp`. I have a drawer set up on the left hand side that can be opened with the standard swipe gesture. However when I start and end the swipe-to-open gesture on a TouchableOpacity item in the main view, the `onPress` action of the TouchableOpacity is triggered (and the drawer is opened).

It see

[2016-06-14 12:36] headlessme commented on #65
As a workaround, adding the following PanResponder to my main view prevents the TouchableOpacity remaining the responder:

[code]
with
[code]
It's a bit hacky and simplistic as it breaks diagonal scrolling motions and probably a bunch of other stuff, so a lower level fix would be better!

[2016-06-14 20:15] guyca commented on #65
@headlessme It's a known issue. Unfortunately I don't think anyone from the team here at Wix will have time to look into it any time soon.

[2016-06-15 06:10] #59 closed

[2016-06-15 06:17] guyca commented on #57
@InYourDreamz Can you please add a screen shot? Are they misaligned on both platform?

[2016-06-15 06:18] guyca commented on #56
@agumack Have you managed to get it working?

[2016-06-15 10:20] alidawud commented on #12
Sent to you already.

[2016-06-15 14:01] agumack commented on #56
Hi @guyca,

my apps setup ok for ios, android not working. i don't know why

[2016-06-15 14:10] guyca commented on #56
Can you please copy paste here you `MainActivity.java` file?

[2016-06-15 15:13] jpokrzyk opened #67 "Build issue with example but not example-redux"
Thanks for sharing this project! The IOS stuff I've been able to play with is awesome.

If I clone the project and do a npm install and react-native run-android in the example folder I get the following error. The example-redux folder works fine though. Is anyone able to run the example on android from the master branch?

The build.gradle files are a little different between the two examples. And

[2016-06-15 15:16] agumack commented on #56
@guyca this is my MainActivity.java file

[code]

[2016-06-15 19:15] adamski commented on #63
Managed to do some debugging on this today. What I've found so far:
Key/Value props are actually passed fine. It seems to be because `dispatch` is a function, it gets passed as an empty object to Obj-C.

If I have the following `passProps` object in the `Modal.showLightBox` `params`

[code]

By the time is reaches `RCCLightbox.m` I get something like (from Xcode debugger):

[code]

Is there a mech

[2016-06-15 20:20] adamski commented on #63
Ok, I realised my mistake... my lightbox screen did not have any of the redux connect stuff in it... adapted from the example which is of course not redux-ified. Oh well. At least I learned a bit about passing JS objects to Obj-C.

[2016-06-15 20:20] #63 closed

[2016-06-16 03:37] InYourDreamz commented on #57
Hi @guyca

Here's how it looks like.

![custom_icon_margin](https://cloud.githubusercontent.com/assets/11990210/16104755/a28d6890-33b6-11e6-98cb-8ada69cb834a.png)

I'm not sure if @agumack is having this same issue?

[2016-06-16 06:17] agumack commented on #57
yep @InYourDreamz
large margin too bween 2 icons button. How I cant seting a custom style for icon?
Header title i want font-weight: nomar, too

[2016-06-16 06:19] guyca commented on #56
Please change it to the following

[code]

[2016-06-16 06:28] guyca commented on #67
@jpokrzyk example project is broken on Android. This project started out as an iOS project and Android adaptation came later. The Android adaptation is under active develop and we don't have the resources to support both example and example-redux atm.
pull request #61 fixes example project, I hope to merge it soon.

[2016-06-16 06:29] agumack commented on #56
@guyca thanks for support.
I changed it and now this error:

![screen shot 2016-06-16 at 1 26 51 pm](https://cloud.githubusercontent.com/assets/19372005/16107380/39b8a608-33c6-11e6-8ab0-d1c23cd32500.png)

[2016-06-16 06:33] guyca commented on #56
Edited code snippet. `getPackages` should be `public` instead of `protected`.

[2016-06-16 06:46] guyca commented on #57
@gran33 Can you please look into it? Thanks.

[2016-06-16 06:47] agumack commented on #56
Thanks @guyca
It BUILD SUCCESSFUL now, but not launch on Genymotion, error _**"Unfortunately, app has stopped**_"

Am I missing a something?

Thanks.

[2016-06-16 07:19] guyca commented on #56
With out stack trace I can't really help. Can you please send me crash log from adb? Exceptions + Warnings
Thanks

[2016-06-16 08:22] InYourDreamz commented on #57
If it helps, the screenshots are taken on iPhone 5 simulator.

[2016-06-16 14:47] agumack commented on #56
@guyca my apps run on android succeed! thank you so much for help.

I have a new question: navigatorStyle not apply.
Ex:  navigationBarColor,..
'Search' title not show, it showing is my app name
[code]

[2016-06-16 14:54] alexeypodolian commented on #39
@guyca Any updates with this issue?

[2016-06-16 15:26] gran33 commented on #58
@ethanshar, I added this property (iOS only), u can use it like this:
[code]

[2016-06-16 15:26] #58 closed

[2016-06-16 16:03] alexeypodolian commented on #39
@guyca
Do we really need to call `finish()` in `RootActivity` in `onPause()` method?

[code]

[2016-06-16 16:54] guyca commented on #39
@alexeypodolian Screens don't get unmounted when another screen gets pushed or a modal is displayed by design. We want to keep them intact so when the pushed screen is popped the transition will be seamless and the screen's previous "navigational" state is persisted.

For example; Screen A contains a large list of products, clicking an item pushes Screen B with product details. User scrolls down t

[2016-06-16 17:25] guyca commented on #56
@agumack Glad to hear it's working. Can you please open a separate issue for the navigatorStyle issues? Thanks.

[2016-06-16 17:25] #56 closed

[2016-06-16 17:25] #62 closed

[2016-06-16 19:01] jpokrzyk commented on #67
@guyca  Ah thanks for the response! Yea I couldn't tell if it was the build process or the code or what. Just knowing that it isn't working for everyone is very helpful. I'll take a look at the PR.

[2016-06-16 19:01] #67 closed

[2016-06-16 19:20] webzepter commented on #39
@guyca Did you correctly understand the issue? We meant unmounting component on **DISMISSING** a modal, not pushing a new.

[2016-06-16 20:17] guyca commented on #39
@webzepter I'll check it out. Hopefully be the end of next week.

[2016-06-17 17:29] dropfen commented on #14
@maxs15 which component are you using instead for the click Event?
I mean the TouchableHighlight is used by different libraries as <Button /> wrapper.

[2016-06-17 18:06] maxs15 commented on #14
I used TouchableWithoutFeedback for the moment.
But yes this is a problem indeed, maybe the solution would be to execute the navigator on a different thread ?

[2016-06-17 18:35] dropfen commented on #14
just tried with **TouchableWithoutFeedback** and had the same issue.. I also tried to setTimeout before pushing the new screen, same white flickering. I guess, it rerenders the whole application when you push to some screen, and it's not waiting for the **componentDidMount** event.. But I am not sure

[2016-06-17 18:41] maxs15 commented on #14
Well maybe you have a different problem, but in my case it was the issue.
Interesting article about RN perfs: http://facebook.github.io/react-native/docs/performance.html
I guess the main thread is too busy to perform the work under 16.67ms causing frames drop (white flickering)

[2016-06-17 20:43] chinogarcia commented on #59
I'm having the same problem? why was it closed? which is the fix?

[2016-06-18 11:34] dropfen commented on #14
@guyca I created a very simple project repo, which shows the bug. Please take a look when you have time https://github.com/dropfen/wix-nav-flickering-issue

[2016-06-18 15:10] dropfen commented on #14
Ok, the problem is, that React styles applies after the navigation started, and by default the backgroundColor is white, so this is the flicker effect..

To fix it, I took @maxs15 1. suggestion to apply a screenBackgroundColor in navigatorStyle, which is automatically added as the view.backgroundColor before React wakes up..

This was done in react-native-controllers, here's the PR
https://github.

[2016-06-18 15:19] dropfen commented on #14
So now, you can even have RED flickering, when you add

[code]

)))

[2016-06-18 15:40] maxs15 commented on #14
Awesome @dropfen ! Good job

[2016-06-18 16:05] guyca commented on #14
@dropfen Good job! Thanks.

[2016-06-18 16:05] #14 closed

[2016-06-18 16:08] dropfen commented on #14
thanks guys :)

[2016-06-18 19:11] dropfen opened #68 "Let define the title in the screen itself"
I was wondering, that it is not possible to define a `static title` in the screen itself, but have to define it in the `action`. like

[code]

I would prefer to define it in the class itself, because I think it belongs there

[code]

Please correct me, if I am doing something wrong.

Otherwise, this is a feature request ;)

[2016-06-20 14:26] rowellx68 commented on #57
This appears to be the default behaviour of the NavBar.

![image](https://cloud.githubusercontent.com/assets/10155704/16197732/1d1a6710-36fb-11e6-80a5-8b457dee92a2.jpeg)

The app above is written n Objective-C, as you can see the custom icon on the right has a bit of an offset.

[2016-06-20 18:06] dropfen commented on #68
I am using a forked version of the react-native-controller, and I've put the title into the `navigatorStyle`.
I just used it, because it was the simplest way of passing this option to the native code, without a lot of modifications. I would make a PR, but I think navigator**Style** is not the right place for it..
But what are styles? This are just options for style customizations.. right? I would

[2016-06-20 22:19] guyca commented on #68
@dropfen Your suggestion is very interesting. Defining a title when pushing a screen by _id_ does seem wrong.
We're actually going to have a meeting this Thursday (June 23'RD) regarding the current state of the API. once the Android version becomes more stable, our next goal is to reexamine the API. If there are more cases like this one you think should be addressed, please let me know and I'll br

[2016-06-20 22:20] #65 closed

[2016-06-21 01:51] InYourDreamz commented on #57
Ok, what about when there is two icon side by side? I'm assuming your screenshot was taken on a larger screen device.

[2016-06-21 05:42] #55 closed

[2016-06-21 11:45] dropfen commented on #68
Hmm, well its not a lot time to dive deep into it, but this is what I would suggest.

**Let the screen itself decide, how it should behave by default.**

lets say the screen is representing a modal, And I want, that this modal always slides up. I can override this by passing the value through the action, but defaults should be in one place.

To have the title option in the action makes also sense,

[2016-06-21 16:12] andybbtt11 opened #70 "iOS Build fails with React Native 0.27.0"
I have been working on a project using this lib and I am really enjoying it, however when I try to upgrade to React-Native 0.27.0, the ios build produces the following errors:

http://imgur.com/U67zHAs.

I have tried adding -lc++ to Other Linker Flags (http://stackoverflow.com/questions/37186967/undefined-symbols-for-architecture-x86-64-stdterminate-referenced-from) in the build settings which wil

[2016-06-21 17:39] agumack opened #71 "[Android] - drawer, navigatorStyle, NavigatorEvent not working"
Hi, I am testing Example project on Android.

Drawer(Sidemenu): navicon_menu.png icon not show
NavigatorStyle: allway show gray background color
NavigatorEvent not working

![screen shot 2016-06-22 at 12 36 11 am](https://cloud.githubusercontent.com/assets/19372005/16239919/60e02fea-3811-11e6-8a26-504ff602ae4f.png)

[2016-06-21 17:57] agumack opened #72 "How create navigator button with badge"
Thanks you!

[2016-06-21 18:19] guyca commented on #72
`this.props.navigator.setTabBadge` did not work for you?

[2016-06-21 18:22] guyca commented on #71
Hey @agumack PR #61 adds drawer functionality to Android. Unfortunately the author has disappeared so I'm slowly cherry-picking some of the commits. Hope to cherry pick the drawer commit by the end of next week.
If someone is willing to submit a PR with the cherry-picked drawer commit it would speed things up for sure.

[2016-06-22 06:33] agumack commented on #72
@guyca
I am mean a SingleScreenApp, not Tab
I want set badge for button right(or left)

[code]

[2016-06-22 07:12] epaga opened #73 ""Application windows are expected to have a root view controller at the end of application launch""
After setting up my project and AppDelegate the way the readme describes, the project compiles but no longer starts up. It crashes in RCCManager:139 (while trying to load the splashView) with the following error:

[code]

Not sure if it has any effect, but my project is primarily written in Swift, so I imported RCCManager in the bridging header - everything seems to compile. Am I still missing som

[2016-06-22 07:17] guyca commented on #72
Hey @agumack It's not supported at the moment. As far as I'm aware, We don't have plans to add this functionality any time soon, but if there's a demand - a PR would be awesome.

[2016-06-22 07:17] #72 closed

[2016-06-22 07:34] agumack commented on #72
I think it important @guyca
I am coding app about ecommerce. Need badge for Items cart :(

[2016-06-22 07:50] epaga commented on #73
OK so I'm one step further: my LaunchScreen is a storyboard, not a nib file (like in the example). So changing it to a nib works for now... but it would obviously be nice if it didn't crash like this in case I want to have my LaunchScreen be a storyboard.

[2016-06-22 08:43] artald commented on #73
You're right. Currently supported splash options are: from nib, from Default images, from xcassets LaunchImage.
StoryBoard is not yet supported; hopefully we can add it on our next issues sweep..

[2016-06-22 09:03] artald commented on #70
New RN project indeed needs to have the `-lc++` linker flag. Make sure you add it to the traget build settings.

Regarding the logs: I have a project which uses RN-0.27.2 and I don't have similar errors. Maybe it's related to other things going on in your code? Did you see similar errors in the log before you tried to upgrade RN?

[2016-06-22 09:29] guyca commented on #72
@agumack I completely agree it's a viable use case for many apps. Would love to see this feature added, but since we don't require it for our apps here at Wix, I don't see how one of the devs here will develope it.

[2016-06-22 11:27] epaga commented on #70
I did not see similar errors before I upgraded, but re-running

`pod install`

after upgrading solved the issue in my case - not sure if this might help @andybbtt11 ...

[2016-06-22 11:40] #70 closed

[2016-06-22 14:33] agumack opened #74 "All tabs will render when startTabBasedApp?"
It seems every tabs will render when app start?
I have:
TabOne
TabTwo
TabThree

I don't tap on TabTwo and TabThree but every request called and view render before i tab them.

[2016-06-23 00:52] dropfen commented on #43
Cool, that issue & solution was easy to find, the example using `Promise.all` is really elegant
Good job @willks, thanks

[2016-06-23 02:17] dropfen commented on #43
In most cases you need the icons on many screens and places, just created a simple helper script to load all the app icons once, and reuse them everywhere, anytime. Maybe it helps someone

https://gist.github.com/dropfen/4a2209d7274788027f782e8655be198f

[2016-06-23 02:59] willks commented on #43
@dropfen Funky I'll definitely use this! Cheers

[2016-06-23 05:11] #43 closed

[2016-06-23 05:14] guyca commented on #43
@willks This is a very nice solution! thanks. I would like to add this to the docs or even to the example projects if it's ok with you.

[2016-06-23 07:02] musicode opened #75 "How to get the current screen?"
i call navigator.push() to push a screen, then i press back button.

if i want to get the current screen, i thick there are two ways:
1. trigger some events, such as `push` and `pop`
2. the api provides the Navigation.getCurrentScreen()

i think the first way is better, but now, how can i do it ?

[2016-06-23 07:04] willks commented on #43
@guyca Sure, not a problem!

[2016-06-23 08:02] beast commented on #74
Are you experiencing this on Android version? I am seeing the same problem on startSingleScreenApp as well. I think I narrow it down to the intent.addflags() not working as intended by this commit https://github.com/wix/react-native-navigation/commit/39548c57e6e94ad7227ef8131a138cec467f0830

@guyca
I see that you are are setting the flags but in practice, if you use Reload JS in dev tools on simul

[2016-06-23 08:05] agumack commented on #74
@beast
 I am testing on IOS

[2016-06-23 09:22] guyca commented on #75
@musicode This functionality is indeed missing, we'll add it soon.

[2016-06-23 09:38] epaga opened #76 "Custom ViewController presentation animation?"
In my original app that I am trying to port to use react-native-navigation, I had a separate ViewController which I presented with my own `UIPresentationController`, `UIViewControllerAnimatedTransitioning`, and `UIViewControllerTransitioningDelegate`. It is similar to a lightbox-presentation, but it slides up from the bottom half-way and causes the background view controller to scale down about 10

[2016-06-23 09:38] smooJitter commented on #43
Thanks a lot @willks !

[2016-06-23 09:39] guyca commented on #74
Hey @beast. I'm not sure how the Activity flags are related to the screen render issues @agumack mentioned.
Is the odd behaviour you encountered reproducible in `example-redux` project?

[2016-06-23 10:28] beast commented on #74
@guyca That is interesting. Yes, this behaviour is reproducible in example-redux. Just try reload js after you navigate a few tabs or pages. (Put a console.warn in each render method, you'll see this happening.)

@agumack No, I do not see this happening in iOS.

[2016-06-23 12:54] guyca commented on #74
@DanielZlotin Seems like tab application behaviour on iOS and Android is inconsistent.

On iOS all tabs are rendered when `startTabBasedApp` is called - and all screens respond to state changes, even those not displayed on screen.

On Android, when navigating to a new tab, previous `ScreenStack` is [removed](https://github.com/wix/react-native-navigation/blob/master/android/app/src/main/java/com/r

[2016-06-23 13:13] guyca commented on #74
@agumack Why does it matter to you that `render` is called on offscreen views as well? The shadow DOM gets updated, but they don't actually get laid out on screen.

[2016-06-23 13:21] carbon-via commented on #27
Same problem, with all latest versions =(

[2016-06-23 13:44] guyca commented on #27
@CarbonC Which example project did you try to run? iOS or Android?

[2016-06-23 13:45] gwendall opened #77 "Cannot read property 'setRootController' of undefined"
I am having this error when I start the app. Any idea what I am missing ?

[2016-06-23 13:50] zocario opened #78 "[Android] Could not find method compile() for arguments [directory 'libs']"
Hello, I am starting to use your wonderful library and I am really happy with it on iOS !
..but I have issues to run it on Android. I just followed the instruction on your readme page, and I got the following error:

<img width="844" alt="capture d ecran 2016-06-23 a 15 43 42" src="https://cloud.githubusercontent.com/assets/800617/16305311/8b4473ce-3959-11e6-8f72-c288e5711cd4.png">

Here is my bui

[2016-06-23 13:58] guyca commented on #78
Seems like you've edited the wrong gradle file. You should edit the `build.gradle` filed that's under the `app` folder.

[2016-06-23 14:04] gwendall commented on #77
My bad I forgot the [Xcode config part](https://github.com/wix/react-native-navigation#installation---ios). Closing.

[2016-06-23 14:04] #77 closed

[2016-06-23 14:13] CarbonC commented on #59
I got the same red screen =/

[2016-06-23 14:22] CarbonC commented on #27
@guyca It is IOS.... But in the example i read too fast, and forgot to delete the specified part...

[2016-06-23 14:48] zocario commented on #78
Oh my god, sorry about that it was really a rookie mistake.. thanks for your quick answer!

[2016-06-23 14:48] #78 closed

[2016-06-23 14:51] DanielZlotin commented on #74
@agumack
The actual issue here is that we don't have a correct and consistent way of listening to lifecycle events for the screens, for example something like `screenDidAppear`, `screenDidDisappear`.
These events do exists in native, but we don't forward them yet, and we plan to implement it ASAP since it is a requested and critical feature.
The `render` and `componentDidMount` functions should no

[2016-06-23 15:18] brah opened #79 "[Android] Configuration with name 'libraryDebug' not found."
getting this error when trying to run `react-native run-android`:

any idea what i'm doing wrong?

[2016-06-23 15:46] guyca commented on #79
Where are you running the command? In one of our example projects? Your own project?
Did you update `settings.gradle`?

[2016-06-23 15:49] brah commented on #79
Hi @guyca,

running this command in my own project. i've updated both my settings and build.grade

[2016-06-23 15:57] guyca commented on #74
3e8dca89f498cceb5b938bb414ea04447e9eff21 Some what consolidates Android and iOS behaviours in this regard. Screens are created when user first navigates to their tab. Once user navigates to a different tab, the screen will not be unmounted.

@artald Can you update iOS behaviour as well? Thanks.

[2016-06-23 16:01] guyca commented on #79
Just to rule this out, can you please try to invalidate your gradle cache and restart android studio?

[2016-06-23 16:14] brah commented on #79
Just did so and got the same error

[2016-06-23 17:24] agumack commented on #74
@guyca thank you so much for support.
Because I don't kown how implement "badge for left/right button" so have change my layout apps using tabs. some tab screen call api and check some condition reponse. It redirect to a other screen if the condition is false (Ex: Profile tabs, ....)

ps: I few then using tabs layout, my app not smooth StartSingleScreenApp-Like.

[2016-06-23 19:20] shonnamartell opened #80 "Not Loading"
Ive gotten rid of all errors, but now the app just loads iOS splash screen and doesn't move from there.

[code]

[2016-06-24 02:55] beast commented on #74
@guyca @DanielZlotin Hi, all. Thanks for your support. I now understand what could be my issue but this comes as really a surprise to me.

1. I am using StartSingleScreenApp in iOS for the last 3 months in my project and I don't see all my other screens being rendered at all. From what I am reading above, are you suggesting this only happens in startTabBasedApp in iOS?
2. I understand the part tha

[2016-06-24 05:02] #27 closed

[2016-06-24 05:32] musicode opened #81 "How to reset navbar buttons for screen"
By default, navbar has a back button and title.

if i switch to a editable form, i set the right buttons(Edit).

if the form submit success or i press back button, app will back to the prev screen，i want to know how to keep the prev screen navbar buttons.

[2016-06-24 05:36] guyca commented on #79
I'm not sure what wrong with your setup, This is the first time someone reports this issue.
[code]

maybe your directory structure is different then the expected path?

In the project structure panel and build variants - Do you see `react-native-navigation`?
<img width="233" alt="screen shot 2016-06-24 at 8 35 13 am" src="https://cloud.githubusercontent.com/assets/12352397/16328834/b00bd638-39e6-1

[2016-06-24 05:42] guyca commented on #81
You can define them in your screen and when ever it's displayed, these buttons will be set in the toolbar
[code]

[2016-06-24 05:46] musicode commented on #81
i found there are many issues like it, because i don't know the current screen, i can't hide the navbar and tabbar, i can't reset the nav buttons.

for this  issue, i think the default back button(left arrow) is nice, i want to use it, but how ?

[2016-06-24 05:51] musicode commented on #81
if trigger some events when press the default back button, all the issues will be fixed, because i can keep a screen stack in business logic.

[2016-06-24 05:55] musicode commented on #81
[code]
just for

[2016-06-24 05:57] guyca commented on #81
We plan to release a new version soon with improved API to support such use cases. For now, You can try to use `shouldComponentUpdate` and `componentWillUpdate`.

[2016-06-24 05:58] musicode commented on #81
how long to wait for the new version?

[2016-06-24 06:04] guyca commented on #81
I'm afraid I can't really give an estimate ATM.

[2016-06-24 06:06] musicode commented on #81
thank you, i like this project, it solved my app's performance issue, i will waiting for new the features!

[2016-06-24 07:44] agumack opened #86 "How to clean the cache for a specific tab?"
Hi everybody.
The caching feature is great, but I'm facing an issue. The problem is:  I have a tab called 'Shoping Cart', It display a list products form AsyncStorage. Beause tab cached so a new item added will not display when i switch tabs :(

How clean the cache or tell react-native a screen tab data changed.

Thanks you so much!!!

[2016-06-24 09:33] epaga commented on #76
OK so I did it and it seems to work for me. Here is the pull request / changeset in case anyone is interested:

https://github.com/wix/react-native-controllers/pull/68

[2016-06-24 11:52] guyca commented on #86
When your app starts, do you load items from `AsyncStorage` and save them in your state? If you do, once the user adds an item to the shopping cart - reflect change in your state and the screen is supposed to render.

[2016-06-24 12:35] CarbonC opened #87 "Screen loading"
The screens on my Tabbar seem to load only when they want if i use "react-native run-ios", I have sometimes to recompile to get it working (while it's perfect if i launch everything from Xcode). How are the screen instantiated, why is it different of tabbarIOS or navigatorIOS for example?

[2016-06-24 13:18] CarbonC opened #88 "Strange flickering when changing tab for the first time on simulator"
All is in the title, when opening a tab view for the first time, the transition from one tab to the other lead to a little flickering, at least in the simulator, when no special transition is defined.

[2016-06-24 13:22] CarbonC commented on #80
Look at your index.ios and be sure to call a new App(); (i had the same problem, stupid but took me a longtime to find)

[2016-06-24 14:07] CarbonC opened #89 "PushNotification eventListener not working with react-native-navigation"
I tried to place my listener on route or on a tab (tabview) and the result is the same: no event is launched while I'm sure the listener is "on" (it starts on ComponentWillMount and is removed on ComponentWillUnmount)...

[2016-06-24 14:16] guyca commented on #89
Can you lease provide more information? code snippets would be helpful. I assume you've encountered this issue on iOS, yes?

[2016-06-24 14:22] guyca commented on #88
Hey @CarbonC. What platform are you testing on? iOS or Android?

[2016-06-24 14:27] CarbonC commented on #89
Yes it was on IOS... My code just do something like:
componentWillMount() {
    PushNotificationIOS.addEventListener('localNotification', this._onLocalNotification);
  }

  componentWillUnmount() {
    PushNotificationIOS.removeEventListener('localNotification', this._onLocalNotification);
  }

_onLocalNotification(){
      console.log("Hey!");
    );

And I don't receive the console.log(). I have

[2016-06-24 14:29] CarbonC commented on #88
IOS, but it is strange that i don't manage to get transition work on simulator too

[2016-06-24 14:43] musicode opened #90 "Run in iPhone is very slow, but smooth in emulator of osx"
very very slow, i has no idea, help please....

[2016-06-24 14:44] gwendall commented on #16
+1

[2016-06-24 14:46] CarbonC commented on #90
More information please? Did you disabled debug, on which IPhone version and os are you running?
Are you sure it's navigation fault?

[2016-06-24 14:54] musicode commented on #90
not matter dev is true or false, the result is the same.

[code]

my iPhone is 5s, ios version is 9.3.2

i use react-native-router-flux before, but i think it's slowly a little, so i found this project, i spend two days to change the code, today, when i run it in iPhone, i can't believe it......

sorry for my english, i wish you know what i said....

[2016-06-24 14:54] musicode commented on #90
my react-native version is 0.28.0

[2016-06-24 15:00] CarbonC commented on #90
I don't have a real iphone here to test, but can you try with the example (or example-redux) on your iphone to see if the problem is really the navigation?

[2016-06-24 15:01] musicode commented on #90
![image](https://cloud.githubusercontent.com/assets/2732303/16341418/71836cd6-3a5f-11e6-9050-d58ea4174f9a.png)
i found this, i dont't know why

[2016-06-24 15:20] musicode commented on #90
i found the reason, because i want to reset navbar button, so i add the code:

[code]

i comment it, app become quickly.

[2016-06-24 16:58] #90 closed

[2016-06-24 19:23] calvinmikael opened #91 "Can RNPM be used?"
Can RNPM or its replacement, react native link, be used safely instead of manually linking the project?

[2016-06-25 10:30] musicode opened #92 "Iphone run slowly"
i run app in my iphone, navigation native code is quickly, but i think the rn code is slowly(quickly in simulator).

so i try to compare the initialize time。demo code like this:

[code]

in simulator,

   time1 is nearly 0
   time2 is around 30

in iphone

   time1 is less than 10
   time2 is great than 100, even 1000 in some screens!

then i test the project example-redux.

in simulator

   time1

[2016-06-25 10:48] CarbonC commented on #80
https://github.com/wix/react-native-navigation/blob/master/example-redux/index.ios.js
The example are great, read them ;-)

[2016-06-25 10:54] musicode commented on #92
it's perfect in simulator, i want to cry....

[2016-06-25 10:56] musicode commented on #92
in simulator, no matter screen is simple or complex, time1 is less than 10, and time2 is less than 100

[2016-06-25 12:57] shonnamartell commented on #80
@CarbonC Thank you! that was indeed what I was missing!

[2016-06-25 16:40] jskuby opened #94 "[Android] Module reference lost after rotation"
I have several native modules included with my application, but after I switched over to this navigation package I get an error in my localization module after rotation.  The red screen error is `undefined is not an object (evaluating 'RNI18n.locale')`.

My `MainActivity.java` is pretty bare, only having `getPackages` implemented as follows:

[code]

I can't tell if other modules are ok after rota

[2016-06-25 17:19] shonnamartell opened #95 "iOS Status Bar"
I can't seem to show the status bar no matter what. What option shows the status bar on top, I don't want it hidden.

[2016-06-25 17:20] #80 closed

[2016-06-25 18:56] shonnamartell opened #96 "Navigating to non-Tabbed screen"
Is there away to navigate to a screen that I do not want an existing tab for?
I tried just pushing it.. but nothing is happening.

[2016-06-25 20:07] jskuby commented on #94
This is fixed by the change in PR #97.

[2016-06-25 20:12] #94 closed

[2016-06-26 06:14] guyca commented on #96
Hey @shonnamartell We support two patterns - pushing a screen into the existing screen stack and showing a screen as a modal. You can refer to the example projects for example code

[2016-06-26 06:14] #96 closed

[2016-06-26 06:28] guyca commented on #95
All of the available styling options are mentioned in the docs.
I think this is the one you need:
[code]
https://github.com/wix/react-native-navigation#styling-the-navigator

[2016-06-26 06:28] #95 closed

[2016-06-26 06:56] guyca commented on #76
Thanks @epaga

[2016-06-26 06:56] #76 closed

[2016-06-26 12:11] rowellx68 commented on #57
Below is what a native navbar with two right icons look like. Used the iPhone 5S simulator.

![simulator](https://cloud.githubusercontent.com/assets/10155704/16362186/59b8afe4-3b9f-11e6-9e5a-82236d709759.png)

[2016-06-26 17:42] shonnamartell commented on #95
I read the docs and already knew about this option, I have tried setting it to true and false, with no different result. I still do not see my status bar that, this is why I posted here to see if anyone had come across the issue before.

[2016-06-27 01:39] #92 closed

[2016-06-27 02:29] musicode opened #98 "toggleTabs() can't hide tabbar"
when keyboard is shown, i want to hide the tabbar

[code]

the result is:

![image](https://cloud.githubusercontent.com/assets/2732303/16367015/c3da466e-3c51-11e6-8ded-fb3f24fedc5e.png)

the tabbar is transparent, not hidden.

[2016-06-27 07:59] CarbonC commented on #89
This issue is very problematic since you can't work with pushnotification on a project using react-native-navigation. Do you know how difficult it is to fix, and when will it be good?

[2016-06-28 06:46] jacklam718 opened #99 "the LightBox is only for IOS?"
Question: the LightBox is only for IOS? I read the source code, the LightBox seems only for IOS.

[2016-06-28 10:41] zocario opened #100 "Is it possible to pass a function to props when using navigator.push?"
I am playing with your great library with my iOS app and I have a weird issue.
I like the idea of passing functions through props in React components, as for InputText's onChangeText property.

[code]

So I tried to do the same between two views, the first is a ListView form containing a long Text (not editable). When I tap on the long text I push a new ListView using your navigator.push method to

[2016-06-28 11:01] webzepter commented on #100
No you can't pass a function, because you can serialise it for passing through native bridge.
You can without extending:
1) Pass function code as string and `eval` it 😬
2) Pass e.g. boolean prop and new screen will run necessary function
3) Extend this library and create module with function registry (in `push` you need register props-functions and pass them in new screen during initialisation. Th

[2016-06-28 11:13] zocario commented on #100
Thanks for the answer, it could be really nice to have this possibility in the future, as it is really a common pattern in React. For now I think I will try something like this as a temporary workaround:
https://www.npmjs.com/package/react-native-simple-events

In my opinion options 1) and 2) would not work in this case as eval would be done in an other view, and passing a boolean doesn't allow me

[2016-06-28 11:18] webzepter commented on #100
Yes, you are right

[2016-06-28 15:04] guyca commented on #99
It's iOS only. There are no plans at the moment to add it to android.

[2016-06-28 15:04] #99 closed

[2016-06-28 15:55] YushYush opened #101 "[Android] Build Failure - Error related to RnnPackage?"
Having trouble building with Gradle for Android
Wanted to seek some help as I am unable to resolve it!

This is the error message I am receiving:
[code]

[code]
Thank you!!

[2016-06-28 16:15] jskuby commented on #101
The RnnPackage should be imported from `com.reactnativenavigation.packages.RnnPackage`.  I ran into a similar issue when i ran `rnpm link` on my whole project and had to correct the namespace.

[2016-06-28 16:27] YushYush commented on #101
That fixed the issue, thank you!

[2016-06-28 20:10] guyca commented on #101
Thanks @jskuby

[2016-06-28 20:12] adamski opened #102 "Error running example on iOS 7 device"
I get `dyld: Symbol not found: _OBJC_CLASS_$_UIBlurEffect
Presumably because UIBlurEffect is only available in iOS 8 and above, and the device is an iPhone 4S running iOS 7.1
This may also be something to raise in the RCC repo..

[2016-06-28 20:14] #101 closed

[2016-06-29 14:18] willks commented on #16
Actually this would be really good - I have a tab that opens up a photo gallery or camera (like instagram). I just really need to find out which is the active tab, I've done it before using JS only but I have decided that the only way forward is with react-native-controllers/react-native-navigation (from Wix!). I can wait.

[2016-06-29 14:26] aarongreenwald opened #103 "Support image/icon next to title in android"
We'd like to be able to show a variable image next to the screen's title.

[2016-06-29 15:04] #91 closed

[2016-06-29 22:41] shonnamartell opened #104 "Navigation Title"
I looked in the docs but didn't find this option in styling. is there away to make the navigation title a smaller font?

[2016-06-30 04:56] beast commented on #74
I have figured out a solution. Thanks.

[2016-06-30 05:30] guyca commented on #16
This feature is at the top of our list. Will be added soon, after the Android version matures a bit.

[2016-06-30 08:10] guyca commented on #104
No. I don't think it's a desired behaviour. The idea behind this library is to provide consistent navigation solution. Let the system determine the default font size, No need to mess around with it.

[2016-06-30 08:10] #104 closed

[2016-06-30 11:05] aarongreenwald opened #105 "Android: Support for all buttons in action menu"
Right now they start in the tab bar and overflow to the action menu. Sometimes (at least) we need them all in the action menu, all the time.

[2016-06-30 11:55] inetfuture opened #106 "No animation on android"
I pulled the latest example, ran on my Android phone(Huawei honor 6, Android 6.0), push/pop screen works but with no animation at all, any idea what could be wrong?

Also the lighbox and modal doesn't work, are they not supported?

Thanks.

[2016-06-30 14:23] guyca commented on #106
Lightbox is not supported. What didn't work in Modals?

[2016-07-01 01:01] inetfuture commented on #106
Complains that `undefined is not an object(evaluating 'Screen.navigatorButtons')`

What about animations?

[2016-07-01 01:29] cesardeazevedo commented on #106
I take a look at the source, and it seems that the Modal component haven't been registered on the [index.android.js](https://github.com/wix/react-native-navigation/blob/master/example/src/screens/index.android.js#L14-L19), and i just copied as the [index.ios.js](https://github.com/wix/react-native-navigation/blob/master/example/src/screens/index.ios.js#L19) and added a `backgroundColor: 'white'` o

[2016-07-01 02:19] alexleventer opened #107 "Ability to pass props on dismissModal()"
What's the best way to pass props from a modal on dismiss?

[2016-07-01 04:11] beast opened #108 "[Android] Reload JS will cause all previous navigated pages render"
Hi, all. I asked this in a separate issue(https://github.com/wix/react-native-navigation/issues/74) but I think I better ask separately.

This is easily reproducible in example-redux. Simply run the example with console tracing in all render functions:

Android - Navigate through few pages, then reload JS and you will see all previous navigated pages render function gets called.

iOS - Navigate th

[2016-07-01 04:16] cesardeazevedo opened #109 "Proposes drawer changes on android."
Hi, first of all, thanks for this project, that's really AWESOME, and i'm definitely moving forward with it, thank you so much.

I saw a pretty recent and awesome [pull request](https://github.com/wix/react-native-navigation/pull/82) with a drawer implementation, and i would like to propose some improvements.

1. The drawer is rendering behind the AppBar and TabBar, and that's a quite unusual, i h

[2016-07-01 04:33] jskuby commented on #109
The drawer width should be a quick update.  Regarding the layout, I was also having some issues with it but didn't want to delay the feature.  Unless @guyca or someone else wants to look at this, I'll have some open time this weekend to do some work on this.

[2016-07-01 13:06] adamski commented on #102
I'm preparing a PR for react-native-controllers to check for availability of all iOS 8 classes.

[2016-07-01 13:06] #102 closed

[2016-07-01 14:00] cesardeazevedo commented on #109
That's cool, nice job.

[2016-07-01 14:37] agumack opened #111 "How pass data between ModalScreen to a screen other when dismissModal"
Hi All,

I have a productList screen design:
- product list
- Sort button
- Filter buton

When filter button clicked => showModal FilterModalScreen called.
How i can pass data from modal to product list (and refesh product list) when dismiss this FilterModalScreen?

Thank you so much!

[2016-07-01 22:16] hammadj opened #112 "Allow more styling options for NavBar text"
Right now we can only set the color of text that appears in the Navbar. It would be nice to be able to change the font, size, color, etc of the text as well.

[2016-07-02 04:19] guyca commented on #108
@beast Thanks for reporting, It's a known issue. Hope to fix it this week

[2016-07-02 04:22] guyca commented on #112
Hey @hammadj I don't see a reason to change any property other then font color. Other properties are defined by the system and should be left as is so the user feels familiar with the navigation components

[2016-07-02 04:51] guyca commented on #109
Hey @cesardeazevedo I wasn't aware this isn't in the guidelines. Last time I added a drawer, showing the drawer under the Toolbar was [quite common](https://www.google.co.il/search?q=android+Sidebar+Menu&source=lnms&tbm=isch&sa=X&ved=0ahUKEwiojaDN-tPNAhXsC8AKHVXnB_AQ_AUICCgB&biw=1440&bih=779) as you can see in these screenshots.

@jskuby I'll take it on me, if it's ok with you, since we want to ma

[2016-07-02 04:54] guyca commented on #107
For our apps at Wix we use redux, so before dismissing a modal we dispatch an action with the return result.
We'll probably add callback or something similar in the upcoming weeks.

[2016-07-02 08:22] hammadj opened #113 "[iOS] Setting the title of a tabbed screen changes the label in the tab bar"
I have this tab in my tab bar:

[code]

In the component for the screen, once the user is loaded, I set the title of the nav bar like this:

[code]

However, this causes the label in the tab bar to also change. It should only change the title at the top of the nav bar, since the label and title are two separate props when defining the screen

[2016-07-02 08:22] webzepter commented on #108
Also bumped into this issue. Reload JS triggers screen mounting (iOS, Android both) -> it starts API requests -> at that time Redux store with API token is empty -> backend returns errors due missing token

[2016-07-03 01:45] jskuby commented on #109
No problem @guyca.  I had noticed a commit for a snackbar which modified the layouts, so it totally makes sense for you to take it on.

[2016-07-03 06:02] guyca commented on #113
Hey @hammadj Thanks for reporting. This happens on both platforms?

[2016-07-03 06:46] cesardeazevedo commented on #109
I'm also notice that react-native and drawers in general has a small shadow on the borders, some docs and boilerplates projects uses this [drawer_shadow.9.png](https://developer.android.com/samples/NavigationDrawer/res/drawable-hdpi/drawer_shadow.9.html) image, and set by `mDrawerLayout.setDrawerShadow(R.drawable.drawer_shadow, GravityCompat.START);`

Actually i tried add it myself, but probably i

[2016-07-03 17:40] agumack opened #114 "How To Add A Search Bar In The Header"
![components_tabs_usage_mobile2](https://cloud.githubusercontent.com/assets/19372005/16546780/d6396bcc-417f-11e6-9a00-5775a5caf37b.png)

Thank you so much!

[2016-07-03 19:49] hammadj commented on #113
I'm only using it on iOS, don't know about android

[2016-07-04 05:14] guyca commented on #114
@DanielZlotin ecom also asked for this.

[2016-07-04 05:17] guyca commented on #108
@webzepter Are you sure this happens also on iOS? We've solved it a few weeks back, might be a regression.

[2016-07-04 05:26] guyca commented on #108
@webzepter @beast Could you guys please checkout [this branch](https://github.com/wix/react-native-navigation/tree/bundleReload) and let me know if it solves the reload issue?

https://github.com/wix/react-native-navigation/tree/bundleReload

[2016-07-04 09:25] guyca commented on #108
Should be fixed on Android in 7263e1b4cfc31a8079df0f984d236526d3c6b4ee

@webzepter Can you please confirm you're indeed seeing this issue on iOS as well? thanks.

[2016-07-04 13:19] guyca commented on #105
Added `showAsAction` property in 2d52d4b7e847cdd2fce8cdc5287acab2337c50cb

[2016-07-04 13:19] #105 closed

[2016-07-05 00:49] musicode opened #115 "Some questions"
1. use custom back button is slower than default back button, i want to use default back button but has no pop event
2. even though i use custom back button, i can't prevent pop screen by slide from left to right, so i dont know the current screen
3. i think the tabbar badge is so big when it is just a red point without a number, can i define the size?

[2016-07-05 05:22] guyca commented on #115
Hey @musicode
1. We're starting work on a new major version which will add lifecycle callbacks to your connected screens and back button events as well. We've also faced this issue in our own projects and need a solution asap.

2. If understand correctly, you would like to control the animation used when popping a screen?

3. We use the default badge on iOS, so I assume your talking about Android?

[2016-07-05 05:30] musicode commented on #115
for 1

no. because now has no the ability to know current scene, so i use custom back button.

when user press back button, i pop the screen stack, when call navigator.push(), i push a screen to the stack. in this way, i know current screen.

but, user can pop screen by gesture(left to right), i dont know what is happening, so i miss the current screen.

for 2

no. i'm talking about iOS. if badge

[2016-07-05 06:21] beast commented on #108
Hi, @guyca I was out sick for few days. I tried this today, it works on the very first reload but all subsequent reload still have the same issue. I am seeing below in logcat. :
`07-05 02:13:41.210 14341-14341/com.livepay W/System.err:     at com.reactnativenavigation.core.RctManager$CustomDevCommandsHandler.onJSBundleReloaded(RctManager.java:191)
07-05 02:13:41.210 14341-14341/com.livepay W/Syste

[2016-07-05 08:15] guyca commented on #108
@beast Can you please provider a more complete stack trace? thanks.

[2016-07-05 08:41] guyca commented on #115
Can you post an image with the badge?

[2016-07-05 09:04] musicode commented on #115
![image](https://cloud.githubusercontent.com/assets/2732303/16579485/7c1e12b0-42d2-11e6-9a56-a44a8ab26fce.png)

[2016-07-05 20:21] agumack commented on #114
@guyca i have resolve it.
I am use 'navBarHidden: true' and style it on screen :)

[2016-07-06 00:22] lprhodes opened #116 "onNavigatorEvent lost when you push an additional view"
After having used `this.props.navigator.setOnNavigatorEvent(this.onNavigatorEvent.bind(this))` in the constructor we then push an additional view (upon user tapping on a row).

When the user goes back to the original view the onNavigatorEvent is no longer called.

[2016-07-06 00:46] lprhodes commented on #116
Sorry, this was related to come code I'm working on the intercept and generate back button events

[2016-07-06 00:46] #116 closed

[2016-07-06 01:41] musicode commented on #115
maybe the previous image has a mistake, it is what i want, but now is not.

[2016-07-06 09:58] DavyDeDurpel opened #117 "Example Crashes on Android Simulator (API 23 & 24)"
I tried running the redux example on an Adroid Simulator but it always crashes with following stack trace:

07-06 09:48:45.298  2895  2895 D AndroidRuntime: Shutting down VM
07-06 09:48:45.298  2895  2895 E AndroidRuntime: FATAL EXCEPTION: main
07-06 09:48:45.298  2895  2895 E AndroidRuntime: Process: com.exampleredux, PID: 2895
07-06 09:48:45.298  2895  2895 E AndroidRuntime: java.lang.NullPointe

[2016-07-06 12:54] musicode opened #118 "Navbar style is missing on pop animating"
![image](https://cloud.githubusercontent.com/assets/2732303/16618204/b0d29060-43ba-11e6-8e8f-4d226241e79a.png)

the right screen's navbar become default style.

the second bug is push a screen, if the screen has a TextInput and it is autofocus(keyboard will show), the push animation will flickering.
- iOS
- rn version is 0.29.0
- navigation version is 1.0.24

[2016-07-06 18:03] #114 closed

[2016-07-06 18:03] #111 closed

[2016-07-07 05:14] DavyDeDurpel commented on #117
It's my own application that causes this error.  For one reason or anther sometimes on windows the packager sends the previous launched application instead of the current one.  I did some new tests today and both examples start correctly.  Now I just have to figure out what I'm doing wrong in my own application (must be something with tabs ;-) )

[2016-07-07 05:20] DavyDeDurpel commented on #117
I found the cause of the crash.  I didn't set an icon nor selectedIcon on my tab and that causes the NPE.  Can this considered being a bug?

[2016-07-07 05:55] guyca commented on #117
Hey @DavyDeDurpel
Well, according to the [design guideline](https://material.google.com/components/bottom-navigation.html#bottom-navigation-usage) tabs must have icons.
We should add a proper error screen so developers don't waste time on this.

[2016-07-07 05:56] DavyDeDurpel commented on #117
Than I think it's better to update the documentation as it currently states that these properties are optional.

[2016-07-07 09:25] epaga commented on #39
@guyca getting this issue as well - any way around this? Seems like this might be more a thing for react-native-controllers, right? - RCCManager.unregisterController doesn't make sure the underlying react component is unmounted (not experienced enough with the RCC API to know how to do this or I would provide a pull request)...

[2016-07-07 12:15] #89 closed

[2016-07-07 14:05] #79 closed

[2016-07-07 14:08] guyca commented on #39
Seems to work correctly on Android. @gran33 can you take this?

[2016-07-07 19:55] guyca commented on #117
Updated the docs. Also now an error is thrown if a tab is missing an icon on Android.

[2016-07-07 19:55] #117 closed

[2016-07-07 20:02] #87 closed

[2016-07-07 20:04] DavyDeDurpel commented on #117
Wow, that was fast :-)

I really like this module.  This should be used as an example of how all modules should be written and documented:  clear and straight forward!

[2016-07-07 20:13] guyca commented on #117
Thanks for the kind words :)

[2016-07-07 21:08] explorigin opened #119 "[Android] Drawer props.navigator === undefined"
I have a drawer that works normally with the navbar but it does not have navigator as a prop so it cannot close itself.

[code]

RN 0.28
RNN 1.0.25

What other information can I provide that would be helpful?

[2016-07-11 06:00] beast commented on #108
Hi, @guyca . Sorry about the delay. Below are the full stack trace:
`07-11 01:59:44.994 16169-16169/com.livepay W/System.err: java.lang.NoSuchFieldException: No field mAttachScheduled in class Lcom/facebook/react/ReactRootView; (declaration of 'com.facebook.react.ReactRootView' appears in /data/app/com.livepay-1/base.apk)
07-11 01:59:44.994 16169-16169/com.livepay W/System.err:     at java.lang.Cl

[2016-07-11 07:33] beast opened #120 "Lifecycle events"
As @DanielZlotin mentioned in issue https://github.com/wix/react-native-navigation/issues/74
Lifecycle events are not implemented yet but it's a critical feature that is being looked into. Could I know the timeline for this? One of the challenges I have is when architecting the Android app knowing there will be a lot of invisible react components. (And duplicates if navigated through push.) If I a

[2016-07-11 07:51] guyca commented on #108
@beast What version of react native do you use?

[2016-07-11 09:06] beast commented on #108
React Native 0.27.0

[2016-07-11 13:14] cihancil commented on #106
I downloaded example project. It works great on iOS.

Navigation animations does not work on Android at all.

[2016-07-11 13:15] guyca commented on #108
Hey @beast `mAttachScheduled` was removed in this commit https://github.com/facebook/react-native/commit/a69b8835373c9b1fcb7d31032d6f384a7b6f0478

If temporarily downgrading to version 0.25 is ok with you, I suggest you do that, until we migrate this project to current versions of RN.

[2016-07-11 13:15] #108 closed

[2016-07-11 20:02] explorigin commented on #119
Seems to be the same issue as https://github.com/wix/react-native-navigation/issues/37.

[2016-07-11 20:02] #119 closed

[2016-07-12 06:59] DanielZlotin commented on #120
tl;dr The best estimate I can give you right now is by the end of next month.

We are in the process of a complete redesign of the project and unification of controllers and navigation, and the lifecycle feature is our top priority right after that. This project is used in our production environment, so you get somewhat slower development, but the upside is you can expect a stable, battle tested a

[2016-07-12 08:26] DanielZlotin opened #122 "dismissModal and immediately showModal weird behaviour"
handle the showModal in some completionHandler after the dismissModal completed

[2016-07-12 09:46] DanielZlotin commented on #39
Fixed in `react-native-controllers@2.0.9`.

Doing `npm install` should remedy the issue.
The bug was the view inside RCTViewController was not being dealloc'd; this happened only when we switched the app root when we have modals showing.

[2016-07-12 09:46] #39 closed

[2016-07-12 10:07] beast commented on #120
@DanielZlotin Thanks for the prompt response. That is a great news and we are going all out with this package with our iOS app at the moment. Can't wait until the Android version really catches up. Great work!

[2016-07-12 17:31] #71 closed

[2016-07-12 20:34] agumack commented on #120
@DanielZlotin, @guyca  i have some apps using 'react-native-navigation' on Appstore, and waiting this feature for android.
I found a temporarily solution, too
Can you suggest us?
Thanks you so much :)

[2016-07-12 22:05] agumack commented on #120
woo, I detect seem all screen called are file name "index.js"

Ex: Tab1floder/index.js  (tab1screen code) => It called will StartApp but change Tab1folder/Tab1.js => run correct.

[2016-07-13 09:02] CarbonC opened #123 "Enhancement: add animation at StartNavigation"
Adding the possibility of an animation when calling startSingleScreenApp or startTabBasedApp would be great, especially in applications using root changes (animation after logout for return to login page for example).

[2016-07-13 09:52] guyca commented on #123
Great idea @CarbonC

[2016-07-13 17:04] agumack opened #124 "handleDeepLink not working on android?"
Version: 1.0.27

[2016-07-13 17:10] guyca commented on #124
Not support at the moment

[2016-07-13 17:16] agumack commented on #124
@guyca thank you for reply
I am using handleDeepLink instead of "push". because push not support when called from drawer sidemenu. It working fine on IOS.
Can you suggest a solution for android version app while wait support?

[2016-07-13 17:41] jarredwitt commented on #75
Took a stab at this because I needed to know if a drawer was toggled for hiding the status bar. Still pretty new to this library and my Objective-C sucks, so bear with me.

I decided that adding a listener to the NativeAppEventEmitter(only tested this on iOS) was probably my best route to make sure that I didn't introduce any breaking changes. So here we go.

After my store has been initialized I

[2016-07-13 18:09] RichardLindhout commented on #109
+1 for this

[2016-07-13 18:11] agumack commented on #53
does anyone have the same problem? if yes pls help me fix it ...

[2016-07-13 18:59] RichardLindhout commented on #109
I've tried to implement this but it won't work. I think the implementation of the CoordinatorLayout is in the wrong way.

[2016-07-13 19:01] RichardLindhout commented on #109
Implementation should be like this

<android.support.v4.widget.DrawerLayout>
               <android.support.design.widget.AppBarLayout>
    <android.support.design.widget.CoordinatorLayout >
          .... CONTENT LAYOUT WITH SCROLLABLE
    </android.support.design.widget.CoordinatorLayout>

    <android.support.design.widget.NavigationView
         android:id="@+id/navigation"
         android:l

[2016-07-14 08:27] guyca commented on #53
@gran33 We're probably missing a call to `RCTConvert` in controllers

[2016-07-14 12:18] RichardLindhout opened #125 "Disable elevation on toolbar"
Disable shadow on toolbar would be cool!

[2016-07-14 12:47] guyca commented on #125
Hey @RichardLindhout I assume you're referring to the shadow underneath the Toolbar on Android?

[2016-07-14 12:52] RichardLindhout commented on #125
Yes!

Op 14 jul. 2016 14:47 schreef "Guy Carmeli" <notifications@github.com>:

[2016-07-14 13:18] guyca commented on #125
[Elevation](https://material.google.com/what-is-material/elevation-shadows.html) is part of google's [design guideline](https://material.google.com/layout/structure.html#). Can you please describe the use case where you'd want to disable the default elevation?

[2016-07-14 15:00] RichardLindhout commented on #125
When you have a scrollable tab below it. Which is not yet supported here ;)

Op 14 jul. 2016 15:18 schreef "Guy Carmeli" <notifications@github.com>:

[2016-07-14 15:35] ronaldheft opened #126 "Tab bar styling on Android requires full 6-char hex code"
Setting the tab bar styling on Android requires full 6-char hex code or a hard crash will occur.

This works on iOS and Android:

[code]

This does not work on Android, but works on iOS:

[code]

This also does not work on Android, but works on iOS (HTML5 colors):

[code]

[2016-07-14 17:10] guyca commented on #125
We're going to implement tabs in the AppBar real soon. @rotemmiz has already started work on it.

[2016-07-14 17:10] #125 closed

[2016-07-14 17:33] RichardLindhout commented on #125
Thanks for the heads up! I like this library.

Some suggestions
- collapsingtoolbar and such things would be cool if we have that also in
the iPhone version Android support it already but not in this library or
react native

Op 14 jul. 2016 19:10 schreef "Guy Carmeli" <notifications@github.com>:

[2016-07-14 17:50] bentomas opened #127 "Swipe forward?"
I have a ListView, and I'd like to make it so that when you swipe a list view item from right to left, it drags in a specific screen for that item.  Is this possible?  Maybe by some how manipulating the stack when a swipe happens?

[2016-07-14 21:14] moooji opened #128 "animationType and type are not passed to DrawerControllerIOS in SingleScreenApp"
There seems to be a pending PR for this issue: https://github.com/wix/react-native-navigation/pull/66/commits/931c4410ca4edf1daeccd5bd372d6607cf9520c0

[2016-07-15 08:36] crisu83 opened #129 "How to hide tab-bar on a specific tab"
Hello, first I'd like to say thanks for this great library.

I'm currently working on a project where I would like to hide the tabs when a specific tab is active, much like the camera tab on the Instagram app, where you have to press cancel in order to return to the home screen. I've tried to find a solution, but so far I haven't had any success. It seems that there is no way to add custom buttons

[2016-07-15 09:35] guyca commented on #129
Hey @crisu83
You can define a [static `navigatorStyle` block](https://github.com/wix/react-native-navigation#styling-the-navigator) in the relevant screen, which will define the screen-specific styling options.

I think `tabBarHidden` is the property you'd want to use.

[2016-07-15 09:48] Hitabis commented on #122
Same on other actions.
`navigator.push({...})` after `navigator.hideModal()` is not working.

[2016-07-15 10:08] guyca commented on #125
[Collapsing BottomNavigation](https://material-design.storage.googleapis.com/publish/material_v_8/material_ext_publish/0B3321sZLoP_HNUFCLXIwV2FOcDQ/components_bottomnavigation_behavior_backtotop.webm) (BottomTabs as we call them) will be merged next week and collapsing ToolBar is also in the works

[2016-07-15 10:20] guyca commented on #127
Hey @bentomas
You can try capturing the drag\swipe gesture on the desired view with a `PanResponder` and when appropriate - push a new screen (set `animated: false` when pushing). In the screen you've just pushed, Animate the entire screen content with `Animated` as you see fit.

I haven't tried this, but it might work. We probably won't support such interactions in the library since the swipe ges

[2016-07-15 10:20] #127 closed

[2016-07-15 10:32] RichardLindhout commented on #125
Thats really cool!

Op 15 jul. 2016 12:08 schreef "Guy Carmeli" <notifications@github.com>:

[2016-07-15 10:49] guyca commented on #124
Hey @agumack
I checked the deep links implementation and it should work on Android.

But there's something else that might have caused the confusion, Currently there's a difference ,between iOS and Android, in the way screens are created:

* iOS - all of your tabs are created when your app starts. (The constructor of the First screen of each tab is called)
* Android  - Tabs are created when the us

[2016-07-15 15:40] ronaldheft opened #130 "Lifecycle event for finished opening Navigation.showModal()"
I'm placing an expensive item to render in a modal (the camera), and if it renders during open on Android, the screen experiences jank and dropped frames.

I'd like to solve the issue by not initializing the camera until the modal has finished opening. Reading over the React Native docs, the suggested method for this is to fire code on `InteractionManager.runAfterInteractions`, but I'm seeing this

[2016-07-15 17:24] agumack commented on #124
@guyca  i tried example on android, when i tab link from sidemenu alway error "this.props.navigator is undefined

when i call this.props.navigator on my apps, have the problem too.

IOS working fire!!!

[2016-07-15 18:26] guyca commented on #130
Hey @ronaldheft
Life cycle events, including `onDisplayed`, will be added in version 2.0, which we estimate will be available by the end of next month.

[2016-07-16 12:05] SvetoslavKuzmanov commented on #49
Hi all,

I'm still getting this warning and I cannot change the neither animation type nor the drawer type. Here is how I'm using it:
[code]

Any ideas anybody?

[2016-07-17 10:12] iosipeld commented on #100
As an alternative to @zocario solution, redux/flux action could be used to modify the state of parent component (parent component will listen to `componentWillReceiveProps` and then set a new state via `setState`).

[2016-07-18 06:46] aazarkhish opened #131 "Is there a way to disable animation for showLightBox?"

[2016-07-18 12:09] rubengarciam opened #132 "realm database types undefined"
I've migrated my app from _NavigatorIOS_ to _react-native-navigation_. I was previously using [Realm as database](https://realm.io/products/react-native/). Unfortunately now all items returned from the query, like Dates or [list properties](https://realm.io/docs/react-native/latest/#list-properties) type, seem undefined.

**Example for the Realm Date type:**

Declaration:

[code]
Use returning _un

[2016-07-18 12:14] beebase opened #133 "Cannot find RCCManager.h."
I updated node v2 to v3.10.5 but I'm still getting this error.
Anyone else?

[2016-07-18 14:10] tdanilov opened #134 "Tabs and NavBar on Android"
1) Hide NavBar with toggleNavBar({to: 'hidden'});
2) Go to other screen
3) Press Back

NavBar shows back.

The same for Tabs.

[2016-07-18 14:38] explorigin commented on #133
Did you delete your node_modules and run `npm install` again?

[2016-07-18 16:41] jqn opened #135 "Unable to resolve module ./screens"
Hi I just finished configuring this module and I'm getting this error `Unable to resolve module ./screens from /Users/user/...`

I'm running npm 3.9.3

[2016-07-18 20:25] dingbat commented on #113
Opened a PR in react-native-controllers to fix this: https://github.com/wix/react-native-controllers/pull/74

[2016-07-19 09:35] EtgarSH opened #137 "leftButtons crashes the App in Android"
`    Navigation.showModal({
      screen: 'example.someScreen',
      title: 'A Screen',
      navigatorStyle: {},
      navigatorButtons: {
        leftButtons: [{
          title: 'Cancel',
          id: 'navBarCancel'
        }]
      }
    });`

When I set leftButtons the application crashes immediately.

[2016-07-19 14:37] joefocusrite opened #138 "Customise default UIView background colour"
When using React Native, you can change the background colour of the default UIView in `application: didFinishLaunchingWithOptions:`. Using react-native-navigation, however, this doesn't have an effect because of the way UIViewControllers are vended.

A corollary of this is that I have a flash of white as the animation for the next scene is pushed onto the stack but before the JS has loaded a new

[2016-07-19 20:58] ronaldheft opened #139 "Android: Screen temporarily inherits other screen properties"
When displaying a modal on Android, if the app is backgrounded (either shutting off the screen or opening the app switcher), on resume the navigation stack can get messed up. Here is what I'm observing:

1. Launch tab app, with SCREEN_1 and SCREEN_2.
2. Open modal for SCREEN_3 from SCREEN_1.
3. Background app.
4. Resume app.
5. Close modal for SCREEN_3.
6. **SCREEN_1 is displayed the with navigato

[2016-07-20 02:50] musicode opened #141 "How to dismiss modal by press background"
API provide `dismissModal()` method, I think author hope developer to add a close button, once pressing it, call `dismissModal()`.

however, user is used to dimiss modal by pressing background, how can i do it?

[2016-07-20 07:51] guyca commented on #141
Can you please add a screen shot?

Navigation isn't aware of what you render in JS. You can wrap you views in a `TouchableNoFeedback` and dismiss the modal from the `onPress` callback. Is this what you're referring to?

[2016-07-20 07:55] guyca commented on #139
Thanks for reporting @ronaldheft

[2016-07-20 08:52] EtgarSH opened #142 "[Android] - Tabbar Labels"
![screen shot 2016-07-20 at 11 49 25 am](https://cloud.githubusercontent.com/assets/4920831/16980741/252a4650-4e70-11e6-9ad2-f734b30e83d1.png)

Please make the taabbar in the Android to look like this:
![screen shot 2016-07-20 at 11 50 55 am](https://cloud.githubusercontent.com/assets/4920831/16980762/40b0a7ca-4e70-11e6-8660-bde623accdfc.png)

(A label only on the selected button)

To make it to l

[2016-07-20 09:39] SPxiaomin opened #143 "cann't work well with react-native-barcodescanner"
following the instruction, I install the react-native-barcodescanner, and it work well without react-native-navigation. But, when it comes to react-native-navigation and I create a individual page for the react-native-barcodescanner to work, it cann't work well. When i go to the page by pressing a button on a another page, It only show a red line on the left, nothing else.

Plz help me~
thx in adv

[2016-07-20 11:00] musicode commented on #141
yes，thank you.

by the way, can you tell us whether 2.0 can release in September?

[2016-07-20 11:26] guyca commented on #141
You welcome. v2 should be available before September.

[2016-07-20 11:26] #141 closed

[2016-07-20 11:43] guyca commented on #143
@SPxiaomin Could you provide a sample project where I can debug this issue?

[2016-07-20 19:01] willoughby opened #144 "Tab bar bottom margin"
I need to create a 50px bottom margin on my tab bar to allow ads to be displayed as they are currently sitting over the top.

Do you have any idea how this can be achieved?

Thanks

[2016-07-21 02:51] SPxiaomin commented on #143
@guyca https://github.com/SPxiaomin/Barcode there is the sample project providing for you to debug.

thx for help me. The problem occur in a project I am doing now and there is a deadline for the project. I am now very nervous.

[2016-07-21 06:34] guyca commented on #144
Hey @willoughby You can't add the margin in your JS screens?

[2016-07-21 06:45] beast commented on #143
@SPxiaomin We are using react-native-barcodescanner as well and it's working fine with react-native-navigation 1.0.17 with react native 0.27 with some custom fix we did. I just took a look at the project, you are using react native 0.29.2. It will not work well with react-native-navigation. There are some breaking changes introduced to Android https://github.com/facebook/react-native/releases/tag/

[2016-07-21 06:50] beast commented on #133
@beebase I think your best bet is to make sure react-native-controller is in your node_modules folder and also your iOS project > build settings > header search paths > make you sure you have an entry '$(SRCROOT)/../node_modules/react-native-controllers/ios' and its set to recursive.

[2016-07-21 06:51] willoughby commented on #144
I doesn't move the tab bar, but just everything within the active tab.

![simulator screen shot 21 jul 2016 07 51 18](https://cloud.githubusercontent.com/assets/158088/17013674/efd05d84-4f17-11e6-9b1d-0fcad5a0213c.png)

![simulator screen shot 21 jul 2016 07 41 46](https://cloud.githubusercontent.com/assets/158088/17013638/c4f74b7c-4f17-11e6-99d7-dcd6ce720fdc.png)

When my app loads i call this, a

[2016-07-21 08:27] willoughby commented on #144
The ads are displayed using native code, so could it be that the view which contains the react-native app needs to resize somehow? When I used the react-native tabs this wasn't an issue.

[2016-07-21 08:38] guyca commented on #143
@beast I estimate we'll start migrating to RN 0.30 at the beginning of August.

[2016-07-21 08:49] guyca commented on #144
Are the ads wrapped in a [custom UI component](https://facebook.github.io/react-native/docs/native-components-ios.html) and rendered in the `render` method?

[2016-07-21 08:52] willoughby commented on #144
No, i wrote a bridge to obj which add it to the current root vc

` RCT_EXPORT_METHOD(displayBanner)
  {
    UIViewController *rootViewController = [UIApplication sharedApplication].delegate.window.rootViewController;

    dispatch_async(dispatch_get_main_queue(), ^{
      [Appodeal showAd:AppodealShowStyleBannerBottom rootViewController:rootViewController];
    });
  }`

[2016-07-21 09:15] guyca commented on #144
adding @artald to the conversation

[2016-07-21 11:38] artald commented on #144
@willoughby In your code you're always showing the ad on the app root view controller while the screen that you actually want to show it in is not the same. I think that this is the problem here.

In addition, since Appodeal is not open source we can't know for sure what they're doing to the view and how they're adding it.

Currently we don't have a way to access a specific ViewController. We can

[2016-07-21 13:35] SimchaShats commented on #143
I think as temporary solution you can put necessary modules in the method getPackages() in BaseReactActivity.java class in react-native-navigation module (like it was in previous versions of react-native)...

[2016-07-21 19:06] manuquentin commented on #12
Hi @alidawud,
can you share the code that you did to get this callback ?

Thanks !

[2016-07-21 19:51] maxs15 commented on #12
@manuquentin I ended up using componentWillUnmount to detect it, works great

[2016-07-22 03:43] beast commented on #143
@SimchaShats I don't think that is going to work according to this commit. https://github.com/facebook/react-native/commit/49f20f41546e3ba8e7fe43c84c4c701684d0434d

I tried it out regardless and it didn't work for me. I don't see any way other than upgrading the package.

[2016-07-22 12:21] aksonov opened #146 "Nested scenes support?"
I have one scene with own tab bar, how i could achieve that? Is it possible to nest tab navigators?

[2016-07-22 12:50] aksonov opened #147 "Hide TabBar entirely"
I don't need tab bar icons because i'm using drawer (so i need tab views), so how to hide tab bar for initial scene?

[2016-07-22 16:12] guyca commented on #146
Hey @aksonov, Could you please clarify your question?

[2016-07-22 16:14] guyca commented on #147
You can use `Navigation.startSingleScreenApp`

[2016-07-22 17:25] aksonov commented on #147
No, i need TabBar, but hidden. Anyway I've submitted PR already.

[2016-07-22 17:26] aksonov commented on #147
PR for react-native-controllers component.

[2016-07-22 17:27] aksonov commented on #146
Okey app has three tabs with scenes A, B, C. Scene B has own three tabs B1, B2 and B3.

[2016-07-22 17:43] agumack commented on #146
@aksonov you can use https://github.com/ArnaudRinquin/react-native-radio-buttons for this case

[2016-07-22 17:49] aksonov commented on #146
Hm... I don't need radio buttons, i need real hierarchical structure like native iOS has. Drawer represents first layer of 'tabs', that each tab could contain TabBar, for example.

[2016-07-23 08:52] agumack opened #148 "[Android] icon size too big"
Hi all,

I have problem with icon on android. I test icon image and iconvector both, seem size not apply.
I too big. Anyone have same problem?

[2016-07-23 17:44] agumack commented on #86
@guyca User add item to the shopping cart from tab other.

Here i have CategoriesTab and CartTab. How state on CartTab change when user add form categoriesTab?

[2016-07-23 19:54] kkesley opened #149 "IOS TabBarController"
Hi I'm wondering if the tabbarcontroller can display only icons (without label).. Right now I'm seeing a margin when there is no label on the TabBarController.Item

Thanks!

[2016-07-24 10:14] rmdort commented on #138
I am also experiencing a whilte flash before the JS is loaded. It will be good to have Splash image and a background color option.

[2016-07-24 12:22] guyca commented on #148
hey @agumack Are you referring to icons in Toolbar?

[2016-07-24 12:27] agumack commented on #148
yes @guyca I follow this guide: https://gist.github.com/dropfen/4a2209d7274788027f782e8655be198f

(TabIcon Ok, only problem with Toolbar)

[2016-07-24 12:27] guyca commented on #138
@artald We've has a similar issue in the past which was fixed in `controllers`, I think you reviewed the PR to fix it.

[2016-07-24 12:33] #147 closed

[2016-07-24 12:40] guyca commented on #146
@aksonov
We're not going to support this use case. By definition, bottom tabs are used to navigate between top level views. For the use case you described, I suggest you either use [tabs](https://material.google.com/components/tabs.html) or a JS implementation of bottom tabs.

[2016-07-24 12:40] #146 closed

[2016-07-24 12:43] rmdort commented on #138
Yes. the black screen with `controllers` was fixed. But I was wondering if we have a workaround for `white screen` appearing when Javascript is being loaded and executed.

https://github.com/facebook/react-native/issues/1402

How it was fixed in react-native was by loading a Launch screen

[code]

RCTRootview has `loadingView` property, But react-native-controllers doesnt. Is there a better way of

[2016-07-24 13:37] aksonov commented on #146
Are you giving link to android or cross platform component? Why just don't pass hidden style to tab bar? I've submitted PR for that for RN controllers already

Pavel.

[2016-07-24 23:16] lprhodes opened #150 "Addition of some sort of WillFocus, DidFocus mechanism."
Hi,

I just saw that you were currently working on 2.0 of RCC/RNN. I'd love for WillFocus, DidFocus notifications to be included within this.

In my case I need to perform actions when a user moves to a specific tab.

I've hacked this into the current version by sending the navigatorEventID to the RCCNavigationController and sending an app event from the viewWillAppear of RCCViewController in the

[2016-07-25 05:37] guyca commented on #146
Hey Pavel
The iOS Controller corresponding to Android Tabs is [Segmented Controller](https://developer.apple.com/library/prerelease/content/documentation/UserExperience/Conceptual/UIKitUICatalog/UISegmentedControl.html) and we're going add support to both components (`Segmented Controller` and `TabLayout` in `AppBar`) in the upcoming releases.

`TabLayout` should be available in version 2.0 on And

[2016-07-25 05:42] guyca commented on #150
Hey @lprhodes We're going to add life cycle events to the screens, this should give us indication when a screen is displayed after tab press or back button press etc.

[2016-07-25 18:33] satishpalli opened #151 "Drawer in Android is not working like IOS drawer"
hi team

in IOS Drawer is working fine but same functionality not working in android.
getting error undefined is not an object(evaluating 'this.props.navigator.showModal')

can some one please help how to resolve this issue

[2016-07-25 23:40] explorigin commented on #151
Yes, navigator is not passed to Drawer on Android.  We're waiting for the major Android re-write that will start next month. https://github.com/wix/react-native-navigation/issues?q=is%3Aissue+is%3Aopen+label%3Av2.0

[2016-07-26 11:04] musicode commented on #36
@artald Do you means put a default.png under the project root directory?

[2016-07-26 13:04] guyca commented on #148
Hey @agumack are you seeing these issues in release or debug?

[2016-07-26 14:25] chrisaspringer opened #152 "Example Redux fails to load on iOS"
Upon build in XCode, and after running an `npm install` with node v6.3.0 and npm v3.10.3, get red error screen with the message `this._nativeModule.addListener is not a function...`

[2016-07-26 14:44] jarredwitt commented on #152
I know when I tried to run the examples I got the same error and was able to fix it by adding -lc++ to the Other Linker Flags in the Linking section of Build Phases.

[2016-07-26 19:08] maxs15 opened #153 "statusBarTextColorScheme issue"
Hi,

I'm having an issue when launching my app in the release mode.
The `statusBarTextColorScheme` style property isn't set correctly on the first view that is loaded. (It is dark instead of light)
When pushing a next view, everything is working fine.

Super weird that it is only happening on a release build, someone has any idea where could be the issue ?

Thanks

[2016-07-26 19:32] artald commented on #36
@musicode yes, the method of using a default.png is supported.

Currently you can use either:

1. default.png
2. launch xib (defined in info.plist using `UILaunchStoryboardName`).
3. xcassets LaunchImage

Personally I prefer the xcassets option.

Also note that currently storyboard files are not supported as splash.

[2016-07-26 21:20] jackread commented on #49
Doesn't look like this was implemented for startSingleScreenApp

Still getting a warning every time.

[2016-07-27 03:02] hammadj opened #155 "Support Universal Links"
https://developer.apple.com/library/ios/documentation/General/Conceptual/AppSearch/UniversalLinks.html

This is one of the new ways to do "deep links" in iOS 9, should have this as a part of https://github.com/wix/react-native-navigation#deep-links

idk if this should belong here or in https://github.com/wix/react-native-notifications

[2016-07-27 09:37] chrisdukey commented on #79
I just got this error on a project, turns out I'd forgotten to run `npm install react-native-navigation --save` in my project folder. Doh!

[2016-07-28 07:49] messense opened #156 "How to dismiss modal in redux style?"
Let's say I have a login modal, after I hit login button it dispatches a ``LOGIN_REQUEST`` action and calls a API to login. Then it dispatches a ``LOGIN_SUCCESS`` action and changes some states in the redux store.

Now I want to dismiss the login modal, how should I do that in redux style?

Surely I can pass a callback function through out the ``LOGIN_REQUEST`` and ``LOGIN_SUCCESS`` actions then i

[2016-07-28 08:38] smartdriver001 opened #157 "Android: can custom navbar style ,push or pop no animation, anyone can update this?"
android :  how can i custom navbar style ?  like title show in center , and when push or pop scene no animation, anyone can update this?

[2016-07-28 11:35] guyca commented on #156
Hey @messense
You can call `dismissModal` with out an actual instance of `Navigator`

[code]

[2016-07-28 11:38] guyca commented on #157
Hey @smartdriver001
Showing title at the centre of the screen won't be supported since it's discouraged in Google's design guide lines.

Pushing and Popping with out animation will be supported soon

[2016-07-28 15:02] messense commented on #156
@guyca Thanks. It works.

But now I can not easily test my reducers because ``react-native-navigation`` tries to use platform specific extensions for the ``platformSpecific`` module but in my test setup Babel still try to use ``./platformSpecific`` which results in an error.

[2016-07-28 15:04] #157 closed

[2016-07-28 18:39] jackread opened #158 "passProps not being passed"
Pass props aren't being passed to each screen...

I edited line 128 on platformSpecific.ios.js to get it

[code]

[2016-07-28 19:28] #156 closed

[2016-07-28 19:32] guyca commented on #158
Thanks for reporting @jackread

[2016-07-28 19:51] #148 closed

[2016-07-29 03:19] messense commented on #156
After using the awesome [mockery](https://www.npmjs.com/package/mockery) package in my unittest setup, the error is gone.

[code]

[2016-07-29 03:44] guyca commented on #156
glad to hear @messense

[2016-07-29 03:52] musicode commented on #36
@artald @guyca

Do you have a plan to write a image pinch and drag effect for ios and android by native code?

I think the feature is very common, but I can't find a good library in github.

[2016-07-29 10:01] artald commented on #36
@musicode

That's a nice idea, thanks!

Unfortunately, we don't have plans for creating such components for the time being. We usually work on new components when we need them in our own projects and there's not enough time and resources to handle new stuff otherwise..

[2016-07-29 10:01] #36 closed

[2016-07-30 14:18] raffibag commented on #9
Hi all - I tried the above suggestions, but am having difficulty getting the calls to `startSingleScreenApp` and `startTabBasedApp` to render in the correct order.

I'm using `react-native-meteor` to connect to our Meteor app, and am pulling in the various apps into the App index as components. The logic I'm using to determine app states is:
[code]

[2016-07-30 19:47] shannoga opened #159 "set options and styling the drawer"
Hi

Is there an option to control the drawer.
More specifically  - set the width of the open state, remove or change the shadow of the drawer when opened etc.
Thanks any way for this great component.
Shani

[2016-07-31 19:32] mastermoo opened #160 "Tabbar Screens should mount only when visited"
I noticed that in each Tab I have, the `componentDidMount()` method gets called, although I didn't visit the tabs, yet. So the app makes several API calls, when I start the app.
Am I doing something wrong? Or is it going to get fixed?

Thanks!

[2016-08-01 01:48] phuna commented on #150
@guyca will those life cycle events be available soon? I need something like viewWillAppear to update list view after adding a record to the list. Thank you.

[2016-08-01 06:40] guyca commented on #160
Hey @mastermoo This is the intended behaviour. We will be adding screen life cycle methods soon (`onVisible`, `onHidden` etc).

[2016-08-01 06:40] #160 closed

[2016-08-01 06:43] mastermoo commented on #160
Awesome! Can't wait to use it 😊

		_____________________________
From: Guy Carmeli <notifications@github.com>
Sent: Monday, August 1, 2016 8:40 AM
Subject: Re: [wix/react-native-navigation] Tabbar Screens should mount only when visited (#160)
To: wix/react-native-navigation <react-native-navigation@noreply.github.com>
Cc: Yousef Kamawall <yousef.kamawall@gmail.com>, Mention <mention@noreply.github

[2016-08-01 10:32] phuna commented on #150
@lprhodes : can you elaborate the mechanism you're using to achieve that kind of 'DidFocus' event with react-native-navigation? Thanks in advance.

[2016-08-01 11:33] mastermoo commented on #112
It would still be useful to have these options..

[2016-08-01 13:52] longsangstan opened #162 "Icons only Tab Bar with correct height(no extra spaces under the icons)"
Hi,

Is possible to show icons only on Tab Bar with correct height? I know we can supply an empty string to `label` in `startTabBasedApp`, but there would be extra spaces originally reserved for text under the icons.

Thanks.

[2016-08-01 16:20] satishpalli opened #163 "RootActivity.java not found in latest react-native-navigation"
Hi Team,

RootActivity.java not found in this path:
react-native-navigation/android/app/src/main/java/com/reactnativenavigation/activities/RootActivity.java

in latest relase and while launching in Genymotion "Unfortunately app stoped " message is getting. can you please help.

[2016-08-01 16:25] ofirdagan opened #164 "Add a way to set testID on tabs"
In order to test a tab based app in a e2e test such as [detox](https://github.com/wix/detox) you want to be able to "select" tabs.

The best practice here is to select the tab by it's testID property (part of ios accessibility module)

[2016-08-01 17:37] ronaldheft opened #165 "2.0-experimental is published to npm as latest"
https://www.npmjs.com/package/react-native-navigation

[2016-08-01 18:25] agumack commented on #162
+1

[2016-08-01 18:27] agumack commented on #72
@guyca can you add this feature for v2.0?
Thank you so much

[2016-08-01 19:15] smooJitter commented on #165
It's probably a lot to ask but is there a release note for this.  I haven't updated for a while because I remember reading about you all completely restructuring the "stack" . What's changed?

[2016-08-01 22:15] adamski commented on #163
I wonder it its the same issue as I'm having:
[code]

[2016-08-01 22:23] adamski opened #166 "Android: Cannot find library or import com.reactnativenavigation.activities.RootActivity"
Not sure what I'm doing wrong here.

[code]
results in
[code]

I can see the library module in Android Studio. I've checked its listed as a module dependency in my main app.

[2016-08-02 05:26] guyca commented on #166
hmm are you using `latest` in your `package.json`? try to use v 1.0.30 specifically

[2016-08-02 05:39] guyca commented on #165
@ronaldheft marked 1.0.30 as latest. Thanks for reporting

@smooJitter We'll write a post describing the changes, plans for the future and future milestones.

[2016-08-02 05:39] #165 closed

[2016-08-02 05:40] #166 closed

[2016-08-02 05:47] guyca commented on #163
@satishpalli We made a mistake and published version 2.0.0 as latest. I marked 1.0.30 back as latest so just `npm i react-native-navigation` to get it.

For now, I recommend you set `react-native-navigation` version in `package.json` to `^1.0.0` so you don't get any breaking versions.

[2016-08-02 05:47] #163 closed

[2016-08-02 08:38] adamski commented on #166
I'm now using 1.0.30 and still getting this error... I'm actually using a branch off current master https://github.com/adamski/react-native-navigation/tree/gradle-experimental but only difference is `gradle.build` file

[2016-08-02 08:41] rubengarciam commented on #132
Found the issue. All props are need to be serializable unf :(

[2016-08-02 09:59] guyca commented on #132
@rubengarciam We plan to remove this requirement in one of the upcoming releases.

[2016-08-02 12:01] guyca commented on #166
Could be a gradle cache issue

[2016-08-02 12:40] adamski commented on #166
Maybe... However i wasn't referencing `latest` so think it might be some other gradle issue. My project is nonstandard as I'm using the experimental gradle plugin (its originally generated as a JUCE C++ app via Projucer) I had to make a couple of adjustments

[2016-08-02 14:48] son021293 commented on #162
Yesterday, I got the same issues. In iOS, I edit file RCCTabBarController.m
`
Line 79:
 // create the tab icon and title
    NSString *title = nil;
    id titleTabBar = tabItemLayout[@"props"][@"title"];
    if(titleTabBar) {
      title = titleTabBar;
    }
Line 99:
 viewController.tabBarItem = [[UITabBarItem alloc] initWithTitle:title image:iconImage tag:0];
    if(title) {
      continue;
    }

[2016-08-02 16:51] ronaldheft commented on #139
Tracked this issue down. The back button usage for closing modals does not call `onDismiss`, which does not trigger an `updateStyles` call. I can submit a PR, but I'm not sure if you're taking PRs right now with 2.0 looming.

[2016-08-02 18:59] adamski commented on #166
I tried deleting the Gradle cache and still same issue... investigating further.

[2016-08-02 19:19] andybbtt11 commented on #159
+1, the ability to create full width drawers, remove shadows, etc would be great.

[2016-08-02 21:28] adamski commented on #166
Created an SO question: http://stackoverflow.com/questions/38730675/module-app-dependency-results-in-error-package-x-does-not-exist

[2016-08-02 21:51] mastermoo opened #167 "some feature requests/questions..."
Hey,
I have a couple of Feature requests/questions:
1. Can we change the color of the bottom border of the NavigationBar? The current one ist way to dark. Maybe we could at least make the default color lighter..
2. Can we change the Back Button to a different icon (without having to remove the BackButton for each screen and instead set a custom LeftButton with a different Icon)? Ideally by setting

[2016-08-03 07:48] adamski commented on #166
Solved this issue - I just had to delete the `productFlavours` part of RNN's `build.gradle` as its not being used here..

[2016-08-03 09:02] agumack commented on #167
Hi, I have same proble, and react-native-navigation not support at time.

I have resolved by, config navBarHidden=true and style header on special view.

: )

[2016-08-03 09:23] mastermoo commented on #167
Yes I have the same solution right now.
However, you are noticing the missing NavigationBar when you are pushing a new scene -> the NavigationBars don't blend in and it looks weird.

[2016-08-03 14:32] gazpachu commented on #133
I'm having a similar issue

![screen shot 2016-08-03 at 15 31 52](https://cloud.githubusercontent.com/assets/1721288/17369239/6df2a42a-598f-11e6-94e7-8a7ddd8a2fe8.png)

[2016-08-03 15:13] kcfgl opened #168 "How well does this package work with Win Phone new support of RN"
You guys have done an awesome job with this package. I'm thinking of switching over to it.  But unfortunately, I need to support Win Phone (I know).  I know you're working on Android now so I doubt you've moved into Win Phone.  But before I strip out the old Nav logic and implement this, I was curious if anyone has had experience leveraging this package when developing with the new react-native-wi

[2016-08-03 15:50] guyca commented on #133
@gazpachu Screens are still registered. But you don't need to define a "main" screen anymore.
Instead, your app is created when your static JS code is executed and `Navigation.start*App` is called.

You can follow example-redux project to setup your first project.

[2016-08-03 16:13] drorbiran opened #169 "Milestone: Version 2.0.0"
So we thought that it will be a good idea to share with you our plans for [Version 2.0.0](https://github.com/wix/react-native-navigation/milestone/1).

The main purpose of this issue is to create a discussion about the version scope and overall architecture.
We'll start to use [Version 2.0.0](https://github.com/wix/react-native-navigation/milestone/1) milestone to collect all PRs and issues that w

[2016-08-03 16:14] longsangstan opened #170 "Transparent Tab Bar like transparent Nav Bar"
Hi,

Is it possible to set Tab Bar to transparent like Nav Bar(i.e. `navBarTransparent: true`)?

From the docs(https://github.com/wix/react-native-navigation#styling-the-tab-bar) it seems that we cannot set Tab Bar to transparent directly.

I have tried setting the Tab Bar color to something like `rgba(0, 0, 0, 0)` or `transparent` together with `drawUnderTabBar: true`, but the background would be

[2016-08-03 16:35] gazpachu commented on #49
I'm also still getting that warning with startSingleScreenApp all the time.

[2016-08-03 17:05] hussam-almarzoq opened #171 "A bridge instance is required to create an RCTRootView"
Hi,

I'm trying to get started with react-native-navigation but I'm getting this error when running this code.

Exception 'A bridge instance is required to create an RCTRootView' was thrown while invoking setRootController on target RCCManager with params (
        {
        children =         (
        );
        props =         {
            component = Home;
            id = "g6llc2jessg0k_nav"

[2016-08-03 19:31] explorigin commented on #169
Something that might be helpful is to list features that are planned in the future...but not for this version.  Since this is a redesign (new work), will it have features of the current release version (I'm thinking of the drawer mainly)?

[2016-08-04 03:56] kevando opened #172 "Can I dismiss modal in the background?"
I have a modal that lets a user enter data. Upon successful entry, I would like the modal to dismiss and push to the screen of the newly created user data.

I cannot seem to push to the new screen without dismissing the modal, but every time I run dismissModal none of my navigator push functions work.

[2016-08-04 06:35] guyca commented on #172
Hey @kevando,
It's possible you are trying to push to the screen stack that was bound to the modal, which you've just dismissed.

To push a screen, you require a `navigator` instance. That instance is bound to the current screen, or more specifically: to it's stack. You access that instance using `this.props.navigator`

If this is the case, you can dispatch an action to update the state with data

[2016-08-04 08:04] ccokme commented on #106
@cihancil Same issue, there is no push/pop animation on Android, IOS works fine.
@guyca Can you help to add this feature to the roadmap? thanks!

[2016-08-04 09:39] guyca commented on #106
@ccokme @cihancil
Android will support screen transition animations in the next release (v2.0)

[2016-08-04 10:03] messense commented on #167
Would be great to have 2 & 3.

[2016-08-04 10:03] messense commented on #167
It's really annoying.

[2016-08-04 12:09] guyca commented on #162
Implemented in the next release

[2016-08-04 12:09] #162 closed

[2016-08-04 12:17] ofirdagan commented on #164
b/c we already spread the tab properties on the TabBarControllerIOS.Item

the solution was to expose it on the native controller. Done by this pull request:
https://github.com/wix/react-native-controllers/pull/83

[2016-08-04 12:36] guyca commented on #164
@artald Can you take this?

[2016-08-04 14:30] SimchaShats opened #173 "Navbar visible size less than it's actual size"
On iPhone 4/4s a visible size of navbar almost twice less than it actual size, so it overlays part of the page and user can't touch stuff on the top of screen under navbar. On iPhone 5s it's actual size a little bit bigger then visible sizes but still some places on screen untouchable.

[2016-08-04 16:47] gazpachu opened #174 "Is there something like this package for React (web version)?"
The closest I can think of is React Bootstrap but I was wondering if there's something with the same sort of pull menus, overlays and push screens.

I'm starting a cross-platform project (web desktop, web mobile and native mobile) and I would like to have the same type of navigation animations and journeys as the ones provided in react native navigation.

Thanks!

[2016-08-05 00:25] lprhodes commented on #150
Hi @phuna,

I've just forked in order to integrate this now - I imagine the implementation @guyca has in mind will be vastly different but it achieves what I need right now.

It requires amends to both RNC and RNN:

https://github.com/lprhodes/react-native-controllers/commit/b57f7b64c5ba6adb2c3ebddf01ec40b1e23b301a

https://github.com/lprhodes/react-native-navigation/commit/ca839f99c0a4adeed74ef6f

[2016-08-05 03:45] phuna commented on #150
Hi @lprhodes : Thanks a lot for sharing

[2016-08-05 04:30] #172 closed

[2016-08-05 04:33] guyca commented on #168
Hey @kcfgl I doubt we'll support Windows Phone any time soon, we simply don't have the resources for that. Sorry.

[2016-08-05 04:33] #168 closed

[2016-08-05 15:57] adamski opened #176 "Android - W/AHBottomNavigation: The items list should have at least 3 items"
I'm getting this error in my app which precedes a NullPointerException as I assume the items array is empty.
[code]
[code]

The examples don't have this issue. I'm in the process of porting a working iOS app using RNN over to Android. I'm wondering if there are any differences in the API that I might have missed? Looking at the examples the API seems (almost?) identical across platforms.

[2016-08-05 16:00] adamski commented on #142
Do you mean

?

[2016-08-05 19:11] ivanakimov opened #177 "Example not working on iOS simulator"
[code]

Am I missing something? Simply cloned the repo and did `react-native run-ios` after `npm install`.

[2016-08-05 21:33] mastermoo opened #178 "Getting warning message when Tab Screen sets state in componentDidMount"
Hey,

I'm getting a warning, that my components should not set state, when they are not mounted, see below screenshot. This happens to components which are used as Tab screens and they set the state in componentDidMount (in my case after an api request).

I also noticed, that the componentDidMount method gets called twice, which causes some side effects (code gets initialized twice).

Am I doing s

[2016-08-06 03:48] rmdort opened #179 "Errors after 0.31.0 upgrade"
Getting the following errors with `objc_setAssociatedObject` in RCCNavigationController.m after 0.31.0 react-native upgrade

![image](https://cloud.githubusercontent.com/assets/118231/17454523/b27d68ee-5bcb-11e6-8e6d-7c7152c45b31.png)

[2016-08-06 03:50] webzepter commented on #179
@rmdort https://github.com/techery/react-native-controllers/commit/7e363e8ac129ec94289f98a227d521c4055b299a

[2016-08-06 06:35] guyca commented on #179
@rmdort We're still using RN 0.25.1 for our internal projects, so we're not supporting RN 0.31 yet. I can't guarantee, but we'll probably upgrade from RN 0.25.1 in the next 2-3 weeks.

[2016-08-06 06:49] guyca commented on #176
Hey @adamski, I think you've described two different issues.
The first is simply a warning since you have less then three tabs. According the Android design guidelines, Bottom navigation shouldn't be used with less then three tabs. We plan to add an option to start an app with `TabLayout` in the `AppBar` as the main form of navigation. That will provide a solution to this use case since tabs can b

[2016-08-06 07:08] adamski commented on #176
I see them as related, as I have 3 tabs, but for some reason it seems that `items` is empty. Been trying to track it down but difficult to debug as I can't put debug log statements in the AHBottomNavigation lib as its read only.

[2016-08-06 07:56] guyca commented on #176
Check if some of the icons have `.ios` suffix - the packager ignores these files by default when you run on Android.
This error is in debug or release mode? Are you debugging on emulator or a device?

[2016-08-06 07:58] guyca commented on #142
implemented in v2.0

[2016-08-06 07:58] #142 closed

[2016-08-06 08:04] guyca commented on #178
Hey @mastermoo
What platform are you getting this warning on?

[2016-08-06 08:05] mastermoo commented on #178
Ob iOS 

Get Outlook for iOS

On Sat, Aug 6, 2016 at 10:04 AM +0200, "Guy Carmeli" <notifications@github.com> wrote:

Hey @mastermoo

What platform are you getting this warning on?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2016-08-06 08:08] adamski commented on #176
@guyca I'm debugging on emulator via Android Studio, pretty sure its in debug mode (I'm just hitting Run from AS). The icons are the same ones from the example app, so no they don't have the `ios` suffix.

[2016-08-06 08:48] adamski commented on #176
In my app, `screen.icon` within `SetupTabsTask.Map` is e.g. `reactcomponents_images_one` - which reflects the folder structure of the image, i.e `ReactComponents/Images/one@2x.png`.
However `screen.getIcon(this.mActivity)` returns `null`.

[2016-08-06 09:16] guyca commented on #176
@adamski I'm not sure I understand what values you're getting.
Can you please add a log [right before the icons are loaded](https://github.com/wix/react-native-navigation/blob/master/android/app/src/main/java/com/reactnativenavigation/activities/BottomTabActivity.java#L265), and print the value of `screen.icon`

[code]

You're supposed to get the icon's uri
[code]

What RN version are you using?

[2016-08-06 10:04] adamski commented on #176
RN version 0.28
`screen.icon` is `reactcomponents_images_one` (that's exactly where I had my log statement)- so looks like its not getting the URL, but a processed version of it instead.

[2016-08-06 11:20] guyca commented on #176
@adamski I tried running the example project with RN 0.28 - icons are loading fine.
How your tabs are defined? maybe there's something with the require statement.
What Android version are you using?

[2016-08-06 19:12] adamski commented on #176
Android version on emulator is 6. I'll dig further in to see how the icons are loaded.

[2016-08-06 19:41] adamski commented on #176
Tabs are defined as e.g.
[code]

[2016-08-07 09:10] chrise86 commented on #177
I'm getting the following when running in the simulator:

[code]

[2016-08-07 12:11] rui-infotrack opened #180 "Build error"
![image](https://cloud.githubusercontent.com/assets/12144265/17462293/b4406aac-5ceb-11e6-92ed-1e63972e1d60.png)
This is first time I use this library, so forgive my ignorance. Is there anything I missed here? I followed the instruction - Library link, build settings, etc. But the build failed. Is this some "classic" error?

Thank you very much

[2016-08-07 12:12] webzepter commented on #180
Duplication #179

[2016-08-07 12:17] adamski commented on #176
So I think I understand whats going on. I had issues getting the packager to serve JS on Android so I was saving the JS bundle. I was not doing the same for the image assets. The underscored path is actually the saved filename. Now that I'm saving the assets too, I can see the images in the `drawables` folder.  I am still getting the same error but at least I understand whats going on a bit better

[2016-08-07 12:18] divyekhanna commented on #179
+1 Facing the same issue. Downgrading react-native for now

[2016-08-07 12:20] webzepter commented on #179
@divyekhanna you can use this fix: https://github.com/techery/react-native-controllers/commit/7e363e8ac129ec94289f98a227d521c4055b299a

[2016-08-07 14:44] adamski commented on #176
If I check for the icons in `startTabBasedActivity` with
[code]
I can see the filenames without the suffix e.g. `screen.icon = reactcomponents_images_one`

However once it gets to the `doInBackground` method in `BottomTabActivity`, `screen.icon` appears to be `null`.

[2016-08-07 14:47] drorbiran opened #182 "Milestone: Version 2.1.0"
The main purpose of this issue is to create a discussion about the version scope and overall architecture.
We'll start to use [Version 2.1.0](https://github.com/wix/react-native-navigation/milestone/2) milestone to collect all PRs, issues and features that will be a part of the version.
## The general goals for this version are:
- Android tests
- iOS tests
- Activity results

[2016-08-07 15:12] guyca commented on #176
@adamski Can you try using `gradle` to build your app?

cd to `android` folder and use `./gradlew assembleDebug` or `./gradlew assembleRelease`
install the generated apk from `android/app/build/outputs/apk/`

[2016-08-07 15:41] drorbiran commented on #151
Drawer for Android is a part of our plan for Version 2.0.0

[2016-08-07 16:06] #144 closed

[2016-08-07 16:14] drorbiran commented on #134
This is fixed in Ver [2.0.0-experimental](https://github.com/wix/react-native-navigation/tree/v2.0#migrating-to-version-20).

[2016-08-07 16:14] #134 closed

[2016-08-07 19:27] perrosnk opened #183 "Can a Tabbar item open a Modal window?"
I wanted to ask if there is a way for a tabbar item to open a modal window, and on close, to navigate to the previous tabbar scene.

[2016-08-07 19:44] kevando opened #184 "What is a good approach to implementing an "onboarding" process with redux?"
I implemented the redux example and I would really like to include an onboarding process that is stored in redux.

For example, user does something to set the state such that it should display an onboarding message via lightbox. Any thoughts?

[2016-08-07 23:58] AlexNetsov opened #185 "Example app stops working"
I start from blank RN 0.31. After fixing the issue with the #import <objc/runtime.h> there are other problems. Second after starting the example app I get this errors in Xcode:

`2016-08-08 02:50:18.491 [warn][tid:main][RCTEventEmitter.m:52] Sending `websocketFailed` with no listeners registered.
2016-08-08 02:50:18.554 [warn][tid:com.facebook.react.JavaScript] Set to default type=MMDrawer animati

[2016-08-08 05:04] guyca commented on #183
@perrosnk You can call both, `showModal` and `dismissModal` from a static reference to `Navigation`.

[code]

[2016-08-08 05:04] #183 closed

[2016-08-08 05:18] guyca commented on #184
@kevando Maybe consider using [Overlay](https://github.com/brentvatne/react-native-overlay) or something similar. I'm not sure what's the common approach for onboarding overlays (I assume that's what you meant)

I'm not sure about lightbox, but on Android the Modal has transparent background, so you could show it with no animation, and do your magic in JS.

[2016-08-08 05:49] messense commented on #179
Will there be a bugfix version of react-native-controllers pushed to npm soon?

[2016-08-08 07:49] perrosnk opened #186 "Best way to transtion from singleScreenApp to tabBasedApp?"
What is the best way to transition to a tabBasedApp after the user has signed in, without using redux?

[2016-08-08 08:43] guyca commented on #186
With out using redux? why wouldn't you use redux for this use case?

[2016-08-08 08:43] #186 closed

[2016-08-08 08:52] perrosnk commented on #186
Because I don't really need redux in any other part of the app, but anyway thanks a lot!.
By the way, do you know if it's possible to use mobx?

[2016-08-08 11:16] perrosnk opened #187 "Using MobX instead of Redux"
Is anyone using Mobx instead of Redux? If yes, would it be possible to share some boilerplate?

[2016-08-08 11:22] guyca commented on #186
I haven't tried. Sorry.

[2016-08-08 13:47] kevando commented on #184
@guyca  Thanks for responding. I can make the overlays work with lightbox, my onboarding display is not complex, but I would like to have several pop ups throughout the entire experience.  Therefore I want a more sophisticated way of displaying the onboadring messages that is seperate from the app code.

I'm going to try adding the following code to the onStoreUpdate function in the [Redux Example

[2016-08-08 14:00] adamski commented on #176
@guyca I just built the apk and installed onto the emulator with `adb -e install -r app/build/outputs/apk/app-x86-debug.apk `. Unfortunately I got the same result as from the AndroidStudio build.

[2016-08-08 20:39] igagen commented on #185
I just ran into this same issue

[2016-08-08 20:56] mastermoo commented on #187
+1

[2016-08-08 20:58] mastermoo commented on #178
ok I found the error. It was a mistake on my side. I called `Navigation.startTabBasedApp(...)` twice.

Sry!

[2016-08-08 20:58] #178 closed

[2016-08-09 01:52] #132 closed

[2016-08-09 07:05] arieh opened #188 "Build failed on first attempt"
Trying to run the project for the first time, I'm getting an xcode build error.

I've followed all of the instructions in the README, and when running `react-native run-ios` I get the following error:

[code]

Versions:
- node 6.3.0
- npm 3.10.3
- react-native 0.31
- react-native-navigation 1.0.30

After looking at other tickets - I have tried running `react-native` upgrade, but it did not help (o

[2016-08-09 07:07] leotu opened #189 "'statusBarHidden' not work under SideBar menu Screen"
I want to hide status bar for side bar screens, but it don't work.
But "&lt;StatusBar hidden={true} /&gt; " will hidden always that I just want it disappeared only under drawer's control screens.

---

export default class Menu extends Component {
  ..
  static navigatorStyle = {
    statusBarHideWithNavBar: true,
    statusBarHidden: true,
  };
  ...

---

Navigation.registerComponent('sidebar.Me

[2016-08-09 08:30] leotu opened #190 "It is possible only to change screen's title without change tab item's title automatically ?"
## Here is my code:

Navigation.startTabBasedApp({
  tabs: [
    {
      label: 'MyLabel',
      screen: 'my.Demo',
      title: 'MyTitle',
    },
    ...
## In 'my.Demo' screen if change the title will also change tabbar item's 'label'

 this.props.navigator.setTitle({
  title: "MyTitle2"
});

then label will become "MyTitle2" too.

[2016-08-09 10:12] knot123 commented on #185
Same here!

[2016-08-09 10:16] knot123 commented on #187
+1

[2016-08-09 12:18] rzmz commented on #188
I'm getting that same error trying to build my project after adding react-native-navigation

[2016-08-09 16:04] divyekhanna commented on #37
+1

[2016-08-09 19:22] DanielZlotin opened #192 "Global passProps handling"
There are 3 "scopes" of passProps that I can think of:
1. per screen (as in Navigator.push)
2. per secondary tab (top tab)
3. global (as is defined in startTabBasedApp) which is passed down to all screens

The first one is handled correctly, the second one should be the same (the current issue with it is that we don't assign `screenInstanceID` to each screen under the view-pager / segmented contro

[2016-08-09 19:24] DanielZlotin opened #193 "topTabs (secondary navigation) passProps handling"
The issue here is that we don't assign `screenInstanceID` to each screen under the topTabs.

[2016-08-09 22:08] perrosnk opened #194 "Swipe to pop()? [QUESTION]"
Is it possible to swipe to pop a screen (go back)?

[2016-08-10 04:14] danceyoung opened #195 "Tabbar always is over contentview"
I have set navigatorStyle={drawUnderTabbar:true},but the bottom Tabar still over contentview

RN Version: 0.31
react-native-navigation version: 1.0.30
platform:android

[2016-08-10 06:45] guyca commented on #195
Fixed in version v2.0

[2016-08-10 06:45] #195 closed

[2016-08-10 06:48] guyca commented on #194
Hey @perrosnk
Not sure about iOS, but when you push a screen on Android, the previous screen is removed from the hierarchy to conserve memory. So you can detect swipe in JS witch out actually animating the screen then call `navigator.pop` and it will work. But if you change the screens coordinates, then the previous screen won't be behind it and it will look weird.
Hope I answered your question.

[2016-08-10 06:48] #194 closed

[2016-08-10 08:49] alexesDev opened #196 "Assert: Expect all root views to have unique tag. Added 1 twice"
After update react-native to 0.31 I have one assert in RCTUIManager.m
https://github.com/facebook/react-native/blob/master/React/Modules/RCTUIManager.m#L374
After comment this line -  all works fine.

That's my fault?

[2016-08-10 08:53] guyca commented on #196
@alexesDev Navigation still doesn't support RN 0.31 officially. Internally we're still using RN 0.25.1

We'll upgrade from RN 0.25.1 later this month

[2016-08-10 08:56] alexesDev commented on #196
@guyca I understood, thanks for the answer.

[2016-08-10 08:56] #196 closed

[2016-08-10 09:48] DanielZlotin opened #197 "Naming conventions"
There are 2 major problems in software:
1. Naming
2. Cache invalidation
3. Off by one errors

Seriously though, the current naming convention is based on facebook's Navigation apis, and IMHO is a mess.
**It's partly based on iOS naming, highly inconsistent between the platforms, and generally confusing.**
### As part of the redesign effort of Android for 2.0 we came up with a few basic concepts to

[2016-08-10 13:48] folivi commented on #179
did @webzepter fix work for you?

[2016-08-10 13:50] #174 closed

[2016-08-10 18:08] adamski commented on #187
Just started looking at MobX and I'd be interested in using it with RNN too..
+1

[2016-08-10 18:32] folivi commented on #185
RN 31 not supported yet. I had to downgrade to 27 to get it to work

[2016-08-11 02:06] danceyoung commented on #195
but current version is 1.0.30 in NPMJS

[2016-08-11 05:57] guyca commented on #195
@danceyoung That's correct. v2.0 is still under development, you can check it out if you change the version in `package.json` to `next` instead of `^1.0.0` or whatever you're using.
Theres a short [migration guide here](https://github.com/wix/react-native-navigation/blob/v2.0/README.md#migrating-to-version-20)

[2016-08-11 12:26] adamski commented on #187
According to https://github.com/aksonov/react-native-mobx it is "framework" free so in theory should be able to use it with RNN as-is. I will try this soon...

[2016-08-11 15:40] adamski commented on #176
The plot thickens. I have spent the last couple of days doing lots of debugging on this. I've narrowed it down to what seems to be a very strange case of a disappearing `ReadableArray` object.

As I described above, if I put the following debug code into `RctActivityModule.startTabBasedApp`
[code]
I can see the icons.

However, it seems that once it gets to the `createScreens` method the `Readable

[2016-08-11 15:48] perrosnk commented on #187
If you could share a boilerplate if you manage to do it, it would be very helpful for the whole community I think!

[2016-08-11 16:14] leotu opened #198 "Will it support "titleView" in the future version ？"
It is only support string or image, I hope it could be more flexibility  in navigator bar title area,
i.e. SearchBar

[2016-08-11 16:16] guyca commented on #176
@adamski I'm not sure the issue is disappearing object. If you're installing a debug version, the image assets aren't copied to the device, since they are not part of the apk you are installing. They are served from the local server. So if you're not getting a URL, the asset name doesn't help much.
It's a positive sign that the images are resolved but getting `reactcomponents_images_one` doesn't h

[2016-08-11 16:21] guyca commented on #198
@leotu We will probably provide support for SearchBar in ToolBar (At least on Android) since this feature is requested a lot by the community. But I can't guarantee on time frame.

We're also considering supporting custom react views in the tool bar. I hope to experiment with this once the Android version stabilizes more.

[2016-08-11 16:25] adamski commented on #176
@guyca the image thing is a red herring, as far as I see. The real issue that I can see here is that the `ReadableArray` object seems to become null in the `createScreens` method. `title` is also null.

One difference I have noticed is in my app `build.gradle` I do not have a reference to `react.gradle`. I have copied it over but I think I need to convert it to the gradle experimental format (!) f

[2016-08-11 17:26] robinsmedberg commented on #179
Any news on Android upgrades needed after react-native@0.29.0?

Seems some code have moved from MainActivity to MainApplication.
The error I get is a white screen.

[2016-08-11 20:04] 1800joe commented on #112
@guyca, it would definitely be useful to be able to change more styles than just the text color. Every application is going to have its own set of branding guidelines that will dictate font, size, colors. Please let me know what reservations you have about opening the API up for a few more customizations. Thanks!

[2016-08-11 20:24] guyca commented on #112
Hey @1800joe @mastermoo
Currently in v2.0, the following TitleBar (Yup, `TitleBar` instead of `navBar` see the new [naming convention](https://github.com/wix/react-native-navigation/issues/197) we're trying to use) are available:

* Title color
* Button colors (each button can be configured individually as well)
* Background color

If there's a demand from the community to style title font - we'll

[2016-08-11 20:29] guyca commented on #189
@leotu what platform?

[2016-08-11 22:06] joshwhatk commented on #49
Same here. It may have something to do with the react-native version? I'm using version 0.30.0.

[2016-08-11 22:19] folivi commented on #49
@joshwhatk @gazpachu
your drawer should look something like this:

drawer: {
         type: 'MMDrawer',
         animationType: 'slide',
         left: {
             screen: 'viewNamespace.SideMenuView'
         },
     }
Note that the package doesn't follow RN version changes. I had to downgrade to RN 26 to get the package fully working

[2016-08-11 23:46] 1800joe commented on #112
Gotchya, I think it will be a much appreciated feature :-). I'll take a look at what it'll take to implement, anything I should know going into it?

[2016-08-12 16:50] 1800joe commented on #173
I have found this to be the case on iPhone 5 and 5s, but to a lesser degree.

[2016-08-12 17:19] guyca commented on #173
@artald Have you ever noticed this?

[2016-08-12 17:29] artald commented on #173
@guyca can't say I've noticed this issue.

We're using the native `UINavigationController` which actually reserves a very small extended touch area for the navigation bar buttons but it is not that noticeable, doesn't change from one device to another, and not in our control.

Not sure if I understand completely if that's the problem, or maybe that the screen content appears beneath the navigation

[2016-08-12 18:16] JustinJKlein commented on #185
Me too!  I would love to see this fixed soon!

[2016-08-12 18:27] bbrock25 commented on #185
Are there plans to support 0.31? I just found this project today and I'm so pumped on it I'm considering rolling RN back to 0.25 on my project for these features :)

[2016-08-12 19:15] guyca commented on #173
Thanks @artald.

@SimchaShats @1800joe Can you confirm if this issue is related to [`drawUnderNavBar`](https://github.com/wix/react-native-navigation#style-object-format) or not? thanks.

[2016-08-12 19:19] guyca commented on #185
@bbrock25 Officially we support RN 0.25.1. From what I read here in the threads, some users are using RN 0.27 with out problems.
We're going to upgrade the project to the most up to date version at the end of august/ beginning of September.

[2016-08-12 19:20] bbrock25 commented on #185
👏 thanks @guyca, that's very exciting.

[2016-08-12 21:55] #184 closed

[2016-08-13 01:43] egdelwonk commented on #21
Is there a 2.0.1 release on npm? I can't seem to find one.

[2016-08-13 11:23] mastermoo commented on #187
@perrosnk @adamski @knot123 there u go... [navigation-mobx-example](https://github.com/mastermoo/navigation-mobx-example).
It's based on this [redux-example](https://github.com/wix/react-native-navigation/tree/master/example-redux).

[2016-08-13 19:05] mastermoo commented on #187
@guyca it would make sense, to add the mobX example to this repo, as well. What do u think?

[2016-08-13 22:47] guyca commented on #187
@mastermoo Thanks for taking the initiative and making an example project. MobX sounds interesting and we're excited to hear you got navigation working with it. Are you using MobX with Navigation in production?

If it's ok with you, I'll link your project and this thread in the readme file. Adding another example project isn't feasable at this time, since we can't commit to another framework. We h

[2016-08-13 22:57] mastermoo commented on #187
Yes it's good with me.MobX is really a joy to use compared to redux. Yes, currently, I'm building a fairly complex app using Navigation and MobX. 😊Good to hear, that there is a lot planned for this library! I would really like to contribute to this repo, but I don't know any Objective C :/

		_____________________________
From: Guy Carmeli <notifications@github.com>
Sent: Sunday, August 14, 2016 1

[2016-08-14 08:23] DanielZlotin commented on #112
We will be happy to add more options / will ask you to make a pull request - **after the styling API stabilized** - should be after v`2.0.0`

[2016-08-14 09:17] guyca commented on #112
@1800joe We welcome any contribution to the project, thanks. Right now we're about to finish the rewrite of the Android version, after which we're going to invest time on the iOS side of the project and integrate `react-native-controllers` into the library. So we won't have time in the next month or two to accept pull requests.
Once things stabilize we'll have a better understanding of how the com

[2016-08-14 09:43] guyca commented on #151
fixed in v2.0

[2016-08-14 09:43] #151 closed

[2016-08-14 09:44] guyca commented on #137
fixed in v2.0

[2016-08-14 09:44] #137 closed

[2016-08-14 09:44] guyca commented on #124
fixed in v2.0

[2016-08-14 09:44] #124 closed

[2016-08-14 09:45] guyca commented on #37
fixed in v2.0. [Deep links](https://github.com/wix/react-native-navigation#deep-links) are now working properly from side menu

[2016-08-14 09:45] #37 closed

[2016-08-14 12:44] adamski commented on #176
@guyca I've solved this issue now, still not sure what the hell was going on - trying to create an example project proved to me that it was not any issue with the JUCE exporter or RNN - the RNN example ran fine alongside JUCE JNI. I rebuilt the Android Studio project, deleted and reinstalled npm modules, and now I'm past that issue. Have a feeling it might have been due to some unintended modifica

[2016-08-14 12:44] #176 closed

[2016-08-14 12:59] guyca commented on #176
@adamski glad to hear!

[2016-08-14 14:28] 1800joe commented on #112
@guyca i made a quick test showing I can get font-family/font-size with extremely minimal intrusion -- could have a PR today. Interested in a pre-v2 addition?

[2016-08-14 14:29] 1800joe commented on #173
I haven't had a chance to look for the root cause. My test involved aligning a touchableHighlight just under the navbar across width of device. it is untouchable ~10 px from the top of the touchablehighlight.

[2016-08-14 16:30] agumack opened #199 "How to install version 2.0?"
I am new git, How to install version 2.0.

Thanks you!

[2016-08-15 04:38] JohnWhisker opened #200 "Conflicting type for objc_getAssociatedObject"
I'm new to ReactNative, when I try to install the lib and build it. It's said Conflicting types for 'obj_getAssociatedObject'

Here is the screenshot for it:

![alt text](http://i.imgur.com/CdAMC4u.png)

[2016-08-15 04:54] webzepter commented on #200
@JohnWhisker https://github.com/wix/react-native-controllers/issues/85

[2016-08-15 07:22] guyca commented on #199
change version of `react-native-navigation` in package.json to `next` and follow the [migration guide](https://github.com/wix/react-native-navigation/tree/v2.0#migrating-to-version-20)

note that it's still under development.

[2016-08-15 07:22] #199 closed

[2016-08-15 10:42] simonmitchell opened #201 "When I change the root to a tab app on iOS, I receive an NSInternalInconsistencyException error"
Code can be seen below:

[code]

We switch the main route in after persisting state to our redux store and get this error:

`*** Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'Expect all root views to have unique tag. Added 1 twice'`

I'm not an expert on how react-native-controllers works, but it looks like it's an issue where you're not unregistering the c

[2016-08-15 12:51] aksonov commented on #201
Looks like some breaking changes from RN0.31 Example  project doesn't work as well

[2016-08-15 13:02] simonmitchell commented on #201
Ahh yes, you're probably right there. We've just started up a new RN project with one of our clients. I'm going to fork and see if I can figure out what's going on now as we need to get up-and-running pronto!

[2016-08-15 13:19] simonmitchell commented on #201
Actually scrap that. It works in our project if you add in the `break;` part of the switch statement which I forgot were needed (Too much swift recently!). We're going to carry on as is.

[2016-08-15 13:20] aksonov commented on #201
@simonmitchell what do you mean? Current Example project from this component just throws this exception.

[2016-08-15 13:23] simonmitchell commented on #201
So the above code sample, our splash screen performs some Asynchronous setup and then calls changeRoot("main"). The problem wasn't that we were switching to a tab-based app, rather that both cases in the switch statement were being called on initial launch. I guess the problem is being caused when the root viewController is being changed in extremely quick succession?

[2016-08-15 13:25] aksonov commented on #201
Have you tried just example project from this component. Related react-native-controllers is broken as well with RN0.31

[2016-08-15 13:25] simonmitchell commented on #201
I'm afraid I don't have time to really now :/ We're on a very tight schedule with this project!

[2016-08-15 13:27] aksonov commented on #201
Ok, i hope assigned people will do that. I just wanted to tell you that your error is not related to your code but to RN 0.31 :)

[2016-08-15 13:28] simonmitchell commented on #201
Ahh I gotcha, thank you, appreciate it :)

[2016-08-15 15:33] stief510 commented on #187
+1

[2016-08-15 19:08] andybbtt11 opened #202 "[Android] Crash on modal open"
Running a showModal, code below:
[code]
Causes android to crash with the following error:

`-8441/com.exampleredux E/AndroidRuntime: FATAL EXCEPTION: main
                                                                Process: com.exampleredux, PID: 8441
                                                                com.facebook.react.bridge.NoSuchKeyException: **couldn't find key rightButtons i

[2016-08-15 19:11] #202 closed

[2016-08-15 19:11] andybbtt11 commented on #202
Nevermind: fixed.  was breaking do to an invalid property (resizeMode) passed to an image.

[2016-08-15 22:17] vonovak commented on #187
+1

[2016-08-16 02:37] JohnWhisker commented on #200
Thanks the problem is solved thanks to @webzepter

[2016-08-16 02:37] #200 closed

[2016-08-16 02:40] danceyoung commented on #199
sorry,I follow this migration guide https://github.com/wix/react-native-navigation/tree/v2.0#migrating-to-version-20,
but no com.reactnativenavigation.controllers.SplashActivity

android , 0.31RN

[2016-08-16 05:50] guyca commented on #199
@danceyoung Did you sync project with gradle files? In any case, I doubt the v2.0 will work properly with RN 0.31 on Android. a lot has changed in react native's internal api and we got some catching up to do.

[2016-08-16 06:21] MattDavies opened #203 "Push notification data on cold launch not passed to activity"
Hi guys,

Most push notification libraries for React Native appear to work by sending the data payload of the notification to the intent against the main application activity when the app is cold launched.

When using react-native-navigation, it appears as though the only information present in the bundle for the current activity is parameters for react-native-navigation (it's missing the data par

[2016-08-16 07:16] guyca commented on #203
@amitdwix You have the most with push notifications. Can you publish a gist maybe?

[2016-08-16 07:43] winglight opened #204 "Does V2.0 support android by now?"
I tried to run android after building ios successfully and on the real device app was always throwing errors even with the  example app. Errors as followed:
`didn't find class com.facebook.jni.iteratorhelper`
After google it, I found the most errors mentioned RN's bug but that's solved since v0.30.0. So is it a bug or any other hacks?

[2016-08-16 08:36] zpp-gp commented on #43
Good Jobs!

[2016-08-16 12:27] MattDavies commented on #203
(This is 2.0 branch based, but applicable to 1.x's architecture too):

If I move the launch intent-filter matching the push notification to react-native-navigation's AndroidManifest.xml rather than my own, I can see the correct bundle extras in NavigationActivity,java in onCreate(). The problem is NavigationActivtity starts the react context (at which point the intent's extras are lost) and I cant

[2016-08-16 13:11] explorigin opened #205 "v2.0 Navigation.registerScreen"
In < 2.0, I was using `Navigation.registerScreen` because `registerComponent` is not flexible enough for me.  I see that it's no longer exposed in 2.0.  Can we re-expose it?

My use-case is that I'm adding both a redux store and a translation object to the React context.  In case you're curious, it looks like this:

[code]

[2016-08-16 13:24] explorigin commented on #205
I'm working through this.  Merely exposing it is not good enough.  Currently getting a message:

[2016-08-16 13:45] explorigin commented on #205
Got it sorted.  If you want this to be part of the final API, I did it like this: https://github.com/wix/react-native-navigation/compare/v2.0...twistle:v2.0

My register wrapper function ends up looking like:

[code]

[2016-08-16 14:26] MattDavies commented on #203
Found a way to pass the intent through (ugly, but workable for the moment). Closing this :)

[2016-08-16 14:26] #203 closed

[2016-08-16 14:56] explorigin commented on #203
@MattDavies Can you share for the rest of us please?

[2016-08-16 15:16] JuoCode opened #206 "Any plans to provide a typings file?"
`react-native-navigation` is feature-rich, any plans to provide a typings file?

[2016-08-16 15:44] MattDavies commented on #203
Hey @explorigin, the diff for what I did was here:

https://github.com/MattDavies/react-native-navigation/commit/ac693a3e4d447510f870ce033f9a6b01ef038539

It's *really* nasty, but maybe someone can use it to come up with a cleaner solution. I had two goals:

1) Using hybrid push notifications (with notification and data payloads) because we liked the user experience on our particular application.

[2016-08-16 15:44] smooJitter opened #207 "Bulk screen registration"
I have more than 100 screens spread across 5-7 modules. I Loki g for a more efficient way to load them all.  Perhaps looping over screen imports and then defining screenIds by combining the module name and import name.  Something along the line of,

import Screen1....
import Screen2...

ScreenImports.forEach( ( screen ) => {

   const screenId = ${moduleName}.list.${screen};

   Navigation.registe

[2016-08-16 15:46] explorigin commented on #203
Thanks, I'm trying to expand my horizons into Android and I foresee running into the same issue. Every little bit helps.  Thanks

[2016-08-16 15:47] guyca commented on #206
We're not working with type script so doubt we'll add one. But someone will open source one, we would gladly link to it in the docs.

[2016-08-16 15:52] webzepter commented on #206
@JuoCode @guyca We use TypeScript and [our fork](https://github.com/techery/react-native-navigation/tree/exp) of this library. [Warning] It's customised _a little bit_, so some features can be missing.
https://gist.github.com/webzepter/ddedeb159b332365049c460b1f7352a0

[2016-08-16 16:01] MattDavies commented on #204
@winglight If you're running the latest RN, you still need to apply this change manually for now:

https://github.com/wix/react-native-navigation/pull/145/files

It's worth keeping in mind that this project isn't officially supporting higher than 0.25.1 yet. There's more detail on that pull request thread.

[2016-08-16 18:17] smooJitter commented on #205
I'm anticipating the same problem.  In addition to the language api, I'm going with.
<ApolloProvider client={client}  store={store}/>.

I've always thought tucking away redux provider was constraining.

I plan to use your solution. Thanks.

Neverless, perhaps there should be a way to configure the redux provider without tampering with package files.  I'm not sure how that will work

[2016-08-16 20:29] agumack opened #208 "Need help to install V2.0"
Hi,

I have follow guid: https://github.com/wix/react-native-navigation/tree/v2.0#migrating-to-version-20

My application not bug but when can not run on device. Error: "Unfortunately, FirstReactApp has stopped"

This is my config, thank you so much!

<img width="579" alt="screen shot 2016-08-17 at 3 22 37 am" src="https://cloud.githubusercontent.com/assets/19372005/17714589/9f27a6da-642a-11e6-9fd

[2016-08-16 20:37] webzepter commented on #208
@agumack Could you please provide `adb -d logcat com.example.example:E *:S` output?
`com.example.example` -- put here your app package name

[2016-08-16 20:42] agumack commented on #208
@webzepter thanks for help

It only log:
--------- beginning of /dev/log/main
--------- beginning of /dev/log/system

[2016-08-16 20:45] webzepter commented on #208
@agumack make sure you run application **after** running `adb logcat *:E`

[2016-08-16 21:11] agumack commented on #208
Update log @webzepter

E/fb4a(:<default>):GRAPHQL_QUERY_STRING(29412): Trying to set unknown parameter 'first_notification_stories' on query 'DeltaNotificationsQuery'
E/fb4a(:<default>):GRAPHQL_QUERY_STRING(29412): Trying to set unknown parameter 'first_notification_stories' on query 'DeltaNotificationsQuery'

E/QCALOG  (  340): [MessageQ] ProcessNewMessage: [XTWWAN-PE] unknown deliver target [OS-

[2016-08-16 21:19] webzepter commented on #208
@agumack Look at this part:

[code]

Check `res/drawable-v19/abc_ic_ab_back_material.xml` file

[2016-08-16 21:20] webzepter commented on #208
@agumack Alson check this: http://stackoverflow.com/questions/35622438/update-android-support-library-to-23-2-0-cause-error-xmlpullparserexception-bin

[2016-08-17 02:16] winglight commented on #204
Many thanks for your reply! But I can't find the java file you mentioned(android/app/src/main/java/com/reactnativenavigation/core/RctManager.java), and there isn't the "core" folder and RctManager.java either.
My dependency of navigation is 2.0.0-experimental.61.

[2016-08-17 02:26] MattDavies commented on #204
It moved in the 2.0 branch:

https://github.com/MattDavies/react-native-navigation/commit/d505550c6d3bfd947af8c8b53de6d0500a113de9

[2016-08-17 06:40] guyca commented on #206
@webzepter Very nice!
I'm reopening the issue so it's more visible.

[2016-08-17 08:40] guyca commented on #193
resolved

[2016-08-17 08:40] #193 closed

[2016-08-17 08:55] danceyoung opened #209 "screen animate 2 times"
The first screen's navBar is hidden.
navigate to second screen from first screen,
but first screen is animated with type 'slide-down or up' 2 times when pop second screen

android, RN0.31,RNN1.0.30

[2016-08-17 09:01] guyca commented on #209
Thanks for reporting @danceyoung. I assume this is fixed in v2.0 so we didn't encounter this issue.
version 1.0.30 is pretty much not supported at this time since we're focusing on version 2.0.

[2016-08-17 09:01] #209 closed

[2016-08-17 09:03] guyca commented on #204
Thanks @MattDavies

[2016-08-17 09:03] #204 closed

[2016-08-17 09:03] #180 closed

[2016-08-17 12:46] swhamilton opened #211 "v2.0 iOS Example"
**_UPDATE:**_
## I am looking into https://github.com/wix/react-native-navigation/issues/201 to see if i can get this to work

Is there a working example of V2.0 using React native >=25.1? Trying to get this on iOS.

I see others mentioning success with RN v31 but I can't seem to get the example code to work with  the latest `react-native-navigation@next` branch.

Here's my package versions:

[cod

[2016-08-17 13:37] swhamilton commented on #211
Rolled back to RN v0.30, I can confirm it works with v30.

[code]

[2016-08-17 14:43] explorigin commented on #208
I was running into this yesterday (and am still working through it).  Welcome to dependency hell!

(Being new to Android development, I think) The issue is that you have different packages relying on different dependencies of `com.android.*`.  You can look for these different versions by running `gradle -q app:dependencies --configuration compile` in your project's android folder.  The output will

[2016-08-17 15:29] explorigin commented on #208
I figured mine out and I think the solution for yours will be similar.  My dependency graph looks like this:

[code]

Note how `react-native-device-info` depends on a version of gcm services that requires `com.android.support:support-v4:22.2.0 -> 23.2.1 (*)`  It's expecting 22 but getting a completely different API version.  The solution was to force a version of gcm services that expected 23.0.1+

[2016-08-17 18:00] maxs15 commented on #187
+1

[2016-08-17 19:02] swhamilton commented on #177
@ivanakimov @chrise86 What environments were you guys running? (iOS vs Android, RN version, react-native-navigation version)?

I had the `this._nativeModule.addListener is not a function. (In 'this._nativeModule.addListener(eventType)', 'this._nativeModule.addListener' is undefined)
` issue for iOS simulator. Usually means something went wrong with compiling. To fix it I simply close the simulator

[2016-08-17 19:56] ivanakimov commented on #177
@swhamilton RN 0.30 / Mac OS X 10.11.5 / iPhone 6 / iOS 9.3 / react-native-navigation@1.0.30

[2016-08-17 20:30] bbrock25 commented on #112
I just found that as a stop-gap you can use `titleImage` as defined in react-native-controllers: [here](https://github.com/wix/react-native-controllers#props-1)

[2016-08-18 00:41] swhamilton commented on #177
@ivanakimov I am not sure if react-native-navigation@1.0.30 will work with RN 0.30. From the v2.0 branch docs it says "Make sure you are using react-native version >= 0.25.1".

Try to use the simple example app (non-redux) from the repo with the following dependencies:
[code]

Also, I started a fresh react-native init with version 0.30 and added react-native-navigation using the installation steps

[2016-08-18 02:34] winglight opened #212 "incompatible between ios and android to send object by props"
I found that the same json object sent by props like this:

[code]
On iOS, it's sent to the next screen with all of fields but functions.
But on android,  it's just with parts of functions but fields.
Here's code of the next screen:
[code]

[2016-08-18 06:05] DanielZlotin commented on #212
Please include your react-native version, react-native-navigation version.

Also, I didn't quite understand the issue. Can you please provide more code example? what is `book`?

[2016-08-18 06:38] winglight commented on #212
`"react": "15.2.1",
    "react-native": "0.30.0",
    "react-native-navigation": "^2.0.0-experimental.51"`
Here's book type:
`
 var Parse = require('parse/react-native');

class BookModel extends Parse.Object {
    constructor() {
        // Pass the ClassName to the Parse.Object constructor
        super('BookModel');
        this.name = "unknown";
        this.url = "";
        this.cover = "";

[2016-08-18 07:12] DanielZlotin commented on #212
I'm not familiar with this "parse" library, care to make an example app for me to play with? because when I pass functions or objects using the new passProps it has that same function/object in the props.. Seems to me like it's not related at all to navigation

[2016-08-18 07:17] DanielZlotin commented on #112
@1800joe The problem is we try to create some parity between the platforms, but go ahead and make a PR, if it's really non intrusive I'll consider making an exception and to implement it also in controllers.

[2016-08-18 07:43] prashen opened #213 "How to extend com.reactnativenavigation.activities.RootActivity to MainActivity.java?"
I am not getting how to add/config this third step. Please help to config :>

This is the third step for installing for android :>

"Have your MainActivity.java extend com.reactnativenavigation.activities.RootActivity. RootActivity is used as a proxy activity to start your actuall app.
The only method you might need to override is getPackages(), make sure you add RnnPackage as well."

Here I am no

[2016-08-18 08:09] guyca commented on #213
Hey @prashen
First off, I think you'd find it easier to work on Java files from Android Studio. You need to override `getPackages()` only if you've added native dependencies to your project. If you did, then simply add:
[code]

[2016-08-18 08:09] #213 closed

[2016-08-18 09:07] winglight commented on #212
Here‘s parse: https://parse.com/
Though it'll be closed by facebook, I like it for simplest API.
That's possible parse caused this problem but I'll take a couple of weeks to replace it if no other options.

[2016-08-18 09:36] DanielZlotin commented on #212
I know the parse service, I have no idea about it's react-native implementation.

Here is a suggestion: prove that it's NOT a parse/react-native issue: create a book/parse object and without passing it as prop, just print out the result of the method call in place.

[2016-08-18 10:00] DanielZlotin commented on #187
Great work @mastermoo !
One of the changes I have planned is to separate redux/mobx/other state containers from the core of this framework.

Optimally we would have the core Navigation, and on top of it (either another npm module completely or just a different module inside the framework) some wrappers that inject the state container logic into the screens.

For example you import `react-native-na

[2016-08-18 10:04] musicode opened #214 "Is 2.0 compatible with react-native above 0.25.1?"
My react-native version is 0.30.0, so I can't use 2.0?

if yes, how long to wait for it?

[2016-08-18 10:13] DanielZlotin opened #215 "Commands parameters parser, parameter placement"
Currently passing params to all Navigation commands is a complete mess. We need some consistency and the best I can think of is to parse the input of all commands in a centralised place.

Furthermore, most stuff should not be passed as parameters at all, but defined in the Screen itself. Further research is needed.

[2016-08-18 10:34] DanielZlotin commented on #214
We have reports of bugs with RN versions other than 0.25.1. An upgrade to RN is scheduled for v2.0.0 milestone. I can't guarantee a timeline, but we think of trying to upgrade in 2 weeks (production takes priority)

[2016-08-18 12:35] explorigin commented on #214
@musicode I'm currently running RN 0.31 with RNN 2.0.  It was a painful process to get here though.  Now that it's merged into mainline, I'll be posting some bugs related to my experience.

[2016-08-18 13:24] edvinasbartkus commented on #208
@explorigin I don't think it's the issue of the clashing dependencies. Because I had to resolve those and this error does not look like one.

@agumack app was working on an emulator but I had exactly the same exception/stacktrace on the device.  one of the links posted by @webzepter helped me.

Here are steps what I did:

android/app/build.gradle:
[code]

in android/build.gradle I had to change gr

[2016-08-18 18:03] agumack commented on #208
@edvinasbartkus thanks so much.
It working on device, but bank screen.

This is my AndroidManifest.xml. what is wrong when config: android:name=".MainApplication" or activity android:name=".MainActivity"?

<img width="639" alt="screen shot 2016-08-17 at 3 23 55 am" src="https://cloud.githubusercontent.com/assets/19372005/17784909/b274e566-65a8-11e6-9a85-7776398d149c.png">

[2016-08-18 18:18] #208 closed

[2016-08-18 18:35] ivanakimov commented on #177
Thanks for the follow up @swhamilton. Just now tried to follow instructions to run a [non-redux example](https://github.com/wix/react-native-navigation/tree/master/example) from a fresh install, and got other errors.

TBH, I've implemented needed functionality using other modules, so I'll let someone else take over this issue (or let me know if you want me to close).

[2016-08-18 18:43] agumack opened #216 "[V2.0] Toggle Drawer not working on android"
"react-native": "0.31.0",
"react-native-navigation": "next",
 (2.0.0-experimental.70)

Toggle drawer called from View:

`<View style={styles.row}>
                    <TouchableOpacity onPress={this._onPressButton.bind(this) }>
                        <View style={{ paddingLeft: 10 }}>
                            <FontAwesome name="bars" size={20} color="white"/>
                        </View>

[2016-08-18 21:52] guyca commented on #216
FIxed. Thanks for reporting 👍

[2016-08-18 21:52] #216 closed

[2016-08-19 00:35] winglight commented on #212
uh, if on the current screen I got a parse object, every field and function is ok because no problem found at the beginning until I made the second screen.

[2016-08-19 00:40] 1800joe commented on #212
I haven't tried v2. But I have run into this issue: passProps to a modal does not allow functions through in v1.0.30 on iOS -- there's nothing special about the Parse library, you're just passing functions.

[2016-08-19 00:44] winglight commented on #212
@1800joe My problem has a little difference with yours. It's a little weird, the same code results different behaviors between ios and android.

[2016-08-19 00:50] 1800joe commented on #212
@winglight can you confirm the issue persists with v2? If so create a test case showing the exact props that work on android and fail on iOS. It would be extra helpful to eliminate any third party code from Parse, etc. so we can know what specifically about the props is failing.

[2016-08-19 01:02] 1800joe commented on #173
Adding a picture for reference, the pink circle is about where the press occurs and the button (top left) is activated. Have tested various combinations of navigator styles including the "drawUnderNavBar,"  same results.

![screen-shot-2016-08-18-at-8 55 08-pm](https://cloud.githubusercontent.com/assets/3111670/17795524/11d3e268-6587-11e6-912c-5e7aafbcaffe.png)

[2016-08-19 01:35] swhamilton commented on #9
I am also interested in hooking all this up with react-native-meteor. I setup a repo which tries to accomplish this, but I'm afraid I got a little stuck with how to properly setup the switch in the root.
[you can check out the app.js here](https://github.com/swhamilton/react-native-navigation-redux-meteor/blob/master/src/app.js)

According to this thread, it seems that I should be able to load the

[2016-08-19 06:29] guyca commented on #9
@swhamilton That's indeed the correct approach. Your redux store persists when you call `startApp`

[2016-08-19 07:24] winglight commented on #212
Yes, I use a new object wrapper to solve this problem. I guess there's a implicit conflict in parse object. So I close this issue now.

[2016-08-19 07:24] #212 closed

[2016-08-19 07:53] winglight opened #217 "showModal causes push unavailable?"
My RN version is 0.30.0, RNN is 2.0 latest.
If I push a modal screen A by showModal function and then close it by dismissAllModals function from screen C, I can't push the other screen by push function still from C any more, like a common screen B. Is there any clue?

[2016-08-19 10:12] edvinasbartkus opened #218 "Android navigation bottom bar disappears when screen is redrawn"
I guess it's being worked on android 2.0 heavily, but maybe my report will help improving android navigation.

It does not happen on emulator but on real devices navigation android bottom bar disappears once the screen is redrawn. I will try to illustrator with screens:

# 1 Step. Navigation bar is initialized
![1](https://cloud.githubusercontent.com/assets/202988/17806567/02c31aa0-660e-11e6-9b5a-

[2016-08-19 13:45] guyca commented on #218
Hey @edvinasbartkus Can you please check how the `drawUnderTabBar` property on `navigatorStyle` is configures in your screens?

[2016-08-19 13:46] edvinasbartkus commented on #218
it's `drawUnderTabBar: true`. I will test out with `false`.

[2016-08-19 13:51] guyca commented on #218
And also `tabBarHidden`. thanks 👍

[2016-08-19 13:54] guyca commented on #217
I'm not sure I understood the scenario you're trying to describe.

In `example-redux` project, I the following worked for me:
1. show modal
2. dismiss all modals
3. push screen

[2016-08-19 13:57] edvinasbartkus commented on #218
Changing to `drawUnderTabBar: false` fixed an issue. I will solve the issue by specifying Platform specific value as there is no need to draw under on Android (navbar is not translucent).

`tabBarHidden` was undeclared.

[2016-08-19 14:11] guyca commented on #109
Hey guys
We've made some updates to the SideMenu component in the new Android version.

1. deep links now work properly
2. SideMenu width can be set in JS
[code]
3. SideMenu is placed over the rest of the app

Closing the issue, if there are any more suggestions feel free to open new issues.

[2016-08-19 14:11] #109 closed

[2016-08-19 14:15] #143 closed

[2016-08-19 14:23] guyca commented on #81
@musicode
We've added option to handle back button in JS.

* Set `overrideBackPress` when you [push](https://github.com/wix/react-native-navigation/blob/master/example-redux/src/screens/FirstTabScreen.js#L166) a screen.
* [Handle](https://github.com/wix/react-native-navigation/blob/master/example-redux/src/screens/PushedScreen.js#L66) back press in your screen

Hope this helps you

[2016-08-19 14:23] #81 closed

[2016-08-19 14:30] swhamilton commented on #177
Thanks for trying out the steps, sorry it didn't get you any further. I'll leave it open a few more days before closing. Anyone else can chime in here if they want to try out the steps.

[2016-08-19 14:31] #86 closed

[2016-08-19 15:32] winglight commented on #217
Your rn & rnn version same as mine? And it's fine on iOS?  On simulator or real device?

? 2016?8?19??21:54?Guy Carmeli <notifications@github.com<mailto:notifications@github.com>> ???

I'm not sure I understood the scenario you're trying to describe.

In example-redux project, I the following worked for me:
1. show modal
2. dismiss all modals
3. push screen

-
You are receiving this because you au

[2016-08-19 17:07] guyca commented on #217
I'm using RN 0.25.1 and RNN 2.0

[2016-08-19 17:22] #135 closed

[2016-08-20 09:01] #218 closed

[2016-08-20 10:34] agumack opened #219 "[V2.0] TabsStyle not working on Android"
"react-native": "0.31.0",
"react-native-navigation": "next",
(2.0.0-experimental.71)

tabBarBackgroundColor => always gray color
tabBarSelectedButtonColor => always pink color

[2016-08-20 10:41] hadynz opened #220 "Sticky NavBar - is it possible?"
Just wondering how could one go about creating a "sticky navbar" that is overlaid on top of any navigation transition. It is a popular paradigm that many apps like Facebook use.

![facebook navbar always on top](https://cloud.githubusercontent.com/assets/315585/17830683/e59f32a0-6726-11e6-942f-937f3dc14280.gif)

[2016-08-20 12:06] guyca commented on #220
Currently this isn't supported by the api. You could create a screen with a TopBar, and handle the drill in your self in JS.

[2016-08-20 12:06] #220 closed

[2016-08-20 12:17] guyca commented on #219
@agumack You can set these properties in `navigatorStyle` for now. It should work

[2016-08-20 13:32] hadynz commented on #220
Didn't quite follow what you meant there. The "drill in" usually happens by using the navigator to push/pop a route. Which in this case would ignore the `TopBar` that is loaded on the current scene.

[2016-08-20 13:55] agumack commented on #219
@guyca but i using startTabBasedApp?

[code]

[code]
=> color not apply on Android. IOS is good

[2016-08-20 18:51] agumack opened #221 "[V2.0] SetButtons left error on Android"
[code]

on android, set leftButtons not working => it always display is drawer icon
set rightButtons: OK

[2016-08-20 19:44] agumack opened #222 "[V2.0] switchToTab doesn't work on Android"
Hi,

I have test handleDeepLink on android. I working when called inside drawer but not working on any screen (ex: called handleDeepLink in FirstTabScreen). IOS is good.

`this.props.navigator.handleDeepLink({
            link: "section/" + item.id
        });`

[2016-08-20 21:02] guyca commented on #221
@agumack Use `leftButton` instead of `leftButtons`. [Like in  the example project](https://github.com/wix/react-native-navigation/blob/master/example-redux/src/screens/PushedScreen.js#L239).

[2016-08-20 21:02] #221 closed

[2016-08-20 21:05] guyca commented on #222
Hey @agumack I'm not sure I understand the issue. You're calling `handleDeepLink` from a screen you display in the SideMenu, and it's not received by the screens?

[2016-08-21 04:44] agumack commented on #222
sorry @guyca.

I finally found the reason why: handleDeepLink received.
But switchToTab not working (Only android)

[2016-08-21 08:32] pannz commented on #107
And ability to passProps on pop?
Hi, our app design is that there is row item for location info and click it will push to next screen to pick a location, then confirmed,  pop to former screen, but now it's not possible to pass props so that I cound't  pass the picked value to former screen by passProps !
or any solution can also solve this issue ?

[2016-08-21 08:54] guyca commented on #107
@pannz when you handle the click on each row, dispatch an action to update state with whatever you need to pass in passProps and handle the state change in the previous screen. That's the best solution I can give you until we implement passing results to previous screen.

[2016-08-21 09:37] pannz commented on #107
@guyca thanks !
I just tried use a pass callback func in passProps and found that passProps just accept simple serializable object 😢, and now I'm going to try the dispatch an action as you mention. thanks

[2016-08-21 10:04] guyca commented on #107
v2.0 supports passing functions in passProps

[2016-08-21 12:54] DanielZlotin commented on #169
@explorigin I agree.
We're gonna think of a way to organise all features / bugs better (@drorbiran 😄 ).. maybe wiki?
As for your question, yes, we're gonna have the same features (with few additions) as we have right now. The side menu is already implemented.

[2016-08-21 19:12] reimertz commented on #179
fix mentioned by @webzepter fixed these issues for me. Thanks homie!

[2016-08-21 20:35] AdamBrodzinski opened #223 "Android Install Readme Incomplete"
First I want to say thanks for making this library. It's working awesome on iOS!!

I'm struggling to make it work for Android though. It seems like the readme for Android breaks down half way and assumes knowledge of the Android ecosystem.

I'm also happy to PR fixes to the readme once I can figure out what's missing.

React Native 0.30
React 15.2.0
react-native-navigation 2.0.0-experimental.71

F

[2016-08-21 20:37] AdamBrodzinski commented on #214
@musicode were you able to install on 0.30 without any forks? I'm trying to here: #223 and am running into issues.

[2016-08-21 21:10] AdamBrodzinski commented on #223
Just to be more thorough I made a fresh 0.25.1 project and followed the same steps. I'm getting a similar error:

[code]